﻿@model IEnumerable<Gizmobaba.Models.EmailMessages>

@{
    Layout = null;
}

<li role="presentation" class="dropdown">
    <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-envelope-o"></i><span class="badge bg-green">@Model.Count()</span>
    </a>

    <ul id="menu1" class="dropdown-menu list-unstyled msg_list animated fadeInDown" role="menu">
        @foreach (var item in Model)
        {
            <li>
                <a>
                    @*<span class="image"><img src="~/GizmobabaFiles/images/img.jpg" alt="Profile Image" /></span>*@
                    <span>
                        <span>@item.Sender</span>
                        <span class="time">@item.UId</span>
                        <span class="time">@item.mailDate.TimeOfDay</span>
                    </span>
                    <span class="message">@item.subject</span>
                </a>
                @Html.ActionLink("View Email", "ShowEmail", new { index = @item.Index }, new { target = "_blank" })
            </li>
        }
        @if (Model.Count() == 0)
        {
            <li>
                <div class="text-center">
                    <strong>No Mails</strong><i class="fa fa-angle-right"></i>
                </div>
            </li>
        }
        @*<li>
            <a>
                <span class="image"><img src="~/GizmobabaFiles/images/img.jpg" alt="Profile Image" /></span>
                <span>
                    <span>John Smith</span>
                    <span class="time">3 mins ago</span>
                </span>
                <span class="message">Film festivals used to be do-or-die moments for movie makers. They were where... </span>
            </a>
        </li>*@

        @*<li>
            <div class="text-center">
                <a href="inbox.html"><strong>See All Alerts</strong><i class="fa fa-angle-right"></i></a>
            </div>
        </li>*@
    </ul>
</li>
