﻿
@{
    Layout = null;
}

<div class="mmctrl_box">
    <div class="mmcaption">
        <i class="fa fa-user"></i> &nbsp; Sales History
    </div>
    <div id="tblPro">
        <table class="table table-striped responsive-utilities jambo_table bulk_action" id="tblUsers">
            <thead>
                <tr class="">
                    <th class="column-title" style="display: table-cell;"> S.NO </th>
                    <th class="column-title" style="display: table-cell;">Product Id</th>
                    <th class="column-title" style="display: table-cell;">Product Name</th>
                    <th class="column-title" style="display: table-cell;">Product Amount</th>
                    <th class="column-title" style="display: table-cell;">Dealer Amount(%)</th>
                    <th class="column-title" style="display: table-cell;">Dealer Earning</th>
                </tr>
            </thead>


            @*@if (Model.Count() != 0)
            {
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="" id="@item.USER_ID">
                            <td><a href="#">@item.RECHARGE_ID</a></td>
                            <td>@item.WALLET</td>
                            <td>@item.AMOUNT</td>
                            <td>@item.CREATED_ON</td>
                        </tr>
                    }
                </tbody>
            }*@
        </table>
        <div class="alert alertnew alert-info fade in">
            <a href="#" class="close" data-dismiss="alert">×</a>
            <strong>Warning!</strong> Dealer Sales Not Found
        </div>
    </div>

</div>

