﻿@model Gizmobaba.Models.GlobalvendorModel

@{
    Layout = null;
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>_globalvendorDetails</title>
</head>
<body>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="MyOrders">
            <div class="mmctrl_box">
                <div class="mmcaption">Available Orders  <div class="bulaprove_btn"><a data-toggle="modal" href="#normalBulkAuthorize">Bulk Approve</a></div></div>
                <table class="table table-striped" style="margin-bottom:6px; border-bottom:1px solid #DDD;">
                    <thead>
                        <tr>
                            <th><input type="checkbox"></th>
                            <th>Age</th>
                            <th>Order ID</th>
                            <th>Order Date</th>
                            @*<th>Chekout Type</th>*@
                            <th>Qty</th>
                            <th>Order Value</th>
                            <th>Status</th>
                            <th>Action</th>
                            <th>Cancel</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.ordersList != null && Model.ordersList.Count() != 0)
                        {
                        foreach (var item in Model.ordersList)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Age)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ORDER_ID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CREATED_AT)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TAX_RATE_ID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Qty)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UNIT_PRICE)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrderStatus)
                                </td>
                                <td>
                                    @Html.ActionLink("Authorize", "OrderDetails", new { id = item.ORDER_ID })
                                </td>
                                <td>
                                    @Html.ActionLink("Cancel", "OrderDetails", new { id = item.ORDER_ID })
                                </td>
                            </tr>
                        }
                        <tr>
                                <td><input type="checkbox"> </td>
                                <td>0 days</td>
                                <td><a href="OL_Exc_Paymentpending_orderdetails.html">3345698</a></td>
                                <td>05-Jan-2016<br>08:02:22 PM</td>
                                <td>2</td>
                                <td>168</td>
                                <td><a href="#">Saurbha joshi</a></td>
                                <td><a data-toggle="modal" href="#normalAuthorize">Authorize</a></td>
                                <td><a data-toggle="modal" href="#normaldelete">Cancel</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
@if (Model.ordersList == null)
{
                <div class="alert alertnew alert-info fade in">
                    <a href="#" class="close" data-dismiss="alert">×</a>
                    <strong>Warning!</strong> Orders not found.
                </div>
}
                <br>

                @*<div class="dataTables_length" id="example_length">
                        <label>
                            &nbsp; Records per page
                            <select aria-controls="example" size="1" style="width: 56px;padding: 6px;" name="example_length">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </label>

                        <label> Go to <input type="text" class="gototxt_no" maxlength="4" aria-controls="example"></label>
                    </div>*@

                @*<div id="example_paginate" class="dataTables_paginate paging_full_numbers">
                        <a id="example_first" tabindex="0" class="first paginate_button paginate_button_disabled">First</a>
                        <a id="example_previous" tabindex="0" class="previous paginate_button paginate_button_disabled">Previous</a>
                        <span>
                            <a tabindex="0" class="paginate_active">1</a>
                            <a tabindex="0" class="paginate_button">2</a>
                            <a tabindex="0" class="paginate_button">3</a>
                            <a tabindex="0" class="paginate_button">4</a>
                        </span>
                        <a id="example_next" tabindex="0" class="next paginate_button">Next</a>
                        <a id="example_last" tabindex="0" class="last paginate_button">Last</a>
                    </div>*@
                <div class="clearfix"></div>
                <br>
            </div>

            <hr>
            <div class="clearfix"></div>
            <div class="col-md-12">
                <button type="button" class="btn btn-dark pull-right">Export to Excel</button>
            </div><br><br><br>
        </div>

        <div role="tabpanel" class="tab-pane" id="MarketplaceOrders">
            <div class="mmctrl_box">
                <div class="mmcaption">Available Shipping Codes Result</div><br>
                <br>

                <div class="alert alert-danger" role="alert">There are no 'Payment Pending Orders' found.</div><br>

            </div>

            <hr>
            <div class="clearfix"></div>
            <div class="col-md-12">
                <a href="ShippingProfile_Add_Edit2.html">
                    <button type="button" class="btn btn-dark pull-right">Add New Shipping Code for Marketplace</button>
                </a>
                <a href="ShippingProfile_Add_Edit.html">
                    <button type="button" class="btn btn-default pull-right">Add New Shipping Code</button>
                </a>
            </div><br><br><br>
        </div>
    </div>

    @*<div class="row">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <a href="javascript:Users();">
                <div class="card green summary-inline">
                    <div class="card-body">
                        <i class="icon fa fa-cubes fa-3x"></i>
                        <div class="content">
                            <div class="title">@Model.TotalProductCount</div>
                            <div class="sub-title">Total Product</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <a href="javascript:Orders();">
                <div class="card yellow summary-inline">
                    <div class="card-body">
                        <i class="icon fa fa-comments fa-3x"></i>
                        <div class="content">
                            <div class="title">@Model.TotalOrdersCount</div>
                            <div class="sub-title">Total Orders</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <a href="javascript:Sales();">
                <div class="card aashu summary-inline">
                    <div class="card-body">
                        <i class="icon fa fa-line-chart fa-3x"></i>
                        <div class="content">
                            <div class="title">@Model.ApprovedOrdersCount</div>
                            <div class="sub-title">Total Sales</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <a href="javascript:Inventory();">
                <div class="card purpul summary-inline">
                    <div class="card-body">
                        <i class="icon fa fa-list fa-3x"></i>
                        <div class="content">
                            <div class="title">@Model.NewOrdersCount</div>
                            <div class="sub-title">New Orders</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                </div>
            </a>
        </div>
    </div>*@
</body>
