﻿@model IEnumerable<Gizmobaba.Models.OrderViewModel>

@{
    Layout = null;
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    var URL = '@System.Configuration.ConfigurationManager.AppSettings["baseUrl"]';
    function deletecan(id){
        $('#ORDER_ID').val(id);
    }
    function deleteOrder() {
        var status = confirm("Are you sure you want to cancel?");
        if (status) {
            var orderDetails = {
                ORDER_ID: $('#ORDER_ID').val(),
                COMMENTS: $('#COMMENTS').val(),
                RESON: $('#RESON').val(),
                USERSHOWTHECOMMENTS: $('#USERSHOWTHECOMMENTS').val()
            }
            $.ajax({
                url: URL + '/Order/CancelOrder/',
                //url: '/Order/CancelOrder/',
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                async: false,
                dataType: "json",
                data: JSON.stringify(orderDetails),
                success: function (data) {
                    alert('Order is canceld');
                    $('.close').click();
                    location.reload();
                },
                error: function (xhr) {
                    alert(xhr);
                }
            });
        }
    }
</script>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="MyOrders">
        <div class="mmctrl_box">
            <div class="mmcaption">Available Orders  @*<div class="bulaprove_btn"><a href="javascript:;" id="btnApprove">Bulk Approve</a></div>*@</div>
            <table id="tblPro" class="table table-striped" style="margin-bottom:6px; border-bottom:1px solid #DDD;">
                <thead>
                    <tr>
                        @*<th><input type="checkbox"></th>*@
                        @*<th>
                            <div class="squaredThree">
                                <input type="checkbox" value="None" id="check-all" name="check" />
                                <label for="check-all"></label>
                            </div>
                        </th>*@
                        <th>Age</th>
                        <th>Order ID</th>
                        <th>Order Date</th>
                        <th>Order By</th>
                        <th>Qty</th>
                        <th>Order Vaule</th>
                        @*<th>Customer Name</th>*@
                        <th>Status</th>
                        @*<th>Cancel Orders</th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="@item.ORDER_ID">
                            @*<td>
                                <div class="squaredThree">
                                    <input type="checkbox" value="None" id="ABC_@item.ORDER_ID" name="check" class="input-check-box" />
                                    <label for="ABC_@item.ORDER_ID"></label>
                                </div>
                            </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.Age)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ORDER_ID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CREATED_AT)
                            </td>
                            <td>
                                @if (item.CREATED_BY == "4")
                                {
                                    <div>Dealer</div>
                                }
                                else
                                {
                                    <div>Customer</div>
                                }
                                @*@Html.DisplayFor(modelItem => item.PAYMENT_TYPE)*@
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Qty)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UNIT_PRICE)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderStatus)
                            </td>
                            <td>
                                @*<a href="javascript:;" onclick="OrderPickUp(@item.ORDER_ID);">Approve</a>*@
                                @if (item.STATUS != null && item.STATUS == 1) { 
                                <a data-toggle="modal" href="#normaldelete"><button onclick="deletecan(@item.ORDER_ID);" type="button" class="btn btn-default">Cancel</button></a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @if (Model != null && Model.Count() == 0)
            {
                <div class="alert alertnew alert-info fade in">
                    <a href="#" class="close" data-dismiss="alert">×</a>
                    <strong>Warning!</strong> Authorize Prepaid Orders Not Found
                </div>
            }

            <br>

            @*<div class="dataTables_length" id="example_length">
                    <label>
                        &nbsp; Records per page
                        <select aria-controls="example" size="1" style="width: 56px;padding: 6px;" name="example_length">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </label>

                    <label> Go to <input type="text" class="gototxt_no" maxlength="4" aria-controls="example"></label>
                </div>*@

            @*<div id="example_paginate" class="dataTables_paginate paging_full_numbers">
                    <a id="example_first" tabindex="0" class="first paginate_button paginate_button_disabled">First</a>
                    <a id="example_previous" tabindex="0" class="previous paginate_button paginate_button_disabled">Previous</a>
                    <span>
                        <a tabindex="0" class="paginate_active">1</a>
                        <a tabindex="0" class="paginate_button">2</a>
                        <a tabindex="0" class="paginate_button">3</a>
                        <a tabindex="0" class="paginate_button">4</a>
                    </span>
                    <a id="example_next" tabindex="0" class="next paginate_button">Next</a>
                    <a id="example_last" tabindex="0" class="last paginate_button">Last</a>
                </div>*@
            <div class="clearfix"></div>
            <br>
        </div>

        <hr>
        <div class="clearfix"></div>
        <div class="col-md-12">
            <button type="button" id="btnAuthorizeExport" class="btn btn-dark pull-right">Export to Excel</button>
        </div><br><br><br>
    </div>

</div>


 <!--Cancel Order-->
<div id="normaldelete" class="modal fade">
    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="$(this).parents('form').find('input').val(''); $(this).parents('form').find('img').remove(); $('[href=#tab_default_1]').click();">×</button>
                    <h4 class="modal-title">Cancel Order</h4>
                </div>
                @*@using (Html.BeginForm("AddProduct", "Home", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = "return validateForm();" }))
                    {*@
                <div class="modal-body dfltpad">
                    <p>


                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Cancel Comments</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <textarea name="COMMENTS" id="COMMENTS" class="resizable_textarea form-control"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Reson</label>
                            <div class="col-md-6 col-sm-9 col-xs-12">
                                <select class="select2_single form-control" tabindex="-1" id="RESON" name="RESON">
                                    <option selected="selected" value=""> -- Select -- </option>
                                    <option selected="selected" value="Order not in Delivery Area">Order not in Delivery Area</option>
                                    <option selected="selected" value="Incorrect Contact information">Incorrect Contact information</option>
                                    <option selected="selected" value=">Order less then order minimum value">Order less then order minimum value</option>
                                    <option selected="selected" value="SLA expired for Aknowledgement">SLA expired for Aknowledgement</option>
                                    <option selected="selected" value="SLA expire New Order">SLA expire New Order</option>
                                    <option selected="selected" value="Order expire due to Quanity Mismatch from Aggregator">Order expire due to Quanity Mismatch from Aggregator</option>
                                    <option selected="selected" value="Retailer did not allocated items to Aggregator">Retailer did not allocated items to Aggregator</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Show the comments to end user</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input type="checkbox" id="USERSHOWTHECOMMENTS" name="USERSHOWTHECOMMENTS">
                                <input type="hidden" id="ORDER_ID" />
                            </div>
                        </div>
                    </p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="$(this).parents('form').find('input').val('');">close</button>
                    <button type="button" onclick="deleteOrder();" class="btn btn-default" data-dismiss="modal">Cancel order</button>
                </div>
            </div>
        </div>
    </form>

</div>