﻿@using System.Collections.Generic;
@using Gizmobaba.Models
@using Microsoft.AspNet.Identity;
<html>
<head>
    @{
        IEnumerable<Gizmobaba.Models.FeatureTypeModel> data = new List<Gizmobaba.Models.FeatureTypeModel>();
        UserModel userData = new UserModel();
        if (TempData["Role"] != null && TempData["User"] != null)
        {
            data = (IEnumerable<Gizmobaba.Models.FeatureTypeModel>)TempData["Role"];
            TempData["Role"] = data;
            userData = (UserModel)TempData["User"];
            TempData["User"] = userData;
        }
        else
        {
            string url = HttpContext.Current.Request.Url.AbsolutePath;
            Response.Redirect("~/Account/GetRoles?url=" + url);
        }
        
    }

    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Bootstrap core CSS -->
    <link href="~/GizmobabaFiles/css/bootstrap.min.css" rel="stylesheet">

    <link href="~/GizmobabaFiles/fonts/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/GizmobabaFiles/css/animate.min.css" rel="stylesheet">

    <!-- Custom styling plus plugins -->
    <link href="~/GizmobabaFiles/css/custom.css" rel="stylesheet">

    <script src="~/GizmobabaFiles/js/jquery.min.js"></script>
    <script src="~/GizmobabaFiles/js/nprogress.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    @RenderSection("GizmobabaHeadFiles", required:false)
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view" style="overflow: hidden; outline: none; cursor: -webkit-grab;">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="@Url.Action("Index", "Home")" class="site_title"> <img src="~/GizmobabaFiles/images/Logo_GizmoBaba.png" width="20%" class="img-responsive left"><span> &nbsp; GizmoBaba!</span></a>
                    </div>
                    <div class="clearfix"></div>
                    @if (data.Count() != 0 && data.FirstOrDefault().ROLE_ID == 1)
                    {
                        <!-- menu prile quick info -->
                        <div class="profile">
                            @if (userData != null && userData.Image != null)
                            {
                                <div class="profile_pic">
                                    <img src="@userData.Image" alt="..." class="img-circle profile_img">
                                </div>
                                <div class="profile_info">
                                    <span>Welcome,</span>
                                    <h2>@userData.USER_NAME</h2>
                                </div>
                            }
                            else
                            {
                                <div class="profile_pic">
                                    <img src="~/GizmobabaFiles/images/img.jpg" alt="..." class="img-circle profile_img">
                                </div>
                                <div class="profile_info">
                                    <span>Welcome,</span>
                                    <h2>Alok </h2>
                                </div>
                            }
                        </div>
                    <!-- /menu prile quick info -->
                    }
                    else
                    {
                        <!-- menu prile quick info -->
                        <div class="profile">
                            <div class="profile_pic">
                                @if (userData != null && userData.Image != null)
                                {
                                    <img src="@userData.Image" alt="..." class="img-circle profile_img">
                                }
                                else
                                {
                                    <img src="~/GizmobabaFiles/images/img.jpg" alt="..." class="img-circle profile_img">
                                }
                            </div>
                            <div class="profile_info">
                                <span>Welcome,</span>
                                <h2>@userData.USER_NAME </h2>
                            </div>
                        </div>
                    <!-- /menu prile quick info -->
                    }
                    
                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>Admin</h3>
                            <ul class="nav side-menu">
@if (data.Count(a => (a.FEATURE_TYPE == "Dashboard" && a.STATUS == 1 )|| (a.FEATURE_TYPE == "Category Management" && a.STATUS == 1) || (a.FEATURE_TYPE == "Shipping Profile" && a.STATUS == 1 )) != 0)
                                {
    <li>
        <a><i class="fa fa-desktop"></i> Dashboard <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu" style="display: none">
            @if (data.FirstOrDefault(a => a.FEATURE_TYPE == "Dashboard").STATUS == 1) {
                <li><a href="@Url.Action("Index", "Home") " onclick="loader()">Dashboard</a></li>
            }
                @if (data.FirstOrDefault(a => a.FEATURE_TYPE == "Category Management").STATUS == 1) {
                    <li><a href="@Url.Action("Index", "CategoryManage")" onclick="loader()">Category Management</a></li>
                }
                    @if (data.FirstOrDefault(a => a.FEATURE_TYPE == "Shipping Profile").STATUS == 1) {
                        <li><a href="@Url.Action("Index", "Shipping")" onclick="loader()">Shipping Profile</a></li>
                    }
                    </ul>
                </li>

                                    }
                                    
                                    @{
                                        int count = 0;
                                        if (data.Count(a => (a.FEATURE_TYPE == "Payment pending" && a.STATUS == 1) || (a.FEATURE_TYPE == "Abandoned" && a.STATUS == 1) || (a.FEATURE_TYPE == "Cancelled Orders" && a.STATUS == 1)) != 0)
                                        {
                                            count = 1;
                                        }
                                        if (data.Count(a => (a.FEATURE_TYPE == "Prepaid" && a.STATUS == 1) || (a.FEATURE_TYPE == "COD(Cash On Delivery)" && a.STATUS == 1)) != 0)
                                        {
                                            count += 1;
                                        }
                                        if (data.Count(a => (a.FEATURE_TYPE == "Order with Issues" && a.STATUS == 1) || (a.FEATURE_TYPE == "Order Returns" && a.STATUS == 1) || (a.FEATURE_TYPE == "Create Order" && a.STATUS == 1) || (a.FEATURE_TYPE == "Reports" && a.STATUS == 1)) != 0)
                                        {
                                            count += 1;   
                                        }
                                        
                                        }
                                @if (count != 0) {
                                    <li>
                                        <a><i class="fa fa-bar-chart"></i> Orders & Leads<span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu" style="display: none">

@if (data.Count(a => (a.FEATURE_TYPE == "Payment pending" && a.STATUS == 1) || (a.FEATURE_TYPE == "Abandoned" && a.STATUS == 1) || (a.FEATURE_TYPE == "Cancelled Orders" && a.STATUS == 1)) != 0)
{
                                            <li>
                                                <div class="leftmenu_subchild_gap">Exceptions<span class="fa fa-chevron-down"></span></div>
                                                <div id="childmenu2_hide">
                                                    <ul class="nav child_menu2">
                                                        @if (data.FirstOrDefault(a => a.FEATURE_TYPE == "Payment pending") != null && data.FirstOrDefault(a => a.FEATURE_TYPE == "Payment pending").STATUS == 1)
                                                        {
                                                            <li><a href="@Url.Action("GetPaymentPendingOrders", "Order")" onclick="loader()">Payment pending</a></li>
                                                        }
                                                        @if (data.FirstOrDefault(a => a.FEATURE_TYPE == "Abandoned") != null && data.FirstOrDefault(a => a.FEATURE_TYPE == "Abandoned").STATUS == 1)
                                                        {
                                                            <li><a href="@Url.Action("AbandonedCart", "Order")" onclick="loader()">Abandoned</a></li>
                                                        }
                                                        @if (data.FirstOrDefault(a => a.FEATURE_TYPE == "Cancelled Orders") != null && data.FirstOrDefault(a => a.FEATURE_TYPE == "Cancelled Orders").STATUS == 1)
                                                        {
                                                            <li><a href="@Url.Action("Cancelledorders", "Order")" onclick="loader()">Cancelled Orders</a></li>
                                                        }

                                                    </ul>
                                                </div>
                                            </li>
}

@if (data.Count(a => (a.FEATURE_TYPE == "Prepaid" && a.STATUS == 1) || (a.FEATURE_TYPE == "COD(Cash On Delivery)" && a.STATUS == 1)) != 0)
{
                                            <li>
                                                <div class="leftmenu_subchild_gap1">Authorize<span class="fa fa-chevron-down"></span></div>
                                                <div id="childmenu2_hide1">
                                                    <ul class="nav child_menu2">
                                                        <li><a href="@Url.Action("AuthorizePrepaid", "Order")" onclick="loader()">Prepaid</a></li>
                                                        <li><a href="@Url.Action("AuthorizeCOD", "Order")" onclick="loader()">COD(Cash On Delivery)</a></li>
                                                    </ul>
                                                </div>
                                            </li>

}
@if (data.Count(a => (a.FEATURE_TYPE == "Waiting for pickup" && a.STATUS == 1) || (a.FEATURE_TYPE == "Dispatched" && a.STATUS == 1) || (a.FEATURE_TYPE == "Delivered" && a.STATUS == 1)) != 0)
{
                                            <li>
                                                <div class="leftmenu_subchild_gap2">Process<span class="fa fa-chevron-down"></span></div>
                                                <div id="childmenu2_hide2">
                                                    <ul class="nav child_menu2">
                                                        <li><a href="@Url.Action("WaitingPickup", "Order")" onclick="loader()">Waiting for pickup</a></li>
                                                        <li><a href="@Url.Action("Dispatched", "Order")" onclick="loader()">Dispatched</a></li>
                                                        <li><a href="@Url.Action("Shipped", "Order")" onclick="loader()">Shipped</a></li>
                                                    </ul>
                                                </div>
                                            </li>
}
@if (data.Count(a => (a.FEATURE_TYPE == "Order with Issues" && a.STATUS == 1) || (a.FEATURE_TYPE == "Order Returns" && a.STATUS == 1) || (a.FEATURE_TYPE == "Create Order" && a.STATUS == 1) || (a.FEATURE_TYPE == "Reports" && a.STATUS == 1)) != 0)
{
    <li><a href="@Url.Action("Issues", "Order")" onclick="loader()">Order with Issues</a></li>
    <li><a href="@Url.Action("Returns", "Order")" onclick="loader()">Order Returns</a></li>
    <li><a href="@Url.Action("CreateOrder", "Order")" onclick="loader()">Create Order</a></li>
    <li><a href="@Url.Action("Reports", "Order")" onclick="loader()">Reports</a></li>
}
                                            
                                        </ul>
                                    </li>
                                }
                                @{
                                    
                                    int count1 = 0;
                                    if (data.Count(a => (a.FEATURE_TYPE == "Physical Product" && a.STATUS == 1) || (a.FEATURE_TYPE == "Global Deals" && a.STATUS == 1) || (a.FEATURE_TYPE == "Corporate Deals" && a.STATUS == 1)) != 0)
                                    {
                                        count1 += 1;
                                    }
                                    if (data.FirstOrDefault(a => a.FEATURE_TYPE == "Inventory Snapshot") != null && data.FirstOrDefault(a => a.FEATURE_TYPE == "Inventory Snapshot").STATUS == 1)
                                    {
                                        count1 += 1;
                                    }
                                    if (data.FirstOrDefault(a => a.FEATURE_TYPE == "Masters") != null && data.FirstOrDefault(a => a.FEATURE_TYPE == "Masters").STATUS == 1)
                                    {
                                        count1 += 1;
                                    }
                                    if (data.FirstOrDefault(a => a.FEATURE_TYPE == "Bulk Product Upload") != null && data.FirstOrDefault(a => a.FEATURE_TYPE == "Bulk Product Upload").STATUS == 1)
                                    {
                                        count1 += 1;
                                    }
                                    if (data.FirstOrDefault(a => a.FEATURE_TYPE == "Cross-Sell & Up-Sell") != null && data.FirstOrDefault(a => a.FEATURE_TYPE == "Cross-Sell & Up-Sell").STATUS == 1)
                                    {
                                        count1 += 1;
                                    }
                                    }
                                @if (count1 != 0) {
                                <li>
                                    <a><i class="fa fa-cubes"></i> Products <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
@if (data.Count(a => (a.FEATURE_TYPE == "Physical Product" && a.STATUS == 1) || (a.FEATURE_TYPE == "Global Deals" && a.STATUS == 1) || (a.FEATURE_TYPE == "Corporate Deals" && a.STATUS == 1)) != 0)
{
    <li>
        <div class="leftmenu_subchild_gap4">Add New Product <span class="fa fa-chevron-down"></span></div>
        <div id="childmenu2_hide4">
            <ul class="nav child_menu2">
                @if (data.FirstOrDefault(a => a.FEATURE_TYPE == "Physical Product") != null && data.FirstOrDefault(a => a.FEATURE_TYPE == "Physical Product").STATUS == 1)
                {
                    <li><a href="@Url.Action("AddProduct", "Home")" onclick="loader()">Physical Product</a></li>
                }
                @if (data.FirstOrDefault(a => a.FEATURE_TYPE == "Global Deals") != null && data.FirstOrDefault(a => a.FEATURE_TYPE == "Global Deals").STATUS == 1)
                {
                    <li><a href="@Url.Action("GlobalDeals", "Home")">Global Deals</a></li>
                }
                @if (data.FirstOrDefault(a => a.FEATURE_TYPE == "Corporate Deals") != null && data.FirstOrDefault(a => a.FEATURE_TYPE == "Corporate Deals").STATUS == 1)
                {
                    <li><a href="@Url.Action("Workingonit", "Home")">Corporate Deals</a></li>
                }
            </ul>
        </div>
    </li>
}
@if (data.FirstOrDefault(a => a.FEATURE_TYPE == "Inventory Snapshot") != null && data.FirstOrDefault(a => a.FEATURE_TYPE == "Inventory Snapshot").STATUS == 1)
{
    <li><a href="@Url.Action("InventorySnapshot", "Home")" onclick="loader()">Inventory Snapshot</a></li>
}
@if (data.FirstOrDefault(a => a.FEATURE_TYPE == "Masters") != null && data.FirstOrDefault(a => a.FEATURE_TYPE == "Masters").STATUS == 1)
{
    <li><a href="@Url.Action("ProductTags", "Home")" onclick="loader()">Masters</a></li>
}
@if (data.FirstOrDefault(a => a.FEATURE_TYPE == "Bulk Product Upload") != null && data.FirstOrDefault(a => a.FEATURE_TYPE == "Bulk Product Upload").STATUS == 1)
{
    <li>
        <div class="leftmenu_subchild_gap5">Bulk Products Tools<span class="fa fa-chevron-down"></span></div>
        <div id="childmenu2_hide5">
            <ul class="nav child_menu2">
                <li><a href="@Url.Action("ProductImport", "Home")" onclick="loader()">Bulk Product Upload</a></li>
                @*<li><a href="#">Bulk Product Download</a></li>*@
            </ul>
        </div>
    </li>
}
@if (data.FirstOrDefault(a => a.FEATURE_TYPE == "Cross-Sell & Up-Sell") != null && data.FirstOrDefault(a => a.FEATURE_TYPE == "Cross-Sell & Up-Sell").STATUS == 1)
{
    <li><a href="@Url.Action("Workingonit", "Home")">Cross-Sell & Up-Sell</a></li>
}
                                        
                                    </ul>
                                </li>
                                }
                                @{
                                    int count3 = 0;
                                    if (data.Count(a => (a.FEATURE_TYPE == "Home Banners" && a.STATUS == 1) || (a.FEATURE_TYPE == "Schedule Home Banners" && a.STATUS == 1) || (a.FEATURE_TYPE == "Sub-Cat Banner" && a.STATUS == 1)) != 0)
                                    {
                                        count3 += 1;
                                    }
                    if (data.FirstOrDefault(a => a.FEATURE_TYPE == "Fotter Adds") != null && data.FirstOrDefault(a => a.FEATURE_TYPE == "Fotter Adds").STATUS == 1)
                    {
                        count3 += 1;
                    }
                    if (data.FirstOrDefault(a => a.FEATURE_TYPE == "Site Navigation") != null && data.FirstOrDefault(a => a.FEATURE_TYPE == "Site Navigation").STATUS == 1)
                    {
                        count3 += 1;
                    }
                    if (data.FirstOrDefault(a => a.FEATURE_TYPE == "Mail Templates") != null && data.FirstOrDefault(a => a.FEATURE_TYPE == "Mail Templates").STATUS == 1)
                    {
                        count3 += 1;
                    }
                    }
                    @if(count3 != 0)
                    {

                                <li>
                                    <a><i class="fa fa-list-alt"></i> Design & Content <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                        @*<li><a href="@Url.Action("Workingonit", "Home")">Select Themes</a></li>*@
@if (data.Count(a => (a.FEATURE_TYPE == "Home Banners" && a.STATUS == 1) || (a.FEATURE_TYPE == "Schedule Home Banners" && a.STATUS == 1) || (a.FEATURE_TYPE == "Sub-Cat Banner" && a.STATUS == 1)) != 0)
{
    <li>
        <div class="leftmenu_subchild_gap6">Bulk Banners<span class="fa fa-chevron-down"></span></div>
        <div id="childmenu2_hide6">
            <ul class="nav child_menu2">
                @if (data.FirstOrDefault(a => a.FEATURE_TYPE == "Home Banners") != null && data.FirstOrDefault(a => a.FEATURE_TYPE == "Home Banners").STATUS == 1)
                {
                    <li><a href="@Url.Action("Banners", "Home")" onclick="loader()">Home Banners</a></li>
                } @if (data.FirstOrDefault(a => a.FEATURE_TYPE == "Home Banners") != null && data.FirstOrDefault(a => a.FEATURE_TYPE == "Home Banners").STATUS == 1)
                {
                    <li><a href="@Url.Action("Predefinedbanners", "Home")" onclick="loader()"> Schedule Home Banners</a></li>
                }
                @if (data.FirstOrDefault(a => a.FEATURE_TYPE == "Sub-Cat Banner") != null && data.FirstOrDefault(a => a.FEATURE_TYPE == "Sub-Cat Banner").STATUS == 1)
                {
                    <li><a href="@Url.Action("Setbannercategory", "Home")" onclick="loader()"> Sub-Cat Banner</a></li>
                }
            </ul>
        </div>
    </li>
}
@if (data.FirstOrDefault(a => a.FEATURE_TYPE == "Fotter Adds") != null && data.FirstOrDefault(a => a.FEATURE_TYPE == "Fotter Adds").STATUS == 1)
{
    <li><a href="@Url.Action("Adds", "Home")" onclick="loader()">Footer Adds</a></li>
}
@if (data.FirstOrDefault(a => a.FEATURE_TYPE == "Site Navigation") != null && data.FirstOrDefault(a => a.FEATURE_TYPE == "Site Navigation").STATUS == 1)
{
    <li><a href="@Url.Action("Workingonit", "Home")">Site Navigation</a></li>
}
@if (data.FirstOrDefault(a => a.FEATURE_TYPE == "Mail Templates") != null && data.FirstOrDefault(a => a.FEATURE_TYPE == "Mail Templates").STATUS == 1)
{
    <li><a href="@Url.Action("MailManage", "Home")">Mail Templates</a></li>
    <li>
            <div class="leftmenu_subchild_gap7">Flash Pop-up's<span class="fa fa-chevron-down"></span></div>
            <div id="childmenu2_hide7">
                <ul class="nav child_menu2">
                    <li><a href="@Url.Action("FlashPromotions", "Home")">Promotions</a></li>
                </ul>
            </div>
        </li>
}


                                        @*<li><a href="@Url.Action("Workingonit", "Home")">Design Footer</a></li>*@

                                        @*<li>
                                            <div class="leftmenu_subchild_gap7">Flash Pop-up's<span class="fa fa-chevron-down"></span></div>
                                            <div id="childmenu2_hide7">
                                                <ul class="nav child_menu2">
                                                    <li><a href="@Url.Action("Workingonit", "Home")">Promotions</a></li>
                                                    <li><a href="@Url.Action("Workingonit", "Home")">Chat us</a></li>
                                                </ul>
                                            </div>
                                        </li>*@
                                    </ul>
                                </li>
                    }
                                @{
                                    int count4 = 0;
                        if (data.FirstOrDefault(a => a.FEATURE_TYPE == "Discount Vouchers") != null && data.FirstOrDefault(a => a.FEATURE_TYPE == "Discount Vouchers").STATUS == 1)
                        {
                            count4 += 1;
                        } 
                        if (data.FirstOrDefault(a => a.FEATURE_TYPE == "Loyalty Programs") != null && data.FirstOrDefault(a => a.FEATURE_TYPE == "Loyalty Programs").STATUS == 1)
                        {
                            count4 += 1;
                        }
                        if (data.FirstOrDefault(a => a.FEATURE_TYPE == "Affiliates") != null && data.FirstOrDefault(a => a.FEATURE_TYPE == "Affiliates").STATUS == 1)
                        {
                            count4 += 1;
                        }
                        if (data.FirstOrDefault(a => a.FEATURE_TYPE == "SMS Management") != null && data.FirstOrDefault(a => a.FEATURE_TYPE == "SMS Management").STATUS == 1)
                        {
                            count4 += 1;
                        }
                        if (data.FirstOrDefault(a => a.FEATURE_TYPE == "Web Analytics") != null && data.FirstOrDefault(a => a.FEATURE_TYPE == "Web Analytics").STATUS == 1)
                        {
                            count4 += 1;
                        }
                        if (data.FirstOrDefault(a => a.FEATURE_TYPE == "HTTP Redirection") != null && data.FirstOrDefault(a => a.FEATURE_TYPE == "HTTP Redirection").STATUS == 1)
                        {
                            count4 += 1;
                        }
                                }
                                @if (count4 != 0)
                                {
                                    <li>
                                        <a><i class="fa fa-briefcase"></i> Marketing <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu" style="display: none">
                                            @if (data.FirstOrDefault(a => a.FEATURE_TYPE == "Discount Vouchers") != null && data.FirstOrDefault(a => a.FEATURE_TYPE == "Discount Vouchers").STATUS == 1)
                                            {
                                                <li><a href="@Url.Action("DiscountVouchers", "Market")" onclick="loader()">Discount Vouchers</a></li>
                                            }
                                            @if (data.FirstOrDefault(a => a.FEATURE_TYPE == "Loyalty Programs") != null && data.FirstOrDefault(a => a.FEATURE_TYPE == "Loyalty Programs").STATUS == 1)
                                            {
                                                <li><a href="@Url.Action("LoyaltyPrograms", "Settings")" onclick="loader()">Loyalty Programs</a></li>
                                            }
                                            @if (data.FirstOrDefault(a => a.FEATURE_TYPE == "Affiliates") != null && data.FirstOrDefault(a => a.FEATURE_TYPE == "Affiliates").STATUS == 1)
                                            {
                                                <li><a href="@Url.Action("Workingonit", "Home")">Affiliates</a></li>
                                            }
                                            @if (data.FirstOrDefault(a => a.FEATURE_TYPE == "SMS Management") != null && data.FirstOrDefault(a => a.FEATURE_TYPE == "SMS Management").STATUS == 1)
                                            {
                                                <li><a href="@Url.Action("Workingonit", "Home")">SMS Management</a></li>
                                            }
                                            @if (data.FirstOrDefault(a => a.FEATURE_TYPE == "Web Analytics") != null && data.FirstOrDefault(a => a.FEATURE_TYPE == "Web Analytics").STATUS == 1)
                                            {
                                                <li><a href="@Url.Action("Workingonit", "Home")">Web Analytics</a></li>
                                            }
                                            @if (data.FirstOrDefault(a => a.FEATURE_TYPE == "HTTP Redirection") != null && data.FirstOrDefault(a => a.FEATURE_TYPE == "HTTP Redirection").STATUS == 1)
                                            {
                                                <li><a href="@Url.Action("Workingonit", "Home")">HTTP Redirection</a></li>
                                            }
                                        </ul>
                                    </li>
                                }
                                
                                @{
                                    int count5 = 0;
                            if (data.FirstOrDefault(a => a.FEATURE_TYPE == "Account Details") != null && data.FirstOrDefault(a => a.FEATURE_TYPE == "Account Details").STATUS == 1)
                            {
                                count5 += 1;
                            }
                            if (data.FirstOrDefault(a => a.FEATURE_TYPE == "Global VendorProfile Details") != null && data.FirstOrDefault(a => a.FEATURE_TYPE == "Global VendorProfile Details").STATUS == 1)
                            {
                                count5 += 1;
                            }
                            if (data.FirstOrDefault(a => a.FEATURE_TYPE == "Wallet Options") != null && data.FirstOrDefault(a => a.FEATURE_TYPE == "Wallet Options").STATUS == 1)
                            {
                                count5 += 1;
                            }
                            if (data.FirstOrDefault(a => a.FEATURE_TYPE == "User Roles") != null && data.FirstOrDefault(a => a.FEATURE_TYPE == "User Roles").STATUS == 1)
                            {
                                count5 += 1;
                            }
                            if (data.FirstOrDefault(a => a.FEATURE_TYPE == "Checkout Options") != null && data.FirstOrDefault(a => a.FEATURE_TYPE == "Checkout Options").STATUS == 1)
                            {
                                count5 += 1;
                            }
                                }
                                @if (count5 != 0)
                                {
                                    <li>
                                        <a><i class="fa fa-cogs"></i> Settings <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu" style="display: none">
                                            @if (data.FirstOrDefault(a => a.FEATURE_TYPE == "Account Details") != null && data.FirstOrDefault(a => a.FEATURE_TYPE == "Account Details").STATUS == 1)
                                            {
                                                <li><a href="@Url.Action("UserProfile", "User", new { id = 1 })">Account Details</a></li>
                                            }
                                            @if (data.FirstOrDefault(a => a.FEATURE_TYPE == "Global VendorProfile Details") != null && data.FirstOrDefault(a => a.FEATURE_TYPE == "Global VendorProfile Details").STATUS == 1)
                                            {
                                                <li><a href="@Url.Action("ProductTax", "Settings")">Tax</a></li>
                                                <li><a href="@Url.Action("GlobalvendorProfile", "User", new { id = 1 })">Global VendorProfile Details</a></li>
                                            }
                                            @if (data.FirstOrDefault(a => a.FEATURE_TYPE == "Wallet Options") != null && data.FirstOrDefault(a => a.FEATURE_TYPE == "Wallet Options").STATUS == 1)
                                            {
                                                <li><a href="@Url.Action("Index", "Settings")">Wallet Options</a></li>
                                            }
                                            @if (data.FirstOrDefault(a => a.FEATURE_TYPE == "User Roles") != null && data.FirstOrDefault(a => a.FEATURE_TYPE == "User Roles").STATUS == 1)
                                            {
                                                <li>
                                                    <div class="leftmenu_subchild_gap9">Permissions <span class="fa fa-chevron-down"> </span></div>
                                                    <div id="childmenu2_hide9">
                                                        <ul class="nav child_menu2">
                                                            <li><a href="@Url.Action("Roles", "Settings")">User Roles</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            }
                                            @if (data.FirstOrDefault(a => a.FEATURE_TYPE == "Checkout Options") != null && data.FirstOrDefault(a => a.FEATURE_TYPE == "Checkout Options").STATUS == 1)
                                            {
                                                <li><a href="@Url.Action("Workingonit", "Home")">Checkout Options</a></li>
                                            }

                                            <li>
                                                <div class="leftmenu_subchild_gap8">Logistic <span class="fa fa-chevron-down"> </span></div>
                                                <div id="childmenu2_hide8">
                                                    <ul class="nav child_menu2">
                                                        <li><a href="@Url.Action("Workingonit", "Home")">Aramex Integration</a></li>
                                                        <li><a href="@Url.Action("Workingonit", "Home")">BlueDart Integration</a></li>
                                                        @*<li><a href="#">BlueDart API Integration</a></li>
                                                            <li><a href="#">DTDC Integration</a></li>
                                                            <li><a href="#">Delhivery Integration</a></li>
                                                            <li><a href="#">Logistic Settings</a></li>*@
                                                    </ul>
                                                </div>
                                            </li>

                                        </ul>
                                    </li>
                                }
                                @{
                                    int count6 = 0;
                                    if (data.FirstOrDefault(a => a.FEATURE_TYPE == "Member Profile") != null && data.FirstOrDefault(a => a.FEATURE_TYPE == "Member Profile").STATUS == 1)
                                    {
                                        count6 += 1;
                                    }
                                    if (data.FirstOrDefault(a => a.FEATURE_TYPE == "Feed back") != null && data.FirstOrDefault(a => a.FEATURE_TYPE == "Feed back").STATUS == 1)
                                    {
                                        count6 += 1;
                                    }

                                }
                                @if (count6 != 0)
                                {
                                    <li>
                                        <a><i class="fa fa-users"></i> Customers <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu" style="display: none">
                                            @if (data.FirstOrDefault(a => a.FEATURE_TYPE == "Member Profile") != null && data.FirstOrDefault(a => a.FEATURE_TYPE == "Member Profile").STATUS == 1)
                                            {
                                                <li><a href="@Url.Action("MemberProfile", "User")">Member Profile</a></li>
    <li><a href="@Url.Action("Dealer", "User")">Dealer</a></li>
    <li><a href="@Url.Action("MasterFranchise", "User")">Master Franchise</a></li>
                                                <li><a href="@Url.Action("Globalvendor", "User")">Global Vendor</a></li>
                                            }
                                            @if (data.FirstOrDefault(a => a.FEATURE_TYPE == "Feed back") != null && data.FirstOrDefault(a => a.FEATURE_TYPE == "Feed back").STATUS == 1)
                                            {
                                                <li><a href="@Url.Action("Workingonit", "Home")">Feed back</a></li>
                                            }
                                        </ul>
                                    </li>
                                }


                                @*<li>
                                    <a><i class="fa fa-android"></i>App<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                        <li><a href="@Url.Action("Workingonit", "Home")">Update Url Paths</a></li>
                                    </ul>
                                </li>*@
                            </ul>
                        </div>
                       @if (data.Count() != 0 && data.FirstOrDefault().ROLE_ID == 1)
                       {
                        <div class="menu_section">
                            <h3>Live On</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-windows"></i> Extras <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                        <li><a href="~/Views/page_404.html">404 Error</a></li>
                                        <li><a href="~/Views/page_500.html">500 Error</a></li>
                                        <li><a href="#">Plain Page</a></li>
                                        <li><a href="@Url.Action("Login","Account");">Login Page</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                       }

                        
                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a href="@Url.Action("LogOff","Account")" data-toggle="tooltip" data-placement="top" title="Logout">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>


            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav class="" role="navigation">
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    @if (userData != null && userData.Image != null)
                                    {
                                        <img src="@userData.Image" alt="">
                                    }
                                    else
                                    {
                                        <img src="~/GizmobabaFiles/images/img.jpg" alt="">
                                    }
                                    @*<img src="~/GizmobabaFiles/images/img.jpg" alt="">*@ @User.Identity.GetUserName()
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
                                    <li><a href="@Url.Action("UserProfile", "User")">Profile</a></li>
                                    @*<li><a href="javascript:;"><span class="badge bg-red pull-right">50%</span><span>Settings</span></a></li>
                                    <li><a href="javascript:;">Help</a></li>*@
                                    <li><a href="@Url.Action("Logoff", "Account")"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                </ul>
                            </li>
                            @if (userData.ROLE == 1) { 
                            {Html.RenderAction("AdminMails", "Home");}
                            }


                            @*<li role="presentation" class="dropdown">
                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i><span class="badge bg-green">6</span>
                                </a>

                                <ul id="menu1" class="dropdown-menu list-unstyled msg_list animated fadeInDown" role="menu">
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/GizmobabaFiles/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">Film festivals used to be do-or-die moments for movie makers. They were where... </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a>
                                            <span class="image"><img src="~/GizmobabaFiles/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">Film festivals used to be do-or-die moments for movie makers. They were where... </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a>
                                            <span class="image"><img src="~/GizmobabaFiles/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">Film festivals used to be do-or-die moments for movie makers. They were where... </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a>
                                            <span class="image"><img src="~/GizmobabaFiles/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">Film festivals used to be do-or-die moments for movie makers. They were where...</span>
                                        </a>
                                    </li>

                                    <li>
                                        <div class="text-center">
                                            <a href="inbox.html"><strong>See All Alerts</strong><i class="fa fa-angle-right"></i></a>
                                        </div>
                                    </li>
                                </ul>
                            </li>*@
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->

            <!-- page content -->
            <div class="right_col" role="main">

                <div>
                    @RenderBody()
                </div>
                <!-- footer content -->
                <footer>
                    <div class="">
                        <p class="pull-right">
                            Gizmobaba.com. |
                            <span class="lead"> <i class="fa fa-paw"></i> Gizmobaba!</span>
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </footer>
                <!-- /footer content -->
            </div>
        <!-- /page content -->

        </div>
    </div>
    <!--Java Scripts Start form here-->
    <script src="~/GizmobabaFiles/js/bootstrap.min.js"></script>
    
    <!-- bootstrap progress js -->
    <script src="~/GizmobabaFiles/js/progressbar/bootstrap-progressbar.min.js"></script>

    @RenderSection("Gizmobabascripts", required: false)


    <script src="~/GizmobabaFiles/js/custom.js"></script>
    <script src="~/Scripts/common.js"></script>
    <!--Java Scripts Start form here-->

</body>

</html>

<style>
    .error {
        color: red;
    }
</style>



<script src="~/Scripts/common.js"></script>
<div class='loader-container hide'>
    <div class='loader'>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--text'></div>
    </div>
</div>
<link href="~/Content/loader.css" rel="stylesheet" />
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script>
    function loader() {
        $('.loader-container').removeClass('hide');
    }
</script>