﻿@model Gizmobaba.Models.ProductTagsViewModel

@{
    Layout = null;
}

<div id="normaladd" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
        @using (Html.BeginForm("AddProductTag", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal form-label-left", id = "demo-form2" }))
        {
                @*@Html.AntiForgeryToken()*@

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="$(this).parents('form').find('input').val(''); $(this).parents('form').find('img').remove(); $('[href=#tab_default_1]').click();">×</button>
        <h4 class="modal-title">Add/Edit Tag</h4>
    </div>
            <br />
    <div class="tab-pane active" id="tab_default_1">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Tag</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
                @Html.HiddenFor(model=>model.TAG_ID)
                @Html.TextBoxFor(model => model.TAG_DESC, new {@class = "form-control", required = "required"})
                @Html.ValidationMessageFor(model => model.TAG_DESC, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Tag Description</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
                @Html.TextBoxFor(model => model.TAG_DESC, new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.PRODUCT_ID, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="$(this).parents('form').find('input').val(''); $(this).parents('form').find('img').remove(); $('[href=#tab_default_1]').click();">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
        }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<script>
    $(document).ready(function () {
        $('body').on('click','button[type="submit"]',function () {
            var emptyVal = 0;
            $('[required]').each(function () {
                if ($(this).val() == "") {
                    emptyVal = 1;
                }
            });
            if (emptyVal != 1)
                $('.loader-container').removeClass('hide');
        });
       
    });
</script>

<div class='loader-container hide'>
    <div class='loader'>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--text'></div>
    </div>
</div>
<link href="~/Content/loader.css" rel="stylesheet" />
<script src="~/Scripts/common.js"></script>