﻿@model Gizmobaba.Models.SubCategoriesViewModel

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Add / Edit Attribute </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br/>
                @using (Html.BeginForm("AddSubCategory", "CategoryManage", FormMethod.Post, new { @class = "form-horizontal form-label-left", id = "demo-form2", onSubmit = "return validateForm();" }))
                {
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Name<span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.HiddenFor(m => m.CATEGORY_ID)
                            @Html.HiddenFor(m => m.SUB_CAT_ID)
                            @Html.TextBoxFor(m => m.SUB_CAT_DESC, new { placeholder = "SubCategory Name", @class = "form-control", required = "required" })
                            @*<input type="text" id="" name="SUB_CAT_DESC" placeholder="SubCategory Name" required class="form-control">*@
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Ref Code</label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.REFERENCE_CODE, new { placeholder = "SubCategory Ref Code", @class = "form-control", required = "required" })
                            @*<input type="text" id="" name="REFERENCE_CODE" placeholder="SubCategory Ref Code" class="form-control">*@
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Group <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.SUB_CAT_GROUP, new { placeholder = "general", @class = "form-control", required = "required", id = "SUB_CAT_GROUP" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Rank</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.RANK, new {placeholder = "1", @class = "form-control"})
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Hide</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @*@Html.HiddenFor(m => m.STATUS, new { id = "STATUS", value = "0" })
                            <input id="chkHide" class="chkHide" onclick="chk();" type="checkbox">*@
                            @if (Model.STATUS == 0)
                            {
                                @Html.HiddenFor(m => m.STATUS, new { id = "STATUS", value="0" })
    <input id="chkHide" class="chkHide" checked="checked" onclick="chk();" type="checkbox">
                            }
                            else
                            {
                                @Html.HiddenFor(m => m.STATUS, new { id = "STATUS",value="1" })
    <input id="chkHide" class="chkHide" onclick="chk();" type="checkbox">
                            }
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Description</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            @Html.TextAreaFor(m => m.DESCRIPTION, new {@class = "resizable_textarea form-control"})
                        </div>
                    </div>

                    @*<div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Type</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select class="select2_single form-control" tabindex="-1">
                                <option value="">Select a type</option>
                                <option value="">String</option>
                                <option value="">Numeric</option>
                            </select>
                        </div>
                    </div>*@

                    @*<div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Number of Columns</label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.NUMBER_OF_COLUMNS, new {placeholder = "0", @class = "form-control"})
                        </div>
                    </div>*@

                    <hr>
                    <div class="pull-right">
                        <a href="@Url.Action("Index", "CategoryManage")">
                            <button type="button" class="btn btn-round btn-default btn-sm">Back</button>
                        </a>
                        <button type="button" class="btn btn-round btn-default btn-sm" onclick="$(this).parents('form').find('input').val(''); $(this).parents('form').find('textarea').val(''); $('[href=#tab_default_1]').click();">Reset</button>
                        @*<button type="button" class="btn btn-round btn-primary btn-sm">Save to Gride</button>*@
                        <button type="submit" class="btn btn-round btn-primary btn-sm" >Save</button>
                        @*<input type="submit" value="Save to Gride" class="btn btn-round btn-primary btn-sm"/>*@
                    </div>
                }
            </div>
        </div>

        <div class="clear"></div><br>
        @*<div class="pull-right col-md-2"><button type="button" class="btn btn-success btn-lg  col-md-12">Save</button></div>*@
        <div class="clear"></div><br>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#SUB_CAT_GROUP').val('Group');
        //$('.chkHide').click(function () {
        //    alert('Hi');
        //    if ($(this).is(':checked')) {
        //        $('#STATUS').val('0');
        //    } else {
        //        $('#STATUS').val('1');
        //    }
        //});

       




    });
    function chk() {
        if ($('#chkHide').is(':checked')) {
            $('#STATUS').val('0');
        } else {
            $('#STATUS').val('1');
        }
    }
</script>



