﻿@model Gizmobaba.Models.TaxModel

@{
    Layout = null;
}


<div id="normaladd" class="modal fade" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">

            @using (Html.BeginForm("AddProductTax", "Settings", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal form-label-left", id = "demo-form2" }))
            {

                <div class="form-horizontal">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="$(this).parents('form').find('input').val(''); $(this).parents('form').find('img').remove(); $('[href=#tab_default_1]').click();">×</button>
                        <h4 class="modal-title">Add/Edit Tax</h4>
                    </div>
                    <br />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="tab-pane active" id="tab_default_1">

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Tax</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                @Html.EditorFor(model => model.TAX, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                @Html.ValidationMessageFor(model => model.TAX, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Tax Description</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                @Html.HiddenFor(model => model.TAX_ID)
                                @Html.EditorFor(model => model.TAX_DESC, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                @Html.ValidationMessageFor(model => model.TAX_DESC, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="$(this).parents('form').find('input').val(''); $(this).parents('form').find('img').remove(); $('[href=#tab_default_1]').click();">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

