﻿@model IEnumerable<Gizmobaba.Models.UserModel>

@{
    ViewBag.Title = "_usersPartial";
    Layout = null;
}
                      <script src="~/Scripts/paging.js"></script>
                      <link href="~/Content/paging.css" rel="stylesheet" />
<div id="tblPro">
    <table class="table table-striped responsive-utilities jambo_table bulk_action" id="tblUsers">
        <thead>
            <tr class="">
                <th>
                    <div class="squaredThree">
                        <input type="checkbox" value="None" id="check-all" name="check" />
                        <label for="check-all"></label>
                    </div>
                </th>
                <th class="column-title" style="display: table-cell;">Email </th>
                <th class="column-title" style="display: table-cell;">User Name</th>
                @*<th class="column-title" style="display: table-cell;">First Name</th>*@
                @*<th class="column-title" style="display: table-cell;">Last Name</th>*@
                <th class="column-title" style="display: table-cell;">Mobile No</th>
                <th class="column-title" style="display: table-cell;">Orders</th>
                <th class="column-title" style="display: table-cell;">Creation Date</th>
                <th class="column-title no-link last" style="display: table-cell;"><span class="nobr">Last Login Date</span></th>
                <th class="column-title no-link last"><span class="nobr">Actions</span></th>
                  <th class="bulk-actions" colspan="8" style="display: none;"><a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt">1 Records Selected</span> ) <i class="fa fa-chevron-down"></i></a></th>
            </tr>
        </thead>
        @if (Model.Count() != 0)
        {
            <tbody>
            @foreach (var item in Model)
            {
                <tr class="" id="@item.USER_ID">
                    <td>
                        <div class="squaredThree">
                            <input type="checkbox" value="None" id="ABC_@item.USER_ID" name="check" class="input-check-box"/>
                            <label for="ABC_@item.USER_ID"></label>
                        </div>
                        @*<input type="checkbox" class="flat" name="table_records">*@
                    </td>
                    <td><a href="#">@item.EMAIL</a></td>
                    @*<td>@item.UserStatus</td>*@
                    <td>@item.USER_NAME</td>
                    <td>@item.MOB_NO</td>
                    <td>@item.OrderCount</td>
                    <td>@item.CREATED_ON</td>
                    <td>@item.UPDATED_ON</td>
                    <td>
                        <div class="prdcts-action">
                            <a href="@Url.Action("UserProfile", "User", new {id = item.USER_ID})" title=" view"><i class="fa fa-eye"></i></a>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        }
        else
        {
            <div class="alert alertnew alert-info fade in">
                <a href="#" class="close" data-dismiss="alert">×</a>
                <strong>Warning!</strong> Records Not Found
            </div>
        }
    </table>
</div>

<script>
    $(function () {
        $('#tblPro').paging({ limit: 10 });
        $('.paging_full_numbers').find("[data-page='0']").attr('class', "selected-page");
        $("#exportExcel").click(function () {
            $("#tblUsers").table2excel({
                exclude: ".noExl",
                name: "Excel Document Name"
            });
        });
    });
</script>