﻿@model IEnumerable<Gizmobaba.Models.NewOrderModel>

@{
    Layout = null;
}

                      @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
                      <script>
                          $(document).ready(function () {
                              alert('Hi');
                              $('.loader-container').addClass('hide');
                          });
                      </script>*@

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="MyOrders">
        <div class="mmctrl_box">
            <div class="mmcaption_new">
                <h1>Available Orders</h1>
                @*<h2>
                        <div class="col-md-12">
                            <select class="form-control" tabindex="-1">
                                <option selected="selected" value=""> -- Select -- </option>
                                <option value="">Sent to FC</option>
                                <option value="">Sent to Inhouse</option>
                            </select>
                        </div>
                    </h2>*@
                <div class="bulaprove_btn mrgn_remve_5"><a href="javascript:;" id="btnMerge">Merge</a></div>&nbsp;&nbsp;
                <div class="bulaprove_btn mrgn_remve_5 "><a href="#" id="btnSplit">Split</a></div>&nbsp;&nbsp;
                <div class="bulaprove_btn mrgn_remve_5"><a href="javascript:;" id="btnApprove">Bulk Approve</a></div>
            </div>
            <table id="tblPro" class="table table-striped responsive-utilities jambo_table bulk_action" style="margin-bottom:6px; border-bottom:1px solid #DDD;">
            <thead>
            <tr>
                <th>
                    <div class="squaredThree">
                        <input type="checkbox" value="None" id="check-all" name="check"/>
                        <label for="check-all"></label>
                    </div>
                </th>
                <th>Age</th>
                <th>Order ID</th>
                <th>Order Date</th>
                <th>Order By</th>
                <th>Qty</th>
                <th>Order Vaule</th>
                <th> Name</th>
                <th>Authorize</th>
                <th>Action</th>
            </tr>
            </thead>

                @if (Model != null && Model.Count() != 0)
                {
                    <tbody>
                    @foreach (var item in Model)
                    {
                        int ordersCount = Model.Count(a => a.Address_Id == item.Address_Id);
                        if (item.IS_SPLIT == true || item.IS_SPLIT == false)
                        {
                            <tr id="@item.ORDER_ID" style="background-color: #d4f1be">
                                <td>
                                    <div class="squaredThree">
                                        <input type="checkbox" value="None" id="ABC_@item.ORDER_ID" name="check" class="input-check-box"/>
                                        <label for="ABC_@item.ORDER_ID"></label>
                                        @*<input type="hidden" value="@item.ADDRESS_ID" class="useraddress" />*@
                                        @Html.HiddenFor(modelItem => item.Address_Id, new {@class = "useraddress"})
                                    </div>
                                </td>
                                <td>
                                    <a title="This Order is splitted">
                                        @Html.DisplayFor(modelItem => item.Age)
                                        @if (item.IS_SPLIT == true)
                                        {
                                            <span>@item.message</span>
                                            <span title="This Order is splitted" class="glyphicon glyphicon-resize-full"></span>
                                        }
                                        @if (item.IS_SPLIT == false)
                                        {
                                            <span>@item.message</span>
                                            <span title="This Order is splitted to @item.SPLIT_ORDER_ID" class="glyphicon glyphicon-resize-full"></span>
                                        }

                                    </a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ORDER_ID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CREATED_AT)
                                </td>
                                <td>
                                    @if (item.Role == "4")
                                    {
                                        <div>Dealer</div>
                                    }
                                    else
                                    {
                                        <div>Customer</div>
                                    }
                                    @*@Html.DisplayFor(modelItem => item.PAYMENT_TYPE)*@
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Qty)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UNIT_PRICE)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                @*<td><a href="OL_Exc_Paymentpending_orderdetails.html">Saurbha joshi</a></td>*@
                                <td>@Html.ActionLink("Authorize", "OrderDetails", new {id = item.ORDER_ID})</td>
                                <td>
                                    <a href="javascript:;" onclick="OrderPickUp(@item.ORDER_ID);">Approve</a>
                                    @Html.ActionLink("Cancel", "OrderDetails", new {id = item.ORDER_ID})
                                </td>
                            </tr>
                        }
                        else if (item.ISMERGEITEM == true)
                        {
                            <tr id="@item.ORDER_ID" style="background-color: #f2b7b7">
                                <td>
                                    <div class="squaredThree">
                                        <input type="checkbox" value="None" id="ABC_@item.ORDER_ID" name="check" class="input-check-box"/>
                                        <label for="ABC_@item.ORDER_ID"></label>
                                        @*<input type="hidden" value="@item.ADDRESS_ID" class="useraddress" />*@
                                        @Html.HiddenFor(modelItem => item.Address_Id, new {@class = "useraddress"})
                                    </div>
                                </td>
                                <td>
                                    <a title="This Order is splitted">
                                        @Html.DisplayFor(modelItem => item.Age)
                                        @if (item.ISMERGEITEM == true)
                                        {
                                            <br/>
                                            <span>@item.message</span>
                                            <span title="This Order is Merged" class="glyphicon glyphicon-resize-small"></span>
                                        }
                                        @if (item.IS_SPLIT == true)
                                        {
                                            <span title="This Order is splitted" class="glyphicon glyphicon-resize-full"></span>
                                        }
                                        @if (item.IS_SPLIT == false)
                                        {
                                            <span title="This Order is splitted to @item.SPLIT_ORDER_ID" class="glyphicon glyphicon-resize-full"></span>
                                        }

                                    </a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ORDER_ID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CREATED_AT)
                                </td>
                                <td>
                                    @if (item.Role == "4")
                                    {
                                        <div>Dealer</div>
                                    }
                                    else
                                    {
                                        <div>Customer</div>
                                    }
                                    @*@Html.DisplayFor(modelItem => item.PAYMENT_TYPE)*@
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Qty)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UNIT_PRICE)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                @*<td><a href="OL_Exc_Paymentpending_orderdetails.html">Saurbha joshi</a></td>*@
                                <td>@Html.ActionLink("Authorize", "OrderDetails", new {id = item.ORDER_ID})</td>
                                <td>
                                    <a href="javascript:;" onclick="OrderPickUp(@item.ORDER_ID);">Approve</a>
                                    @Html.ActionLink("Cancel", "OrderDetails", new {id = item.ORDER_ID})
                                </td>
                            </tr>
                        }
                        else if (ordersCount != 1)
                        {
                            <tr id="@item.ORDER_ID" style="background-color: #d0f7f5">
                                <td>
                                    <div class="squaredThree">
                                        <input type="checkbox" value="None" id="ABC_@item.ORDER_ID" name="check" class="input-check-box"/>
                                        <label for="ABC_@item.ORDER_ID"></label>
                                        @*<input type="hidden" value="@item.ADDRESS_ID" class="useraddress" />*@
                                        @Html.HiddenFor(modelItem => item.Address_Id, new {@class = "useraddress"})
                                    </div>
                                </td>
                                <td>
                                    <a title="This Order is splitted">
                                        @Html.DisplayFor(modelItem => item.Age)
                                        @if (item.ISMERGEITEM == true)
                                        {
                                            <span title="This Order is Merged" class="glyphicon glyphicon-resize-small"></span>
                                        }
                                        @if (item.IS_SPLIT == true)
                                        {
                                            <span title="This Order is splitted" class="glyphicon glyphicon-resize-full"></span>
                                        }
                                        @if (item.IS_SPLIT == false)
                                        {
                                            <span title="This Order is splitted to @item.SPLIT_ORDER_ID" class="glyphicon glyphicon-resize-full"></span>
                                        }

                                    </a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ORDER_ID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CREATED_AT)
                                </td>
                                <td>
                                    @if (item.Role == "4")
                                    {
                                        <div>Dealer</div>
                                    }
                                    else
                                    {
                                        <div>Customer</div>
                                    }
                                    @*@Html.DisplayFor(modelItem => item.PAYMENT_TYPE)*@
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Qty)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UNIT_PRICE)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                @*<td><a href="OL_Exc_Paymentpending_orderdetails.html">Saurbha joshi</a></td>*@
                                <td>@Html.ActionLink("Authorize", "OrderDetails", new {id = item.ORDER_ID})</td>
                                <td>
                                    <a href="javascript:;" onclick="OrderPickUp(@item.ORDER_ID);">Approve</a>
                                    @Html.ActionLink("Cancel", "OrderDetails", new {id = item.ORDER_ID})
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr id="@item.ORDER_ID" class="addr_@item.Address_Id">
                                <td>
                                    <div class="squaredThree">
                                        <input type="checkbox" value="None" id="ABC_@item.ORDER_ID" name="check" class="input-check-box"/>
                                        <label for="ABC_@item.ORDER_ID"></label>
                                        @*<input type="hidden" value="@item.ADDRESS_ID" class="useraddress" />*@
                                        @Html.HiddenFor(modelItem => item.Address_Id, new {@class = "useraddress"})
                                    </div>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Age)
                                    @if (item.ISMERGEITEM == true)
                                    {
                                        <span title="This Order is Merged" class="glyphicon glyphicon-resize-small"></span>
                                    }
                                    @if (item.IS_SPLIT == true)
                                    {
                                        <span title="This Order is splitted" class="glyphicon glyphicon-resize-full"></span>
                                    }
                                    @if (item.IS_SPLIT == false)
                                    {
                                        <span title="This Order is splitted to @item.SPLIT_ORDER_ID" class="glyphicon glyphicon-resize-full"></span>
                                    }

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ORDER_ID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CREATED_AT)
                                </td>
                                <td>
                                    @if (item.Role == "4")
                                    {
                                        <div>Dealer</div>
                                    }
                                    else
                                    {
                                        <div>Customer</div>
                                    }
                                    @*@Html.DisplayFor(modelItem => item.PAYMENT_TYPE)*@
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Qty)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UNIT_PRICE)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                @*<td><a href="OL_Exc_Paymentpending_orderdetails.html">Saurbha joshi</a></td>*@
                                <td>@Html.ActionLink("Authorize", "OrderDetails", new {id = item.ORDER_ID})</td>
                                <td>
                                    <a href="javascript:;" onclick="OrderPickUp(@item.ORDER_ID);">Approve</a>
                                    @Html.ActionLink("Cancel", "OrderDetails", new {id = item.ORDER_ID})
                                </td>
                            </tr>
                        }


                    }

                    </tbody>
                }
                else
                {
                    <div class="alert alertnew alert-info fade in">
                        <a href="#" class="close" data-dismiss="alert">×</a>
                        <strong>Warning!</strong> Authorize COD Orders Not Found
                    </div>
                }
            </table>
            <br>

            @*<div class="dataTables_length" id="example_length">
                    <label>
                        &nbsp; Records per page
                        <select aria-controls="example" size="1" style="width: 56px;padding: 6px;" name="example_length">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </label>

                    <label> Go to <input type="text" class="gototxt_no" maxlength="4" aria-controls="example"></label>
                </div>*@

            @*<div id="example_paginate" class="dataTables_paginate paging_full_numbers">
                    <a id="example_first" tabindex="0" class="first paginate_button paginate_button_disabled">First</a>
                    <a id="example_previous" tabindex="0" class="previous paginate_button paginate_button_disabled">Previous</a>
                    <span>
                        <a tabindex="0" class="paginate_active">1</a>
                        <a tabindex="0" class="paginate_button">2</a>
                        <a tabindex="0" class="paginate_button">3</a>
                        <a tabindex="0" class="paginate_button">4</a>
                    </span>
                    <a id="example_next" tabindex="0" class="next paginate_button">Next</a>
                    <a id="example_last" tabindex="0" class="last paginate_button">Last</a>
                </div>*@
            <div class="clearfix"></div>
            <br>
        </div>

        <hr>
        <div class="clearfix"></div>
        <div class="col-md-12">
            <button type="button" id="btnAuthorizeExport" class="btn btn-dark pull-right">Export to Excel</button>
        </div><br><br><br>
    </div>

    <div role="tabpanel" class="tab-pane" id="MarketplaceOrders">
        <div class="mmctrl_box">
            <div class="mmcaption">Available Shipping Codes Result</div><br>
            <br>

            <div class="alert alert-danger" role="alert">There are no 'Payment Pending Orders' found.</div><br>

        </div>

        <hr>
        <div class="clearfix"></div>
        <div class="col-md-12">
            <a href="ShippingProfile_Add_Edit2.html">
                <button type="button" class="btn btn-dark pull-right">Add New Shipping Code for Marketplace</button>
            </a>
            <a href="ShippingProfile_Add_Edit.html">
                <button type="button" class="btn btn-default pull-right">Add New Shipping Code</button>
            </a>
        </div><br><br><br>
    </div>
</div>

