﻿@model IEnumerable<Gizmobaba.Models.DiscountModel>

@{
    Layout = null;
}

<table class="table table-hover mrgin_gap0 table_anchor">
    <thead>
        <tr>
            <th>S No.</th>
            <th>Campaign Title</th>
            <th>Voucher Code</th>
            <th>Discount</th>
            <th>User Count</th>
            <th>Created Vouchers</th>
            <th>Status</th>
            @*<th>Create Voucher</th>
                <th><input type="checkbox"></th>*@
        </tr>
    </thead>
    <tbody>
        @{
            int count = 1;
            foreach (var item in Model)
            {
                <tr id="@item.DISCOUNT_ID">
                    <td>@count</td>
                    <td>@item.CAMPAIGN_TITLE</td>
                    <td><a>@item.VOUCHER_CODE</a></td>
                    <td>@item.DISCOUNT</td>
                    <td>0</td>
                    <td>1</td>
                    <td>Active</td>
                    <td>
                        <div class="prdcts-action">
                            <a href="@Url.Action("Create", "Market", new { id = item.DISCOUNT_ID })" title="Edit"><i class="fa fa-pencil-square-o"></i></a>
                            <a href="javascript:;" class="delete" onclick="DeleteDis(@item.DISCOUNT_ID);" title="Delete"><i class="fa fa-trash-o"></i></a>
                        </div>
                    </td>
                </tr>
                count++;
            }
}
    </tbody>
</table>
@if (Model != null && Model.Count() == 0)
{
    <div class="alert alertnew alert-info fade in">
        <a href="#" class="close" data-dismiss="alert">×</a>
        <strong>Warning!</strong> Authorize COD Orders Not Found
    </div>
}

