﻿@model IEnumerable<Gizmobaba.Models.UserModel>

@{
    Layout = null;
}
<div id="tblPro">
    <table class="table table-striped responsive-utilities jambo_table bulk_action" id="tblUsers">
        <thead>
            <tr class="">
                <th>
                    <div class="squaredThree">
                        <input type="checkbox" value="None" id="check-all" name="check" />
                        <label for="check-all"></label>
                    </div>
                </th>
                <th class="column-title" style="display: table-cell;">Account Id </th>
                <th class="column-title" style="display: table-cell;">User Name</th>
                @*<th class="column-title" style="display: table-cell;">First Name</th>*@
                @*<th class="column-title" style="display: table-cell;">Last Name</th>*@
                <th class="column-title" style="display: table-cell;">Mobile No</th>
                <th class="column-title" style="display: table-cell;">Creation Date</th>
                <th class="column-title no-link last" style="display: table-cell;"><span class="nobr">Additional info</span></th>
                @*<th class="column-title" style="display: table-cell;">Wallet Points</th>*@
                <th class="column-title no-link last"><span class="nobr">View</span></th>
                <th class="bulk-actions" colspan="8" style="display: none;"><a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt">1 Records Selected</span> ) <i class="fa fa-chevron-down"></i></a></th>
            </tr>
        </thead>


        @if (Model.Count() != 0)
        {
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="" id="@item.USER_ID">
                        <td>
                            <div class="squaredThree">
                                <input type="checkbox" value="None" id="ABC_@item.USER_ID" name="check" class="input-check-box" />
                                <label for="ABC_@item.USER_ID"></label>
                            </div>
                            @*<input type="checkbox" class="flat" name="table_records">*@
                        </td>
                        <td><a href="@Url.Action("VenderProfile", "User", new { id = item.USER_ID })">@item.USER_ID</a></td>
                        <td>@item.USER_NAME</td>
                        <td>@item.MOB_NO</td>
                        @*<td>@item.OrderCount</td>*@
                        <td>@item.CREATED_ON</td>
                        <td>NaN</td>
                        <td>
                            <div class="prdcts-action">
                                <a href="@Url.Action("VenderProfile", "User", new { id = item.USER_ID })" title=" view"><i class="fa fa-eye"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        }
    </table>
    @if (Model.Count() == 0)
    {
        <div class="alert alertnew alert-info fade in">
            <a href="#" class="close" data-dismiss="alert">×</a>
            <strong>Warning!</strong> Global vendor Not Found
        </div>
    }
</div>

<script>
    $(function() {
        $("#exportExcel")
            .click(function() {
                $("#tblUsers")
                    .table2excel({
                        exclude: ".noExl",
                        name: "Excel Document Name"
                    });
            });
    });
</script>
<script src="~/Scripts/common.js"></script>