﻿@model Gizmobaba.Models.InventorySnapshotViewModel

@{
    Layout = null;
}
<div id="tblPro1">
    <table id="tblPro" class="table table-striped responsive-utilities jambo_table bulk_action">
        <thead>
            <tr>
                <th>
                    <div class="squaredThree">
                        <input type="checkbox" value="None" id="check-all" name="check" />
                        <label for="check-all"></label>
                    </div>
                </th>
                <th class="column-title">Product Title</th>
                <th class="column-title">SKU</th>
                <th class="column-title">Inv</th>
                <th class="column-title">MRP</th>
                <th class="column-title">Webprice</th>
                @*<th class="column-title">Shipping Code</th>*@
                <th class="column-title">Created By</th>
                <th class="column-title no-link last"><span class="nobr">Actions</span></th>
            </tr>
        </thead>

        <tbody>
            @*<tr>
                    <td colspan="8">
                        <div class="tablecolspan_prd">
                            <a href="#" id="show_1">
                                NaveenMobi / N_mobiles
                            </a>
                        </div>
                    </td>
                </tr>*@
            @{
                foreach (var item in Model.productsList.OrderByDescending(a => a.PRODUCT_ID))
                {
                    <tr id="@item.PRODUCT_ID">
                        <td>
                            <div class="squaredThree">
                                <input type="checkbox" value="None" id="ABC_@item.PRODUCT_ID" name="check" class="input-check-box" />
                                <label for="ABC_@item.PRODUCT_ID"></label>
                            </div>
                        </td>
                        <td style="width:40%;">
                            @item.PRODUCT_NAME
                            @if (item.STATUS == 1)
                            {
                                <div class="active_divp">Active</div>
                            }
                            else if (item.STATUS == 3)
                            {
                                <div class="dective_divp">Deleted</div>
                            }
                            else
                            {
                                <div class="dective_divp">Inactive</div>
                            }
                            @if (item.ProductTagsList != null && item.ProductTagsList.Count() != 0)
                            {
                                foreach (var tagList in item.ProductTagsList)
                                {
                                    if(Model.tagsList.Count(a => a.TAG_ID == tagList.TAG_ID) != 0) { 
                                    <div class="active_divp">@Model.tagsList.FirstOrDefault(a => a.TAG_ID == tagList.TAG_ID).TAG_DESC</div>
                                    }
                                }
                            }
                            @*<div class="dective_divdealsp">Best Deals</div> <br>
                                <div class="dective_divdealsp">Hot Deals</div>*@
                        </td>
                        <td>@item.PRODUCT_SKU</td>
                        <td>@item.INVENTORY</td>
                        <td>@item.MRP</td>
                        <td>@item.GIZMOBABA_PRICE</td>
                        @*<td>
                                One , sonu <br>
                                <a href="#"> More</a>
                            </td>*@
                        <td>
                            @if (item.CREATED_BY == "1" || string.IsNullOrEmpty(item.CREATED_BY))
                            {
                                <span> Admin</span>
                            }
                            else
                            {
                                <span>Global Vender</span>
                            }
                        </td>
                        <td>
                            <div class="prdcts-action">
                                <a href="@Url.Action("Product", new {id = item.PRODUCT_ID})" title=" view"><i class="fa fa-eye"></i></a>
                                <a href="@Url.Action("AddProduct", new {id = item.PRODUCT_ID})" title="Edit"><i class="fa fa-pencil-square-o"></i></a>
                                <!--<a href="#" title="Location"><i class="fa fa-map-marker"></i></a>-->
                                <a href="@Url.Action("ProductImages", new { id = item.PRODUCT_ID })" title="Product Images"><i class="fa fa-picture-o"></i></a>
                                <a href="javascript:;" class="delete" title="Delete"><i class="fa fa-trash-o"></i></a>
                                @if (item.STATUS == 0)
                                {
                                    <a href="javascript:;" class="activate" title="Activate"><i>Activate</i></a>
                                    if (item.CREATED_BY != "1" && !string.IsNullOrEmpty(item.CREATED_BY))
                                    {
                                        <a href="javascript:;" class="activate" title="Approved"><i>Approved</i></a>
                                    }
                                }
                                else if (item.STATUS == 1)
                                {
                                    <a href="javascript:;" class="deactivate" title="De-Activate"><i>De-Activate</i></a>
                                }
                                
                            </div>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>