﻿@model IEnumerable<Gizmobaba.Models.DealerDto>
@{
    Layout = null;
}

<div id="tblPro">
    <table class="table table-striped responsive-utilities jambo_table bulk_action" id="tblUsers">
        <thead>
            <tr class="">
                <th>
                    <div class="squaredThree">
                        <input type="checkbox" value="None" id="check-all" name="check" />
                        <label for="check-all"></label>
                    </div>
                </th>
                <th class="column-title" style="display: table-cell;">Ref/Ac_Number </th>
                <th class="column-title" style="display: table-cell;"> Name</th>
                @*<th class="column-title" style="display: table-cell;">Amount</th>*@
                <th class="column-title" style="display: table-cell;">Wallet Points</th>
                <th class="column-title" style="display: table-cell;">Creation Date</th>
                <th class="column-title no-link last"><span class="nobr">Actions</span></th>
            </tr>
        </thead>


        @if (Model.Count() != 0)
        {
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="" id="@item.USER_ID">
                        <td>
                            <div class="squaredThree">
                                <input type="checkbox" value="None" id="ABC_@item.USER_ID" name="check" class="input-check-box" />
                                <label for="ABC_@item.USER_ID"></label>
                            </div>
                            @*<input type="checkbox" class="flat" name="table_records">*@
                        </td>
                        <td><a href="#">@item.USER_ID</a></td>
                        <td>@item.USER_NAME</td>
                        <td>@item.WALLET</td>
                        @*<td>@item.AMOUNT</td>*@
                        <td>@item.CREATED_ON</td>
                        <td>
                            <div class="prdcts-action">
                                <a href="@Url.Action("MasterFranchiseProfile", "User", new { id = item.USER_ID })" title=" view"><i class="fa fa-eye"></i></a>
                               @if (item.STATUS == 1) { 
                                 <a href="javascript:;">  Active</a>
                               }
                               else
                               {
                                <a href="javascript:;"> De-Active</a>
                               }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        }
        else
        {
            <div class="alert alertnew alert-info fade in">
                <a href="#" class="close" data-dismiss="alert">×</a>
                <strong>Warning!</strong> Master Franchise Not Found
            </div>
        }

    </table>
</div>

<script>
    $(function() {
        $("#exportExcel")
            .click(function() {
                $("#tblUsers")
                    .table2excel({
                        exclude: ".noExl",
                        name: "Excel Document Name"
                    });
            });
    });
</script>
<script src="~/Scripts/common.js"></script>
