﻿@model IEnumerable<Gizmobaba.Models.OrderViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<table id="tblPro" class="table table-striped" style="margin-bottom:6px; border-bottom:1px solid #DDD;">
    <thead>
        <tr>
            <th>
                <div class="squaredThree">
                    <input type="checkbox" value="None" id="check-all" name="check" />
                    <label for="check-all"></label>
                </div>
            </th>
            <th>Age</th>
            <th>Order ID</th>
            <th>Order Date</th>
            <th>Order By</th>
            <th>Qty</th>
            <th>Order Vaule</th>
            <th>Customer Name</th>
            <th>Authorize</th>
            @*<th>Cancel Orders</th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="@item.ORDER_ID">
                <td>
                    <div class="squaredThree">
                        <input type="checkbox" value="None" id="ABC_@item.ORDER_ID" name="check" class="input-check-box" />
                        <label for="ABC_@item.ORDER_ID"></label>
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ORDER_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CREATED_AT)
                </td>
                <td>
                    @if (item.CREATED_BY == "4")
                    {
                        <div>Dealer</div>
                    }
                    else
                    {
                        <div>Customer</div>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Qty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.ActionLink("Authorize", "OrderDetails", new { id = item.ORDER_ID })
                </td>
                <td>
@*@if (item.STATUS == 4)
{
    <a href="javascript:;" onclick="OrderPickUp(@item.ORDER_ID);">Approve</a>
}*@
                    @Html.ActionLink("Cancel", "OrderDetails", new { id = item.ORDER_ID })
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model != null && Model.Count() == 0)
{
    <div class="alert alertnew alert-info fade in">
        <a href="#" class="close" data-dismiss="alert">×</a>
        <strong>Warning!</strong>  Orders Not Found
    </div>
}
