﻿@model IEnumerable<Gizmobaba.Models.OrderViewModel>

@{
    Layout = null;
}
@*<script src="~/Scripts/paging.js"></script>*@
@*<script type="text/javascript">
    $(document).ready(function () {
        $('#tblPro').paging({ limit: 20 });
        $('.paging_full_numbers').find("[data-page='0']").attr('class', "selected-page");
    });
</script>*@

        <table class="table table-striped" id="tblPro" style="margin-bottom:6px; border-bottom:1px solid #DDD;">
            <thead>
                <tr>
                    <th>Age</th>
                    <th>Order ID</th>
                    <th>Order Date</th>
                    <th>Chekout Type</th>
                    <th>Qty</th>
                    <th>Order Vaule</th>
                    <th>Customer Name</th>
                    <th>View</th>
                    @*<th>Authorize</th>
                    <th>Cancel Orders</th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderByDescending(a => a.ORDER_ID))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Age)
                        </td>
                        <td>
                            <a>@item.ORDER_ID</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CREATED_AT)
                        </td>
                        <td>
                            @if(item.CHECKOUTTYPE == "4")
                            {
                                <span>COD</span>
                            }
                            else
                            {
                                <span>ONLINE</span>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Qty)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UNIT_PRICE)
                        </td>
                        <td>
                            <a>@item.UserName</a>
                        </td>
                        <td>
                            <a href="@Url.Action("OrderDetails", "Order", new { id = item.ORDER_ID })" title=" view"><i class="fa fa-eye"></i></a>
                            @*@Html.ActionLink("Authorize", "OrderDetails", new { id = item.ORDER_ID })*@
                        </td>
                        @*<td>
                            @Html.ActionLink("Cancel", "OrderDetails", new { id = item.ORDER_ID })
                        </td>*@
                        @*<td>
                                <a href="javascript:;" onclick="cancelOrder(@item.ORDER_ID);">Cancel</a>
                            </td>*@
                    </tr>
                }
            </tbody>
        </table>
@if (Model == null || Model.Count() == 0)
{
    <div class="alert alertnew alert-info fade in">
        <a href="#" class="close" data-dismiss="alert">×</a>
        <strong>Warning!</strong> Payment Pending Orders Not Found
    </div>
}
<script>
    $(document).ready(function () {
        $('.alert').fadeOut(10000);
    });
</script>