﻿@model Gizmobaba.Models.AvailableShippingCodes
@using Newtonsoft.Json
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutGizmobaba.cshtml";
}
<script src="~/Scripts/shipping.js"></script>
<script type="text/javascript">
    var URL = '@System.Configuration.ConfigurationManager.AppSettings["baseUrl"]';
    var modelCountry = @Html.Raw(JsonConvert.SerializeObject(Model.ShippingCountries.ToList()));
    $(document).ready(function() {
        $('#txtPrice').val('0');
        $('#COUNTRY_ID').hide();
        $('#STATE_ID').hide();
        
        $('#rbtnShipping').click(function() {
            Clear();
        });
        $('#rbtnPrepaid').click(function() {
            $('.shipingcode_hideshow').show();
        });
        $('#rbtnCOD').click(function() {
            $('.shipingcode_hideshow').show();
        });
        $('#rbtnCounter').click(function() {
            $("#sbOne").html('');
            $('#COUNTRY_ID').hide();
            $('#STATE_ID').hide();
            var regions = modelCountry;
            $.each(regions, function(i, regions) {
                $("#sbOne").append(
                    $('<option></option>').val(regions.COUNTRY_ID).html(regions.COUNTRY));
            });
        });
        $('#rbtnStates').click(function() {
            $('#COUNTRY_ID').show();
            $('#COUNTRY_ID').val('');
            $('#STATE_ID').hide();
            $('#STATE_ID').val('');
            $("#sbOne").empty();
        });
        $('#rbtnZipcodes').click(function() {
            $('#COUNTRY_ID').show();
            $('#COUNTRY_ID').val('');
            $('#STATE_ID').show();
            $("#sbOne").empty();
        });
    });
    function FillState() {
        var id = $('#COUNTRY_ID').val();
        $.ajax({
            url: URL + '/Shipping/GetStates/' + id,
            //url: '/Home/GetSubCategories',
            type: "Get",
            dataType: "json",
            success: function (states) {
                var regions = states;
                if($('#rbtnZipcodes').is(':checked')){
                    if (states.length === 0) {
                        $("#STATE_ID").html("<option value=''>No Subcategories</option>"); // clear before appending new list
                        $("#STATE_ID").attr('disabled', 'disabled');
                    }
                    else {
                        $.each(regions, function(i, regions) {
                            $("#STATE_ID").append(
                                $('<option></option>').val(regions.STATE_ID).html(regions.STATE));
                        });
                    }
                }
                else{
                    if (states.length === 0) {
                        $("#STATE_ID").html("<option value=''>No Subcategories</option>"); // clear before appending new list
                        $("#STATE_ID").attr('disabled', 'disabled');
                    }
                    else {
                        $.each(regions, function(i, regions) {
                            $("#sbOne").append(
                                $('<option></option>').val(regions.STATE_ID).html(regions.STATE));
                        });
                    }
                }
                }
        });
    }
    function Clear(){
        $('.shipingcode_hideshow').hide();
    }
</script>
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Add/Edit Shipping Codes</h3><br>
            </div>
        </div>

        <div class="title_content_top">
            <p>This interface allows you to add new Shipping Codes and edit existing codes for your own Store. This is a simple but powerful page that facilitates the complete ‘Shipping configurations’ at one place. You can define ‘Shipping Modes’, ‘Shipping Zones’ and associate the ‘Shipping Charges’ under each ‘Charge Type’. If the shipping is not free. you can define exclusive Shipping charges for ‘COD’ shipping and ‘Prepaid’ Shipping.</p>
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                @using (Html.BeginForm("Create", "Shipping", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="mmmrgnctrl_box">
                        <div class="mmcaption">Shipping Code Settings</div>
                        <div class="mrgin_gap">
                            @*<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">*@
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Shipping Code Name *</label>
                                    <div class="col-md-7 col-sm-12 col-xs-12">
                                        <input type="text" id="" name="" placeholder="" required="" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Shipping Method *</label>
                                    <div class="col-md-7 col-sm-12 col-xs-12">
                                        @Html.DropDownListFor(m => m.SHIPPING_DESC, new SelectList(Model.ShippingMethod, "SHIPPINGMETHOD_ID", "METHOD_NAME"), "Select ", new { @class = "select2_single form-control", id = "SHIPPING_DESC", tabindex = "-1" })
                                        @*<select class="select2_single form-control" tabindex="-1">
                                            <option value="0">-Select-</option>
                                            <option value="FLT" selected="selected">Flat</option>
                                            <option value="WT">Weight</option>
                                            <option value="CWT">Cart Weight</option>
                                            <option value="QTY">Cart Amount</option>
                                        </select>*@
                                    </div>
                                </div>
                            @*</form>*@
                        </div>
                    </div>

                    <div class="mmmrgnctrl_box">
                        <div class="mmcaption">Shipping charges</div>
                        <div class="mrgin_gap">
                            <div class="col-md-10">
                                <div class="insde_shp_ctrlbx">
                                    <h2>Zone Setting</h2>

                                    <div>
                                        @*<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">*@
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="" style="text-align: left; margin-bottom: 10px;">Define shipping zone *</label>

                                            <div class="col-md-12">
                                                <input type="radio" id="rbtnCounter" class="rbtnCounter" name="c" value="1"> This shipping zone is based on one or more countries<br>
                                                <input type="radio" id="rbtnStates" class="rbtnCounter" name="c" value="2"> This Shipping zone is based on one or more states or provinces<br>
                                                <input type="radio" id="rbtnZipcodes" class="rbtnCounter" name="c" value="2"> This shipping zone is based on one or more postal or zip codes
                                            </div>
                                        </div>

                                        <div class="clear"></div>
                                        <div class="col-md-5">
                                            <div class="slectonetoone_ctrl">
                                                @Html.DropDownListFor(m => m.CountryId, new SelectList(Model.ShippingCountries, "COUNTRY_ID", "COUNTRY_DESC"), "Select ", new { @class = "select2_single form-control", id = "COUNTRY_ID", tabindex = "-1", required = "required", onChange = "FillState()" })
                                                @Html.DropDownListFor(m => m.StateId, new SelectList(Enumerable.Empty<SelectListItem>(), "STATE_ID", "STATE"), "Select ", new { @class = "select2_single form-control", id = "STATE_ID", tabindex = "-1", required = "required", onChange = "FillRegionId()" })
                                                @*@Html.DropDownListFor(m => m.RegionId, new SelectList(Enumerable.Empty<SelectListItem>(), "REGION_ID", "REGION_ID"), "Select ", new { @class = "select2_single form-control", id = "REGION_ID", tabindex = "-1", required = "required" })*@
                                                <h1> Available Destinations</h1>
                                                <select multiple="MULTIPLE" class="slectonetoone" id="sbOne">
                                                    @*<option value="2">Beta</option>
                                                    <option value="3">Gamma</option>
                                                    <option value="4">Delta</option>
                                                    <option value="1">Alpha</option>
                                                    <option value="5">Epsilon</option>
                                                    <option value="6">Zeta</option>
                                                    <option value="7">Eta</option>
                                                    <option value="8">1dfg</option>
                                                    <option value="9">Gsder</option>
                                                    <option value="10">ZeNgdta</option>
                                                    <option value="11">Kyry</option>*@
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-1 row slectbtngpctrl">
                                            <input id="left" value="<" type="button">
                                            <input id="right" value=">" type="button">
                                        </div>

                                        <div class="col-md-5">
                                            <div class="slectonetoone_ctrl">
                                                <h1> Selected Destinations</h1>
                                                <select multiple="MULTIPLE" class="slectonetoone" id="sbTwo" name="SelectedShippingCodes"></select>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="" style="text-align: left; margin-bottom: 10px;"> Charges (INR ) *</label>

                                            <div class="col-md-12 row">
                                                <div class="col-md-2"><input type="radio" id="rbtnShipping" name="Shipping"> Free Shipping
                                                </div>
                                                <div class="col-md-2"><input type="radio" id="rbtnPrepaid" name="Shipping"> Prepaid
                                                </div>
                                                <div class="col-md-2"><input type="radio" id="rbtnCOD" name="Shipping"> COD
                                                </div>
                                            </div>

                                            <div class="clearfix"></div>
                                            <div class="shipingcode_hideshow">
                                                <h1>Prepaid Details</h1>
                                                <p>Note : The weight should be given same unit in mentioned</p>
                                                @*<div class="shpcd_formgroup">
                                                    <label>Range From</label>
                                                    <input type="text" class="shpcd_formg_txttype">

                                                    <label>to</label>
                                                    <input type="text" class="shpcd_formg_txttype">

                                                    <label>Shipping Cost is</label>
                                                    <input type="text" class="shpcd_formg_txttype">
                                                </div>*@
                                                @*<div class="shpcd_formgroup">
                                                    <label>Range From</label>
                                                    <input type="text" class="shpcd_formg_txttype">

                                                    <label>to</label>
                                                    <input type="text" class="shpcd_formg_txttype">

                                                    <label>Shipping Cost is</label>
                                                    <input type="text" class="shpcd_formg_txttype">
                                                </div>*@
                                                @*<div class="shpcd_formgroup">
                                                    <label>Range From</label>
                                                    <input type="text" class="shpcd_formg_txttype">

                                                    <label>to</label>
                                                    <input type="text" class="shpcd_formg_txttype">

                                                    <label>Shipping Cost is</label>
                                                    <input type="text" class="shpcd_formg_txttype">
                                                </div>*@
                                                <div class="shpcd_formgroup">
                                                    <label>Price Range</label>
                                                    <input type="text" id="txtPrice" class="shpcd_formg_txttype">

                                                    <label>to</label>
                                                    <input type="text" class="shpcd_formg_txttype">

                                                    <label>Shipping Cost is</label>
                                                    <input type="text" class="shpcd_formg_txttype">
                                                </div>
                                                <div class="shpcd_formgroup">
                                                    <label>weight Range</label>
                                                    <input type="text" class="shpcd_formg_txttype">

                                                    <label>to</label>
                                                    <input type="text" class="shpcd_formg_txttype">

                                                    <label>Shipping Cost is</label>
                                                    <input type="text" class="shpcd_formg_txttype">
                                                    <a href="#"> Add</a> &nbsp; | &nbsp;
                                                    <a href="#"> Remove</a>
                                                </div>
                                            </div>
                                        </div>

                                        
                                        @*</form>*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                            </div>

                        </div>
                    </div>

                    <hr>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <a href="@Url.Action("Index", "Shipping")"> <button type="button" class="btn btn-default pull-right">Cancel</button></a>
                        @*<button type="submit" class="btn btn-dark pull-right">Save</button>*@
                        <input type="submit" value="Save" class="btn btn-dark pull-right" />
                        @*<button type="button" class="btn btn-dark pull-right">Save to Contiune</button>*@
                    </div>
                    <br>
                    <br>
                    <br>
                }
            </div>
        </div>

    </div>
    <!-- /page content -->
    <br>
<script type="text/javascript">
    $(function () {
        function moveItems(origin, dest) {
            $(origin).find(':selected').appendTo(dest);
        }

        function moveAllItems(origin, dest) {
            $(origin).children().appendTo(dest);
        }

        $('#left').click(function () {
            moveItems('#sbTwo', '#sbOne');
        });

        $('#right').on('click', function () {
            moveItems('#sbOne', '#sbTwo');
        });

    });
</script>
<script>
    //$(document).ready(function () {
    //    $('input[type="submit"]').click(function () {
    //        var emptyVal = 0;
    //        $('[required]').each(function() {
    //            if ($(this).val() == "") {
    //                emptyVal = 1;
    //            }
    //        });
    //        if (emptyVal!=1)
    //            $('.loader-container').removeClass('hide');
    //    });
    //});
</script>
<div class='loader-container hide'>
    <div class='loader'>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--text'></div>
    </div>
</div>
<link href="~/Content/loader.css" rel="stylesheet" />
