﻿
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutGizmobaba.cshtml";
}
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Manage Shipping Codes</h3><br>
            </div>
        </div>

        <div class="title_content_top">
            <p>Shipping codes define the shipping charges applicable for delivering the products. Shipping Codes are formed by the combination of ‘Shipping Mode’ and ‘Zone’ along with respective ‘Shipping Charges’. The ‘Shipping Codes’ that are created for your own Store as well as for ‘Market Place’ are listed here. You can manage them as per your requirement.</p>
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel_nogap">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#MyStore" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">My Store</a></li>
                        <li role="presentation" class=""><a href="#Marketplace" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">Marketplace</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="MyStore">
                            <div class="mmctrl_box">
                                <div class="mmcaption">Available Shipping Codes</div>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Sl. No.	</th>
                                            <th>Code Name</th>
                                            <th>Code For</th>
                                            <th>Logistic Type</th>
                                            <th>Charge Type	</th>
                                            <th>SKU Count</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>flat  </td>
                                            <td>My Store  </td>
                                            <td>Self Shipping  </td>
                                            <td>CartAmount </td>
                                            <td>38 </td>
                                            <td>
                                                <span class="data_actions iconsweet">
                                                    <a href="" original-title="Edit"> <i class="fa fa-pencil-square-o"></i></a> &nbsp;
                                                    <a href="" original-title="Delete" onclick="javascript:return confirm('Are you sure you want to delete this Code?');"><i class="fa fa-trash"></i></a> &nbsp;
                                                    <a href="" original-title="SKU Association"><i class="fa fa-arrow-circle-o-up"></i></a>
                                                    <!--                                                <a original-title="Edit" class="tip_north" href="">C</a>
                                                                                                        <a original-title="Delete" onclick="javascript:return confirm('Are you sure you want to delete this Code?');" class="tip_north delete-icon" href="javascript:__doPostBack('ctl00$ctl00$Main$Main$grdExchange$ctl02$hlkDelete','')"></a>
                                                                                                        <a original-title="SKU Association" class="tip_north" href="#">I</a>-->
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>flat  </td>
                                            <td>My Store  </td>
                                            <td>Shipping  </td>
                                            <td>CartAmount </td>
                                            <td>44</td>
                                            <td>
                                                <span class="data_actions iconsweet">
                                                    <a href="" original-title="Edit"> <i class="fa fa-pencil-square-o"></i></a> &nbsp;
                                                    <a href="" original-title="Delete" onclick="javascript:return confirm('Are you sure you want to delete this Code?');"><i class="fa fa-trash"></i></a> &nbsp;
                                                    <a href="" original-title="SKU Association"><i class="fa fa-arrow-circle-o-up"></i></a>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>flat  </td>
                                            <td>My Store  </td>
                                            <td>Self Shipping  </td>
                                            <td>CartAmount </td>
                                            <td>12 </td>
                                            <td>
                                                <span class="data_actions iconsweet">
                                                    <a href="" original-title="Edit"> <i class="fa fa-pencil-square-o"></i></a> &nbsp;
                                                    <a href="" original-title="Delete" onclick="javascript:return confirm('Are you sure you want to delete this Code?');"><i class="fa fa-trash"></i></a> &nbsp;
                                                    <a href="" original-title="SKU Association"><i class="fa fa-arrow-circle-o-up"></i></a>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">4</th>
                                            <td>sonu  </td>
                                            <td>My Store  </td>
                                            <td>My Shipping  </td>
                                            <td>CartAmount </td>
                                            <td>28</td>
                                            <td>
                                                <span class="data_actions iconsweet">
                                                    <a href="" original-title="Edit"> <i class="fa fa-pencil-square-o"></i></a> &nbsp;
                                                    <a href="" original-title="Delete" onclick="javascript:return confirm('Are you sure you want to delete this Code?');"><i class="fa fa-trash"></i></a> &nbsp;
                                                    <a href="" original-title="SKU Association"><i class="fa fa-arrow-circle-o-up"></i></a>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <hr>
                            <div class="clearfix"></div>
                            <div class="col-md-12">
                                <a href="ShippingProfile_Add_Edit2.html">
                                    <button type="button" class="btn btn-dark pull-right">Add New Shipping Code for Marketplace</button>
                                </a>
                                <a href="ShippingProfile_Add_Edit.html">
                                    <button type="button" class="btn btn-default pull-right">Add New Shipping Code</button>
                                </a>
                            </div><br><br><br>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="Marketplace">
                            <div class="mmctrl_box">
                                <div class="mmcaption">Available Shipping Codes Result</div><br>
                                <br>

                                <div class="alert alert-danger" role="alert">There are no 'Payment Pending Orders' found.</div><br>

                            </div>

                            <hr>
                            <div class="clearfix"></div>
                            <div class="col-md-12">
                                <a href="ShippingProfile_Add_Edit2.html">
                                    <button type="button" class="btn btn-dark pull-right">Add New Shipping Code for Marketplace</button>
                                </a>
                                <a href="ShippingProfile_Add_Edit.html">
                                    <button type="button" class="btn btn-default pull-right">Add New Shipping Code</button>
                                </a>
                            </div><br><br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /page content -->
    <br>


