﻿@model IEnumerable<Gizmobaba.Models.AvailableShippingCodes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutGizmobaba.cshtml";
}

<script src="~/Scripts/orders.js"></script>
<script src="~/Scripts/shipping.js"></script>
<script>
    $(document).ready(function () {
        $('#REGION_ID').hide();
    });
</script>
<!-- icheck -->
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Manage Shipping Codes</h3><br>
        </div>
    </div>

    <div class="title_content_top">
        <p>Shipping codes define the shipping charges applicable for delivering the products. Shipping Codes are formed by the combination of ‘Shipping Mode’ and ‘Zone’ along with respective ‘Shipping Charges’. The ‘Shipping Codes’ that are created for your own Store as well as for ‘Market Place’ are listed here. You can manage them as per your requirement.</p>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">

            <div class="x_panel_nogap">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#MyOrders" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">MyStore</a></li>
                    <li role="presentation"><a href="#" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">Marketplace</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="MyOrders">
                        <div class="mrgin_gap20">
                            <div class="searchhs_holder_all">
                                <div style="display: none;" id="searchslidehs-panel">
                                    <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">
                                        <br>
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-3 col-xs-12">Code Name</label>
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                <input type="text" class="form-control" />
                                            </div>

                                            <label class="control-label col-md-2 col-sm-3 col-xs-12">Checkout Type</label>
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                <input type="checkbox"> Prepaid
                                                <input type="checkbox"> Cash On Delivery
                                                    @*<div class="checker" id="uniform-ctl00_ctl00_Main_Main_chkPrePaid"><span><input id="ctl00_ctl00_Main_Main_chkPrePaid" type="checkbox" name="ctl00$ctl00$Main$Main$chkPrePaid" style="opacity: 0;"></span></div><label for="ctl00_ctl00_Main_Main_chkPrePaid">Prepaid</label>*@
                                                    @*<div class="checker" id="uniform-ctl00_ctl00_Main_Main_chkCOD"><span><input id="ctl00_ctl00_Main_Main_chkCOD" type="checkbox" name="ctl00$ctl00$Main$Main$chkCOD" style="opacity: 0;"></span></div><label for="ctl00_ctl00_Main_Main_chkCOD">Cash On Delivery</label>*@
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-2" for="">Sku</label>
                                            <div class="col-md-3">
                                                <input id="txtSku" name="Sku" placeholder="" required="" class="form-control" type="text">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">Location(s)</label>
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                @Html.DropDownList("COUNTRY_ID", (SelectList)ViewBag.Country, "Select Country", new { @class = "select2_single form-control", id = "COUNTRY_ID", tabindex = "-1", onChange = "FillStates()" })

                                            </div>

                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                @Html.DropDownList("STATE_ID", new SelectList(Enumerable.Empty<SelectListItem>(), "STATE_ID", "STATE"), "Select State", new { @class = "select2_single form-control", id = "STATE_ID", tabindex = "-1", required = "required", onChange = "FillRegions()" })
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                @Html.DropDownList("REGION_ID", new SelectList(Enumerable.Empty<SelectListItem>(), "REGION_ID", "REGION_ID"), "Select ", new { @class = "select2_single form-control", id = "REGION_ID", tabindex = "-1", required = "required" })
                                            </div>
                                        </div>
                                    </form>

                                    <div class="clearfix"></div><br><br>

                                    <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
                                        <a href="#"><button type="button" class="btn btn-default pull-right" onclick="SearchOrder();">Go</button></a>
                                    </div>
                                </div>

                                <div class="sreachbtnhs-slide">
                                    <a href="#" class="sreachbtnhs_btn-slide">Search Here</a>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div><br>

                       
                    </div>

                    <div role="tabpanel" class="tab-pane" id="MarketplaceOrders">
                        <div class="mrgin_gap20">
                            <div class="searchhs_holder_all">
                                <div id="searchslidehs-panel2">
                                    <form id="demo-form2" class="form-horizontal form-label-left">
                                        <br>
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-3 col-xs-12">Period</label>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <select class="select2_single form-control" tabindex="-1">
                                                    <option selected="selected" value="custom">Custom</option>
                                                    <option value="thisweek">This week</option>
                                                    <option value="lastweek">Last Week</option>
                                                    <option value="thismonth">This Month</option>
                                                    <option value="lastmonth">Last Month</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">From Date</label>
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                <input id="" name="" placeholder="" required="" class="form-control" type="text">
                                            </div>

                                            <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">To Date</label>
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                <input id="" name="" placeholder="" required="" class="form-control" type="text">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-2" for="">Courier</label>
                                            <div class="col-md-3">
                                                <select class="select2_single form-control" tabindex="-1">
                                                    <option selected="selected" value="custom">Select</option>
                                                </select>
                                            </div>

                                            <label class="control-label col-md-2" for="">Category</label>
                                            <div class="col-md-5">
                                                <span class="prettyFile">
                                                    <input name="form[files][]" multiple="" type="file">
                                                    <div class="input-append">
                                                        <input class="input-large_brwse" type="text">
                                                        <a href="#" class="btn_brwse">Choose</a>
                                                    </div>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-2">Location</label>
                                            <div class="col-md-3">
                                                <select class="select2_single form-control" tabindex="-1">
                                                    <option selected="selected" value="custom">Custom</option>
                                                    <option value="thisweek"></option>
                                                </select><input type="checkbox"> Mart Jack Support

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-2">Search by</label>
                                            <div class="col-md-3">
                                                <select class="select2_single form-control" tabindex="-1">
                                                    <option selected="selected" value="custom">Custom</option>
                                                    <option value="Order No">Order No</option>
                                                    <option selected="selected" value="SKU">SKU</option>
                                                    <option value="Awb No">Awb No</option>
                                                    <option value="Email Id">Email Id</option>
                                                    <option value="Phone No">Phone No</option>
                                                    <option value="Coupon Code">Coupon Code</option>
                                                    <option value="Checkout Type">Checkout Type</option>
                                                    <option value="Shipment ID">Shipment ID</option>
                                                    <option value="Issue Type">Issue Type</option>
                                                    <option value="Order Source">Order Source</option>
                                                </select>
                                            </div>
                                            <div class="plusiconforadd"><a class="search-plus-btnsm"><i class="fa fa-plus"></i></a></div>
                                        </div>

                                        <div class="form-group" id="search-plus-btnsmhs">
                                            <label class="control-label col-md-2">Search by</label>
                                            <div class="col-md-3">
                                                <select class="select2_single form-control" tabindex="-1">
                                                    <option selected="selected" value="custom">Custom</option>
                                                    <option value="Order No">Order No</option>
                                                    <option selected="selected" value="SKU">SKU</option>
                                                    <option value="Awb No">Awb No</option>
                                                    <option value="Email Id">Email Id</option>
                                                    <option value="Phone No">Phone No</option>
                                                    <option value="Coupon Code">Coupon Code</option>
                                                    <option value="Checkout Type">Checkout Type</option>
                                                    <option value="Shipment ID">Shipment ID</option>
                                                    <option value="Issue Type">Issue Type</option>
                                                    <option value="Order Source">Order Source</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <input id="" name="" placeholder="" required="" class="form-control" type="text">
                                            </div>
                                            <div class="plusiconforadd"><a href=""><i class="fa fa-plus"></i></a></div>
                                        </div>
                                    </form>

                                    <div class="clearfix"></div><br><br>

                                    <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
                                        <a href="#"><button type="button" class="btn btn-default pull-right">Go</button></a>
                                    </div>
                                </div>

                                <div class="sreachbtnhs-slide">
                                    <a href="#" class="sreachbtnhs_btn-slide">Search Here</a>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div><br>

                        <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
                            <div class="pull-right">
                                <a href="#"><button type="button" class="btn btn-default">Pickup</button></a>
                                <a href="#"><button type="button" class="btn btn-default">Export to Excel</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="x_panel_nogap">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#MyStore" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">My Store</a></li>
                    <li role="presentation" class=""><a href="#Marketplace" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">Marketplace</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="MyStore">
                        <div class="mmctrl_box" id="partialView">
                            @{
                                Html.RenderPartial("~/Views/Shared/_shippingPartial.cshtml", Model);
                            }
                        </div>
                        <div class="dataTables_length" id="example_length">
                            <label>
                                &nbsp; Records per page
                                @using (Ajax.BeginForm("Index", "Shipping", new { },
            new AjaxOptions
            {
                HttpMethod = "Get",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "partialView"
            }, new { id = "getUserDate" }))
                                {
      <!-- whatever --><select aria-controls="example" size="1" style="width: 56px;padding: 6px;" onchange="FillShippingCodes();" name="id">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>

                                    <script>
                                        function FillShippingCodes() {
                                           // alert('Hi');
                                            $('#getUserDate').submit();
                                        }
                                    </script>
                                }


                            </label>
                        </div>



                        <hr>
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <a href="@Url.Action("Create","Shipping")">
                                <button type="button" class="btn btn-dark pull-right">Add New Shipping Code for Marketplace</button>
                            </a>
                            <a href="@Url.Action("Create","Shipping")">
                                <button type="button" class="btn btn-default pull-right">Add New Shipping Code</button>
                            </a>
                        </div><br><br><br>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="Marketplace">
                        <div class="mmctrl_box">
                            <div class="mmcaption">Available Shipping Codes Result</div><br>
                            <br>

                            <div class="alert alert-danger" role="alert">There are no 'Payment Pending Orders' found.</div><br>

                        </div>

                        <hr>
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                                <a href="@Url.Action("Create","Shipping")"><button type="button" class="btn btn-dark pull-right">Add New Shipping Code for Marketplace</button></a>
                            <a href="@Url.Action("Create","Shipping")">
                                <button type="button" class="btn btn-default pull-right">Add New Shipping Code</button>
                            </a>
                        </div><br><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /page content -->
<br>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

