﻿@model Gizmobaba.Models.FeatureTypeViewModel

@{
    ViewBag.Title = "AddFeatureAccess";
    Layout = "~/Views/Shared/_LayoutGizmobaba.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {

    });
</script>

<div class="page-title">
    <div class="title_left">
        <h3> List of Roles <i class="fa fa-caret-right"></i> Add/Edit Custom Role</h3><br>
    </div>
</div>

<div class="title_content_top">
    <p>
        This interface enables you to view the available predefined or custom roles, which are used for creating role-based users (i.e. store operators). Role-based users are authorized users of your control panel and can access only those functionalities, which are assigned to their mapped roles. You can also create or modify or delete custom roles. You can view and copy the mapped functionalities of any role, and use the copied functionalities while creating a new role.
    </p>
</div>
<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="mmctrl_box mrgin_gap0 mmctrl_tble_line">
            <div class="mmcaption">List of Roles</div>
            @*<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">*@
            @using (Html.BeginForm("AddFeatureAccess", "User", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = "return validateForm();" }))
            {
                <br>
                <div class="form-group">
                    <label class="control-label col-md-2" for="">Role Name <span class="red">*</span> </label>
                    <div class="col-md-9">
                        @Html.HiddenFor(model => model.UserModel.ROLE)
                        @Html.HiddenFor(model => model.UserModel.USER_ID)
                        @Html.TextBoxFor(model => model.UserModel.EMAIL, new { @class = "form-control", disabled="true", placeholder = "" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="">Role Description </label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.UserModel.USER_NAME, new { @class = "form-control", disabled = "true", placeholder = "" })
                    </div>
                </div>
                @*</form>*@
                <hr>
                <br>


                <div class="userroles_addedit_select_holder uash_table">
                    <!--<h1><input type="checkbox" id="ckbCheckAll"/> Catalog</h1>

                    <div class="col-md-4">
                        <p id="checkBoxes">
                            <input type="checkbox" class="checkBoxClass" id="Checkbox1"/>
                            <input type="checkbox" class="checkBoxClass" id="Checkbox2"/>
                            <input type="checkbox" class="checkBoxClass" id="Checkbox3"/>
                            <input type="checkbox" class="checkBoxClass" id="Checkbox4"/>
                            <input type="checkbox" class="checkBoxClass" id="Checkbox5"/>
                        </p>
                    </div>-->
                    @if (Model != null)
                    {
                        foreach (var item in Model.FeatureType.Where(a => a.STATUS == 1))
                        {
                            <table class="table mrgin_gap0">
                                <thead>
                                    <tr>
                                        @*<th colspan="2"><input type="checkbox" id="ckbCheck_@(item.FEATURE_TYPE_ID)"> @item.FEATURE_TYPE</th>*@
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody id="checkBoxes">
                                    <tr>
                                        <td>

                                            @if (item.FEATURE_TYPE_ID != 0)
                                            {
                                                int id = item.FEATURE_TYPE_ID;
                                                int count = 1;
                                                //foreach (var list in Model.FeatureType.Where(a => a.STATUS == 2 && a.ID == id))
                                                //{
                                                if (item.chkBox == 0)
                                                    {
                                                        <div class="col-md-4">
                                                            <input type="checkbox" name="@item.FEATURE_TYPE" class="checkBoxClass_@(item.FEATURE_TYPE_ID)" id="Checkbox1" value="@item.FEATURE_TYPE_ID"> @item.FEATURE_TYPE
                                                        </div>
                                                    }
                                                else if (item.chkBox == 1)
                                                    {
                                                        <div class="col-md-4">
                                                            <input type="checkbox" name="@item.FEATURE_TYPE" class="checkBoxClass_@(item.FEATURE_TYPE_ID)" id="Checkbox1" checked="checked" value="@item.FEATURE_TYPE_ID"> @item.FEATURE_TYPE
                                                        </div>
                                                    }
                                               // }
                                            }

                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        }
                    }
                    <br>


                </div>
                <div class="clearfix"></div>
                <br>


                <div class="col-md-12 graycolorbg0">
                    <div class="pull-right">
                        <a href="@Url.Action("Roles", "Settings")"><button type="button" class="btn btn-default">Back</button></a>
                        <a href="#"><button type="submit" class="btn btn-dark">Save</button></a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- /page content -->
<br>


<script>
    NProgress.done();
    $(document).ready(function () {

        $("#ckbCheck_3007").click(function () {
            $(".checkBoxClass_3007").prop('checked', $(this).prop('checked'));
        });

        $("#ckbCheck_3008").click(function () {
            $(".checkBoxClass_3008").prop('checked', $(this).prop('checked'));
        });

        $("#ckbCheck_3009").click(function () {
            $(".checkBoxClass_3009").prop('checked', $(this).prop('checked'));
        });

        $("#ckbCheck_3010").click(function () {
            $(".checkBoxClass_3010").prop('checked', $(this).prop('checked'));
        });

        $("#ckbCheck_3011").click(function () {
            $(".checkBoxClass_3011").prop('checked', $(this).prop('checked'));
        });

        $("#ckbCheck_3012").click(function () {
            $(".checkBoxClass_3012").prop('checked', $(this).prop('checked'));
        });
        $("#ckbCheck_3013").click(function () {
            $(".checkBoxClass_3013").prop('checked', $(this).prop('checked'));
        });


        $('button[type="submit"]').click(function () {
            var emptyVal = 0;
            $('[required]').each(function () {
                if ($(this).val() == "") {
                    emptyVal = 1;
                }
            });
            if (emptyVal != 1)
                $('.loader-container').removeClass('hide');
        });
    });
    function validateForm() {
        $('.loader-container').removeClass('hide');
    }
</script>
<div class='loader-container hide'>
    <div class='loader'>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--text'></div>
    </div>
</div>
<link href="~/Content/loader.css" rel="stylesheet" />