﻿@model Gizmobaba.Models.RolesModel

@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_LayoutGizmobaba.cshtml";
}

@section GizmobabaHeadFiles{
    <link href="~/GizmobabaFiles/css/fSelect.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/GizmobabaFiles/css/green.css" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="http://www.jqueryscript.net/demo/Export-Html-Table-To-Excel-Spreadsheet-using-jQuery-table2excel/src/jquery.table2excel.js"></script>
    <script>
        var URL = '@System.Configuration.ConfigurationManager.AppSettings["baseUrl"]';
        $(document).ready(function () {
            $('#check-all').click(function () {
                if ($(this).is(':checked')) {
                    $('#tblPro tbody').find('input[type=checkbox]').prop('checked', true);
                } else {
                    $('#tblPro tbody').find('input[type=checkbox]').prop('checked', false);
                }
            });
        });
        function UpdateUsers()
        {
            var errer = "";
            var userIdList = $.map($('#tblPro').find('.input-check-box:checked'), function (obj) {
                return $(obj).parents('tr').attr('id');
            });
            var statusId = $('#ddlStatus').val();
            var data = { 'userIdList': userIdList, 'statusId': statusId };
            alert(statusId + " " + userIdList);
            if (userIdList.length == 0)
            {
                error = '<div class="alert alertnew alert-danger fade in"><a href="#" class="close" data-dismiss="alert">×</a>' +
   '<strong>Error!</strong> Select at list one user </div>';
                $('#divCustomer').append(error);
                $('.alert').fadeOut(10000);
                $('.loader-container').addClass('hide');
                $('#tblPro').find('.input-check-box:checked').attr('checked', false);
                return false;
            }
            if (statusId != 0 && statusId != 6) {
                $.ajax({
                    //url: URL + '/User/UpdateUserStatus',
                    url: '/User/UpdateUserListStatus',
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    async: false,
                    data: JSON.stringify(data),
                    dataType: "json",
                    success: function (data) {
                      //  alert(data);
                        error = '<div class="alert alertnew alert-success fade in">' +
                                '<a href="#" class="close" data-dismiss="alert">×</a>' +
                                '<strong>Success!</strong> successfully updated </div>';
                        $.each(userIdList, function (index, value) {
                            $('#' + value).remove();
                        });
                    },
                    error: function (xhr) {
                        alert(xhr);
                    }
                });
            } else {
                 error = '<div class="alert alertnew alert-danger fade in"><a href="#" class="close" data-dismiss="alert">×</a>' +
     '<strong>Error!</strong> Select User Group </div>';
               
            }
            $('#divCustomer').append(error);
            $('.alert').fadeOut(10000);
            $('.loader-container').addClass('hide');
            $('#tblPro').find('.input-check-box:checked').attr('checked', false);
        }
    </script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="~/Scripts/paging.js"></script>
<link href="~/Content/paging.css" rel="stylesheet" />
}

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>User Profile</h3><br>
        </div>
    </div>

    <div class="title_content_top">
        <p>Profile of the ‘Registered Users’ in your web store can be viewed by multiple filtering options such as Last Login Date/Account Creation Date, Group, User name, etc... You can create new users, add users into user groups, move users between groups, bulk import &amp; edit existing user data, and bulk upload user data taken from external sources through an excel sheet.</p>
    </div>
    <div class="clearfix"></div>
    @if (ViewBag.SuccessMessage != null)
    {
        <div class="alert alertnew alert-success fade in">
            <a href="#" class="close" data-dismiss="alert">×</a>
            <strong>Success!</strong> @ViewBag.SuccessMessage
        </div>
    }
    else if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alertnew alert-danger fade in">
            <a href="#" class="close" data-dismiss="alert">×</a>
            <strong>Error!</strong> @ViewBag.ErrorMessage
        </div>
    }

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="mmctrl_box">
                    <div class="mmcaption">Search Options</div><br><br>
                    @using (Ajax.BeginForm("Search", "User", new { },
            new AjaxOptions
            {
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "partialView"
            }, new { id = "searchUsers" }))
                    {
                        @*<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">*@
                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-3 col-xs-12">Search by</label>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <select class="select2_single form-control" tabindex="-1">
                                    <option value="">Select a type</option>
                                    <option value="CreateDate">Create Date</option>
                                    <option value="LastLogin">Last Login Date</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">From Date</label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <input id="txtFromDate" name="FromDate" placeholder="" required="" class="form-control" type="text">
                            </div>

                            <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">To Date</label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <input id="txtToDate" name="ToDate" placeholder="" required="" class="form-control" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-3 col-xs-12">Group</label>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <select class="select2_single form-control" name="ROLE" tabindex="-1">
                                    <option selected="selected" value="0">--Select Search--</option>
                                    <option value="10">Gold</option>
                                    <option value="11">Silver</option>
                                    <option value="12">Platinum</option>
                                    <option value="5">Global Vender</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-3 col-xs-12">Search by</label>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <select class="select2_single form-control" id="ddlSearch" tabindex="-1">
                                    <option selected="selected" value="">--Select Search--</option>
                                    <option value="FIRST_NAME">First Name</option>
                                    <option value="LAST_NAME">Last Name</option>
                                    <option value="EMAIL">Email</option>
                                    <option value="MOB_NO">Phone Number</option>
                                    <option value="deactivated">DeActivated Users</option>
                                </select>
                            </div>

                            <label class="control-label col-md-2 col-sm-3 col-xs-12" for=""> </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <input id="" name="" placeholder="" required="" class="form-control search_init" type="text">
                                @*<input kl_virtual_keyboard_secure_input="on" id="" name="" placeholder="" required="" class="form-control" type="text">*@
                            </div>
                        </div>
                        @*</form>*@
                        <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg0">
                            <div class="pull-right">
                                <a href="#"><button type="button" class="btn btn-dark" onclick="SearchUser();">Search</button></a>
                            </div>
                        </div>
                    }
                    <br>
                </div>


                <div class="mmctrl_box">
                    <div class="mmcaption" >
                        <i class="fa fa-user"></i> &nbsp; User Profile
                        <div class="flt_rghtalgn">
                            @using (Ajax.BeginForm("GetUsersData", "User", new { count = 100 },
    new AjaxOptions
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "partialView"
    }, new { id = "getUserDate" }))
                            {

                                <select class="select2_single form-control" name="roleId" onchange="FillUser();" tabindex="-1" id="ddlStatus">
                                    <option selected="selected" value=""> -- Select Group -- </option>
                                    <option value="0">All</option>
                                    <option value="6">Customer</option>
                                    <option value="18">Gold</option>
                                    <option value="19">Silver</option>
                                    <option value="20">Platinum</option>
                                </select>
                                <script>
    function FillUser() {
      //  $('#getUserDate').submit();
    }
                                </script>
                            }
                        </div>
                    </div>
                    @*User List*@
                    <div id="partialView">
                        @{
                            Html.RenderPartial("~/Views/Shared/_customerPartial.cshtml", Model.userModel);
                        }
                    </div>
                    @*<div class="dataTables_length" id="example_length">
                        <label>
                            &nbsp; Records per page
                            @using (Ajax.BeginForm("GetUsersData", "User", new { roleID = Model.ROLE_ID },
            new AjaxOptions
            {
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "partialView"
            }, new { id = "getUserDate" }))
                            {
      <select aria-controls="example" size="1" style="width: 56px;padding: 6px;" onchange="FillUser();" name="count">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>

                                <script>
                                        function FillUser() {
                                            $('#getUserDate').submit();
                                        }
                                        function SearchUser() {
                                            $('#searchUsers').submit();
                                        }

                                </script>
                            }


                        </label>
                    </div>*@
                    <br />
                    <br />
                    <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg0">
                        <div class="pull-right">
                            <a href="javascript:;"><button type="button" class="btn btn-dark" onclick="UpdateUsers();">Add To Group</button></a>
                            <a href="@Url.Action("Create", "User")"><button type="button" class="btn btn-dark">Create New User</button></a>
                            <button id="exportExcel" type="button" class="btn btn-default">Export to Excel</button>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div id="divCustomer"></div>

                </div>
                <br>

                <div class="mmctrl_box">
                    <div class="mmcaption"><i class="fa fa-user"></i> &nbsp; Bulk Users Upload</div><br>
                    <p style="padding:10px;">
                        To download the default Bulk User Excel template,
                        &nbsp; <b class="linkas">
                            @Html.ActionLink("Click Here", "DownloadUserSheet", "User", new { @class = "" })
                        </b>
                    </p>
                    <hr>
                    @*<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">*@
                    @using (Html.BeginForm("UserImport", "User", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = "return validateForm();" }))
                    {
                        @*<div class="form-group">
                                <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">Select File</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <input kl_virtual_keyboard_secure_input="on" id="" name="" placeholder="13245689" required="" class="form-control" type="text">
                                </div>
                            </div>*@

                        <div class="form-group">
                            <label class="control-label col-md-2" for="">Select File</label>

                            <div class="col-md-5">
                                <span class="prettyFile">
                                    <input name="file" type="file" id="file">
                                    <div class="input-append">
                                        <input class="input-large_brwse" type="text">
                                        <a href="#" class="btn_brwse">Browse</a>
                                    </div>
                                </span>
                            </div>
                        </div>
                        @*</form>*@


                        <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg0">
                            <div class="pull-right">
                                <a href="javascript:;"><button type="submit" class="btn btn-default">upload</button></a>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>

</div>
<!-- /page content -->
<br>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
@section Gizmobabascripts
{
    <script src="~/GizmobabaFiles/js/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <!-- icheck -->
    <script src="~/GizmobabaFiles/js/icheck/icheck.min.js"></script>
    <script src="~/GizmobabaFiles/js/fSelect.js"></script>
    <script>
        $(function () {
            $('#txtFromDate').datepicker({
                onClose: function (selectedDate) {
                    $("#txtToDate").datepicker("option", "minDate", selectedDate);
                }
            });
            $('#txtToDate').datepicker({
                onClose: function (selectedDate) {
                    $("#txtFromDate").datepicker("option", "maxDate", selectedDate);
                }
            });

            $('.demo').fSelect();
            // $('.demo').val();
            $(".tagsSelect").on('click', '.fss_btn', function () {
                var tagIdList = $('.demo').val();
                var productIdList = $.map($('#tblPro').find('.input-check-box:checked'), function (obj) {
                    return $(obj).parents('tr').attr('id');
                });
                var data = { 'tagIdList': tagIdList, 'productIdList': productIdList };
                $.ajax({
                    url: 'Admin/Home/AddTagToProduct',
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    async: false,
                    data: JSON.stringify(data),
                    dataType: "json",
                    //  processData: false,
                    // cache: false,
                    success: function (data) {
                        alert('Success');
                    },
                    error: function (xhr) {
                        alert(xhr);
                    }
                });
            });
        });

    </script>
    <script>
        NProgress.done();
        $(document).ready(function () {
            $('#tblPro').paging({ limit: 15 });
            $('.paging_full_numbers').find("[data-page='0']").attr('class', "selected-page");

            $('button[type="submit"]').click(function () {
                var emptyVal = 0;
                $('[required]').each(function () {
                    if ($(this).val() == "") {
                        emptyVal = 1;
                    }
                });
                if (emptyVal != 1)
                    $('.loader-container').removeClass('hide');
            });
        });
        function validateForm() {
            $('.loader-container').removeClass('hide');
            if ($('#file').val() == "") {
                $('#file').parents('div.col-md-5').append('<label class="error">Please browse User Excel template.</label>');
                $('.loader-container').addClass('hide');
                // return true;
                return false;
            }
        }
        $('#ddlSearch').change(function () {
            $('.search_init').attr("id", $(this).val());
            $('.search_init').attr("name", $(this).val());
        })
    </script>


}
<div class='loader-container hide'>
    <div class='loader'>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--text'></div>
    </div>
</div>
<link href="~/Content/loader.css" rel="stylesheet" />

<style>
    .flt_rghtalgn {
        background-color: #fff;
    }
</style>
