﻿@model Gizmobaba.Models.DealerView
@using Newtonsoft.Json
@{
    ViewBag.Title = "DealerProfile";
    Layout = "~/Views/Shared/_LayoutGizmobaba.cshtml";
}

<div class="col-md-12 col-sm-12 col-xs-12">
<div class="mmctrl_box mrgin_gap0">
<div class="mmcaption">Dealer Profile</div>
@if (TempData["SuccessMessage"] != null && TempData["SuccessMessage"] != "")
{
    <div class="alert alertnew alert-success fade in">
        <a href="#" class="close" data-dismiss="alert">×</a>
        <strong>Success!</strong> @TempData["SuccessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null && TempData["ErrorMessage"] != "")
{
    <div class="alert alertnew alert-danger fade in">
        <a href="#" class="close" data-dismiss="alert">×</a>
        <strong>Error!</strong> @TempData["ErrorMessage"]
    </div>
}
@*<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">*@
<br>
<div class="col-md-12">

@using (Html.BeginForm("AddDealer", "Account", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = "return validateForm();" }))
{
    <div class="row">
        <div class="col-md-6">
            <br>

            @if (Model != null && Model.Dealer != null && Model.Dealer.USERDETAIL_ID != 0)
            {
    <div class="form-group">
        <label class="control-label col-md-3">Ref Account No</label>
        <div class="col-md-9">
            @Html.HiddenFor(model => model.Dealer.ROLE, new { id = "ROLE" })
            @Html.HiddenFor(model => model.Dealer.USER_ID, new { id = "USER_ID" })
            @Html.HiddenFor(a => a.Dealer.USERDETAIL_ID)
            @Html.TextBoxFor(model => model.Dealer.USER_ID, new { @class = "form-control", id = "txtuserId" })
        </div>
    </div>
            }
            else
            {
                @Html.HiddenFor(model => model.Dealer.ROLE, new { id = "ROLE" })
                @Html.HiddenFor(model => model.Dealer.USER_ID, new { id = "USER_ID" })
                @Html.HiddenFor(a => a.Dealer.USERDETAIL_ID)
            }

            <div class="form-group">
                <label class="control-label col-md-3">User Name</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.Dealer.USER_NAME, new { @class = "form-control", required = "" })
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-md-3">Email / Login Id</label>
                @if (Model != null && Model.Dealer.EMAIL != null)
                {
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.Dealer.EMAIL, new { @class = "form-control" })
                    </div>
                }
                else
                {

    <div class="col-md-5 email">
        @*@Html.TextBoxFor(model => model.Dealer.EMAIL, new { @class = "form-control", id = "txtDealerEmail", onchange = "checkEmail();" })*@
        @Html.TextBoxFor(model => model.Dealer.EMAIL, new { @class = "form-control", id = "txtDealerEmail", onchange = "checkEmail();" })
     </div>
    <div class="col-md-4">
        <input type="text" id="txtEmail" value="&#64;gizmobaba.com" class="form-control" />
    </div>
                }
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">Mobile Number</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.Dealer.ALT_MOB, new { @class = "form-control", @onkeypress = "return isNumber(event)", @MaxLength = "12" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">Company</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.Dealer.COMPANY, new { @class = "form-control", required = "" })
                </div>
            </div>        

            <div class="form-group">
                <label class="control-label col-md-3">Pincode</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.Dealer.PIN, new { @class = "form-control", @onkeypress = "return isNumber(event)", @MaxLength = "6" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">Address</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.Dealer.ADDRESS, new { @class = "form-control" })
                </div>
            </div>

        </div>

        <div class="col-md-6">
            <br>
            

            <div class="form-group">
                <label class="control-label col-md-3">Country</label>
                <div class="col-md-9">
                    @Html.DropDownListFor(m => m.Dealer.COUNTRY, new SelectList(Model.Dealer.Countries, "COUNTRY_ID", "COUNTRY_DESC"), "Select ", new { @class = "select2_single form-control", id = "COUNTRY_ID", tabindex = "-1", required = "required", onChange = "FillState()" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">State</label>
                @if (Model.Dealer.STATE != 0)
                {
                    <div class="col-md-9">
                        @Html.DropDownListFor(m => m.Dealer.STATE, new SelectList(Model.Dealer.States, "STATE_ID", "STATE"), "Select ", new { @class = "select2_single form-control", id = "STATE_ID", tabindex = "-1", required = "required", onChange = "FillRegionId()" })
                    </div>
                }
                else
                {
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.Dealer.STATE, new SelectList(Enumerable.Empty<SelectListItem>(), "STATE_ID", "STATE"), "Select ", new { @class = "select2_single form-control", id = "STATE_ID", tabindex = "-1", required = "required", onChange = "FillRegionId()" })
                    </div>
                }
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">City</label>
                @if (Model.Dealer.CITY != null && Model.Dealer.CITY != 0)
                {
                    <div class="col-md-9">
                        @Html.DropDownListFor(m => m.Dealer.CITY, new SelectList(Model.Dealer.Cityes, "REGION_ID", "REGION"), "Select ", new { @class = "select2_single form-control", id = "REGION_ID", tabindex = "-1", required = "required", onChange = "FillState()" })
                    </div>
                }
                else
                {
                    <div class="col-md-9">
                        @Html.DropDownListFor(m => m.Dealer.CITY, new SelectList(Enumerable.Empty<SelectListItem>(), "REGION_ID", "REGION"), "Select ", new { @class = "select2_single form-control", id = "REGION_ID", tabindex = "-1", required = "required" })
                    </div>
                }
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">Master Franchise</label>
                <div class="col-md-9">
                    @Html.DropDownListFor(m => m.Dealer.CREATED_BY, new SelectList(Enumerable.Empty<SelectListItem>(), "USERDETAIL_ID", "USER_NAME"), "Select ", new { @class = "select2_single form-control", id = "ddlMasterFranchise", tabindex = "-1", required = "required", onchange = "FillMasterFCWallet()" })
                    @*<select class="form-control" id="ddlMasterFranchise" name="@Model.Dealer.CREATED_BY" onchange="FillMasterFCWallet()">
                            <option value="0">Select Master Franchise</option>
                        </select>*@
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">Recharge Wallet</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.Dealer.WALLET, new { @class = "form-control", onkeyup = "WaleetCheck();", id = "txtWallet", required = "", @onkeypress = "return isNumber(event)", @MaxLength = "7" })
                    @*<input type="number" value="@Model.Dealer.WALLET" name="@Model.Dealer.WALLET" onkeyup="WaleetCheck();" id="txtWallet" class="form-control"/>*@
                    <span>Master Franchise Wallet Points <label style="color: green" id="lblWallet"></label> </span>
                    @*@Html.TextBoxFor(model => model.WALLET, new {@class = "form-control", required = ""})*@
                </div>
            </div>

            @*<div class="form-group">
                <label class="control-label col-md-3"> Wallet Amount</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.Dealer.AMOUNT, new { @class = "form-control", required = "", id = "txtAmount", @readonly = "readonly" })
                </div>
            </div>*@
        </div>

        </div>
    <div class="row">
        <div class="mmctrl_box mrgin_gap0">
            <div class="mmcaption">Select Categories</div>
            <div class="mrgin_gap20">
                <div class="row">
                    <div class="col-md-5">
                        <div class="slectonetoone_ctrl">
                            <h1>Available Categories</h1>
                            @Html.DropDownListFor(m => m.SelectedCategoryList, new SelectList(Model.CategoryList, "CATEGORY_ID", "CATEGORY_DESC"), null, new { multiple = "MULTIPLE", @class = "slectonetoone", @id = "sbOne" })
                        </div>
                    </div>
                    @if (Model.SelectedCategory != null)
                    {
                    foreach (var code in Model.SelectedCategory)
                    {
                        <script>
                            $(document).ready(function () {
                                $('#sbOne option[value=@code]').attr('selected', true);
                            });
                        </script>
                    }
                    }
                    <div class="col-md-1 row slectbtngpctrl">
                        <input id="left" value="&lt;" type="button">
                        <input id="right" value="&gt;" type="button">
                    </div>
                    <script>
                        $(document).ready(function () {
                            $('#right').click(function () {
                                $('#sbTwo').append($('#sbOne option:selected'));
                            });
                            $('#left').click(function () {
                                $('#sbOne').append($('#sbTwo option:selected').removeAttr('selected'));
                            });
                            $('#right').click();
                        });
                    </script>

                    <div class="col-md-5">
                        <div class="slectonetoone_ctrl">
                            <h1>Selected Categories</h1>
                            <select multiple="MULTIPLE" class="slectonetoone" id="sbTwo" name="Dealer.SelectedCategory"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>

        <div class="clearfix"></div>
        <br>
        <hr>
        <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
            <div class="pull-right">
                <a href="#"><button type="submit" class="btn btn-dark">Save</button></a>
                @*<a href="#"><button type="button" id="btnDeactive" class="btn btn-dark">De-Active</button></a>*@
                <a href="#"><button type="button" class="btn btn-default btnBack ">Cancel</button></a>
            </div>
        </div>
        }
        @*/form>*@

    </div>


</div>
</div>
<div id="partiaSaleslView">
    @{
        Html.RenderPartial("~/Views/Shared/_dealerPaymentDetails.cshtml");
    }
</div>

@if (Model != null && Model.DealerList != null && Model.DealerList.Count() != 0)
{
    <div id="partialView">
        @{
    Html.RenderPartial("~/Views/Shared/_rechargeWalletPartial.cshtml", Model.DealerList);
        }
    </div>
}

<script src="~/Scripts/common.js"></script>

<script type="text/javascript">
    var URL = '@System.Configuration.ConfigurationManager.AppSettings["baseUrl"]';
    var modelCountry = @Html.Raw(JsonConvert.SerializeObject(Model.Dealer.Countries.ToList()));
    var dealerDetails = @Html.Raw(JsonConvert.SerializeObject(Model.Dealer));
    $(document)
        .ready(function() {
            $('.error').html('');
            $('.succ').html('');

            $('button[type="submit"]')
                .click(function() {
                    var emptyVal = 0;
                    $('[required]')
                        .each(function() {
                            if ($(this).val() == "") {
                                emptyVal = 1;
                            }
                        });
                    if (emptyVal != 1)
                        $('.loader-container').removeClass('hide');
                });
            if ($('#txtuserId').val() == '') {
                $('#txtuserId').val('10005');
                $('#btnDeactive').hide();
            }
            $('.btnBack')
                .click(function() {
                    history.back();
                });
                $('#COUNTRY_ID').val('1');
                FillState();
            if (dealerDetails != null && dealerDetails.STATE != 0) {
                FillMasterFC(dealerDetails.STATE);
                if (dealerDetails.CREATED_BY != '' && dealerDetails.CREATED_BY != 'null') {
                    $('#ddlMasterFranchise').val(dealerDetails.CREATED_BY);
                }
            }

            $('.btnBack').click(function () {
                history.back();
            });
            if($("#ddlMasterFranchise").val() != '' || $("#ddlMasterFranchise").val() != 'null'){
                FillMasterFCWallet();
            }
        });


    function FillState() {
        $('.loader-container').removeClass('hide');
        var id = $('#COUNTRY_ID').val();
        $.ajax({
            url: URL + '/Shipping/GetStates/' + id,
            //url: '/Home/GetSubCategories',
            type: "Get",
            dataType: "json",
            success: function(states) {
                var regions = states;
                if (states.length == 0) {
                    $("#STATE_ID").html("<option value=''>No States</option>"); // clear before appending new list
                    $('.loader-container').addClass('hide');
                } else {
                    $.each(regions,
                        function(i, regions) {
                            $("#STATE_ID")
                                .append(
                                    $('<option></option>').val(regions.STATE_ID).html(regions.STATE));
                        });
                    $('.loader-container').addClass('hide');
                }
            }
        });
    }

    function FillRegionId() {
        var id = $('#STATE_ID').val();
        $("#REGION_ID").html("<option value='0'>Select City</option>"); // clear before appending new list
        $('.loader-container').removeClass('hide');
        $.ajax({
            url: URL + '/Shipping/GetRegions/' + id,
            //url: '/Shipping/GetSubCategories',
            type: "Get",
            dataType: "json",
            success: function(regions) {
                if (regions.length == 0) {
                    $("#REGION_ID").html("<option value=''>No Cities</option>"); // clear before appending new list
                } else {
                    $.each(regions,
                        function(i, regions) {
                            $("#REGION_ID")
                                .append(
                                    $('<option></option>').val(regions.REGION_ID).html(regions.REGION));
                        });
                }
                FillMasterFC(id);
                $('.loader-container').addClass('hide');
            },
            error: function(xhr) {
                $('.loader-container').addClass('hide');
                alert(xhr);
            }
        });
    }

    function FillMasterFC(id) {
        $('.error').html('');
        $('.succ').html('');
        $.ajax({
            //url:  '/User/GetMasterFranchiseByState/'+id,
            url: URL + '/User/GetMasterFranchiseByState/' + id,
            type: "Get",
            dataType: "json",
            async:false,
            success: function(data) {
                $("#ddlMasterFranchise")
                    .html(
                        $('<option></option>').val('').html('select Master Franchise'));
                $.each(data,
                    function(i, data) {
                        $("#ddlMasterFranchise")
                            .append(
                                $('<option></option>').val(data.USERDETAIL_ID).html(data.USER_NAME));
                    });
            },
            error: function(xhr) {
                alert(xhr);
            }
        });
    }

    function FillMasterFCWallet() {
        if($("#ddlMasterFranchise").val() != ''){
            var id = $("#ddlMasterFranchise").val();
            $.ajax({
                //url:  '/User/GetMasterWallet/'+id,
                url: URL + '/User/GetMasterWallet/' + id,
                type: "Get",
                dataType: "json",
                success: function(data) {
                    $('#lblWallet').text(data.WALLET);
                },
                error: function(xhr) {
                    alert(xhr);
                }
            });
        }
    }

    function checkEmail() {
        $('#txtDealerEmail').parents('form').find('input').attr('disabled',false);
        $('#txtDealerEmail').parents('form').find('select').attr('disabled',false);
        $('#txtDealerEmail').parents('div.email').find('label.alert').remove();
        $('#txtEmail').show();
        var email = $('#txtDealerEmail').val();
        email += $('#txtEmail').val();
        $.ajax({
            url: URL + '/Account/EmailConfirmation/',
            //url:   '/Account/EmailConfirmation',
            type: "POST",
            data:{'email':email},
            dataType: "json",
            success: function(data) {
                if(data == 1){
                    var message = '<label class="alert"><span class="glyphicon glyphicon-ok" style="color:green;"></span></label>';
                    $('.lblemail').fadeOut(100);
                    $('#txtDealerEmail').parents('div.email').append(message);
                    $('#txtDealerEmail').val(email);
                    $('#txtEmail').hide();
                }else{
                    var message = '<label class="alert lblemail" style="color:red">Email id already exists<i class="fa fa-times" style="color:red"></i></label>';
                    $('#txtDealerEmail').parents('div.email').append(message);
                    $('#txtDealerEmail').parents('form').find('input').attr('disabled',true);
                    $('#txtDealerEmail').parents('form').find('select').attr('disabled',true);
                    $('#txtDealerEmail').attr('disabled',false);
                }
            },
            error: function(xhr) {
                alert(xhr);
            }
        });
    }

    function Clear() {
        $('.shipingcode_hideshow').hide();
    }

    function WaleetCheck(parameters) {
        $('.error').html('');
        $('.succ').html('');
        var status = true;
        var dealerAmount = parseInt($('#txtWallet').val());
        var MFAmount = parseInt($('#lblWallet').text());
        if (dealerAmount >= 0) {
            if (dealerAmount <= MFAmount) {
                $('#lblWallet').parents('div.col-md-9').append('<label class="succ">Master Franchise Amount '+ (MFAmount - dealerAmount) +'.</label>');
            } else {
                $('#lblWallet').parents('div.col-md-9').append('<label class="error">Dealer Amount between 1 to '+MFAmount+'.</label>');
            }
        } else {
            $('#lblWallet').parents('div.col-md-9').append('<label class="error">Dealer Amount between 1 to '+MFAmount+'.</label>');
            $('#txtWallet').val('');
        }
        $('#txtAmount').val(dealerAmount);
    }

    function UpdateUserStatus(id,status){
        alert(id);
        if (confirm("Do you want to "+status+"?")) {
            $.ajax({
                //url:  '/User/UpdateUserStatus/'+id,
                url: URL + '/User/UpdateUserStatus/' + id,
                type: "POST",
                dataType: "json",
                success: function(data) {
                    alert(data);
                },
                error: function(xhr) {
                    alert(xhr);
                }
            });
        }
        return false;
    }



</script>
<style>
    .error {
        color: red;
    }
    .succ {
        color: green;
    }
</style>


<div class='loader-container hide'>
    <div class='loader'>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--text'></div>
    </div>
</div>
<link href="~/Content/loader.css" rel="stylesheet"/>
<script src="~/Scripts/common.js"></script>
