﻿@model IEnumerable<Gizmobaba.Models.DealerDto>
@{
    ViewBag.Title = "MasterFranchise";
    Layout = "~/Views/Shared/_LayoutGizmobaba.cshtml";
}


@section GizmobabaHeadFiles{
    <link href="~/GizmobabaFiles/css/fSelect.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/GizmobabaFiles/css/green.css" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="http://www.jqueryscript.net/demo/Export-Html-Table-To-Excel-Spreadsheet-using-jQuery-table2excel/src/jquery.table2excel.js"></script>
    <script>
        var URL = '@System.Configuration.ConfigurationManager.AppSettings["baseUrl"]';
        $(document).ready(function () {
            $('#check-all').click(function () {
                if ($(this).is(':checked')) {
                    $('#tblPro tbody').find('input[type=checkbox]').prop('checked', true);
                } else {
                    $('#tblPro tbody').find('input[type=checkbox]').prop('checked', false);
                }
            });
        });
        function UpdateUsers()
        {
            var userIdList = $.map($('#tblPro').find('.input-check-box:checked'), function (obj) {
                return $(obj).parents('tr').attr('id');
            });
            var statusId = $('#ddlStatus').val();
            var data = { 'userIdList': userIdList, 'statusId': statusId };
            $.ajax({
                url: URL + '/User/UpdateUserStatus',
                //url:   '/User/UpdateUserStatus',
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                async: false,
                data: JSON.stringify(data),
                dataType: "json",
                success: function (data) {
                    alert(data);
                },
                error: function (xhr) {
                    alert(xhr);
                }
            });
        }
    </script>
}

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Master Franchise List</h3><br>
        </div>
    </div>

    <div class="title_content_top">
        <p>Profile of the ‘Registered/Unregistered Master Franchise’ in your admin store can be viewed by multiple filtering options such as Last Login Date/Account Creation Date,User name, etc... You can create new/edit Master Franchise .Also you can write down the reason in log for further reference for rejecting the applicant.</p>
    </div>
    <div class="clearfix"></div>
  @if (TempData["SuccessMessage"] != null && TempData["SuccessMessage"] != "")
  {
    <div class="alert alertnew alert-success fade in">
        <a href="#" class="close" data-dismiss="alert">×</a>
        <strong>Success!</strong> @TempData["SuccessMessage"]
    </div>
  }
@if (TempData["ErrorMessage"] != null && TempData["ErrorMessage"] != "")
{
    <div class="alert alertnew alert-danger fade in">
        <a href="#" class="close" data-dismiss="alert">×</a>
        <strong>Error!</strong> @TempData["ErrorMessage"]
    </div>
}

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="mmctrl_box">
                    <div class="mmcaption">Search Options</div><br><br>
                    @using (Ajax.BeginForm("SearchMasterFranchise", "User", new { },
                    new AjaxOptions
                    {
                        HttpMethod = "GET",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "partialView"
                    }, new { id = "searchUsers" }))
                    {
                        @*<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">*@
                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-3 col-xs-12">Search by</label>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <select class="select2_single form-control" tabindex="-1">
                                    <option value="">Select a type</option>
                                    <option value="CreateDate">Create Date</option>
                                    <option value="LastLogin">Last Login Date</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">From Date</label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <input id="txtFromDate" name="FromDate" placeholder="" required="" class="form-control" type="text">
                            </div>

                            <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">To Date</label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <input id="txtToDate" name="ToDate" placeholder="" required="" class="form-control" type="text">
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg0">
                            <div class="pull-right">
                                <a href="javascript:;"><button type="button" class="btn btn-dark" onclick="SearchUser();">Search</button></a>
                            </div>
                        </div>
                        <script>
    function SearchUser() {
        $('#searchUsers').submit();
    }

                        </script>
                    }
                    <br>
                </div>


                <div class="mmctrl_box">
                    <div class="mmcaption">
                        <i class="fa fa-user"></i> &nbsp; Master Franchise List
                        <div class="flt_rghtalgn">
                            @using (Ajax.BeginForm("GetMasterFranchise", "User",
                            new AjaxOptions
                            {
                                HttpMethod = "Get",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "partialView"
                            }, new { id = "getUserDate" }))
                            {

                                <select class="form-control" onchange="FillUser();" tabindex="-1" name="status" id="ddlStatus">
                                    <option selected="selected" value=""> -- Select Type -- </option>
                                    <option value="1">Active</option>
                                    <option value="0">New / DeActive</option>
                                </select>

                                <script>
                                function FillUser() {
                                    $('#getUserDate').submit();
                                }

                                </script>
                            }
                        </div>
                    </div>
                    @*User List*@
                    <div id="partialView">
                        @{
                            Html.RenderPartial("~/Views/Shared/masterFranchisepartial.cshtml", Model);
                        }
                    </div>

                    <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg0">
                        <div class="pull-right">
                            @*<a href="javascript:;"><button type="button" class="btn btn-dark" onclick="UpdateUsers();">Update User Status</button></a>*@
                            @*<a href="javascript:;"><button type="button" class="btn btn-dark" onclick="UpdateUsers();">Add To Group</button></a>*@
                            @*<a href="@Url.Action("Create", "User")"><button type="button" class="btn btn-dark">Create New User</button></a>*@
                            <a href="javascript:;"><button id="exportExcel" type="button" class="btn btn-default">Export to Excel</button></a>
                            <a href="@Url.Action("MasterFranchiseProfile", "User")"><button type="button" class="btn btn-default">Create Master Franchise</button></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/GizmobabaFiles/js/nicescroll/jquery.nicescroll.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<!-- icheck -->
<script src="~/GizmobabaFiles/js/icheck/icheck.min.js"></script>
<script src="~/GizmobabaFiles/js/fSelect.js"></script>
<script>
    $(function () {
        $('#txtFromDate').datepicker({
            onClose: function (selectedDate) {
                $("#txtToDate").datepicker("option", "minDate", selectedDate);
            }
        });
        $('#txtToDate').datepicker({
            onClose: function (selectedDate) {
                $("#txtFromDate").datepicker("option", "maxDate", selectedDate);
            }
        });

        $('.demo').fSelect();
        // $('.demo').val();
        $(".tagsSelect").on('click', '.fss_btn', function () {
            var tagIdList = $('.demo').val();
            var productIdList = $.map($('#tblPro').find('.input-check-box:checked'), function (obj) {
                return $(obj).parents('tr').attr('id');
            });
            var data = { 'tagIdList': tagIdList, 'productIdList': productIdList };
            $.ajax({
                url: 'Admin/Home/AddTagToProduct',
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                async: false,
                data: JSON.stringify(data),
                dataType: "json",
                //  processData: false,
                // cache: false,
                success: function (data) {
                    alert('Success');
                },
                error: function (xhr) {
                    alert(xhr);
                }
            });
        });
    });

</script>
<style>
    .flt_rghtalgn {
        background-color: #fff;
    }
</style>







