﻿@model Gizmobaba.Models.DashboardViewModel

@{
    ViewBag.Title = "MemberProfile";
    Layout = "~/Views/Shared/_LayoutGizmobaba.cshtml";
}

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Member Profile</h3><br>
        </div>
    </div>
    @ViewBag.Error
    <div class="title_content_top">
        <p>Members are the ‘Registered Users’ of your web store. You can view profiles, create ‘New Users’, associate users to ‘User Groups’, and ‘bulk Upload Users’ or ‘bulk update user data’ through ‘User Profile’ and ‘Recently Logged-in’ sections. New user groups can be created from ‘User Groups’ section, while ‘Profile Attributes’ for users can be created from ‘Attribute Profile’ section.</p>
    </div>
    <div class="clearfix"></div>
    @if (Model != null)
    {
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="mmctrl_box">
                    <div class="mmcaption"><i class="fa fa-android"></i> &nbsp; User List</div>
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <td>No. of Users </td>
                            <td>@Model.TotalUsers</td>
                            <td><a href="@Url.Action("Users", "User")" title="view"><i class="fa fa-user"></i></a></td>
                        </tr>
                        <tr>
                            <td>No. of Dealers</td>
                            <td>@Model.TotalDealer</td>
                            <td><a href="@Url.Action("Dealer", "User")" title="view"><i class="fa fa-user"></i></a></td>
                        </tr>
                            <tr>
                                <td>No. of Master Franchise</td>
                                <td>@Model.TotalMasterFranchise</td>
                                <td><a href="@Url.Action("MasterFranchise", "User")" title="view"><i class="fa fa-user"></i></a></td>
                            </tr>
                            <tr>
                                <td>N. of Global Vendor</td>
                                <td>@Model.TotalVendor</td>
                                <td><a title="view"><i class="fa fa-user"></i></a></td>
                            </tr>
                        </tbody>
                    </table>

                    @*<div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
                        <a href="@Url.Action("Users", "User")"><button type="button" class="btn btn-default pull-right">Total Users</button></a>
                    </div>*@
                </div>
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="mmctrl_box mmctrl_tble">
                    <div class="mmcaption"><i class="fa fa-apple"></i> &nbsp; User Groups</div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Group Name</th>
                                <th>No.of Users</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.roleModel != null)
                            {
                                foreach (var item in Model.roleModel)
                                {
                                    if (item.Value != null) { 
                                    <tr>
                                        <td>@item.ROLE_DESC</td>
                                        <td>@item.PERMISSIONSCOUNT</td>
                                        <td>@item.UserCount</td>
                                        <td><a href="@Url.Action("AddUserGroup", "User", new { id=item.ROLE_ID})" title="view"><i class="fa fa-eye"></i></a></td>
                                    </tr>
                                }
                            }
                            }
                        </tbody>
                    </table>

                    <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
                        <a href="@Url.Action("Users", "User")"><button type="button" class="btn btn-default pull-right">View More</button></a>
                        <a href="@Url.Action("AddUserGroup", "User")"><button type="button" class="btn btn-default pull-right">Create User Groups</button></a>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>


        </div>
    }
</div>
<!-- /page content -->
<br>

