﻿@model Gizmobaba.Models.UserModel

@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_LayoutGizmobaba.cshtml";
}

<div class="page-title">
    <div class="title_left">
        <h3>Settings <i class="fa fa-caret-right"></i>  <i style="font-size:17px">Account Details</i></h3>

    </div>
</div>
<style>
    .cursor_pointer{
        cursor:pointer;
    }
</style>
@*<div class="title_content_top">
        <p>Loresam text</p>
    </div>*@
<div class="clearfix"></div>
@if (TempData["SuccessMessage"] != null && TempData["SuccessMessage"] != "")
{
    <div class="alert alertnew alert-success fade in">
        <a href="#" class="close" data-dismiss="alert">×</a>
        <strong>Success!</strong> @TempData["SuccessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null && TempData["ErrorMessage"] != "")
{
    <div class="alert alertnew alert-danger fade in">
        <a href="#" class="close" data-dismiss="alert">×</a>
        <strong>Error!</strong> @TempData["ErrorMessage"]
    </div>
}
<div class="row">
    @if (Model != null && Model.ROLE == 1)
    {

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="mmctrl_box mrgin_gap0">
                <div class="mmcaption"> Admin Profile</div>
                @*<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">*@
                <br>
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="adminprfle_imgholder">
                            @if (Model.Image != null)
                            {
                                <img src="@Model.Image" class="img-responsive">
                            }
                            else
                            {
                                <img src="images/img.jpg" class="img-responsive">
                            }
                            <div class="adminprfle_imgeditbttn">
                                <label for="fileUpload" class="cursor_pointer" title="Profile Edit"><i class="fa fa-edit"></i> Edit profile </label>
                            </div>
                        </div>

                        <br>
@using (Html.BeginForm("UpdateUserImage", "User", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = "return validateForm();" }))
                        {
                        <div class="col-md-12 adminprfle_brwseholder">
                            <div class="col-md-6">
                                <span class="prettyFile">
                                    <input name="file" multiple type="file" id="fileUpload">
                                    <div class="input-append">
                                        <input class="input-large_brwse" type="text">
                                        <a href="#" class="btn_brwse">Browse</a>
                                    </div>
                                    @Html.HiddenFor(model => model.USER_ID)

                                </span>
                            </div>

                            <div class="col-md-6">
                                <button type="submit" class="btn btn-default">Upload</button>
                            </div>
                        </div>
}
                    </div>


                    @using (Html.BeginForm("UserProfile", "User", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = "return validateForm();" }))
                    {
                        <div class="col-md-8">
                            <br>
                            <div class="form-group">
                                <label class="control-label col-md-3">Business Name <span class="red">*</span></label>
                                <div class="col-md-7">
                                    @Html.HiddenFor(model => model.ROLE, new { id = "ROLE" })
                                    @Html.HiddenFor(model => model.USER_ID, new { id = "USER_ID" })
                                    <input name="" type="text" disabled="" required="" class="form-control" id="txtBusinessName" placeholder="Gizmo baba">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Account Name</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.USER_NAME, new { @class = "form-control" })
                                    @*<input id="" name="" placeholder="" required="" class="form-control" type="text">*@
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Email</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.EMAIL, new { @class = "form-control" })
                                    @*<input id="" name="" placeholder="" required="" class="form-control" type="text">*@
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Designation <span class="red">*</span></label>
                                <div class="col-md-7"> 
                                    <input id="" name="" value="Gizmobab admin" placeholder="" required="" class="form-control" type="text">

                                        <input id="" name="" value="Master Franchise" placeholder="" required="" class="form-control" type="text">
                                    
                                </div>
                            </div>

                            @*<div class="form-group">
                                <label class="control-label col-md-3">Date of Birth <span class="red">*</span></label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.DOB, new { @class = "form-control" })
                                </div>
                            </div>*@

                            @*<div class="form-group">
                                    <label class="control-label col-md-3">Password <span class="red">*</span></label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(model => model.PASSWORD, new { @class = "form-control", disabled = "" })
                                        <a data-toggle="modal" href="#normalSearchUser"> Change Password</a>
                                        @*<input id="" name="" placeholder="" required="" class="form-control" type="text">

                                    </div>
                                </div>*@

                        </div>

                        <div class="col-md-2">
                            <br>
                            <div class="pull-right">
                                <a href="javascription:;"><button id="btnEdit" type="button" class="btn btn-dark edit">Edit</button></a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <br>
                        <hr>
                        <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
                            <div class="pull-right">
                                <a href="javascript:;"><button type="submit" class="btn btn-dark">Update</button></a>
                                <a data-toggle="modal" href="#normalSearchUser" id="btnChangePassword" class="btn btn-default"> Change Password</a>
                                <a href="#"><button type="button" class="btn btn-default btnBack">Cancel</button></a>
                            </div>
                        </div>
                    }
                    @*/form>*@
                </div>


            </div>
        </div>
    }
    else if (Model.ROLE == 6)
    {
        @*<div class="col-md-12 col-sm-12 col-xs-12">
            <div class="mmctrl_box mrgin_gap0">
                <div class="mmcaption"> Admin Profile</div>
                @*<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">
                <br>
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="adminprfle_imgholder">
                            @if (Model.Image != null)
                            {
                                <img src="@Model.Image" class="img-responsive">
                            }
                            else
                            {
                                <img src="images/img.jpg" class="img-responsive">
                            }
                            <div class="adminprfle_imgeditbttn">
                                <label for="fileUpload" class="cursor_pointer" title="Profile Edit"><i class="fa fa-edit"></i> Edit profile </label>
                            </div>
                        </div>

                        <br>
                        @using (Html.BeginForm("UpdateUserImage", "User", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = "return validateForm();" }))
                        {
                            <div class="col-md-12 adminprfle_brwseholder">
                                <div class="col-md-6">
                                    <span class="prettyFile">
                                        <input name="file" multiple type="file" id="fileUpload">
                                        <div class="input-append">
                                            <input class="input-large_brwse" type="text">
                                            <a href="#" class="btn_brwse">Browse</a>
                                        </div>
                                        @Html.HiddenFor(model => model.USER_ID)

                                    </span>
                                </div>

                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-default">Upload</button>
                                </div>
                            </div>
                        }
                    </div>


                    @using (Html.BeginForm("UserProfile", "User", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = "return validateForm();" }))
                    {
                        <div class="col-md-8">
                            <br>
                            <div class="form-group">
                                <label class="control-label col-md-3">Business Name <span class="red">*</span></label>
                                <div class="col-md-7">
                                    @Html.HiddenFor(model => model.ROLE, new { id = "ROLE" })
                                    @Html.HiddenFor(model => model.USER_ID, new { id = "USER_ID" })
                                    <input name="" type="text" disabled="" required="" class="form-control" id="txtBusinessName" placeholder="Gizmo baba">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Account Name</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.USER_NAME, new { @class = "form-control" })
                                    @*<input id="" name="" placeholder="" required="" class="form-control" type="text">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Email</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.EMAIL, new { @class = "form-control" })
                                    @*<input id="" name="" placeholder="" required="" class="form-control" type="text">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Designation <span class="red">*</span></label>
                                <div class="col-md-7">
                                        <input id="" name="" value="Master Franchise" placeholder="" required="" class="form-control" type="text">
                                </div>
                            </div>

                            @*<div class="form-group">
                                    <label class="control-label col-md-3">Date of Birth <span class="red">*</span></label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(model => model.DOB, new { @class = "form-control" })
                                    </div>
                                </div>*@

                            @*<div class="form-group">
                                    <label class="control-label col-md-3">Password <span class="red">*</span></label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(model => model.PASSWORD, new { @class = "form-control", disabled = "" })
                                        <a data-toggle="modal" href="#normalSearchUser"> Change Password</a>
                                        @*<input id="" name="" placeholder="" required="" class="form-control" type="text">

                                    </div>
                                </div>

                        </div>

                        <div class="col-md-2">
                            <br>
                            <div class="pull-right">
                                <a href="javascription:;"><button id="btnEdit" type="button" class="btn btn-dark edit">Edit</button></a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <br>
                        <hr>
                        <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
                            <div class="pull-right">
                                <a href="javascript:;"><button type="submit" class="btn btn-dark">Update</button></a>
                                <a data-toggle="modal" href="#normalSearchUser" id="btnChangePassword" class="btn btn-default"> Change Password</a>
                                <a href="#"><button type="button" class="btn btn-default btnBack">Cancel</button></a>
                            </div>
                        </div>
                    }
                    @*/form>
                </div>


            </div>
        </div>*@



    <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="mmctrl_box mrgin_gap0">
                <div class="mmcaption">Dealer Profile</div>
                @*<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">*@
                <br>
                <div class="col-md-12">

                    @using (Html.BeginForm("DealerProfile", "User", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = "return validateForm();" }))
                    {
                        <div class="col-md-5">
                            <br>

                            <div class="form-group">
                                <label class="control-label col-md-3">Account Name</label>
                                <div class="col-md-7">
                                    @Html.HiddenFor(model => model.ROLE, new { id = "ROLE" })
                                    @Html.HiddenFor(model => model.USER_ID, new { id = "USER_ID" })
                                    @Html.TextBoxFor(model => model.USER_NAME, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">FIRST NAME</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.FIRST_NAME, new { @class = "form-control", required = "" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">LAST NAME</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.LAST_NAME, new { @class = "form-control" })
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-md-3">Email / Login Id</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.EMAIL, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Mobile Number</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.MOB_NO, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Country<span class="red">*</span></label>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(m => m.CountryId, new SelectList(Model.Countries, "COUNTRY_ID", "COUNTRY_DESC"), "Select ", new { @class = "select2_single form-control", id = "COUNTRY_ID", tabindex = "-1", required = "required", onChange = "FillState()" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">State<span class="red">*</span></label>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(m => m.StateId, new SelectList(Enumerable.Empty<SelectListItem>(), "STATE_ID", "STATE"), "Select ", new { @class = "select2_single form-control", id = "STATE_ID", tabindex = "-1", required = "required", onChange = "FillRegionId()" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">City<span class="red">*</span></label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.CITY, new { @class = "form-control" })
                                </div>
                            </div>



                            <div class="form-group">
                                <label class="control-label col-md-3">Pincode<span class="red">*</span></label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.PIN, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Address 1<span class="red">*</span></label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.ADD1, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Address 2<span class="red">*</span></label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.ADD2, new { @class = "form-control" })
                                </div>
                            </div>

                        </div>

                        <div class="col-md-5">
                            <br>

                            <div class="form-group">
                                <label class="control-label col-md-3">Company</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.COMPANY, new {@class = "form-control", required = ""})
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">NATURE OF COMPANY</label>
                                <div class="col-md-7">
                                    <input type="text" class="form-control" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">NATURE OF BUSINESS</label>
                                <div class="col-md-7">
                                    <input type="text" class="form-control" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Recharge Wallet Points</label>
                                <div class="col-md-7">
                                    <input type="number" class="form-control" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Amount</label>
                                <div class="col-md-7">
                                    <input type="text" class="form-control" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Total sales</label>
                                <div class="col-md-7">
                                    <input type="text" class="form-control" />
                                </div>
                            </div>

                        </div>


                        <div class="clearfix"></div>
                        <br>
                        <hr>
                        <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
                            <div class="pull-right">
                                @*<a href="#"><button type="submit" class="btn btn-dark">Save</button></a>
                                <a href="#"><button type="button" class="btn btn-default btnBack">Cancel</button></a>*@
                            </div>
                        </div>
                    }
                    @*/form>*@

                </div>


            </div>
        </div>

    }
    else if (Model.ROLE == 4)
    {
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="mmctrl_box mrgin_gap0">
                <div class="mmcaption">Dealer Profile</div>
                @*<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">*@
                <br>
                <div class="col-md-12">

                    @using (Html.BeginForm("UserProfile", "User", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = "return validateForm();" }))
                    {
                        <div class="col-md-5">
                            <br>

                            <div class="form-group">
                                <label class="control-label col-md-3">Account Name</label>
                                <div class="col-md-7">
                                    @Html.HiddenFor(model => model.ROLE, new { id = "ROLE" })
                                    @Html.HiddenFor(model => model.USER_ID, new { id = "USER_ID" })
                                    @Html.TextBoxFor(model => model.USER_NAME, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">FIRST NAME</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.FIRST_NAME, new { @class = "form-control", required = "" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">LAST NAME</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.LAST_NAME, new { @class = "form-control" })
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-md-3">Email / Login Id</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.EMAIL, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Mobile Number</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.MOB_NO, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Country<span class="red">*</span></label>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(m => m.CountryId, new SelectList(Model.Countries, "COUNTRY_ID", "COUNTRY_DESC"), "Select ", new { @class = "select2_single form-control", id = "COUNTRY_ID", tabindex = "-1", required = "required", onChange = "FillState()" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">State<span class="red">*</span></label>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(m => m.StateId, new SelectList(Enumerable.Empty<SelectListItem>(), "STATE_ID", "STATE"), "Select ", new { @class = "select2_single form-control", id = "STATE_ID", tabindex = "-1", required = "required", onChange = "FillRegionId()" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">City<span class="red">*</span></label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.CITY, new { @class = "form-control" })
                                </div>
                            </div>

                           

                            <div class="form-group">
                                <label class="control-label col-md-3">Pincode<span class="red">*</span></label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.PIN, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Address 1<span class="red">*</span></label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.ADD1, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Address 2<span class="red">*</span></label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.ADD2, new { @class = "form-control" })
                                </div>
                            </div>

                        </div>

                        <div class="col-md-5">
                            <br>

                            <div class="form-group">
                                <label class="control-label col-md-3">Company</label>
                                <div class="col-md-7">
                                    <input type="text" class="form-control" />
                                    @*@Html.TextBoxFor(model => model.FIRST_NAME, new {@class = "form-control", required = ""})*@
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">NATURE OF COMPANY</label>
                                <div class="col-md-7">
                                    <input type="text" class="form-control" />
                                    @*@Html.TextBoxFor(model => model.FIRST_NAME, new {@class = "form-control", required = ""})*@
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">NATURE OF BUSINESS</label>
                                <div class="col-md-7">
                                    <input type="text" class="form-control" />
                                    @*@Html.TextBoxFor(model => model.FIRST_NAME, new {@class = "form-control", required = ""})*@
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Recharge Wallet Points</label>
                                <div class="col-md-7">
                                    <input type="number" class="form-control" />
                                    @*@Html.TextBoxFor(model => model.FIRST_NAME, new {@class = "form-control", required = ""})*@
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Amount</label>
                                <div class="col-md-7">
                                    <input type="text" class="form-control" />
                                    @*@Html.TextBoxFor(model => model.FIRST_NAME, new {@class = "form-control", required = ""})*@
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Total sales</label>
                                <div class="col-md-7">
                                    <input type="text" class="form-control"/>
                                    @*@Html.TextBoxFor(model => model.FIRST_NAME, new {@class = "form-control", required = ""})*@
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Master Franchise</label>
                                <div class="col-md-7">
                                    <select class="form-control" id="ddlType">
                                        <option value="0">Select Master Franchise</option>
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="clearfix"></div>
                        <br>
                        <hr>
                        <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
                            <div class="pull-right">
                                <a href="#"><button type="submit" class="btn btn-dark">Save</button></a>
                                <a href="#"><button type="button" class="btn btn-default btnBack">Cancel</button></a>
                            </div>
                        </div>
                    }
                    @*/form>*@

                </div>


            </div>
        </div>
    }
    else if (Model.ROLE == 3)
    {
        @*<div class="col-md-12 col-sm-12 col-xs-12">
            <div class="mmctrl_box mrgin_gap0">
                <div class="mmcaption">Dealer Profile</div>
                @*<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">
                <br>
                <div class="col-md-12">

                    @using (Html.BeginForm("DealerProfile", "User", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = "return validateForm();" }))
                    {
                        <div class="col-md-5">
                            <br>

                            <div class="form-group">
                                <label class="control-label col-md-3">Account Name</label>
                                <div class="col-md-7">
                                    @Html.HiddenFor(model => model.ROLE, new { id = "ROLE" })
                                    @Html.HiddenFor(model => model.USER_ID, new { id = "USER_ID" })
                                    @Html.TextBoxFor(model => model.USER_NAME, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">FIRST NAME</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.FIRST_NAME, new { @class = "form-control", required = "" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">LAST NAME</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.LAST_NAME, new { @class = "form-control" })
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-md-3">Email / Login Id</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.EMAIL, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Mobile Number</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.MOB_NO, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Country<span class="red">*</span></label>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(m => m.CountryId, new SelectList(Model.Countries, "COUNTRY_ID", "COUNTRY_DESC"), "Select ", new { @class = "select2_single form-control", id = "COUNTRY_ID", tabindex = "-1", required = "required", onChange = "FillState()" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">State<span class="red">*</span></label>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(m => m.StateId, new SelectList(Enumerable.Empty<SelectListItem>(), "STATE_ID", "STATE"), "Select ", new { @class = "select2_single form-control", id = "STATE_ID", tabindex = "-1", required = "required", onChange = "FillRegionId()" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">City<span class="red">*</span></label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.CITY, new { @class = "form-control" })
                                </div>
                            </div>



                            <div class="form-group">
                                <label class="control-label col-md-3">Pincode<span class="red">*</span></label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.PIN, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Address 1<span class="red">*</span></label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.ADD1, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Address 2<span class="red">*</span></label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.ADD2, new { @class = "form-control" })
                                </div>
                            </div>

                        </div>

                        <div class="col-md-5">
                            <br>

                            <div class="form-group">
                                <label class="control-label col-md-3">Company</label>
                                <div class="col-md-7">
                                    <input type="text" class="form-control" />
                                    @Html.TextBoxFor(model => model.FIRST_NAME, new {@class = "form-control", required = ""})
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">NATURE OF COMPANY</label>
                                <div class="col-md-7">
                                    <input type="text" class="form-control" />
                                    @Html.TextBoxFor(model => model.FIRST_NAME, new {@class = "form-control", required = ""})
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">NATURE OF BUSINESS</label>
                                <div class="col-md-7">
                                    <input type="text" class="form-control" />
                                    @Html.TextBoxFor(model => model.FIRST_NAME, new {@class = "form-control", required = ""})
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Recharge Wallet Points</label>
                                <div class="col-md-7">
                                    <input type="number" class="form-control" />
                                    @Html.TextBoxFor(model => model.FIRST_NAME, new {@class = "form-control", required = ""})
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Amount</label>
                                <div class="col-md-7">
                                    <input type="text" class="form-control" />
                                    @Html.TextBoxFor(model => model.FIRST_NAME, new {@class = "form-control", required = ""})
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Total sales</label>
                                <div class="col-md-7">
                                    <input type="text" class="form-control" />
                                </div>
                            </div>

                        </div>


                        <div class="clearfix"></div>
                        <br>
                        <hr>
                        <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
                            <div class="pull-right">
                                <a href="#"><button type="submit" class="btn btn-dark">Save</button></a>
                                <a href="#"><button type="button" class="btn btn-default btnBack">Cancel</button></a>
                            </div>
                        </div>
                    }
                    @*/form>

                </div>


            </div>
        </div>*@

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="mmctrl_box mrgin_gap0">
            <div class="mmcaption"> Admin Profile</div>
            @*<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">*@
            <br>
            <div class="col-md-12">
                <div class="col-md-2">
                    <div class="adminprfle_imgholder">
                        @if (Model.Image != null)
                        {
                            <img src="@Model.Image" class="img-responsive">
                        }
                        else
                        {
                            <img src="images/img.jpg" class="img-responsive">
                        }
                        <div class="adminprfle_imgeditbttn">
                            <label for="fileUpload" class="cursor_pointer" title="Profile Edit"><i class="fa fa-edit"></i> Edit profile </label>
                        </div>
                    </div>

                    <br>
                    @using (Html.BeginForm("UpdateUserImage", "User", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = "return validateForm();" }))
                    {
                        <div class="col-md-12 adminprfle_brwseholder">
                            <div class="col-md-6">
                                <span class="prettyFile">
                                    <input name="file" multiple type="file" id="fileUpload">
                                    <div class="input-append">
                                        <input class="input-large_brwse" type="text">
                                        <a href="#" class="btn_brwse">Browse</a>
                                    </div>
                                    @Html.HiddenFor(model => model.USER_ID)

                                </span>
                            </div>

                            <div class="col-md-6">
                                <button type="submit" class="btn btn-default">Upload</button>
                            </div>
                        </div>
                    }
                </div>


                @using (Html.BeginForm("UserProfile", "User", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = "return validateForm();" }))
                {
                    <div class="col-md-8">
                        <br>
                        <div class="form-group">
                            <label class="control-label col-md-3">Business Name <span class="red">*</span></label>
                            <div class="col-md-7">
                                @Html.HiddenFor(model => model.ROLE, new { id = "ROLE" })
                                @Html.HiddenFor(model => model.USER_ID, new { id = "USER_ID" })
                                <input name="" type="text" disabled="" required="" class="form-control" id="txtBusinessName" placeholder="Gizmo baba">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Account Name</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(model => model.USER_NAME, new { @class = "form-control" })
                                @*<input id="" name="" placeholder="" required="" class="form-control" type="text">*@
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Email</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(model => model.EMAIL, new { @class = "form-control" })
                                @*<input id="" name="" placeholder="" required="" class="form-control" type="text">*@
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Designation <span class="red">*</span></label>
                            <div class="col-md-7">
                                @if (Model.ROLE == 3)
                                {
                                    <input id="" name="" value="Master Franchise" placeholder="" required="" class="form-control" type="text">
                                }
                                else if (Model.ROLE == 5)
                                {
                                    <input id="" name="" value="Global Vendor" placeholder="" required="" class="form-control" type="text">

                                }
                            </div>
                        </div>

                        @*<div class="form-group">
                                <label class="control-label col-md-3">Date of Birth <span class="red">*</span></label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.DOB, new { @class = "form-control" })
                                </div>
                            </div>*@

                        @*<div class="form-group">
                                <label class="control-label col-md-3">Password <span class="red">*</span></label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.PASSWORD, new { @class = "form-control", disabled = "" })
                                    <a data-toggle="modal" href="#normalSearchUser"> Change Password</a>
                                    @*<input id="" name="" placeholder="" required="" class="form-control" type="text">

                                </div>
                            </div>*@

                    </div>

                    <div class="col-md-2">
                        <br>
                        <div class="pull-right">
                            <a href="javascription:;"><button id="btnEdit" type="button" class="btn btn-dark edit">Edit</button></a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br>
                    <hr>
                    <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
                        <div class="pull-right">
                            <a href="javascript:;"><button type="submit" class="btn btn-dark">Update</button></a>
                            <a data-toggle="modal" href="#normalSearchUser" id="btnChangePassword" class="btn btn-default"> Change Password</a>
                            <a href="#"><button type="button" class="btn btn-default btnBack">Cancel</button></a>
                        </div>
                    </div>
                }
                @*/form>*@
            </div>


        </div>
    </div>

    }
    @if (Model.ROLE == 5)
    {
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="mmctrl_box mrgin_gap0">
                <div class="mmcaption"> Admin Profile</div>
                @*<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">*@
                <br>
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="adminprfle_imgholder">
                            @if (Model.Image != null)
                            {
                                <img src="@Model.Image" class="img-responsive">
                            }
                            else
                            {
                                <img src="images/img.jpg" class="img-responsive">
                            }
                            <div class="adminprfle_imgeditbttn">
                                <label for="fileUpload" class="cursor_pointer" title="Profile Edit"><i class="fa fa-edit"></i> Edit profile </label>
                            </div>
                        </div>

                        <br>
                        @using (Html.BeginForm("UpdateUserImage", "User", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = "return validateForm();" }))
                        {
                            <div class="col-md-12 adminprfle_brwseholder">
                                <div class="col-md-6">
                                    <span class="prettyFile">
                                        <input name="file" multiple type="file" id="fileUpload">
                                        <div class="input-append">
                                            <input class="input-large_brwse" type="text">
                                            <a href="#" class="btn_brwse">Browse</a>
                                        </div>
                                        @Html.HiddenFor(model => model.USER_ID)

                                    </span>
                                </div>

                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-default">Upload</button>
                                </div>
                            </div>
                        }
                    </div>


                    @using (Html.BeginForm("UserProfile", "User", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = "return validateForm();" }))
                    {
                        <div class="col-md-8">
                            <br>
                            <div class="form-group">
                                <label class="control-label col-md-3">Business Name <span class="red">*</span></label>
                                <div class="col-md-7">
                                    @Html.HiddenFor(model => model.ROLE, new { id = "ROLE" })
                                    @Html.HiddenFor(model => model.USER_ID, new { id = "USER_ID" })
                                    <input name="" type="text" disabled="" required="" class="form-control" id="txtBusinessName" placeholder="Gizmo baba">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Account Name</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.USER_NAME, new { @class = "form-control" })
                                    @*<input id="" name="" placeholder="" required="" class="form-control" type="text">*@
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Email</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.EMAIL, new { @class = "form-control" })
                                    @*<input id="" name="" placeholder="" required="" class="form-control" type="text">*@
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Designation <span class="red">*</span></label>
                                <div class="col-md-7">
                                    <input id="" name="" value="Global Vendor" placeholder="" required="" class="form-control" type="text">
                                </div>
                            </div>

                            @*<div class="form-group">
                                    <label class="control-label col-md-3">Date of Birth <span class="red">*</span></label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(model => model.DOB, new { @class = "form-control" })
                                    </div>
                                </div>*@

                            @*<div class="form-group">
                                    <label class="control-label col-md-3">Password <span class="red">*</span></label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(model => model.PASSWORD, new { @class = "form-control", disabled = "" })
                                        <a data-toggle="modal" href="#normalSearchUser"> Change Password</a>
                                        @*<input id="" name="" placeholder="" required="" class="form-control" type="text">

                                    </div>
                                </div>*@

                        </div>

                        <div class="col-md-2">
                            <br>
                            <div class="pull-right">
                                <a href="javascription:;"><button id="btnEdit" type="button" class="btn btn-dark edit">Edit</button></a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <br>
                        <hr>
                        <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
                            <div class="pull-right">
                                <a href="javascript:;"><button type="submit" class="btn btn-dark">Update</button></a>
                                <a data-toggle="modal" href="#normalSearchUser" id="btnChangePassword" class="btn btn-default"> Change Password</a>
                                <a href="#"><button type="button" class="btn btn-default btnBack">Cancel</button></a>
                            </div>
                        </div>
                    }
                    @*/form>*@
                </div>


            </div>
        </div>
    }

</div>
<!-- /page content -->
<br>

<script src="~/Scripts/common.js"></script>
<script>
    $(document).ready(function () {
        $('#txtBusinessName').val('Gizmo baba');
        if ($('#USER_ID').val() != '') {
          //  $('input[type=text],select,textarea').attr('disabled', 'true');
            $('#btnChangePassword').attr('disabled', true);
        } else {
            $('.edit').hide();
        }
        $('button[type="submit"]').click(function () {
            var emptyVal = 0;
            $('[required]').each(function () {
                if ($(this).val() == "") {
                    emptyVal = 1;
                }
            });
            if (emptyVal != 1)
                $('.loader-container').removeClass('hide');
        });
        $('.btnBack').click(function () {
            history.back();
        });
        $('.edit').click(function () {
            $('input[type=text],select,textarea').attr('disabled', false);
            $('#btnChangePassword').attr('disabled', false);
        });
    });
</script>

<div class='loader-container hide'>
    <div class='loader'>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--text'></div>
    </div>
</div>
<link href="~/Content/loader.css" rel="stylesheet" />

@*Model*@
<div id="normalSearchUser" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Change Password</h4>
            </div>

            @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = "return validateForm();" }))
            {
                @Html.AntiForgeryToken()

                <div class="modal-body dfltpad">
                    <p>
                        @*@using (Ajax.BeginForm("GetUsersData", "User", new { roleID = 1 },
                            new AjaxOptions
                            {
                                HttpMethod = "POST",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "partialView"
                            }, new { id = "searchUsers" }))
                                                {*@
                        @*<form id="searchUsers" data-parsley-validate class="form-horizontal form-label-left reg">*@
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Old Password</label>
                            <div class="col-md-8 col-sm-9 col-xs-12">
                                <input id="OldPassword" name="OldPassword" required="" class="form-control" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">New Password</label>
                            <div class="col-md-8 col-sm-9 col-xs-12">
                                <input id="Password" name="Password" required="" class="form-control" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Confirm Passowrd </label>
                            <div class="col-md-8 col-sm-9 col-xs-12">
                                <input id="ConfirmPassword" name="ConfirmPassword" required="" class="form-control" type="text">
                            </div>
                        </div>

                        @*}*@
                    </p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>

            }

            <div id="divdata"></div>
        </div>
    </div>
</div>
<script>
    function Editprofile() {
        $('input[]').attr('disabled', false);
    }
</script>