﻿@model Gizmobaba.Models.ProductViewModel
@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/_LayoutGizmobaba.cshtml";
}
@section GizmobabaHeadFiles{
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
    <link href="~/GizmobabaFiles/css/jquery.wysiwyg.css" rel="stylesheet" />
    <script src="~/GizmobabaFiles/js/jquery.wysiwyg.js"></script>
<link href="~/GizmobabaFiles/css/fSelect.css" rel="stylesheet" />
<link rel="stylesheet" href="~/GizmobabaFiles/css/green.css" />
    <script type="text/javascript">
        $(function () {
            $("#details_PRODUCT_DESC").wysiwyg();
        });
    </script>
}
<script >
    var URL = '@System.Configuration.ConfigurationManager.AppSettings["baseUrl"]';


    var specialKeys = new Array();
    specialKeys.push(8); //Backspace
    specialKeys.push(9); //Tab
    specialKeys.push(46); //Delete
    specialKeys.push(36); //Home
    specialKeys.push(35); //End
    specialKeys.push(37); //Left
    specialKeys.push(39); //Right
    function IsAlphaNumeric(e) {
        var keyCode = e.keyCode === 0 ? e.charCode : e.keyCode;
        var ret = ((keyCode >= 48 && keyCode <= 57) || (keyCode >= 65 && keyCode <= 90) || (keyCode >= 97 && keyCode <= 122) || (specialKeys.indexOf(e.keyCode) !== -1 && e.charCode !== e.keyCode));
        // document.getElementById("error").style.display = ret ? "none" : "inline";
        return ret;
    }
    function ContactNumeric(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57) && (charCode !== 32) && (charCode !== 45))
            return false;
        return true;
    }

    function InventoryChange(parameters) {
        var ReserveQuantity = 0;
        var Inventory = parseInt($('#txtInventory').val());
        if($('#txtReserveQuantity').val() != '') {
            var ReserveQuantity = parseInt($('#txtReserveQuantity').val());
        }
        var MaxQuantity = parseInt(Inventory - ReserveQuantity);
        $('#txtMaxQuantity').val(MaxQuantity);
    }

    function WebPrice(parameters) {
        if (parseInt($('#txtMRP').val()) < parseInt($('#txtWebPrice').val())) {
            $('#txtWebPrice').val('');
        } 
    }

    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
    function isAlpha(evt) {
        var keyCode = (evt.which) ? evt.which : evt.keyCode;
        if ((keyCode < 65 || keyCode > 90) && (keyCode < 97 || keyCode > 123) && keyCode !== 32 && keyCode !== 8 && keyCode !== 46)

            return false;
        return true;
    }
    function FillSubCategory() {
        var categoryid = $('#CATEGORY_ID').val();
        $('.loader-container').removeClass('hide');
        $.ajax({
            url: URL + '/Home/GetSubCategories',
            //url: '/Home/GetSubCategories',
            type: "Get",
            dataType: "json",
            data: { CategoryID: categoryid },
            success: function (subCategories) {
                $("#SUB_CAT_ID").html("<option value=''>Select Subcategory</option>"); // clear before appending new list
                if (subCategories.length === 0) {
                    $("#SUB_CAT_ID").html("<option value=''>No Subcategories</option>"); // clear before appending new list
                    $("#SUB_CAT_ID").attr('disabled', 'disabled');
                }
                else {
                    $("#SUB_CAT_ID").removeAttr('disabled');
                    $.each(subCategories, function (i, subCategory) {
                        $("#SUB_CAT_ID").append(
                            $('<option></option>').val(subCategory.SUB_CAT_ID).html(subCategory.SUB_CAT_DESC));
                    });
                }
                $('.loader-container').addClass('hide');
            }
        });
    }
    function addImage() {
        var imgCount = parseInt($('#txtimageCount').val()) + 1;
        if (imgCount <= 5) {
            var data;
            data = '<div class="form-group">' +
                '<label class="control-label col-md-2" for="">image' + imgCount + '</label>' +
                '<div class="col-md-5">' +
                '<span class="prettyFile">' +
                '<input type="file" class="input-large_brwse" name="image' + imgCount + '">' +
                '<div class="input-append">' +
                 '<input class="input-large_brwse" type="text">'+
                  '<a href="#" class="btn_brwse">Upload</a>'+
                //'<a class="btn_brwse" href="#">Browse</a>'+
                ' </div>' +
                //'<input name="image' + imgCount + '" multiple type="file">' +
                '</span></div>' +
                '<div class="addplusmore"><a href="javascript:;" onclick="deleteImg(' + imgCount + ');"><i class="fa fa-trash-o btn-primary"></i></a></div></div>';
            if (imgCount === 2) {
                $('#img2').append(data);
                $('#txtimageCount').val(imgCount);
            }
            if (imgCount === 3) {
                $('#img3').append(data);
                $('#txtimageCount').val(imgCount);
            }
            if (imgCount === 4) {
                $('#img4').append(data);
                $('#txtimageCount').val(imgCount);
            }
            if (imgCount === 5) {
                $('#img5').append(data);
                $('#txtimageCount').val(imgCount);
            }
        }
        else {
            alert('Maximum images 5 only');
        }
    }
    function deleteImg(i) {
        var imgCount = parseInt(i);
        if (imgCount === 2) {
            $('#img2').html('');
        }
        if (imgCount === 3) {
            $('#img3').html('');
        }
        if (imgCount === 4) {
            $('#img4').html('');
        }
        if (imgCount === 5) {
            $('#img5').html('');
        }
        var count = parseInt($('#txtimageCount').val()) - 1;
        $('#txtimageCount').val('' + count + '');

    }
    $(document).ready(function () {
        $('#chkCOD').attr('checked', true);
        $('#chkPayment').attr('checked', true);
        $('#divStockAvailable').hide();
        $(".allownumericwithdecimal").on("keypress keyup blur", function (event) {
            //this.value = this.value.replace(/[^0-9\.]/g,'');
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
                event.preventDefault();
            }
        });

        //$(".dtn-save").click(function() {
        //    $('#dvLoading').show();
        //});
        $('#chkSKUCode').change(function () {
            if ($(this).is(":checked")) {
                $('#PRODUCT_SKU').val($('#txtSKUCode').val());
            } else {
                $('#PRODUCT_SKU').val('');
            }
        });
        $('#chkBackOrder').change(function () {
            if ($(this).is(":checked")) {
                $('#divStockAvailable').show();

            } else {
                $('#divStockAvailable').hide();
            }
        });
        $('#details_BRAND').val('Gizmobaba');
        $('#details_MINIMUM_ORDER_QUANTITY').val('1');
        
    });
</script>
<div id="dvLoading" style="display: none"></div>
<style>
    #dvLoading {
        background: #000 url(images/loader.gif) no-repeat center center;
        height: 100px;
        width: 100px;
        position: fixed;
        z-index: 1000;
        left: 50%;
        top: 50%;
        margin: -25px 0 0 -25px;
    }
</style>
@using (Html.BeginForm("AddProduct", "Home", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = "return validateForm();" }))
{
    <div class="row">
        <div class="col-md-10">
            <div class="page-title">
                <div class="title_left">
                    <h3>Add/Edit Physical Product</h3><br>
                </div>
            </div>

            <div class="title_content_top">
                <p>This interface facilitates you to add/edit ‘tangible products’, which can be physically shipped to customers upon valid Orders. You can also add this product directly to the connected ‘Marketplaces’ and specify the customized prices to those marketplaces. You can also view the price breakdown and know how much you are going to get by selling this product at respective market places.</p>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="mmctrl_box mrgin_gap0">
                        <div class="mmcaption">Product Details</div>
                        <br>

                        @*<div class="prdct_drwnopen_hoder">
                            <h2>Manage Product Tags</h2>
                            <div class="fs-wrap multiple">
                                <div class="fs-label-wrap"><div class="fs-label"></div><span class="fs-arrow"></span></div><div class="fs-dropdown hidden"><div class="fs-search"><input type="search" placeholder="Search"></div><div class="fs-options"><div class="fs-optgroup"><div class="fs-optgroup-label">Languages</div><div class="fs-option" data-value="cp" data-index="0"><span class="fs-checkbox"><i></i></span><div class="fs-option-label">Best-deals</div></div><div class="fs-option" data-value="cs" data-index="1"><span class="fs-checkbox"><i></i></span><div class="fs-option-label">Best-Offers</div></div><div class="fs-option" data-value="oc" data-index="2"><span class="fs-checkbox"><i></i></span><div class="fs-option-label">Best-Prices</div></div><div class="fs-option selected" data-value="c" data-index="3"><span class="fs-checkbox"><i></i></span><div class="fs-option-label">Best-Selling</div></div><div class="fs-option" data-value="js" data-index="4"><span class="fs-checkbox"><i></i></span><div class="fs-option-label">Discounted</div></div><div class="fs-option" data-value="php" data-index="5"><span class="fs-checkbox"><i></i></span><div class="fs-option-label">Featured</div></div><div class="fs-option" data-value="asp" data-index="6"><span class="fs-checkbox"><i></i></span><div class="fs-option-label">Hot-Selling</div></div><div class="fs-option" data-value="jsp" data-index="7"><span class="fs-checkbox"><i></i></span><div class="fs-option-label">New-Arrivals</div></div></div><div class="fss_btn"><a>Apply</a></div></div></div><select class="demo hidden" multiple="multiple">
                                    <optgroup label="Languages">
                                        <option value="cp">Best-deals</option>
                                        <option value="cs">Best-Offers</option>
                                        <option value="oc">Best-Prices</option>
                                        <option value="c">Best-Selling</option>
                                        <option value="js">Discounted</option>
                                        <option value="php">Featured</option>
                                        <option value="asp">Hot-Selling</option>
                                        <option value="jsp">New-Arrivals</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>*@


                        <div class="form-group">
                            <label class="control-label col-md-2">Category <span class="red">*</span></label>
                            <div class="col-md-3">
                                @Html.HiddenFor(model => model.details.CREATED_BY)
                                @Html.DropDownListFor(m => m.details.CATEGORY_ID, new SelectList(Model.categories, "CATEGORY_ID", "CATEGORY_DESC"), "Select Category", new { @class = "select2_single form-control", id = "CATEGORY_ID", tabindex = "-1", required = "required", onChange = "FillSubCategory()" })
                            </div>

                            <label class="control-label col-md-2" for="details_PRODUCT_ID">Brand <span class="red">*</span></label>
                            <div class="col-md-3">
                                @Html.HiddenFor(m => m.details.PRODUCT_ID)
                                @Html.TextBoxFor(m => m.details.BRAND, new { @class = "form-control",})
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2" for="details_SUB_CAT_ID">Sub Category </label>
                            <div class="col-md-3">
                                @if (Model.details.PRODUCT_ID == 0)
                                {
                                    @Html.DropDownListFor(m => m.details.SUB_CAT_ID,
                                        new SelectList(Enumerable.Empty<SelectListItem>(), "SUB_CAT_ID", "SUB_CAT_DESC"),
                                        "Select Sub Category", new {@class = "select2_single form-control", tabindex = "-1", id = "SUB_CAT_ID", disabled = "disabled"})
                                }
                                else
                                {
                                    @Html.DropDownListFor(m => m.details.SUB_CAT_ID, new SelectList(Model.SubCategories, "SUB_CAT_ID", "SUB_CAT_DESC"), "Select SubCategry", new { @class = "select2_single form-control", id = "SUB_CAT_ID", tabindex = "-1", required = "required" })
                                }
                            </div>
                            <label class="control-label col-md-2">Tax <span class="red">*</span></label>
                            <div class="col-md-3">
                                @Html.DropDownListFor(m => m.details.TAX_RATE_ID, new SelectList(Model.taxes, "TAX_ID", "TAX"), "Select Tax", new { @class = "select2_single form-control", id = "TAX_ID", tabindex = "-1", required = "required" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2" for="details_PRODUCT_NAME">Product Title <span class="red">*</span></label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.details.PRODUCT_NAME, new { @class = "form-control", required = "required", maxlength = 100 })
                                <div class="vrysmall_txt_frms">Up to 100 Characters</div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="mmctrl_box mrgin_gap0">
                        <div class="mmcaption">Basic Information</div>
                        <br>
                        <div class="form-group">
                            <label class="control-label col-md-2">Product SKU <span class="red">*</span></label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.details.PRODUCT_SKU, new { @class = "form-control", required = "required", id = "PRODUCT_SKU" })
                                @*<div class="vrysmall_txt_frms">SKU-tripod9ooo </div>*@
                                @Html.HiddenFor(m => m.details.SKUCODE, new { id = "txtSKUCode" })
                                @*@Html.CheckBoxFor(m => m.PreOrder, new { Id = "chkSKUCode" })*@
                                Automatically set SKU code &nbsp; &nbsp;
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">MRP/RRP <span class="red">*</span></label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.details.MRP, new { @class = "form-control", required = "required",id = "txtMRP", @onkeypress = "return isNumber(event)", @MaxLength = "8" })
                                <div class="vrysmall_txt_frms">(INR)</div>
                            </div>

                            <label class="control-label col-md-2">Web Price <span class="red">*</span></label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.details.GIZMOBABA_PRICE, new { @class = "form-control", required = "required", id = "txtWebPrice", @onkeyup = "WebPrice()", @onblur = "WebPrice()",  @onkeypress = "return isNumber(event)", @MaxLength = "8" })
                                <div class="vrysmall_txt_frms">(INR)<span>Web price cannot be less than MRP</span></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Cost Price</label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.details.GROSS_PRICE, new { @class = "form-control", @onkeypress = "return isNumber(event)", @MaxLength = "8" })
                                <div class="vrysmall_txt_frms">(INR)</div>
                            </div>

                            <label class="control-label col-md-2">Token Price</label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.details.NET_PRICE, new { @class = "form-control", @onkeypress = "return isNumber(event)", @MaxLength = "8" })
                                <div class="vrysmall_txt_frms">(INR)</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">MF Price</label>
                            <div class="col-md-2">
                                @Html.TextBoxFor(m => m.details.M_F_PRICE, new { @class = "form-control allownumericwithdecimal", @MaxLength = "8" })
                            </div>
                            <div class="col-md-1">
                                <input type="text" value="%" class="form-control" disabled="disabled" />
                            </div>

                            <label class="control-label col-md-2">Dealer Price</label>
                            <div class="col-md-2">
                                @Html.TextBoxFor(m => m.details.DEALER_PRICE, new { @class = "form-control allownumericwithdecimal", @MaxLength = "8" })
                            </div>
                            <div class="col-md-1">
                                <input type="text" value="%" class="form-control" disabled="disabled" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Activation Date</label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.details.ACTIVATION_DATE, new { @class = "form-control" })
                            </div>

                            <label class="control-label col-md-2">Deactivation Date</label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.details.DEACTIVATION_DATE, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Delivery Time </label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.details.DELIVERY_TIME, new { @class = "form-control"})
                                <div class="vrysmall_txt_frms">Delivered in 2-4 business days</div>
                            </div>

                            <label class="control-label col-md-2">Weight </label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.Weight, new { @class = "form-control" })
                                <div class="vrysmall_txt_frms">Weight should be (Gms or KGs)</div>
                            </div>
                        </div>


                        <div class="form-group">
                            <p>
                                Set this flag true if product's sellable inventory should be taken from the selected location/store rather than aggregating across the location/store.The consumer has to select a location before adding product to the cart.
                            </p>
                        </div>

                        @*<div class="form-group">
                                <label class="control-label col-md-2">Location Based Inventory <span class="red">*</span></label>
                                <div class="col-md-3">
                                    @Html.CheckBoxFor(m=>m.LocationBasedInventory, new { required="required" } )
                                </div>
                            </div>*@
                    </div><br>


                    <div class="mmctrl_box mrgin_gap0">
                        <div class="mmcaption">Product Stock Information</div>
                        <br>
                        <div class="form-group">
                            <label class="control-label col-md-2">Inventory <span class="red">*</span></label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.details.INVENTORY, new { @class = "form-control", @onkeypress = "return isNumber(event)", @onkeyup = "InventoryChange();", @onblur = "InventoryChange()", id = "txtInventory", required = "required" })
                            </div>

                            <label class="control-label col-md-2">Pkg Qty </label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.details.PKG_QUANTITY, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Reserve Quantity </label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.details.RESERVE_QUANTITY, new { @class = "form-control", id = "txtReserveQuantity", @onkeyup = "InventoryChange();", @onblur = "InventoryChange()" })
                            </div>

                            <label class="control-label col-md-2">Reorder Stock Level</label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.details.REORDER_STOCK_LEVEL, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Stock Alert Quantity </label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.details.STOCK_ALERT_QUANTITY, new { @class = "form-control" })
                            </div>

                            <label class="control-label col-md-2">Minimum Order Quantity</label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.details.MINIMUM_ORDER_QUANTITY, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Enable</label>
                            <div class="col-md-3">
                                @Html.CheckBoxFor(m => m.PreOrder, new { })
                                Preorder &nbsp; &nbsp;
                                @Html.CheckBoxFor(m => m.BackOrder, new { id = "chkBackOrder" })
                                Backorder
                            </div>

                            <label class="control-label col-md-2">Maximum Order Quantity</label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.details.MAXIMUM_ORDER_QUANTITY, new { @class = "form-control", id = "txtMaxQuantity" })
                            </div>
                        </div>

                        <div class="form-group" id="divStockAvailable">
                            <label class="control-label col-md-2" for="">Stock Available Mess </label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.details.STOCK_AVAILABLE_MESS, new { @class = "form-control" })
                                <div class="vrysmall_txt_frms">Stock will be available in next 15 working days.</div>
                            </div>
                        </div>
                    </div><br>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mmctrl_box mrgin_gap0">
                                <div class="mmcaption">Payment Information</div>
                                <p class="mrgin_gap20">'Selected Checkout Options' from the 'Select Checkout Options' page will appear here. Select the suitable checkout option(s) to apply for this product.</p>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Payment Types </label>
                                    <div class="col-md-9">
                                        @*@Html.CheckBoxFor(m => m.CreditCard, new { }) Credit Card &nbsp; &nbsp; &nbsp;
                                        @Html.CheckBoxFor(m => m.Online, new { })Online Bank Transfer &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp;
                                        @Html.CheckBoxFor(m => m.Cheque, new { }) Cheque / DD &nbsp; &nbsp;
                                        @Html.CheckBoxFor(m => m.COD, new { }) COD (Cash on Delivery)*@
                                        @Html.CheckBoxFor(m => m.COD, new { id="chkCOD" }) COD (Cash on Delivery)
                                        @Html.CheckBoxFor(m => m.Online, new { id="chkPayment"}) Online Payment &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mmctrl_box mrgin_gap0">
                                <div class="mmcaption">Delivery Options</div>
                                <p class="mrgin_gap20">The delivery options enables delivery modes for the products in the checkout process. "Ship" enables home delivery and "Instore Pickup" enables pick up from the store. The special delivery options like "Online" enables downloadable type of products and "Offline" enables call for actions configured at store level.</p>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Delivery Option </label>
                                    <div class="col-md-9">
                                        @Html.CheckBoxFor(m => m.Ship, new { }) Ship &nbsp;
                                        @*@Html.CheckBoxFor(m => m.Offline, new { }) Offline  &nbsp;*@
                                        @*@Html.CheckBoxFor(m => m.Deli_Online, new { }) Online &nbsp;*@
                                        @Html.CheckBoxFor(m => m.Instore_Pickup, new { }) Instore Pickup
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><br>


                    <div class="mmctrl_box mrgin_gap0">
                        <div class="mmcaption">Product Description </div>
                        <div class="mrgin_gap20">
                            <p>
                                Describe key information about your product briefly here. This is a Microsoft Word like WYSIWYG (What You See Is What You Get) editor and whatever the style you enter here,it will be displayed in the same style in Product Details page. 'Short Description' appears on the 'Product Details' Page beside product image, while 'Long Description' appears under 'Description' tab of 'Product Details' page.
                            </p>
                            <br>
                            <div class="form-group">
                                <label class="control-label col-md-2" style="text-align:left;">Short Description</label>
                                <div class="col-md-9">
                                    @Html.TextAreaFor(m => m.details.PRODUCT_CAPTION, new { @class = "resizable_textarea form-control", @MaxLength = "200" })
                                    <div class="vrysmall_txt_frms">Describe with in 200 char</div>
                                </div>

                                @*<div class="col-md-1">
                                    <button type="button" class="btn btn-dark pull-left">Edit</button>
                                </div>*@
                            </div>

                            <hr>

                            <div class="form-group">
                                <label class="control-label col-md-2" style="text-align:left;">Long Description</label>
                                <div class="col-md-9">
                                    @Html.TextAreaFor(m => m.details.PRODUCT_DESC, new { @class = "form-control", id = "details_PRODUCT_DESC" })
                                </div>

                                @*<div class="col-md-1">
                                    <button type="button" class="btn btn-dark pull-left">Edit</button>
                                </div>*@
                            </div>
                        </div>
                    </div><br>

                    <div class="mmctrl_box mrgin_gap0">
                        <div class="mmcaption">Product Images and Videos </div>
                        <div class="mrgin_gap20">
                            <p>
                                Upload the ‘Source Image’, which will be dynamically resized to the defined sizes of ‘Small Image’ or ‘Custom Image’, ‘Large Image’, ‘Thumbnail Image’, and ‘Zoom Upload the ‘Source Image’, which will be dynamically resized to the defined sizes of ‘Small Image’ or ‘Custom Image’, ‘Large Image’, ‘Thumbnail Image’, and ‘Zoom Image’. This image ('Large Image') is displayed on the 'Product Details' page after clicking the 'Small Inage.'
                            </p>
@if (Model.productImages != null && Model.productImages.Count() != 0)
{
    <a href="@Url.Action("ProductImages",new { id= Model.details.PRODUCT_ID})">Add/Edit Product Image</a>
}
                            <br>
                            <div class="form-group">
                                <label class="control-label col-md-2" for="">Source Image</label>

                                @if (Model.productImages != null && Model.productImages.Count() != 0 && Model.productImages.Any(a => a.DISPLAY_IMAGE == 1))
                                {
                                    <div class="col-md-5">
                                    </div>
                                    <div class="col-md-5">
                                        <img src="@Model.productImages.FirstOrDefault(a => a.DISPLAY_IMAGE == 1).Image" style="width: 30%; float: right"/>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-5">
                                        <span class="prettyFile">
                                            <input name="sourceImage" type="file" id="sourceImage" />
                                            <div class="input-append">
                                                <input class="input-large_brwse" type="text">
                                                <a href="#" class="btn_brwse">Upload</a>
                                            </div>
                                        </span>
                                    </div>
                                }
                            </div>
                            <hr>
                            <div class="form-group">
                                <label class="control-label col-md-2" for="">Gif Image</label>

                                @if (Model.productImages != null && Model.productImages.Count() != 0 && Model.productImages.Any(a => a.DISPLAY_IMAGE == 2))
                                {
                                    <div class="col-md-5">
                                    </div>
                                    <div class="col-md-5">
                                        <img src="@Model.productImages.FirstOrDefault(a => a.DISPLAY_IMAGE == 2).Image" style="width: 30%; float: right"/>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-5">
                                        <span class="prettyFile">
                                            <input name="gifImage" multiple type="file" id="gifImage">
                                            <div class="input-append">
                                                <input class="input-large_brwse" type="text">
                                                <a href="#" class="btn_brwse">Upload</a>
                                            </div>
                                        </span>
                                    </div>
                                }
                            </div>

                            <hr>
                            @*<div class="form-group">
                                <label class="control-label col-md-2" for="">Image 1</label>
                                <div class="col-md-5">
                                    <span class="prettyFile">
                                        <input name="image1" multiple type="file">
                                        <div class="input-append">
                                            <input class="input-large_brwse" type="text">
                                            <a href="#" class="btn_brwse">Upload</a>
                                        </div>
                                    </span>
                                </div>*@
                            @if (Model.productImages != null && Model.productImages.Count(a => a.DISPLAY_IMAGE == 0) != 0 && Model.productImages.Any(a => a.DISPLAY_IMAGE == 0))
                            {
                                int count = 1;
                                foreach (var data in Model.productImages.Where(a => a.DISPLAY_IMAGE == 0))
                                {
                                    string imgs = "image";
                                    imgs = imgs + count;
                                    <div class="form-group">
                                        <label class="control-label col-md-2" for="">@imgs</label>
                                        <div class="col-md-5">
                                            @*<span class="prettyFile">
                                                <input name="@imgs" multiple type="file">
                                                <div class="input-append">
                                                    <input class="input-large_brwse" type="text">
                                                    <a href="#" class="btn_brwse">Upload</a>
                                                </div>
                                            </span>*@
                                        </div>

                                        <div class="col-md-5">
                                            <img src="@data.Image" style="width:30%;float:right" />
                                        </div>
                                    </div>
                                    count++;
                                }
                            }
                            else
                            {
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="">Image 1</label>
                                    <div class="col-md-5">
                                        <span class="prettyFile">
                                            <input name="image1" multiple type="file">
                                            <div class="input-append">
                                                <input class="input-large_brwse" type="text">
                                                <a href="#" class="btn_brwse">Upload</a>
                                            </div>
                                        </span>
                                    </div>
                                    <input type="hidden" id="txtimageCount" value="1" />
                                    <div class="addplusmore"><a href="javascript:;" onclick="addImage();"><i class="fa fa-plus btn-primary"></i></a></div>
                                </div>
                                <div id="img2">
                                </div>
                                <div id="img3">
                                </div>
                                <div id="img4">
                                </div>
                                <div id="img5">
                                </div>
                            }
                            <hr>

                            <div class="form-group">
                                <label class="control-label col-md-2" for="">Video Url <span class="red">*</span></label>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.details.VIDEO_URL, new { @class = "form-control", required = "required" })
                                </div>
                            </div>
                        </div>
                    </div><br>

                    <div class="mmctrl_box mrgin_gap0">
                        <div class="mmcaption">Shipping Information</div>
                        <div class="mrgin_gap20">
                            <p>'Available Shipping Codes' from the 'Shipping Setup Overview' page will appear here. Select suitable shipping code(s) to apply for this product.</p>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="slectonetoone_ctrl">
                                        <h1>Available Codes</h1>
                                        @Html.DropDownListFor(m => m.AvailableShippingCodes, new SelectList(Model.shippingCodes, "SHIPPING_ID", "SHIPPING_CODE"), null, new { multiple = "MULTIPLE", @class = "slectonetoone", @id = "sbOne" })
                                    </div>
                                </div>
                                @if (Model.SelectedShippingCodes != null)
                                {
                                    foreach (var code in Model.SelectedShippingCodes)
                                    {
                                        <script>
                                            $(document).ready(function () {
                                                $('#sbOne option[value=@code]').attr('selected', true);
                                            });
                                        </script>
                                    }
                                }
                                <div class="col-md-1 row slectbtngpctrl">
                                    <input id="rightAll" value="&gt;&gt;" type="button">
                                    <input id="right" value="&gt;" type="button">
                                    <input id="left" value="&lt;" type="button">
                                    <input id="leftAll" value="&lt;&lt;" type="button">
                                </div>
                                <script>
                                    $(document).ready(function () {
                                        $('#right').click(function () {
                                            $('#sbTwo').append($('#sbOne option:selected'));
                                        });
                                        $('#right').click(function () {
                                            $('#sbTwo').append($('#sbOne option:selected'));
                                        });
                                        $('#rightAll').click(function () {
                                            $('#sbTwo').append($('#sbOne option'));
                                        });
                                        $('#leftAll').click(function () {
                                            $('#sbOne').append($('#sbTwo option'));
                                        });
                                        $('#right').click();
                                    });
                                </script>

                                <div class="col-md-5">
                                    <div class="slectonetoone_ctrl">
                                        <h1>Selected Codes</h1>
                                        <select multiple="MULTIPLE" class="slectonetoone" id="sbTwo" name="SelectedShippingCodes"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><br>

                    @*<div class="mmctrl_box mrgin_gap0">
                            <div class="mmcaption">Pricing Information </div>
                            <div class="mrgin_gap20">
                                <p>'Available Shipping Codes' from the 'Shipping Setup Overview' page will appear here. Select suitable shipping code(s) to apply for this product.</p>
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="">Add to Marketplaces</label>
                                    <div class="col-md-5">
                                        <input type="checkbox">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2" for="">Attribute Set</label>
                                    <div class="col-md-5">
                                        <span class="prettyFile">
                                            <input name="form[files][]" multiple type="file">
                                            <div class="input-append">
                                                <input class="input-large_brwse" type="text">
                                                <a href="#" class="btn_brwse">Browse</a>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div><br>*@

                    <div class="col-md-12">
                        <div class="pull-right">
                            <button type="submit" class="btn btn-dark dtn-save" name="Command" value="Save&Next">Save and Next</button>
                            @*<button type="submit" class="btn btn-default dtn-save" name="Command" value="Save">Save</button>*@
                            <button type="submit" class="btn btn-default dtn-save" name="Command" value="Save&List">Save and Return to Product List</button>
                            @*<button type="submit" class="btn btn-default dtn-save" name="Command" value="Save&New">Save and Add New</button>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (TempData["Alert"] != null)
        {
            <p style="color: red">@TempData["Alert"].ToString()</p>
        }
        <div class="col-md-2">
            <div class="right_menu">
                <h1>Add New Product</h1>
                <ul>
                    <li class="active"><a href="@Url.Action("AddProduct", "Home", new { id = @Model.details.PRODUCT_ID })">Basic Information</a></li>
                    @if (Model != null && Model.details != null && Model.details.PRODUCT_ID != 0) { 
                    <li><a href="@Url.Action("ProductAdditionalinfo", "Home", new { id = @Model.details.PRODUCT_ID })">Additional Information</a></li>
                     @*<li><a href="Products_Physicalproduct_add_Attributeset.html">Attributes</a></li>*@
                    <li><a href="@Url.Action("ProductImages","Home", new { id = @Model.details.PRODUCT_ID})">Images</a></li>
                    }
                    <!--<li><a href="#">Locations</a></li>-->
                </ul>
            </div>
        </div>
    </div>
}
<br>


@section Gizmobabascripts
{

    <script src="~/GizmobabaFiles/js/nicescroll/jquery.nicescroll.min.js"></script>
    <!-- icheck -->
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="~/GizmobabaFiles/js/nicescroll/jquery.nicescroll.min.js"></script>
<!-- icheck -->
<script src="~/GizmobabaFiles/js/icheck/icheck.min.js"></script>
<script src="~/GizmobabaFiles/js/fSelect.js"></script>
<script>
    $(function () {
        $('.demo').fSelect();
        // $('.demo').val();
        $(".tagsSelect").on('click', '.fss_btn', function () {
            var tagIdList = $('.demo').val();
            var productIdList = $.map($('#tblPro').find('.input-check-box:checked'), function (obj) {
                return $(obj).parents('tr').attr('id');
            });
            var data = { 'tagIdList': tagIdList, 'productIdList': productIdList };
            $.ajax({
                url: 'Admin/Home/AddTagToProduct',
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                async: false,
                data: JSON.stringify(data),
                dataType: "json",
                //  processData: false,
                // cache: false,
                success: function (data) {
                    alert('Success');
                },
                error: function (xhr) {
                    alert(xhr);
                }
            });
        });
    });

</script>



    <script>
        NProgress.done();
        $(document).ready(function () {
            $('#details_ACTIVATION_DATE, #details_DEACTIVATION_DATE').datepicker();
            $('button[type="submit"]').click(function () {
                var emptyVal = 0;
                $('[required]').each(function() {
                    if ($(this).val() == "") {
                        emptyVal = 1;
                    }
                });
                if (emptyVal!=1)
                    $('.loader-container').removeClass('hide');
            });
            $('#sourceImage').change(function (e) {
                imagevalidation();
            });
            
        });

        function imagevalidation() {
            $('#sourceImage').parents('div.col-md-5').find('label.error').remove();
            var image_file = document.getElementById("sourceImage");

            //checking file name and extension here
            var regex = new RegExp("([a-zA-Z0-9\s_\\.\-:])+(.jpg|.png|.gif)$");
            if (regex.test(image_file.value.toLowerCase())) {

                //check file uploaded support HTML5 or not!
                if (typeof (image_file.files) != "undefined") {
                    //create object of FileReader
                    var reader = new FileReader();
                    //Read the contents of Image File.
                    reader.readAsDataURL(image_file.files[0]);
                    reader.onload = function (e) {
                        //create image object to get height and width
                        var image = new Image();
                        image.src = e.target.result;

                        //Validate the image Height and Width.
                        image.onload = function () {
                            var height = this.height;
                            var width = this.width;
                            //alert(height + "-" + width);
                            // here you can do your code as per your requirement
                            if (height != width) {
                                //alert("Height and Width must be same");
                                $('#sourceImage').parents('div.col-md-5').append('<label class="error">Height and Width must be same</label>');
                                return false;
                            }
                            if (height < 300 && width < 300) {
                                //alert("Height and Width can not be more than 340px.");
                                $('#sourceImage').parents('div.col-md-5').append('<label class="error">Height and Width can not be more than 340px.</label>');
                                return false;
                            }
                           // alert("Successfully uploaded");
                            return true;
                        };

                    }
                } else {
                    //alert("This browser does not support HTML5.");
                    return false;
                }
            } else {
                //alert("Please select a valid Image file.");
                $('#sourceImage').parents('div.col-md-5').append('<label class="error">Please select a valid Image file.</label>');
                return false;
            }
        }

        function validateForm() {
            //if ($('#PreOrder').is(':checked') == false && $('#BackOrder').is(':checked') == false) {
            //    $('#PreOrder').parent('div').append('<label class="error">Please select atleast one.</label>');
            //    $('html,body').animate({
            //        scrollTop: $("#PreOrder").offset().top - 100
            //    }, 'slow');
            //    $('.loader-container').addClass('hide');
            //    //return false;
            //    return true;
            //}
            //if ($('#Ship').is(':checked') == false && $('#Offline').is(':checked') == false && $('#Deli_Online').is(':checked') == false && $('#Instore_Pickup').is(':checked') == false) {
            //    $('#Ship').parent('div').append('<label class="error">Please select atleast one.</label>');
            //    $('html,body').animate({
            //        scrollTop: $("#Ship").offset().top - 100
            //    }, 'slow');
            //    $('.loader-container').addClass('hide');
            //    return true;
            //    //return false;
            //}
            //if ($('#CreditCard').is(':checked') == false && $('#Online').is(':checked') == false && $('#Cheque').is(':checked') == false && $('#COD').is(':checked') == false) {
            //    $('#CreditCard').parent('div').append('<label class="error">Please select atleast one.</label>');
            //    $('html,body').animate({
            //        scrollTop: $("#Ship").offset().top - 100
            //    }, 'slow');
            //    $('.loader-container').addClass('hide');
            //    return true;
            //    //return false;
            //}
            if ($('#sourceImage').val() == "") {
                $('#sourceImage').parents('div.col-md-5').append('<label class="error">Please select source Image.</label>');
                $('.loader-container').addClass('hide');
               // return true;
                return false;
            } else {
                imagevalidation();
            }
            if ($('#gifImage').val() == "") {
                $('#gifImage').parents('div.col-md-5').append('<label class="error">Please select source Image.</label>');
                $('.loader-container').addClass('hide');
               // return true;
                return false;
            }
        }
    </script>
}

<div class='loader-container hide'>
    <div class='loader'>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--text'></div>
    </div>
</div>
<link href="~/Content/loader.css" rel="stylesheet" />
<style>
    .error{
        color:red
    }
</style>