﻿@model Gizmobaba.Models.BannerListModel
@{
    ViewBag.Title = "Adds";
    Layout = "~/Views/Shared/_LayoutGizmobaba.cshtml";
}
<script>
    var URL = '@System.Configuration.ConfigurationManager.AppSettings["baseUrl"]';
    function CodeClear()
    {
        $('#Code').val('');
    }
    function DeleteBanner(i)
    {
        var id = i;
        $.ajax({
            //url: '/Home/DeleteBanner/' +id,
            url: URL + '/Home/DeleteBanner/' +id,
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            async: false,
            dataType: "json",
            success: function (data) {
                //alert(data);
                var response = '<div class="alert alertnew alert-success fade in">' +
                   '<a href="#" class="close" data-dismiss="alert">×</a>' +
                   '<strong>Success!</strong> Banner image successfully deleted</div>';
                $('#divbanner').append(response);

                $('.alert').fadeOut(10000);
                $('tr[id=' + id + ']').remove();
            },
            error: function (xhr) {
                alert(xhr);

            }
        });
    }
    function SetAddBanner(id)
    {
        $.ajax({
            url: URL + '/Home/SetBanner/' + id,
            //url: '/Home/SetBanner/' +id,
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            async: false,
            dataType: "json",
            success: function (data) {
                alert(data);
                $('a[id=' + id + ']').remove();
            },
            error: function (xhr) {
                alert(xhr);
            }
        });
    }

    function picUpload(count) {
        $('#btnSubmit').attr('disabled', false);
        var Count = 0;
        $.each(count, function (key, item) {
         validate_upload(item)
        });
    }

    function validate_upload(Img) {
        //Get reference of uploaded file.
      // var image_file = document.getElementById("Image");
        var image_file = Img;
        //checking file name and extension here
        var regex = new RegExp("([a-zA-Z0-9\s_\\.\-:])+(.jpg|.png|.gif)$");
        if (regex.test(image_file.name.toLowerCase())) {

            //check file uploaded support HTML5 or not!
            if (typeof (image_file) != "undefined") {
                //create object of FileReader
                var reader = new FileReader(); 
                //Read the contents of Image File.
                reader.readAsDataURL(image_file);
                reader.onload = function (e) {
                    //create image object to get height and width
                    var image = new Image();
                    image.src = e.target.result;

                    //Validate the image Height and Width.
                    image.onload = function () {
                        var height = this.height;
                        var width = this.width;
                        //alert(height + "-" + width);
                        // here you can do your code as per your requirement
                        if ((height > 191 && height < 501) && (width > 555 && width < 1011)) {
                            //alert("Height and Width can not be more than 100px.");
                            return false;
                        } else {
                            $('#btnSubmit').attr('disabled', true);
                            $('#Image').parents('div.col-md-5').append('<label class="error">Invalid ' +image_file.name+ ' size.</label>');
                            return true;
                        }
                        //alert("Successfully uploaded");
                        return true;
                    };

                }
            } else {
                alert("This browser does not support HTML5.");
                return false;
            }
        } else {
            alert("Please select a valid Image file.");
            return false;
        }
    }
</script>
  <!-- page content -->
    <div class="page-title">
        <div class="title_left">
            <h3>Design &amp; Content <i class="fa fa-caret-right"></i>  <i style="font-size:17px">Footer Adds Banners Upload</i></h3>

        </div>
    </div>

    <div class="title_content_top">
      <p>Upload and use your own background image </p>  @*<p> Here you can configure online checkout options to your store after tie-up with respective payment gateway.</p>*@
    </div>
    <div class="clearfix"></div>
@if (TempData["Message"] != null && TempData["Message"] != "")
{
    <div class="alert alertnew alert-success fade in">
        <a href="#" class="close" data-dismiss="alert">×</a>
        <strong>Success!</strong> @TempData["Message"]
    </div>
}
else if (TempData["Error"] != null && TempData["Error"] != "")
{
    <div class="alert alertnew alert-danger fade in">
        <a href="#" class="close" data-dismiss="alert">×</a>
        <strong>Error!</strong> @TempData["Error"]
    </div>
}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="mmctrl_box mrgin_gap0">
                <div class="mmcaption">Footer Banners</div>
                @*<p class="mrgin_gap20">Upload and use your own background image </p>*@
@using (Html.BeginForm("Adds", "Home", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = "return validateForm();" }))
{
                @*<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">*@
                    <br>
    <div class="upclse_icnsbox_ctrl" id="divbanner">
        @*<div class="upclse_icnsbox_no">01</div>*@
        <div class="form-group">
            <label class="control-label col-md-3">Choose Options for Banner</label>
            <div class="col-md-3">
                <select class="select2_single form-control" id="ddlBannerType" tabindex="-1">
                    <option selected="selected" value=""> -- Select -- </option>
                    <option value="Code">Code</option>
                    <option value="Image">Image</option>
                </select>
            </div>
        </div>

        <div class="form-group" id="divCode">
            <label class="control-label col-md-3">Code</label>
            <div class="col-md-5">
                <textarea name="Code" id="Code" class="resizable_textarea form-control"></textarea>
            </div>

            <div class="upclse_icnsholder">
                <a href="javascript:;" onclick="CodeClear();"><i class="fa fa-close"></i></a>
            </div>
        </div>

        <div class="form-group" id="divImage">
            <label class="control-label col-md-3" for="">Image</label>
            <div class="col-md-5">
                <span class="prettyFile">
                    <input name="Image" id="Image" onchange="picUpload(this.files)" multiple type="file">
                    <div class="input-append">
                        <input class="input-large_brwse" type="text">
                        <a href="#" class="btn_brwse">Browse</a>
                    </div>
                </span>
            </div>
            @*<div class="col-md-1">
                    <button type="button" class="btn btn-default">Upload</button>
                </div>*@
        </div>
    </div>

                @*</form>*@
    <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg0">
        <div class="pull-right">
            <a href="javascript:;"><input id="btnSubmit" type="submit" class="btn btn-dark" value="upload" /></a>
            <a href="javascript:;"><button type="button" onclick="$(this).parents('form').find('input[type=text]').val(''); $(this).parents('form').find('img').remove(); $('label.error').remove();" class="btn btn-default">Cancel</button></a>
        </div>
    </div>
}
            </div>
            <br>

            <div class="mmctrl_box mrgin_gap0 mmctrl_tble">
                <div class="mmcaption">List of Abandoned Carts</div>
                <table class="table table-striped mrgin_gap0">
                    <thead>
                        <tr>
                            <th>Position</th>
                            <th>Option Used</th>
                            <th>Display</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int count = 1;
                            if (Model.bannerList != null && Model.bannerList.Count() != 0) { 
                        foreach (var item in Model.bannerList)
                        {
                            <tr id="@item.BANNER_ID">
                                <td>@count</td>
                                @if (item.BANNER_DEC != null)
                                {
                                    <td>Code</td>
                                }
                                else
                                {
                                    <td>Image</td>
                                }
                                @if (item.BannerImage != null) { 
                                <td><img src="@item.BannerImage" class="img-responsive ftractn_imgct" width="100%" alt="" /></td>
                                }
                                else
                                {
                                    <td><img src="" class="img-responsive ftractn_imgct" width="100%" alt="" /></td>
                                }
                                <td>
                                    <div class="footer-action">
                                        <a class="closefaadd" href="javascript:;" onclick="DeleteBanner(@item.BANNER_ID);" title="Close"><i class="fa fa-close"></i></a>
                                       @if (item.STATUS == 0)
                                       {
                                        <a id="@item.BANNER_ID" class="applyfaadd" href="javascript:;" onclick="SetAddBanner(@item.BANNER_ID);" title="Apply"><i class="fa fa-check"></i></a>
                                       }
                                    </div>
                                </td>
                            </tr>
                            count++ ;
                        }
                        }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /page content -->
    <br>

<!-- /page content -->
<!--Java Scripts Start form here-->
<script src="js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('#divImage').hide();
        $('#divCode').hide();
        $('#ddlBannerType').change(function () {
            if ($('#ddlBannerType').val() == "Code") {
                $('#divCode').show();
                $('#divImage').hide();
            } else if ($('#ddlBannerType').val() == "Image") {
                $('#divImage').show();
                $('#divCode').hide();
            }

        });
    });
</script>
<div class='loader-container hide'>
    <div class='loader'>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--text'></div>
    </div>
</div>
<link href="~/Content/loader.css" rel="stylesheet" />
<!-- bootstrap progress js -->
<script src="js/progressbar/bootstrap-progressbar.min.js"></script>
<script src="js/nicescroll/jquery.nicescroll.min.js"></script>

<script>
    NProgress.done();
    $(document).ready(function () {
        $('button[type="submit"]').click(function () {
            var emptyVal = 0;
            $('[required]').each(function () {
                if ($(this).val() == "") {
                    emptyVal = 1;
                }
            });
            if (emptyVal != 1)
                $('.loader-container').removeClass('hide');
        });
    });
    function validateForm() {
        $('.loader-container').removeClass('hide');
        if ($('#ddlBannerType').val() == "Image" && $('#Image').val() == "") {
            $('#Image').parents('div.col-md-5').append('<label class="error">Please select Image.</label>');
            $('.loader-container').addClass('hide');
            return false;
        }
        if ($('#ddlBannerType').val() == "Code" && $('#Code').val() == "") {
            $('#Code').parents('div.col-md-5').append('<label class="error">Please select Image.</label>');
            $('.loader-container').addClass('hide');
            return false;
        }
    }
</script>
<script src="~/Scripts/common.js"></script>

