﻿@model Gizmobaba.Models.BannerListModel
@using Newtonsoft.Json
@{
    ViewBag.Title = "Banners";
    Layout = "~/Views/Shared/_LayoutGizmobaba.cshtml";
}
<script type="text/javascript">
    var URL = '@System.Configuration.ConfigurationManager.AppSettings["baseUrl"]';
    var model = @Html.Raw(JsonConvert.SerializeObject(this.Model.bannerList));
    function AddBanner(i) {
        var id = i;
        $('.loader-container').removeClass('hide');
        $.ajax({
            url: URL + '/Home/SetBanner/' +id,
            //url: '/Home/SetBanner/' +id,
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            async: false,
            dataType: "json",
            success: function (data) {
                //alert(data);
                var response = '<div class="alert alertnew alert-success fade in">' +
                      '<a href="#" class="close" data-dismiss="alert">×</a>' +
                      '<strong>Success!</strong> Banner image successfully updated</div>';
                $('#divbanner').append(response);
                $('.loader-container').addClass('hide');
            },
            error: function (xhr) {
                //alert(xhr);
                var response = '<div class="alert alertnew alert-danger fade in">'+
                                '<a href="#" class="close" data-dismiss="alert">×</a>'+
                                '<strong>Error!</strong> please try again</div>';
                $('#divbanner').append(response);
                $('.loader-container').addClass('hide');
            }
        });
        $('.alert').fadeOut(10000);
    }
    function DeleteBanner(i) {
        var id = i;
        $('.loader-container').removeClass('hide');
        $.ajax({
            //url: '/Home/DeleteBanner/' +id,
            url: URL + '/Home/DeleteBanner/' +id,
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            async: false,
            dataType: "json",
            success: function (data) {
                var response = '<div class="alert alertnew alert-success fade in">' +
                    '<a href="#" class="close" data-dismiss="alert">×</a>' +
                    '<strong>Success!</strong> Banner image successfully deleted</div>';
                $('#divbanner').append(response);

                //$('#'+i+'').html('');
                $('#'+i+'').remove();
                $('.loader-container').addClass('hide');
            },
            error: function (xhr) {
                //alert(xhr);
                var response = '<div class="alert alertnew alert-danger fade in">'+
                                '<a href="#" class="close" data-dismiss="alert">×</a>'+
                                '<strong>Error!</strong> please try again</div>';
                $('#divbanner').append(response);
                $('.loader-container').addClass('hide');
            }
        });
        $('.alert').fadeOut(10000);

    }
</script>
    <div class="page-title">
        <div class="title_left">
            <h3>Design &amp; Content <i class="fa fa-caret-right"></i>  <i style="font-size:17px">Banner Upload </i></h3>

        </div>
    </div>

    @*<div class="title_content_top">
        <p> Here you can configure online checkout options to your store after tie-up with respective payment gateway.</p>
    </div>*@
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="mmctrl_box mrgin_gap0" id="divbanner">
                <div class="mmcaption">Upload Banners</div>
                <p class="mrgin_gap20">Upload and use your own background image </p>
                @if (TempData["Message"] != null)
                {
                    <div class="alert alertnew alert-success fade in">
                        <a href="#" class="close" data-dismiss="alert">×</a>
                        <strong>Success!</strong> @TempData["Message"]
                    </div>
                }
                @using (Html.BeginForm("AddBanner", "Home", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = "return validateForm();" }))
                {
                    <br>
                    <div class="form-group">
                        <label class="control-label col-md-3" for="">Home Page Banner 1</label>
                        <div class="col-md-5">
                            <span class="prettyFile">
                                <input name="Image" id="Image" type="file">
                                <div class="input-append">
                                    <input class="input-large_brwse" type="text">
                                    <a href="#" class="btn_brwse">Browse</a>
                                </div>
                            </span>
                        </div>

                        <div class="col-md-1">
                            <input type="submit" id="btnSave" class="btn btn-default" value="Upload" />
                            @ViewBag.ErrorMsg
                        </div>

                        @*<div class="plusiconforadd"><a class="search-plus-btnsm"><i class="fa fa-plus"></i></a></div>*@
                    </div>

                    @*<div class="form-group" style="display:none" id="search-plus-btnsmhs">
                    <label class="control-label col-md-3" for="">Home Page Banner 2</label>
                    <div class="col-md-5">
                        <span class="prettyFile">
                            <input name="form[files][]" multiple type="file" id="sourceImage">
                            <div class="input-append">
                                <input class="input-large_brwse" type="text">
                                <a href="#" class="btn_brwse">Browse</a>
                            </div>
                        </span>
                    </div>

                    <div class="col-md-1">
                        <button type="button" class="btn btn-default">Upload</button>
                    </div>

                    <div class="plusiconforadd"><a class="search-plus-btnsm"><i class="fa fa-plus"></i></a></div>
                </div>*@
                }
                <br>
            </div>
            <br>

            <div class="mmctrl_box mrgin_gap0">
                <div class="mmcaption">View Upload Banners</div>
                <div class="checkoutholder">
                    <ul class="checkoutholder">
                            @if (Model != null)
                            {
                                foreach (var iteam in Model.bannerList)
                                {
                                    if (iteam.STATUS == 1)
                                    {
                                        <li id="@iteam.BANNER_ID" class="active">
                                            <img src="@iteam.BannerImage" class="bnrholderimg" alt="">
                                            <div class="checkout-captionholder">
                                                <div class="caption_blur"></div>
                                                <div class="captiontext">
                                                    <h4><a href="javascript:;" onclick="AddBanner(@iteam.BANNER_ID)">ADDED</a></h4>
                                                    <div class="clearfix"></div>
                                                </div>

                                                <div class="captiontext_delete">
                                                    <a href="javascript:;" onclick="DeleteBanner(@iteam.BANNER_ID);"><i class="fa fa-trash"></i></a>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                    else
                                    {

                                <li id="@iteam.BANNER_ID">
                                    <img src="@iteam.BannerImage" class="bnrholderimg" alt="">
                                    <div class="checkout-captionholder">
                                        <div class="caption_blur"></div>
                                        <div class="captiontext">
                                            <h2><a href="javascript:;" onclick="AddBanner(@iteam.BANNER_ID)">ADD</a></h2>
                                            <h3><a href="javascript:;" onclick="DeleteBanner(@iteam.BANNER_ID);">Remove</a></h3>
                                            <div class="clearfix"></div>
                                            <p>Whatever It Is - Always Awesome</p>
                                        </div>
                                    </div>
                                </li>
                            }
                            }
                        }
                    </ul>
                </div>
            </div><br>
        </div>
    </div>
    <!-- /page content -->

<div class='loader-container hide'>
    <div class='loader'>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--text'></div>
    </div>
</div>
<link href="~/Content/loader.css" rel="stylesheet" />
<script src="~/Scripts/common.js"></script>
<script>
    NProgress.done();
    $(document).ready(function () {
        $('button[type="submit"]').click(function () {
            var emptyVal = 0;
            $('[required]').each(function () {
                if ($(this).val() == "") {
                    emptyVal = 1;
                }
            });
            if (emptyVal != 1)
                $('.loader-container').removeClass('hide');
        });
    });
    function validateForm() {
        $('.loader-container').removeClass('hide');
        if ($('#Image').val() == "") {
            $('#Image').parents('div.col-md-5').append('<label class="error">Please select Image.</label>');
            $('.loader-container').addClass('hide');
            return false;
        }
    }

    $('#Image').change(function (e) {
        imagevalidation();
    });

    function imagevalidation() {
        $('#Image').parents('div.col-md-5').find('label.error').remove();
        $('#btnSave').attr("disabled", false);

        var image_file = document.getElementById("Image");

        //checking file name and extension here
        var regex = new RegExp("([a-zA-Z0-9\s_\\.\-:])+(.jpg|.png|.gif)$");
        if (regex.test(image_file.value.toLowerCase())) {

            //check file uploaded support HTML5 or not!
            if (typeof (image_file.files) != "undefined") {
                //create object of FileReader
                var reader = new FileReader();
                //Read the contents of Image File.
                reader.readAsDataURL(image_file.files[0]);
                reader.onload = function (e) {
                    //create image object to get height and width
                    var image = new Image();
                    image.src = e.target.result;

                    //Validate the image Height and Width.
                    image.onload = function () {
                        var height = this.height;
                        var width = this.width;
                        // here you can do your code as per your requirement
                        if (width < 1200 ) {
                            //alert("Height and Width must be same");
                            $('#Image').parents('div.col-md-5').append('<label class="error">Width can not be more than 1300px.</label>');
                            $('#btnSave').attr("disabled", true);
                            return false;
                        }
                        if(width > 1400){
                            $('#Image').parents('div.col-md-5').append('<label class="error">Width can not be less than 1400px.</label>');
                            $('#btnSave').attr("disabled", true);
                            return false;
                        }
                        if (height < 380 ) {
                            //alert("Height and Width can not be more than 340px.");
                            $('#Image').parents('div.col-md-5').append('<label class="error">Height can not be more than 400px.</label>');
                            $('#btnSave').attr("disabled", true);
                            return false;
                        }
                        if (height > 480 ) {
                            //alert("Height and Width can not be more than 340px.");
                            $('#Image').parents('div.col-md-5').append('<label class="error">Height can not be less than 450px.</label>');
                            $('#btnSave').attr("disabled", true);
                            return false;
                        }
                        // alert("Successfully uploaded");
                        return true;
                    };

                }
            } else {
                //alert("This browser does not support HTML5.");
                return false;
            }
        } else {
            //alert("Please select a valid Image file.");
            $('#Image').parents('div.col-md-5').append('<label class="error">Please select a valid Image file.</label>');
            return false;
        }
    }
</script>
<style>
    .error {
        color: red;
    }
</style>