﻿@model Gizmobaba.Models.BulkProductUploadModel
@{
    ViewBag.Title = "GlobalDeals";
    Layout = "~/Views/Shared/_LayoutGizmobaba.cshtml";
}
@section GizmobabaHeadFiles{
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="~/Scripts/paging.js"></script>
<link href="~/Content/paging.css" rel="stylesheet" />

<div class="page-title">
    <div class="title_left">
        <h3>Global Deals Bulk Product Upload</h3><br>
    </div>
</div>

<div class="title_content_top">
    <p>This interface allows you to add new products or update information of existing products in bulk quantity at a stretch. All you need to do is to download the ‘ProductCatalog.xlsx’ from ‘Bulk Product Download’ interface, update product information and upload that file here.</p>
</div>
<div class="clearfix"></div>
<div class="row">
    @if (TempData["Message"] != null && TempData["Message"] != "")
    {
        <div class="alert alertnew alert-success fade in">
            <a href="#" class="close" data-dismiss="alert">×</a>
            <strong>Success!</strong> @TempData["Message"]
        </div>
    }
    @if (TempData["Error"] != null && TempData["Error"] != "")
    {
        <div class="alert alertnew alert-danger fade in">
            <a href="#" class="close" data-dismiss="alert">×</a>
            <strong>Error!</strong> @TempData["Error"]
        </div>
    }
    @if (ViewBag.Message != null && ViewBag.Message != "")
    {
        <div class="alert alertnew alert-success fade in">
            <a href="#" class="close" data-dismiss="alert">×</a>
            <strong>Success!</strong> @ViewBag.Message
        </div>
    }
    else if (ViewBag.Error != null && ViewBag.Error != "")
    {
        <div class="alert alertnew alert-danger fade in">
            <a href="#" class="close" data-dismiss="alert">×</a>
            <strong>Error!</strong> @ViewBag.Error
        </div>
    }
    <div class="col-md-12">
        <div class="mmctrl_box mrgin_gap2020 mmctrl_tble">

            <div class="mmcaption">Multiple Images upload</div>
            @*<p style="padding:10px;">
                    Multiple product images upload
                </p>*@
            <hr />
            @using (Html.BeginForm("MultipleImages", "Home", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = "return validateImgForm();" }))
            {
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">Upload Images</label>
                    <p></p>
                    <div class="col-md-6">
                        <span class="prettyFile">
                            <input type="file" name="files" id="files" value="" multiple="multiple" />
                            <div class="input-append">
                                <input class="input-large_brwse" type="text">
                                <a href="#" class="btn_brwse">Browse</a>
                            </div>
                        </span>
                    </div>
                    @*<span style="color: red">@ViewBag.Message</span>*@

                </div>

                <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg0">
                    <div class="pull-right">
                        <input type="hidden" value="GlobalDeals" name="type" />
                        <a href="#">
                            <input type="submit" class="btn btn-dark" value="upload" />
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="col-md-12">
        <div class="mmctrl_box mrgin_gap2020">

            <div class="mmcaption">
                <i class="fa fa-user"></i> &nbsp; Bulk Product Upload
            </div>
            <p style="padding:10px;" >
                To download the default Bulk Product Excel template,
                &nbsp; <b class="linkas">
                    @Html.ActionLink("Click Here", "DownloadProductSheet", "Home", new { @class = "", style = "font-size:20px" })
                </b>
            </p>
            <hr>
            @using (Html.BeginForm("GlobalDeals", "Home", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = "return validateForm();" }))
            {
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">Upload File</label>
                    <div class="col-md-6">
                        <span class="prettyFile">
                            <input name="file" multiple type="file" id="file">
                            <div class="input-append">
                                <input class="input-large_brwse" type="text">
                                <a href="#" class="btn_brwse">Browse</a>
                            </div>
                        </span>
                    </div>

                </div>
                <p class="mrgin_gap20">You can find the task history of latest uploads in the following table. During each upload, you can find the upload status, total rows, updated rows, failed rows due to validations and exceptions being updated in runtime under ‘Task History.’ For each sheet of the uploaded Excel, there will be a separate row under ‘Task History.’ You can also navigate to the log summary of products that are failed to upload by clicking 'View Log' icon under ‘Actions’ column.</p>

                <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg0">
                    <div class="pull-right">
                        <a href="#">
                            <input type="submit" class="btn btn-dark" value="upload" />
                        </a>
                        <a href="#"><button type="button" class="btn btn-default">Cancel</button></a>
                    </div>
                </div>
            }

        </div>
    </div>

    <div id="bulkProductUploadView">
        @{
            Html.RenderPartial("~/Views/Shared/_bulkProductUploadPartial.cshtml", Model.bulkProductUploadview);
        }
    </div>

    

</div>

<div class='loader-container hide'>
    <div class='loader'>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--text'></div>
    </div>
</div>
<link href="~/Content/loader.css" rel="stylesheet" />
<script>
        NProgress.done();
        $(document).ready(function () {
            $('#tblPro').paging({ limit: 10 });
            $('.paging_full_numbers').find("[data-page='0']").attr('class', "selected-page");

            $('button[type="submit"]').click(function () {
                var emptyVal = 0;
                $('[required]').each(function() {
                    if ($(this).val() == "") {
                        emptyVal = 1;
                    }
                });
                if (emptyVal!=1)
                    $('.loader-container').removeClass('hide');
            });
        });
        function validateForm() {
            $('.loader-container').removeClass('hide');
            if ($('#file').val() == "") {
                $('#file').parents('div.col-md-6').append('<label class="error">Please select XL sheet.</label>');
                $('.loader-container').addClass('hide');
               // return true;
                return false;
            }
        }
        function validateImgForm() {
            $('.loader-container').removeClass('hide');
            if ($('#files').val() == "") {
                $('#files').parents('div.col-md-6').append('<label class="error">Please select Images.</label>');
                $('.loader-container').addClass('hide');
                // return true;
                return false;
            }
        }
</script>
<script src="~/Scripts/common.js"></script>

