﻿@model Gizmobaba.Models.InventorySnapshotViewModel
@using Newtonsoft.Json
@{
    ViewBag.Title = "InventorySnapshot";
    Layout = "~/Views/Shared/_LayoutGizmobaba.cshtml";
  //  var data = Model;
}
@section GizmobabaHeadFiles{
<link href="~/GizmobabaFiles/css/fSelect.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/GizmobabaFiles/css/green.css"/>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="~/Scripts/paging.js"></script>
    <script type="text/javascript">
        var model = @Html.Raw(JsonConvert.SerializeObject(Model.productsList.OrderByDescending(a => a.PRODUCT_ID)));
        var deleteRec;
        var deactivePro;
        var URL = '@System.Configuration.ConfigurationManager.AppSettings["baseUrl"]';
        function Binddata(dataObj) {
            
            //var head = '<table class="table table-striped responsive-utilities jambo_table bulk_action">' +
            //    '<thead><tr><th></th>' +
            //    '<th class="column-title">Product Title</th>' +
            //    '<th class="column-title">SKU</th>' +
            //    '<th class="column-title">Inv</th>' +
            //    '<th class="column-title">MRP</th>' +
            //    '<th class="column-title">Webprice</th>' +
            //    '<th class="column-title">Shipping Code</th>' +
            //    '<th class="column-title no-link last"><span class="nobr">Actions</span></th>' +
            //    '</tr></thead><tbody>';
            var body = '';
            $.each(dataObj, function(key, item) {
                body += "<tr id='" + item.PRODUCT_ID + "' style='display: ;'>";
                body += '<td><div class="squaredThree"><input type="checkbox" value="None" id="ABC_'+item.PRODUCT_ID+'" class="input-check-box" name="check" /><label for="ABC_'+item.PRODUCT_ID+'"></label></div></td>';
                body += "<td>" + item.PRODUCT_NAME;
                if (item.STATUS == 1) {
                    body += '<div class="active_divp">Active</div>';
                } else if (item.STATUS == 3) {
                    body += '<div class="dective_divp">Deleted</div>';
                } else if (item.STATUS == 0) {
                    body += '<div class="dective_divp">Inactive</div>';
                }
                //if (item.STATUS == 1) {
                //    body += "<div class='active_divp'>Active</div></td>";
                //}
                //else {
                //    body += "<div class='dective_divp'>Inactive</div></td>";
                //}
                body += "<td>" + item.PRODUCT_SKU + "</td>";
                body += "<td>" + item.QUANTITYS + "</td>";
                body += "<td>" + item.MRP + "</td>";
                body += "<td>" + item.NET_PRICE + "</td>";
                body += " <td>One , sonu  <br><a href='#'> More</a></td>";
                body += " <td>"+item.CREATED_BY+"</td>";
                body += "<td><div class='prdcts-action'>";
                body += " <a href='Product/" + item.PRODUCT_ID + "' title='View'><i class='fa fa-eye'></i></a>";
                body += "<a href='AddProduct/" + item.PRODUCT_ID + "' title='Edit'><i class='fa fa-pencil-square-o'></i></a>";
                body += "<a href='ProductImages/" + item.PRODUCT_ID + "' title='Product Images'><i class='fa fa-picture-o'></i></a>";
                body += " <a href='javascript:;' class='delete' title='Delete'><i class='fa fa-trash-o'></i></a>";
                if (item.STATUS == 0)
                    body += " <a href='#' class='activate' title='Activate'><i>Activate</i></a>";
                else if (item.STATUS == 1)
                    body += " <a href='#' class='deactivate' title='De-Activate'><i>De-Activate</i></a>";
                if (item.CREATED_BY == "Global Deals" && item.STATUS == 0)
                     body += '<a href="javascript:;" class="activate" title="Approved"><i>Approved</i></a>';

                body += "</div></td></tr>";
            });

           // var end = "</tbody></table>";
            var tbl = body;
            $('#tblPro tbody').html(tbl);

        }

        function Bindpaging(data, i) {
            //var head = '<table class="table table-striped responsive-utilities jambo_table bulk_action">' +
            //    '<thead><tr><th><input type="checkbox" id="check-all" class="flat checkAll"></th>' +
            //    '<th class="column-title">Product Title</th>' +
            //    '<th class="column-title">SKU</th>' +
            //    '<th class="column-title">Inv</th>' +
            //    '<th class="column-title">MRP</th>' +
            //    '<th class="column-title">Webprice</th>' +
            //    '<th class="column-title">Shipping Code</th>' +
            //    '<th class="column-title no-link last"><span class="nobr">Actions</span></th>' +
            //    '</tr></thead><tbody>';
            var body = '';
            var x = 0;
            var item = data;
            for (var z = 1; z <= item.length; z++) {
                if (x >= i) {

                } else {
                    body += "<tr id='" + item[x].PRODUCT_ID + "' style='display: ;'>";
                    body += '<td><div class="squaredThree"><input type="checkbox" value="None" id="ABC_'+item[x].PRODUCT_ID+'" class="input-check-box" name="check" /><label for="ABC_'+item[x].PRODUCT_ID+'"></label></div></td>';
                    body += "<td>" + item[x].PRODUCT_NAME;
                    if (item[x].STATUS == 1) {
                        body += '<div class="active_divp">Active</div>';
                    } else if (item[x].STATUS == 3) {
                        body += '<div class="dective_divp">Deleted</div>';
                    } else {
                        body += '<div class="dective_divp">Inactive</div>';
                    }
                    body += "<td>" + item[x].PRODUCT_SKU + "</td>";
                    body += "<td>" + item[x].QUANTITYS + "</td>";
                    body += "<td>" + item[x].MRP + "</td>";
                    body += "<td>" + item[x].NET_PRICE + "</td>";
                    body += " <td>One , sonu  <br><a href='#'> More</a></td>";
                    body += " <td>"+item[x].CREATED_BY+"</td>";
                    body += "<td><div class='prdcts-action'>";
                    body += " <a href='Product/" + item[x].PRODUCT_ID + "' title='View'><i class='fa fa-eye'></i></a>";
                    body += "<a href='AddProduct/" + item[x].PRODUCT_ID + "' title='Edit'><i class='fa fa-pencil-square-o'></i></a>";
                    body += "<a href='ProductImages/" + item.PRODUCT_ID + "' title='Product Images'><i class='fa fa-picture-o'></i></a>";
                    body += " <a href='javascript:;' class='delete' title='Delete'><i class='fa fa-trash-o'></i></a>";
                    if (item.STATUS == 0)
                        body += " <a href='#' class='activate' title='Activate'><i>Activate</i></a>";
                    else if (item.STATUS == 1)
                        body += " <a href='#' class='deactivate' title='De-Activate'><i>De-Activate</i></a>";
                    if (item.CREATED_BY == "Global Deals" && item.STATUS == 0)
                        body += '<a href="javascript:;" class="activate" title="Approved"><i>Approved</i></a>';
                    body += "</div></td></tr>";
                }
                x++;
            }

           // var end = "</tbody></table>";
            var tbl = body;
            $('#tblPro tbody').html(tbl);
            //$('#tblPro').html(tbl);
            $('#paging').val(i);
            $('#check-all').prop('checked', false);
        }


        $(document).ready(function() {
            $('#tblPro').paging({ limit: 10 });
            $('.paging_full_numbers').find("[data-page='0']").attr('class', "selected-page");

            $('#check-all').click(function() {
                if ($(this).is(':checked')) {
                    $('#tblPro tbody').find('input[type=checkbox]').prop('checked', true);
                } else {
                    $('#tblPro tbody').find('input[type=checkbox]').prop('checked', false);
                }
            });
            //$("#btnSearch").click(function() {
            //    var key = $('#txtTitle').val();
            //    var productkey = {
            //        Productkey: key
            //    }
            //    $.ajax({
            //         url: URL + '/Home/GetProductSearch/',
            //       // url: '/Admin/Home/GetProductSearch/',
            //        type: "POST",
            //        contentType: 'application/json; charset=utf-8',
            //        async: false,
            //        data: JSON.stringify(productkey),
            //        dataType: "json",
            //        //  processData: false,
            //        // cache: false,
            //        success: function(data) {
            //            Binddata(data);
            //        },
            //        error: function(xhr) {
            //            alert(xhr);
            //        }
            //    });
            //});
            $("#ddlPaging").change(function() {
                var recCount = parseInt($('#ddlPaging').val());

                var prods = model.sort(
                    function(a, b) {
                        return parseInt(a.PRODUCT_ID) < parseInt(b.PRODUCT_ID);
                    }
                );
                Bindpaging(prods, recCount);
            });
            $('#btnDeactive').click(function() {
                var productIdList = $.map($('#tblPro').find('.input-check-box:checked'), function(obj) {
                    return $(obj).parents('tr').attr('id');
                });
                if(productIdList.length != 0){
                    $('.loader-container').removeClass('hide');

                    $.ajax({
                        url: URL + '/Home/DeactivateProductList/',
                        //url: 'Admin/Home/DeactivateProductList/',
                        type: "POST",
                        contentType: 'application/json; charset=utf-8',
                        async: false,
                        data: JSON.stringify(productIdList),
                        dataType: "json",
                        success: function(data) {
                            var response = '<div class="alert alertnew alert-success fade in">' +
                         '<a href="#" class="close" data-dismiss="alert">×</a>' +
                         '<strong>Success!</strong> Product  successfully De-Actived.</div>';
                            $('#divStatus').append(response);
                            $('.loader-container').addClass('hide');

                            location.reload();





                            //$.each(productIdList, function(index, id) {
                            //    $('tr[id=' + id + ']').find('.active_divp').addClass('dective_divp').removeClass('active_divp').text('Deleted');
                            //    var objPro = $.grep(model, function(obj) {
                            //        return obj.PRODUCT_ID == id;
                            //    })[0];
                            //    objPro.STATUS = 0;
                            //    model = model.filter(function(obj) {
                            //        return obj.PRODUCT_ID != id;
                            //    });
                            //    model.push(objPro);
                            //});
                            //model = model.sort(
                            //    function(a, b) {
                            //        return parseInt(a.PRODUCT_ID) < parseInt(b.PRODUCT_ID);
                            //    }
                            //);

                            //var recCount = $('#ddlPaging').val();
                            ////deactivePro = $.grep(model, function(obj, idx){
                            ////    return obj.STATUS == 0;
                            ////});
                            //Bindpaging(model, recCount);
                        },
                        error: function(xhr) {
                            alert(xhr);
                        }
                    });
                }else
                {
                    var response = '<div class="alert alertnew alert-danger fade in">'+
                                      '<a href="#" class="close" data-dismiss="alert">×</a>'+
                                       '<strong>Error!</strong> Select at list one product</div>';
                    $('#divStatus').append(response);
                    $('.alert').fadeOut(10000);

                }
            });
            $('#btnDeletedPro').click(function() {
                var productIdList = $.map($('#tblPro').find('.input-check-box:checked'), function(obj) {
                    return $(obj).parents('tr').attr('id');
                });

                if(productIdList.length != 0){
                    $.ajax({
                        url: URL + '/Home/DeleteProductList/',
                        // url: '/Admin/Home/DeleteProductList/',
                        type: "POST",
                        contentType: 'application/json; charset=utf-8',
                        async: false,
                        data: JSON.stringify(productIdList),
                        dataType: "json",
                        success: function(data) {

                            var response = '<div class="alert alertnew alert-success fade in">' +
                        '<a href="#" class="close" data-dismiss="alert">×</a>' +
                        '<strong>Success!</strong> Product  successfully Deleted.</div>';
                            $('#divStatus').append(response);
                            $('.loader-container').addClass('hide');

                            location.reload();

                            //alert(data);
                            //$(productIdList, function(index, id) {
                            //    $('tr[id=' + id + ']').remove();
                            //    //var objPro = $.grep(model, function(obj,idx){
                            //    //    return obj.PRODUCT_ID == id;
                            //    //})[0];
                            //    //objPro.STATUS = 3;
                            //    model = model.filter(function(obj) {
                            //        return obj.PRODUCT_ID != id;
                            //    });
                            //    //  model.push(objPro);
                            //});
                            //var recCount = $('#ddlPaging').val();
                            ////deleteRec = $.grep(model, function(obj, idx){
                            ////    return obj.STATUS == 3;
                            ////});
                            //Bindpaging(model, recCount);
                        },
                        error: function(xhr) {
                            alert(xhr);
                        }
                    });
                }else{
                    var response = '<div class="alert alertnew alert-danger fade in">'+
                                      '<a href="#" class="close" data-dismiss="alert">×</a>'+
                                       '<strong>Error!</strong> Select at list one product</div>';
                    $('#divStatus').append(response);
                    $('.alert').fadeOut(10000);

                }


            });

            $('#tblPro').on('click', '.delete', function() {
                if (confirm("Are you sure to delete this product?")) {
                    var id = $(this).parents('tr').attr('id');
                    $.ajax({
                        url: URL + '/Home/DeleteProduct/'+ id,
                       // url: '/Admin/Home/DeleteProduct/' + id,
                        type: "POST",
                        contentType: 'application/json; charset=utf-8',
                        async: false,
                        dataType: "json",
                        success: function() {
                            $('tr[id=' + id + ']').remove();
                            //var objPro = $.grep(model, function(obj,idx){
                            //    return obj.PRODUCT_ID == id;
                            //})[0];
                            //objPro.STATUS = 0;
                            model = model.filter(function(obj) {
                                return obj.PRODUCT_ID != id;
                            });
                            // model.push(objPro);
                        },
                        error: function(xhr) {
                            alert(xhr);
                        }
                    });
                }
            });

            $('#tblPro').on('click', '.activate', function() {
                if (confirm("Are you sure to activate this product?")) {
                    var id = $(this).parents('tr').attr('id');
                    $('.loader-container').removeClass('hide');
                    $.ajax({
                        url: URL + '/Home/ActivateProduct/'+ id,
                       // url: '/Admin/Home/ActivateProduct/' + id,
                        type: "POST",
                        contentType: 'application/json; charset=utf-8',
                        async: false,
                        dataType: "json",
                        success: function() {
                            $('tr[id=' + id + ']').find('.dective_divp').addClass('active_divp').removeClass('dective_divp').text('Active');
                            $('tr[id=' + id + ']').find('.activate').attr('title', 'De-Active');
                            $('tr[id=' + id + ']').find('.activate').addClass('deactivate').removeClass('activate').css('font-style', 'italic').text('De-Active');
                            var proObj = $.grep(model, function(obj,idx) {
                                return obj.PRODUCT_ID == id;
                            })[0];
                            proObj.STATUS = 1;
                            model = model.filter(function(obj) {
                                return obj.PRODUCT_ID != id;
                            });
                            model.push(proObj);
                            $('.loader-container').addClass('hide');
                        },
                        error: function(xhr) {
                            alert(xhr);
                            $('.loader-container').addClass('hide');

                        }
                    });
                }
            });

            $('#tblPro').on('click', '.deactivate', function() {
                if (confirm("Are you sure to Inactivate this product?")) {
                    var id = $(this).parents('tr').attr('id');
                    $.ajax({
                         url: URL + '/Home/DeActivateProduct/'+ id,
                      //  url: '/Admin/Home/DeActivateProduct/' + id,
                        type: "POST",
                        contentType: 'application/json; charset=utf-8',
                        async: false,
                        dataType: "json",
                        success: function() {
                            $('tr[id=' + id + ']').find('.active_divp').addClass('dective_divp').removeClass('active_divp').text('InActive');
                            $('tr[id=' + id + ']').find('.deactivate').attr('title', 'Active');
                            $('tr[id=' + id + ']').find('.deactivate').addClass('activate').removeClass('deactivate').css('font-style', 'italic').text('Active');
                            var objPro = $.grep(model, function(obj) {
                                return obj.PRODUCT_ID == id;
                            })[0];
                            objPro.STATUS = 0;
                            model = model.filter(function(obj) {
                                return obj.PRODUCT_ID != id;
                            });
                            model.push(objPro);
                        },
                        error: function(xhr) {
                            alert(xhr);
                        }
                    });
                }
            });

            $(".sreachbtnhs-slide").click(function() {
                $("#searchslidehs-panel").slideToggle("slow");
                $(this).toggleClass("active");
                return false;
            });

            $(".sreachbtnhs-slide").click(function() {
                $("#searchslidehs-panel2").slideToggle("slow");
                $(this).toggleClass("active");
                return false;
            });

            //$('.search-plus-btnsm').click(function (event) {
            //        event.preventDefault();
            //        var target = $(this).attr('href');
            //        $(target).toggleClass('hidden show');
            //
            //    });

            $(".search-plus-btnsm").click(function() {
                $("#search-plus-btnsmhs").slideToggle();
            });
        });


        $("a[id^=show_]").click(function(event) {
            $("#extra_" + $(this).attr('id').substr(8)).slideToggle("slow");
            event.preventDefault();
        });
    </script>
}
<div class="page-title">
    <div class="title_left">
        <h3>Product Lists</h3><br>
    </div>
</div>

<div class="title_content_top">
    <p>Product List interface enables you to list out the products of your store or products that are uploaded to different marketplaces through multiple search options that are provided under corresponding tabs. The search results are displayed in a table format which facilitates you to sort or filter the products, view/hide specific columns, etc… Once the products are listed, you can perform multiple activities on these products through the various options that are provided here. After listing the products of a marketplace, you can view their Listing Status, list the Non-listed Products, delist the Listed Products, verify reasons for Rejected Products for rectifying before re-uploading and verify the Uploading Products. </p>
</div>
<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="mmctrl_box mrgin_gap0" id="divStatus">
            <div class="mmcaption">Product Search</div>
@using (Ajax.BeginForm("GetProductInvSearch", "Home", new { },
                                        new AjaxOptions
                                        {
                                            HttpMethod = "POST",
                                            InsertionMode = InsertionMode.Replace,
                                            UpdateTargetId = "partialView"
                                        }, new { id = "getOrderDate" }))
                                                                        {
            @*<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">*@
                <br>
                @*<div class="form-group">
                    <label class="control-label col-md-2">Search by Product <span class="red">*</span></label>
                    <div class="col-md-3">
                        <select class="select2_single form-control" tabindex="-1">
                            <option selected="selected" value=""> -- Select -- </option>
                            @*<option value="">Global Deals</option>
                            <option value="">Physical Product</option>
                            <option value="">@*Corporate Deals
                        </select>
                    </div>
                </div>*@

                <div class="form-group">
                    <label class="control-label col-md-2" for="">Search</label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <input class="form-control" id="txtTitle" placeholder="Title, SKU, Vender Id" name="productkey" type="text">
                            <div class="input-group-btn">
                                <button id="btnSearch" class="btn btn-default btnsrchgap" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
}

                <div class="mrgin_gap20">
                    <div class="searchhs_holder_all">

                        <div style="display:none;" id="searchslidehs-panel">
@using (Ajax.BeginForm("GetProductInvAdvSearch", "Home", new { },
                                        new AjaxOptions
                                        {
                                            HttpMethod = "POST",
                                            InsertionMode = InsertionMode.Replace,
                                            UpdateTargetId = "partialView"
                                        }, new { id = "getOrderDate" }))
{
                            <h6>Advance Search</h6>
                            <hr>
                            <div id="demo-form2">
                                <br>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-3 col-xs-12">Period</label>
                                    <div class="col-md-3">
                                        <select name="period" class="select2_single form-control" tabindex="-1">
                                            <option selected="selected" value="custom">Custom</option>
                                            <option value="thisweek">This week</option>
                                            <option value="lastweek">Last Week</option>
                                            <option value="thismonth">This Month</option>
                                            <option value="lastmonth">Last Month</option>
                                        </select>
                                    </div>
                                </div>


                                @*<div class="form-group" style="display:none" id="search-plus-btnsmhs">
                                    <label class="control-label col-md-2">Search by</label>
                                    <div class="col-md-3">
                                        <select class="select2_single form-control" tabindex="-1">
                                            <option selected="selected" value="custom">Custom</option>
                                            <option value="Order No">Order No</option>
                                            <option selected="selected" value="SKU">SKU</option>
                                            <option value="Awb No">Awb No</option>
                                            <option value="Email Id">Email Id</option>
                                            <option value="Phone No">Phone No</option>
                                            <option value="Coupon Code">Coupon Code</option>
                                            <option value="Checkout Type">Checkout Type</option>
                                            <option value="Shipment ID">Shipment ID</option>
                                            <option value="Issue Type">Issue Type</option>
                                            <option value="Order Source">Order Source</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <input id="" name="" placeholder="" required class="form-control" type="text">
                                    </div>
                                    <div class="plusiconforadd"><a href=""><i class="fa fa-plus"></i></a></div>
                                </div>*@
                            </div>

                            <div class="clearfix"></div><br><br>

                            <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
                                <button type="submit" class="btn btn-default pull-right">Go</button>
                            </div>
}
                        </div>

                        <div class="sreachbtnhs-slide">
                            <a href="#" class="sreachbtnhs_btn-slide"><div class="addplusmore"><i class="fa fa-plus btn-primary"></i></div></a>
                        </div>
                    </div>
                </div>
            @*</form>*@
        </div>
        <br>

        <div class="mmctrl_box">
            <div class="mmcaption">Product List</div>
            <div class="graycolorbg_open">

                @*<div class="prdct_drwnopen_hoder">
                    <h2>Manage Product Tags</h2>
                    <select class="demo" multiple="multiple">
                            <optgroup label="Languages">
                                <option value="cp">Best-deals</option>
                                <option value="cs">Best-Offers</option>
                                <option value="oc">Best-Prices</option>
                                <option value="c">Best-Selling</option>
                                <option value="js">Discounted</option>
                                <option value="php">Featured</option>
                                <option value="asp">Hot-Selling</option>
                                <option value="jsp">New-Arrivals</option>
                            </optgroup>
                        </select>
                </div>*@

                <div class="prdct_drwnopen_hoder tagsSelect">
                    <h2>Manage Product Tags</h2>
                    <div class="fs-wrap multiple">
                        <div class="fs-label-wrap"></div>
                        <div class="fs-dropdown hidden">
                            <div class="fs-search"><input type="search" placeholder="Search">
                            </div>
                            <div class="fs-options">
                                <div class="fs-optgroup">
                                    <div class="fs-optgroup-label">Languages</div>
                                    @{
                                        int i = 0;
                                        foreach (var item in Model.tagsList)
                                        {
                                            <div class="fs-option" data-value="@item.TAG_ID" data-index="@i">
                                                <span class="fs-checkbox"><i></i></span><div class="fs-option-label">@item.TAG_DESC</div>
                                            </div>
                                            i++;
                                        }
                                    }
                                    @*<div class="fs-option" data-value="cp" data-index="0"><span class="fs-checkbox"><i></i></span><div class="fs-option-label">Best-deals</div>
                                    </div>
                                    <div class="fs-option" data-value="cs" data-index="1"><span class="fs-checkbox"><i></i></span><div class="fs-option-label">Best-Offers</div>
                                    </div>
                                    <div class="fs-option" data-value="oc" data-index="2"><span class="fs-checkbox"><i></i></span><div class="fs-option-label">Best-Prices</div>
                                    </div>
                                    <div class="fs-option" data-value="c" data-index="3"><span class="fs-checkbox"><i></i></span><div class="fs-option-label">Best-Selling</div>
                                    </div>
                                    <div class="fs-option" data-value="js" data-index="4"><span class="fs-checkbox"><i></i></span><div class="fs-option-label">Discounted</div>
                                    </div>
                                    <div class="fs-option" data-value="php" data-index="5"><span class="fs-checkbox"><i></i></span><div class="fs-option-label">Featured</div>
                                    </div>
                                    <div class="fs-option" data-value="asp" data-index="6"><span class="fs-checkbox"><i></i></span><div class="fs-option-label">Hot-Selling</div>
                                    </div>
                                    <div class="fs-option" data-value="jsp" data-index="7"><span class="fs-checkbox"><i></i></span><div class="fs-option-label">New-Arrivals</div>
                                    </div>*@
                                </div>
                                <div class="fss_btn"><a id="AddMasterTags">Apply</a>
                                </div>
                            </div>
                        </div>
                        @*@Html.DropDownList("TagList", new SelectList(Model.tagsList, "TAG_ID", "TAG_DESC"), "Select Tag", new { @class="demo hidden", multiple="multiple", tabindex = "-1" })*@
                        <select class="demo hidden" multiple="multiple">
                            <optgroup label="Languages">
                                @foreach (var item in Model.tagsList)
                                {
                                    <option value="@item.TAG_ID">@item.TAG_DESC</option>
                                }
                            </optgroup>
                        </select>
                    </div>
                </div>
                @*<div class="prdct_drwnopen_hoder">
                        <h2>Manage Product Groups</h2>
                        <select class="demo" multiple="multiple">
                            <optgroup label="Languages">
                                <option value="cp">C++</option>
                                <option value="cs">C#</option>
                                <option value="oc">Object C</option>
                                <option value="c">C</option>
                                <option value="js">JavaScript</option>
                                <option value="php">PHP</option>
                                <option value="asp">ASP</option>
                                <option value="jsp">JSP</option>
                            </optgroup>
                        </select>
                    </div>*@

                <div class="pull-right">
                    <a href="@Url.Action("AddProduct", "Home")" class="btn btn-default btn-sm"><i class="fa fa-plus"></i> Add a New Product</a>
                    <a href="javascript:;" id="btnDeactive" class="btn btn-default btn-sm"><i class="fa fa-reply"></i> Deactivate Products</a>
                    <a href="javascript:;" id="btnDeletedPro" class="btn btn-default btn-sm"><i class="fa fa-trash"></i> Delete Products</a>
                </div>

            </div>
            

            <div id="partialView">

                @{
                    Html.RenderPartial("~/Views/Shared/invotorySnapshotPartial.cshtml", Model);
                }
            </div>












            <div class="dataTables_length" id="example_length">
                <br /><br />
                <label></label>
                @*<label>
                    &nbsp; Records per page
                    <select aria-controls="example" size="1" style="width: 56px;padding: 6px;" id="ddlPaging" name="example_length">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </label>*@
            </div>


            <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg0">
                <div class="pull-right">
                    @*<button type="button" class="btn btn-default">Migration Attribute Set</button>
                    <button type="button" class="btn btn-default">Category Migration</button>*@
                    <button type="button" class="btn btn-dark">Export to Excel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br>


<div class='loader-container hide'>
    <div class='loader'>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--text'></div>
    </div>
</div>
<link href="~/Content/loader.css" rel="stylesheet" />
<link href="~/Content/paging.css" rel="stylesheet" />

@section Gizmobabascripts
{
    <script src="~/GizmobabaFiles/js/nicescroll/jquery.nicescroll.min.js"></script>
    <!-- icheck -->
    <script src="~/GizmobabaFiles/js/icheck/icheck.min.js"></script>
    <script src="~/GizmobabaFiles/js/fSelect.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
        $(function() {
            $('.demo').fSelect();
            var URL = '@System.Configuration.ConfigurationManager.AppSettings["baseUrl"]';

            // $('.demo').val();
            $(".tagsSelect").on('click','.fss_btn',function() {
                var tagIdList = $('.demo').val();
                var productIdList = $.map($('#tblPro').find('.input-check-box:checked'), function(obj) {
                    return $(obj).parents('tr').attr('id');
                });
                if(productIdList.length != 0 && tagIdList != null){
                    $('.loader-container').removeClass('hide');
                    var data = { 'tagIdList': tagIdList, 'productIdList': productIdList };
                    $.ajax({
                        url: URL + '/Home/AddTagToProduct',
                        //url:  '/Home/AddTagToProduct',
                        type: "POST",
                        contentType: 'application/json; charset=utf-8',
                        async: false,
                        data: JSON.stringify(data),
                        dataType: "json",
                        //  processData: false,
                        // cache: false,
                        success: function(data) {
                            var response = '<div class="alert alertnew alert-success fade in">' +
                          '<a href="#" class="close" data-dismiss="alert">×</a>' +
                          '<strong>Success!</strong> Tags successfully applied.</div>';
                            $('#divStatus').append(response);
                            $('.loader-container').addClass('hide');
                            location.reload();
                            //alert('Success');
                        },
                        error: function(xhr) {
                            //alert(xhr);
                            var response = '<div class="alert alertnew alert-danger fade in">'+
                                      '<a href="#" class="close" data-dismiss="alert">×</a>'+
                                       '<strong>Error!</strong> Please try again</div>';
                            $('#divStatus').append(response);
                            $('.loader-container').addClass('hide');
                        }
                    });
                }else{
                    if(productIdList.length == 0){
                        var response = '<div class="alert alertnew alert-danger fade in">'+
                                       '<a href="#" class="close" data-dismiss="alert">×</a>'+
                                        '<strong>Error!</strong> Select at list one product</div>';
                        $('#divStatus').append(response);
                    }
                    if(tagIdList == null){
                        var response = '<div class="alert alertnew alert-danger fade in">'+
                                      '<a href="#" class="close" data-dismiss="alert">×</a>'+
                                       '<strong>Error!</strong> Select at list one product tag</div>';
                        $('#divStatus').append(response);
                    }
                }
                $('.alert').fadeOut(10000);
            });
        });
        
    </script>
    <script>
        NProgress.done();

    </script>
}