﻿@model IEnumerable<Gizmobaba.Models.MailTemplates>

@{
    ViewBag.Title = "MailManage";
    Layout = "~/Views/Shared/_LayoutGizmobaba.cshtml";
}

<!-- page content -->
    <div class="page-title">
        <div class="title_left">
            <h3>Design &amp; Content <i class="fa fa-caret-right"></i>  <i style="font-size:17px">Add/Edit Mailing List </i></h3>
        </div>
    </div>

    <div class="title_content_top">
        <p>

            Email marketing is a powerful direct marketing tool, which can be used to build your customer relationships. You can add a new or edit an existing ‘Mailing List’ from here. These mailing lists can be displayed in the storefront on any desired page by means of ‘Mailing List’- ‘Drag & Drop control for end-users’ subscription.
        </p>
    </div>
    <div class="clearfix"></div>
@if (TempData["Success"] != null && TempData["Success"] != "")
{
    <div class="alert alertnew alert-success fade in">
        <a href="#" class="close" data-dismiss="alert">×</a>
        <strong>Success!</strong> @TempData["Success"]
    </div>
}
else if (TempData["Exception"] != null && TempData["Exception"] != "")
{
    <div class="alert alertnew alert-danger fade in">
        <a href="#" class="close" data-dismiss="alert">×</a>
        <strong>Error!</strong> @TempData["Exception"]
    </div>
}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="mmctrl_box mrgin_gap0">
                <div class="mmcaption">Add/Edit Mailling List</div>
@using (Html.BeginForm("AddMailTemplate", "Home", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = "return validateForm();" }))
{
                @*<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">*@
                    <br>
                    <div class="form-group">
                        <label class="control-label col-md-3">Tile<span class="red">*</span></label>
                        <div class="col-md-5">
                            <input id="SUBJECT" name="SUBJECT" placeholder="" required="" class="form-control" type="text">
                            <input type="hidden" value="0" id="ID" name="ID" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Description </label>
                        <div class="col-md-5">
                            <textarea name="DESCRIPTION" id="DESCRIPTION" class="resizable_textarea form-control"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Active </label>
                        <div class="col-md-2">
                            <input id="chkActive" type="checkbox">
                            <input type="hidden" value="1" id="STATUS" name="STATUS" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Period</label>
                        <div class="col-md-3">
                            <select class="select2_single form-control" id="PERIOD" name="PERIOD" tabindex="-1">
                                <option selected="selected" value=""> -- Select type -- </option>
                                <option value="Weekly">Weekly</option>
                                <option value="Weekly">Monthly</option>
                                <option value="Weekly">Quartely</option>
                                <option value="Weekly">Yearly</option>
                            </select>
                        </div>
                    </div>

                    <hr>
                    <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
                        <div class="pull-right">
                            <a href="#"><button type="submit" class="btn btn-dark">Save</button></a>
                            <a href="javascript:;"><button type="button" onclick="$(this).parents('form').find('input').val(''); $('textarea').val('')" class="btn btn-default">Clear</button></a>
                        </div>
                    </div>
                @*</form>*@
}
            </div>
            <br>

            <div class="mmctrl_box mrgin_gap0 mmctrl_tble">
                <div class="mmcaption">Available Mailing Lists</div>
                <table class="table table-striped mrgin_gap0">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Edit</th>
                            <th>Delete</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
@foreach (var item in Model)
{
    <tr id="@item.ID">
        <td>@item.CREATED_ON</td>
        <td><a href="#">@item.SUBJECT</a> Active 4/22/2011 12:00:00 AM
        @if (item.STATUS == 0)
        {
            <div class="dective_divp">Inactive</div>
        }
        else if (item.STATUS == 1)
        {
            <div class="active_divp">Active</div>
        }
        </td>
        <td>
            @*@item.DESCRIPTION*@
            <a data-toggle="modal" href="#normalSearchUser" onclick="MailTem(@item.ID)"><i class="fa fa-eye"></i></a>
        </td>
        <td>
            <div class="footer-action">
                <a class="editfaadd" onclick="Edit(@item.ID);" href="javascript:;" title="Close"><i class="fa fa-edit"></i></a>
            </div>
        </td>
        <td>
            <div class="footer-action">
                <a class="closefaadd" onclick="Delete(@item.ID);" href="javascript:;" title="Close"><i class="fa fa-trash"></i></a>
            </div>
        </td>
        <td>
            @if (item.STATUS == 0)
            {
                <a href="javascript:;" onclick="Apply(@item.ID);" class="activate" title="Activate"><i>Activate</i></a>
            }
            else if (item.STATUS == 1)
            {
                <a href="javascript:;" onclick="Apply(@item.ID);" class="deactivate" title="De-Activate"><i>De-Activate</i></a>
            }
        </td>
    </tr>
}
                    </tbody>
                </table>

                <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg0">
                    <div class="pull-right">
                        <a href="#"><button type="button" class="btn btn-dark">Add New E-mail List</button></a>
                    </div>
                </div>
            </div><br>
        </div>
    </div>
    <!-- /page content -->
    <br>

<script>
    var URL = '@System.Configuration.ConfigurationManager.AppSettings["baseUrl"]';
    NProgress.done();
    $(document).ready(function () {
        $('#chkActive').click(function () {
            if($(this).is(":checked"))
            {
                $('#STATUS').val(0);
            } else {
                $('#STATUS').val(1);
            }
        });

        $('button[type="submit"]').click(function () {
            var emptyVal = 0;
            $('[required]').each(function () {
                if ($(this).val() == "") {
                    emptyVal = 1;
                }
            });
            if (emptyVal != 1)
                $('.loader-container').removeClass('hide');
        });
    });
    function validateForm() {

    }
    function Delete(id) {
        $.ajax({
            url: URL +'/Home/DeleteMailTemplate/' + id,
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            async: false,
            dataType: "json",
            success: function (data) {
                var code = '<div class="alert alertnew alert-success fade in">' +
   '<a href="#" class="close" data-dismiss="alert">×</a>' +
   '<strong>Success!</strong> Mail Template As Been deleted.</div>';
                $('#' + id).parents('.mmctrl_tble').prepend(code);
                $('#' + id).remove();
            },
            error: function (xhr) {
                alert(xhr);
            }
        });
        $('.alert').fadeOut(10000);
    }
    function Edit(id) {
        $('.loader-container').removeClass('hide');
        $.ajax({
            url: URL+ '/Home/GetMailTemplate/' + id,
            type: "Get",
            contentType: 'application/json; charset=utf-8',
            async: false,
            dataType: "json",
            success: function (data) {
                BindData(data);
                $('.loader-container').addClass('hide');
            },
            error: function (xhr) {
                alert(xhr);
                $('.loader-container').addClass('hide');
            }
        });
    }
    function Apply(id) {
        $('.loader-container').removeClass('hide');
        $.ajax({
            url: URL + '/Home/UpdateMailTemplateStatus/' + id,
            type: "Post",
            contentType: 'application/json; charset=utf-8',
            async: false,
            dataType: "json",
            success: function (data) {
                if(data == 0){
                    var code = '<div class="alert alertnew alert-success fade in">' +
   '<a href="#" class="close" data-dismiss="alert">×</a>' +
   '<strong>Success!</strong> Mail Template Status De-Activate As Been Applied.</div>';
                    $('#' + id).parents('.mmctrl_tble').prepend(code);
                    $('#' + id).find('a.activate').text('De-Activate');
                }else if(data == 1)
                {
                    var code = '<div class="alert alertnew alert-success fade in">' +
     '<a href="#" class="close" data-dismiss="alert">×</a>' +
     '<strong>Success!</strong> Mail Template Status Activate As Been Applied.</div>';
                    $('#' + id).parents('.mmctrl_tble').prepend(code);
                    $('#' + id).find('a.activate').text('Activate');
                }
                $('.loader-container').addClass('hide');
            },
            error: function (xhr) {
                alert(xhr);
                $('.loader-container').addClass('hide');
            }
        });
        $('.alert').fadeOut(10000);
    }
    function BindData(data) {
        $('#SUBJECT').val(data.SUBJECT);
        $('#DESCRIPTION').val(data.DESCRIPTION);
        $('#PERIOD').val(data.PERIOD);
        if(data.STATUS == 0)
        {
            $('#chkActive').attr("checked",true);
        }else{
            $('#chkActive').attr("checked",false);
        }
        $('#ID').val(data.ID);
    }
    function MailTem(id)
    {
        $('.loader-container').removeClass('hide');
        $.ajax({
            url: URL+ '/Home/GetMailTemplate/' + id,
            //url: '/Home/GetMailTemplate/' + id,
            type: "Get",
            contentType: 'application/json; charset=utf-8',
            async: true,
            dataType: "json",
            success: function (data) {
                $('#divdata').html(data.DESCRIPTION);
                $('#title').html(data.SUBJECT);
                $('.loader-container').addClass('hide');
            },
            error: function (xhr) {
                alert(xhr);
                $('.loader-container').addClass('hide');
            }
        });
    }
</script>

<script src="~/Scripts/common.js"></script>
<div class='loader-container hide'>
    <div class='loader'>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--text'></div>
    </div>
</div>
<link href="~/Content/loader.css" rel="stylesheet" />


<div id="normalSearchUser" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 id="title" class="modal-title"></h4>
            </div>

            <div class="modal-body dfltpad">
                <div id="divdata" style="width:100%; overflow:hidden; background:#000;"></div>
            </div>

            @*<div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" onclick="UserSearch();" class="btn btn-default">Search</button>
            </div>*@
        </div>
    </div>
</div>



