﻿@model Gizmobaba.Models.DashboardViewModel

@{
    Layout = "~/Views/Shared/_LayoutGizmobaba.cshtml";
}

<!-- top tiles -->
<div class="top_shrtcutviewsbx row">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <a href="javascript:Users();">
                <div class="card green summary-inline">
                    <div class="card-body">
                        <i class="icon fa fa-users fa-3x"></i>
                        <div class="content">
                            <div class="title">@Model.TotalDealer</div>
                            <div class="sub-title">Total Dealers</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <a href="javascript:Orders();">
                <div class="card yellow summary-inline">
                    <div class="card-body">
                        <i class="icon fa fa-comments fa-3x"></i>
                        <div class="content">
                            <div class="title">@Model.TotalOrders</div>
                            <div class="sub-title">Total Orders</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <a href="javascript:Sales();">
                <div class="card aashu summary-inline">
                    <div class="card-body">
                        <i class="icon fa fa-line-chart fa-3x"></i>
                        <div class="content">
                            <div class="title">@Model.TotalSales</div>
                            <div class="sub-title">Total Sales</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <a href="javascript:Inventory();">
                <div class="card purpul summary-inline">
                    <div class="card-body">
                        <i class="icon fa fa-list fa-3x"></i>
                        <div class="content">
                            <div class="title">@Model.TotalInventory</div>
                            <div class="sub-title">Total Earnings</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- /top tiles -->

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph">
            <div class="row x_title">
                <div class="col-md-12">
                    <h3> <small>Graphical Representation</small></h3>
                    @*<div class="col-md-4">*@
                    <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                        <span>February 15, 2016 - March 15, 2016</span> <b class="caret"></b>
                    </div>
                    @*</div>*@

                    @*<div class="col-md-4">*@
                    @*<div class="pull-right" style="background: #fff;cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">*@
                    <select class="demo" style="width:250px;height:30px" id="ddlType">
                        <optgroup>
                            <option value="7">Total Products</option>
                            <option value="8">Total Orders</option>
                            <option value="9">Total Sales</option>
                            <option value="10">Total Earnings</option>
                            <option value="11">All</option>
                        </optgroup>
                    </select>
                    @*</div>*@
                    @*</div>*@
                </div>



            </div>
            @{
                DateTime dt = new DateTime();

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div id="placeholder33" style="height: 260px; display: none" class="demo-placeholder"></div>
                    <div style="width: 100%;">
                        <div id="canvas_dahs" class="demo-placeholder" style="width: 100%; height: 270px; padding: 0px; position: relative;">
                            <canvas class="flot-base" width="1039" height="270" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1039px; height: 270px;"></canvas>
                            <div class="flot-text" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);">
                                <div class="flot-x-axis flot-x1-axis xAxis x1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;">
                                    <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 129px; top: 254px; left: 46px; text-align: center;">@dt.ToShortDateString()</div>
                                    <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 129px; top: 254px; left: 212px; text-align: center;">Mar 02</div>
                                    <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 129px; top: 254px; left: 379px; text-align: center;">Jan 03</div>
                                    <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 129px; top: 254px; left: 545px; text-align: center;">Jan 04</div>
                                    <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 129px; top: 254px; left: 711px; text-align: center;">Jan 05</div>
                                    <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 129px; top: 254px; left: 878px; text-align: center;">Jan 06</div>
                                </div><div class="flot-y-axis flot-y1-axis yAxis y1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;">
                                    <div class="flot-tick-label tickLabel" style="position: absolute; top: 242px; left: 13px; text-align: right;">0</div>
                                    <div class="flot-tick-label tickLabel" style="position: absolute; top: 223px; left: 7px; text-align: right;">10</div>
                                    <div class="flot-tick-label tickLabel" style="position: absolute; top: 204px; left: 7px; text-align: right;">20</div>
                                    <div class="flot-tick-label tickLabel" style="position: absolute; top: 186px; left: 7px; text-align: right;">30</div>
                                    <div class="flot-tick-label tickLabel" style="position: absolute; top: 167px; left: 7px; text-align: right;">40</div>
                                    <div class="flot-tick-label tickLabel" style="position: absolute; top: 149px; left: 7px; text-align: right;">50</div>
                                    <div class="flot-tick-label tickLabel" style="position: absolute; top: 130px; left: 7px; text-align: right;">60</div>
                                    <div class="flot-tick-label tickLabel" style="position: absolute; top: 112px; left: 7px; text-align: right;">70</div>
                                    <div class="flot-tick-label tickLabel" style="position: absolute; top: 93px; left: 7px; text-align: right;">80</div>
                                    <div class="flot-tick-label tickLabel" style="position: absolute; top: 75px; left: 7px; text-align: right;">90</div>
                                    <div class="flot-tick-label tickLabel" style="position: absolute; top: 56px; left: 1px; text-align: right;">100</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 38px; left: 2px; text-align: right;">110</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 19px; left: 1px; text-align: right;">120</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 1px; left: 1px; text-align: right;">130</div>
                                </div>
                            </div><canvas class="flot-overlay" width="1039" height="270" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1039px; height: 270px;"></canvas>
                        </div>
                    </div>
                </div>
            }
            <div class="clearfix"></div>
        </div>
    </div>
</div>



<div class="mmctrl_box">
    <div class="mmcaption">
        <i class="fa fa-user"></i> &nbsp; Dealer List
        <div class="flt_rghtalgn">
            @*@using (Ajax.BeginForm("GetDealer", "User",
                            new AjaxOptions
                            {
                                HttpMethod = "POST",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "partialView"
                            }, new { id = "getUserDate" }))
            {*@

                <select class="select2_single form-control" onchange="FillUser();" tabindex="-1" name="status" id="ddlStatus">
                    <option selected="selected" value=""> -- Select Type -- </option>
                    <option value="1">Active</option>
                    <option value="0">New / DeActive</option>
                    <option value="1">Top Earning Dealer</option>
                    <option value="1">Low Earning Dealer</option>

                </select>

                <script>
                    function FillUser() {
                        $('#getUserDate').submit();
                    }

                </script>
            @*}*@
        </div>
    </div>



    <div id="tblPro">

        <div id="partialView">
            @{
                Html.RenderAction("GetDealerListByMFId", "User", new { id = Model.UserId });
            }
        </div>

    </div>

    </div>
    <br>



    <div class="row">




    </div>
    @section Gizmobabascripts
{
        <script src="~/GizmobabaFiles/js/nicescroll/jquery.nicescroll.min.js"></script>

        <script src="~/GizmobabaFiles/js/chartjs/chart.min.js"></script>

        <!-- icheck -->
        <script src="~/GizmobabaFiles/js/icheck/icheck.min.js"></script>
        <!-- daterangepicker -->
        <script src="~/GizmobabaFiles/js/moment.min.js"></script>
        <script src="~/GizmobabaFiles/js/datepicker/daterangepicker.js"></script>

        <!-- flot js -->
        <!--[if lte IE 8]><script type="text/javascript" src="~/GizmobabaFiles/js/excanvas.min.js"></script><![endif]-->
        <script type="text/javascript" src="~/GizmobabaFiles/js/flot/jquery.flot.js"></script>
        <script type="text/javascript" src="~/GizmobabaFiles/js/flot/jquery.flot.pie.js"></script>
        <script type="text/javascript" src="~/GizmobabaFiles/js/flot/jquery.flot.orderBars.js"></script>
        <script type="text/javascript" src="~/GizmobabaFiles/js/flot/jquery.flot.time.min.js"></script>
        <script type="text/javascript" src="~/GizmobabaFiles/js/flot/date.js"></script>
        <script type="text/javascript" src="~/GizmobabaFiles/js/flot/jquery.flot.spline.js"></script>
        <script type="text/javascript" src="~/GizmobabaFiles/js/flot/jquery.flot.stack.js"></script>
        <script type="text/javascript" src="~/GizmobabaFiles/js/flot/curvedLines.js"></script>
        <script type="text/javascript" src="~/GizmobabaFiles/js/flot/jquery.flot.resize.js"></script>
        <script>
            $(document).ready(function () {
                $('#ddlType').val(11);
                All();
                $('#ddlType').change(function () {
                    if ($('#ddlType').val() == 7) {
                        Users();
                    }
                    if ($('#ddlType').val() == 8) {
                        Orders();
                    }
                    if ($('#ddlType').val() == 9) {
                        Sales();
                    }
                    if ($('#ddlType').val() == 10) {
                        Inventory();
                    }
                    if ($('#ddlType').val() == 11) {
                        All();
                    }


                });
                //$.ajax({
                //    //url: URL +'/Admin/Home/GetSubCategories',
                //    url:   '/Home/GetChartBar',
                //    type: "Get",
                //    dataType: "json",
                //    success: function (data) {
                //        alert(data);

                //        //var model = [];
                //        //$.each(data, function (index, id) {
                //        //    queryStr = { "id": id };
                //        //    model.push(queryStr);
                //        //    })[0];
                //        //alert(model);
                //        //var data1 = data;
                //        //[[gd(2012, 1, 1), 17], [gd(2012, 1, 2), 74], [gd(2012, 1, 3), 6], [gd(2012, 1, 4), 39], [gd(2012, 1, 5), 20], [gd(2012, 1, 6), 85], [gd(2012, 1, 7), 7]];
                //        var data1 = [data]
                //        var data2 = [[gd(2012, 1, 1), 82], [gd(2012, 1, 2), 23], [gd(2012, 1, 3), 66], [gd(2012, 1, 4), 9], [gd(2012, 1, 5), 119], [gd(2012, 1, 6), 6], [gd(2012, 1, 7), 9]];
                //        var data3 = [[gd(2012, 1, 1), 50], [gd(2012, 1, 2), 50], [gd(2012, 1, 3), 55], [gd(2012, 1, 4), 9], [gd(2012, 1, 5), 119], [gd(2012, 1, 6), 6], [gd(2012, 1, 7), 9]];
                //        $("#canvas_dahs").length && $.plot($("#canvas_dahs"), [
                //            data1
                //        ], {
                //            series: {
                //                lines: {
                //                    show: false,
                //                    fill: true
                //                },
                //                splines: {
                //                    show: true,
                //                    tension: 0.4,
                //                    lineWidth: 1,
                //                    fill: 0.4
                //                },
                //                points: {
                //                    radius: 0,
                //                    show: true
                //                },
                //                shadowSize: 2
                //            },
                //            grid: {
                //                verticalLines: true,
                //                hoverable: true,
                //                clickable: true,
                //                tickColor: "#d5d5d5",
                //                borderWidth: 1,
                //                color: '#fff'
                //            },
                //            colors: ["rgba(38, 185, 154, 0.38)", "rgba(3, 88, 106, 0.38)"],
                //            xaxis: {
                //                tickColor: "rgba(51, 51, 51, 0.06)",
                //                mode: "time",
                //                tickSize: [1, "day"],
                //                //tickLength: 10,
                //                axisLabel: "Date",
                //                axisLabelUseCanvas: true,
                //                axisLabelFontSizePixels: 12,
                //                axisLabelFontFamily: 'Verdana, Arial',
                //                axisLabelPadding: 10
                //                //mode: "time", timeformat: "%m/%d/%y", minTickSize: [1, "day"]
                //            },
                //            yaxis: {
                //                ticks: 8,
                //                tickColor: "rgba(51, 51, 51, 0.06)",
                //            },
                //            tooltip: false
                //        });
                //    }
                //});

                // [17, 74, 6, 39, 20, 85, 7]
                //[82, 23, 66, 9, 99, 6, 2]
                //var data1 = [[gd(2012, 1, 1), 17], [gd(2012, 1, 2), 74], [gd(2012, 1, 3), 6], [gd(2012, 1, 4), 39], [gd(2012, 1, 5), 20], [gd(2012, 1, 6), 85], [gd(2012, 1, 7), 7]];

                //var data2 = [[gd(2012, 1, 1), 82], [gd(2012, 1, 2), 23], [gd(2012, 1, 3), 66], [gd(2016, 1, 4), 9], [gd(2016, 1, 5), 119], [gd(2016, 1, 6), 6], [gd(2016, 1, 7), 9]];
                //var data3 = [[gd(2016, 1, 1), 50], [gd(2016, 1, 2), 50], [gd(2016, 1, 3), 55], [gd(2016, 1, 4), 9], [gd(2016, 1, 5), 119], [gd(2016, 1, 6), 6], [gd(2016, 1, 7), 9]];

                //$("#canvas_dahs").length && $.plot($("#canvas_dahs"), [
                //	data1, data2,data3
                //], {
                //	series: {
                //		lines: {
                //			show: false,
                //			fill: true
                //		},
                //		splines: {
                //			show: true,
                //			tension: 0.4,
                //			lineWidth: 1,
                //			fill: 0.4
                //		},
                //		points: {
                //			radius: 0,
                //			show: true
                //		},
                //		shadowSize: 2
                //	},
                //	grid: {
                //		verticalLines: true,
                //		hoverable: true,
                //		clickable: true,
                //		tickColor: "#d5d5d5",
                //		borderWidth: 1,
                //		color: '#fff'
                //	},
                //	colors: ["rgba(38, 185, 154, 0.38)", "rgba(3, 88, 106, 0.38)"],
                //	xaxis: {
                //		tickColor: "rgba(51, 51, 51, 0.06)",
                //		mode: "time",
                //		tickSize: [1, "day"],
                //		//tickLength: 10,
                //		axisLabel: "Date",
                //		axisLabelUseCanvas: true,
                //		axisLabelFontSizePixels: 12,
                //		axisLabelFontFamily: 'Verdana, Arial',
                //		axisLabelPadding: 10
                //			//mode: "time", timeformat: "%m/%d/%y", minTickSize: [1, "day"]
                //	},
                //	yaxis: {
                //		ticks: 8,
                //		tickColor: "rgba(51, 51, 51, 0.06)",
                //	},
                //	tooltip: false
                //});
            });
            function gd(year, month, day) {
                return new Date(year, month - 1, day).getTime();
            }
            var data1 = [[gd(2016, 4, 24), 17], [gd(2016, 4, 25), 74], [gd(2016, 4, 26), 6], [gd(2016, 4, 27), 39], [gd(2016, 4, 28), 20], [gd(2016, 4, 29), 85], [gd(2016, 4, 30), 7]];
            var data2 = [[gd(2016, 4, 24), 50], [gd(2016, 4, 25), 50], [gd(2016, 4, 26), 55], [gd(2016, 4, 27), 9], [gd(2016, 4, 28), 119], [gd(2016, 4, 29), 6], [gd(2016, 4, 30), 9]];
            var data3 = [[gd(2016, 4, 24), 20], [gd(2016, 4, 25), 40], [gd(2016, 4, 26), 20], [gd(2016, 4, 27), 19], [gd(2016, 4, 28), 90], [gd(2016, 4, 29), 60], [gd(2016, 4, 30), 50]];
            var data4 = [[gd(2016, 4, 24), 40], [gd(2016, 4, 25), 45], [gd(2016, 4, 26), 25], [gd(2016, 4, 27), 90], [gd(2016, 4, 28), 150], [gd(2016, 4, 29), 6], [gd(2016, 4, 30), 90]];

            function Users() {
                $('#ddlType').val(7);
                $("#canvas_dahs").length && $.plot($("#canvas_dahs"), [
                    data1
                ], {
                    series: {
                        lines: {
                            show: false,
                            fill: true
                        },
                        splines: {
                            show: true,
                            tension: 0.4,
                            lineWidth: 1,
                            fill: 0.4
                        },
                        points: {
                            radius: 0,
                            show: true
                        },
                        shadowSize: 2
                    },
                    grid: {
                        verticalLines: true,
                        hoverable: true,
                        clickable: true,
                        tickColor: "#d5d5d5",
                        borderWidth: 1,
                        color: '#fff'
                    },
                    colors: ["rgba(38, 185, 154, 1)"],
                    xaxis: {
                        tickColor: "rgba(51, 51, 51, 0.06)",
                        mode: "time",
                        tickSize: [1, "day"],
                        //tickLength: 10,
                        axisLabel: "Date",
                        axisLabelUseCanvas: true,
                        axisLabelFontSizePixels: 12,
                        axisLabelFontFamily: 'Verdana, Arial',
                        axisLabelPadding: 10
                        //mode: "time", timeformat: "%m/%d/%y", minTickSize: [1, "day"]
                    },
                    yaxis: {
                        ticks: 8,
                        tickColor: "rgba(51, 51, 51, 0.06)",
                    },
                    tooltip: false
                });
            }
            function Orders() {
                $('#ddlType').val(8);
                $("#canvas_dahs").length && $.plot($("#canvas_dahs"), [
                    data2
                ], {
                    series: {
                        lines: {
                            show: false,
                            fill: true
                        },
                        splines: {
                            show: true,
                            tension: 0.4,
                            lineWidth: 1,
                            fill: 0.4
                        },
                        points: {
                            radius: 0,
                            show: true
                        },
                        shadowSize: 2
                    },
                    grid: {
                        verticalLines: true,
                        hoverable: true,
                        clickable: true,
                        tickColor: "#d5d5d5",
                        borderWidth: 1,
                        color: '#fff'
                    },
                    colors: ["rgba(255,180,0, 1)"],
                    xaxis: {
                        tickColor: "rgba(51, 51, 51, 0.06)",
                        mode: "time",
                        tickSize: [1, "day"],
                        //tickLength: 10,
                        axisLabel: "Date",
                        axisLabelUseCanvas: true,
                        axisLabelFontSizePixels: 12,
                        axisLabelFontFamily: 'Verdana, Arial',
                        axisLabelPadding: 10
                        //mode: "time", timeformat: "%m/%d/%y", minTickSize: [1, "day"]
                    },
                    yaxis: {
                        ticks: 8,
                        tickColor: "rgba(51, 51, 51, 0.06)",
                    },
                    tooltip: false
                });
            }
            function Sales() {
                $('#ddlType').val(9);
                $("#canvas_dahs").length && $.plot($("#canvas_dahs"), [
                    data3
                ], {
                    series: {
                        lines: {
                            show: false,
                            fill: true
                        },
                        splines: {
                            show: true,
                            tension: 0.4,
                            lineWidth: 1,
                            fill: 0.4
                        },
                        points: {
                            radius: 0,
                            show: true
                        },
                        shadowSize: 2
                    },
                    grid: {
                        verticalLines: true,
                        hoverable: true,
                        clickable: true,
                        tickColor: "#d5d5d5",
                        borderWidth: 1,
                        color: '#fff'
                    },
                    colors: ["rgba(3, 88, 106, 1)"],
                    xaxis: {
                        tickColor: "rgba(51, 51, 51, 0.06)",
                        mode: "time",
                        tickSize: [1, "day"],
                        //tickLength: 10,
                        axisLabel: "Date",
                        axisLabelUseCanvas: true,
                        axisLabelFontSizePixels: 12,
                        axisLabelFontFamily: 'Verdana, Arial',
                        axisLabelPadding: 10
                        //mode: "time", timeformat: "%m/%d/%y", minTickSize: [1, "day"]
                    },
                    yaxis: {
                        ticks: 8,
                        tickColor: "rgba(51, 51, 51, 0.06)",
                    },
                    tooltip: false
                });
            }
            function Inventory() {
                $('#ddlType').val(10);
                $("#canvas_dahs").length && $.plot($("#canvas_dahs"), [
                    data4
                ], {
                    series: {
                        lines: {
                            show: false,
                            fill: true
                        },
                        splines: {
                            show: true,
                            tension: 0.4,
                            lineWidth: 1,
                            fill: 0.4
                        },
                        points: {
                            radius: 0,
                            show: true
                        },
                        shadowSize: 2
                    },
                    grid: {
                        verticalLines: true,
                        hoverable: true,
                        clickable: true,
                        tickColor: "#d5d5d5",
                        borderWidth: 1,
                        color: '#fff'
                    },
                    colors: ["rgba(138,75,137,1)"],
                    xaxis: {
                        tickColor: "rgba(51, 51, 51, 0.06)",
                        mode: "time",
                        tickSize: [1, "day"],
                        //tickLength: 10,
                        axisLabel: "Date",
                        axisLabelUseCanvas: true,
                        axisLabelFontSizePixels: 12,
                        axisLabelFontFamily: 'Verdana, Arial',
                        axisLabelPadding: 10
                        //mode: "time", timeformat: "%m/%d/%y", minTickSize: [1, "day"]
                    },
                    yaxis: {
                        ticks: 8,
                        tickColor: "rgba(51, 51, 51, 0.06)",
                    },
                    tooltip: false
                });
            }
            function All() {
                $('#ddlType').val(11);
                //var data2 = [[gd(2012, 1, 1), 82], [gd(2012, 1, 2), 23], [gd(2012, 1, 3), 66], [gd(2016, 1, 4), 9], [gd(2016, 1, 5), 119], [gd(2016, 1, 6), 6], [gd(2016, 1, 7), 9]];
                //var data3 = [[gd(2016, 1, 1), 50], [gd(2016, 1, 2), 50], [gd(2016, 1, 3), 55], [gd(2016, 1, 4), 9], [gd(2016, 1, 5), 119], [gd(2016, 1, 6), 6], [gd(2016, 1, 7), 9]];
                //var data1 = [[gd(2016, 1, 1), 40], [gd(2016, 1, 2), 45], [gd(2016, 1, 3), 25], [gd(2016, 1, 4), 90], [gd(2016, 1, 5), 150], [gd(2016, 1, 6), 6], [gd(2016, 1, 7), 90]];
                //var data4 = [[gd(2016, 1, 1), 40], [gd(2016, 1, 2), 45], [gd(2016, 1, 3), 25], [gd(2016, 1, 4), 90], [gd(2016, 1, 5), 150], [gd(2016, 1, 6), 6], [gd(2016, 1, 7), 90]];


                $("#canvas_dahs").length && $.plot($("#canvas_dahs"), [
                data1, data2, data3, data4
                ], {
                    series: {
                        lines: {
                            show: false,
                            fill: true
                        },
                        splines: {
                            show: true,
                            tension: 0.4,
                            lineWidth: 1,
                            fill: 0.4
                        },
                        points: {
                            radius: 0,
                            show: true
                        },
                        shadowSize: 2
                    },
                    grid: {
                        verticalLines: true,
                        hoverable: true,
                        clickable: true,
                        tickColor: "#d5d5d5",
                        borderWidth: 1,
                        color: '#fff'
                    },
                    colors: ["rgba(38, 185, 154, 1)", "rgba(255,180,0, 1)", "rgba(255,12,32,1)", "rgba(138,75,137,1)"],
                    xaxis: {
                        tickColor: "rgba(51, 51, 51, 0.06)",
                        mode: "time",
                        tickSize: [1, "day"],
                        //tickLength: 10,
                        axisLabel: "Date",
                        axisLabelUseCanvas: true,
                        axisLabelFontSizePixels: 12,
                        axisLabelFontFamily: 'Verdana, Arial',
                        axisLabelPadding: 10
                        //mode: "time", timeformat: "%m/%d/%y", minTickSize: [1, "day"]
                    },
                    yaxis: {
                        ticks: 8,
                        tickColor: "rgba(51, 51, 51, 0.06)",
                    },
                    tooltip: false
                });

            }

        </script>

        <!-- worldmap -->
        @*<script type="text/javascript" src="~/GizmobabaFiles/js/maps/jquery-jvectormap-2.0.1.min.js"></script>*@
        <script type="text/javascript" src="~/GizmobabaFiles/js/maps/gdp-data.js"></script>
        <script type="text/javascript" src="~/GizmobabaFiles/js/maps/jquery-jvectormap-world-mill-en.js"></script>
        <script type="text/javascript" src="~/GizmobabaFiles/js/maps/jquery-jvectormap-us-aea-en.js"></script>
        <script>
            $(function () {
                $('#world-map-gdp').vectorMap({
                    map: 'world_mill_en',
                    backgroundColor: 'transparent',
                    zoomOnScroll: false,
                    series: {
                        regions: [{
                            values: gdpData,
                            scale: ['#E6F2F0', '#149B7E'],
                            normalizeFunction: 'polynomial'
                        }]
                    },
                    onRegionTipShow: function (e, el, code) {
                        el.html(el.html() + ' (GDP - ' + gdpData[code] + ')');
                    }
                });
            });
        </script>
        <!-- skycons -->
        <script src="~/GizmobabaFiles/js/skycons/skycons.js"></script>
        <script>
            var icons = new Skycons({
                "color": "#73879C"
            }),
                list = [
                    "clear-day", "clear-night", "partly-cloudy-day",
                    "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
                    "fog"
                ],
                i;

            for (i = list.length; i--;)
                icons.set(list[i], list[i]);

            icons.play();
        </script>

        <!-- dashbord linegraph -->
        <script>
            var doughnutData = [
                {
                    value: 30,
                    color: "#455C73"
                },
                {
                    value: 30,
                    color: "#9B59B6"
                },
                {
                    value: 60,
                    color: "#BDC3C7"
                },
                {
                    value: 100,
                    color: "#26B99A"
                },
                {
                    value: 120,
                    color: "#3498DB"
                }
            ];
            var myDoughnut = new Chart(document.getElementById("canvas1").getContext("2d")).Doughnut(doughnutData);
        </script>
        <!-- /dashbord linegraph -->
        <!-- datepicker -->
        <script type="text/javascript">
            $(document).ready(function () {

                var cb = function (start, end, label) {
                    console.log(start.toISOString(), end.toISOString(), label);
                    $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                    //alert("Callback has fired: [" + start.format('MMMM D, YYYY') + " to " + end.format('MMMM D, YYYY') + ", label = " + label + "]");
                }

                var optionSet1 = {
                    startDate: moment().subtract(29, 'days'),
                    endDate: moment(),
                    minDate: '01/01/2012',
                    maxDate: '12/31/2015',
                    dateLimit: {
                        days: 60
                    },
                    showDropdowns: true,
                    showWeekNumbers: true,
                    timePicker: false,
                    timePickerIncrement: 1,
                    timePicker12Hour: true,
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    },
                    opens: 'left',
                    buttonClasses: ['btn btn-default'],
                    applyClass: 'btn-small btn-primary',
                    cancelClass: 'btn-small',
                    format: 'MM/DD/YYYY',
                    separator: ' to ',
                    locale: {
                        applyLabel: 'Submit',
                        cancelLabel: 'Clear',
                        fromLabel: 'From',
                        toLabel: 'To',
                        customRangeLabel: 'Custom',
                        daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                        monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                        firstDay: 1
                    }
                };
                $('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
                $('#reportrange').daterangepicker(optionSet1, cb);
                $('#reportrange').on('show.daterangepicker', function () {
                    console.log("show event fired");
                });
                $('#reportrange').on('hide.daterangepicker', function () {
                    console.log("hide event fired");
                });
                $('#reportrange').on('apply.daterangepicker', function (ev, picker) {
                    console.log("apply event fired, start/end dates are " + picker.startDate.format('MMMM D, YYYY') + " to " + picker.endDate.format('MMMM D, YYYY'));
                });
                $('#reportrange').on('cancel.daterangepicker', function (ev, picker) {
                    console.log("cancel event fired");
                });
                $('#options1').click(function () {
                    $('#reportrange').data('daterangepicker').setOptions(optionSet1, cb);
                });
                $('#options2').click(function () {
                    $('#reportrange').data('daterangepicker').setOptions(optionSet2, cb);
                });
                $('#destroy').click(function () {
                    $('#reportrange').data('daterangepicker').remove();
                });
            });
        </script>
        <script>
            NProgress.done();
        </script>
    }


