﻿@model Gizmobaba.Models.BannerListModel

@{
    ViewBag.Title = "Predefinedbanners";
    Layout = "~/Views/Shared/_LayoutGizmobaba.cshtml";
}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script type="text/javascript">
    var URL = '@System.Configuration.ConfigurationManager.AppSettings["baseUrl"]';
$(document).ready(function(){
	$(".sreachbtnhs-slide").click(function(){
		$("#searchslidehs-panel").slideToggle("slow");
		$(this).toggleClass("active"); return false;
	});

	$(".sreachbtnhs-slide").click(function(){
		$("#searchslidehs-panel2").slideToggle("slow");
		$(this).toggleClass("active"); return false;
	});

	//$('.search-plus-btnsm').click(function (event) {
//        event.preventDefault();
//        var target = $(this).attr('href');
//        $(target).toggleClass('hidden show');
//
//    });

	$(".search-plus-btnsm").click(function(){
		$("#search-plus-btnsmhs").slideToggle();
	});
});
function DeleteBanner(i) {
    var id = i;
    $('.loader-container').removeClass('hide');
    $.ajax({
        //url: '/Home/DeleteBanner/' +id,
        url: URL + '/Home/DeleteBanner/' + id,
        type: "POST",
        contentType: 'application/json; charset=utf-8',
        async: false,
        dataType: "json",
        success: function (data) {
            alert(data);
            $('#' + i + '').html('');
            $('.loader-container').addClass('hide');
        },
        error: function (xhr) {
            alert(xhr);
            $('.loader-container').addClass('hide');

        }
    });
}
function GetBanner(i) {
    var id = i;
    $('.loader-container').removeClass('hide');
    $.ajax({
        url: URL + '/Home/GetBanner/' + id,
        //url: '/Home/GetBanner/' + id,
        type: "POST",
        contentType: 'application/json; charset=utf-8',
        async: false,
        dataType: "json",
        success: function (data) {
            BindData(data);
            $('.loader-container').addClass('hide');
        },
        error: function (xhr) {
            alert(xhr);
            $('.loader-container').addClass('hide');
        }
    });
}

function BindData(data) {
    var date = new Date(parseInt(data.CAREATED_ON.substr(6)));
    var displayDate = $.datepicker.formatDate("mm/dd/yy", date);
    $('#BANNER_ID').val(data.BANNER_ID);
    $('#txtFromDate').val(data.CreatedDate);
    $('#txtToDate').val(data.ExpiryDate);
    $('#BANNER_DEC').val(data.NumOfDays);
}
function formatJSONDate(jsonDate) {
    var newDate = dateFormat(jsonDate, "mm/dd/yyyy");
    return newDate;
}
</script>

 <!-- page content -->
    <div class="page-title">
        <div class="title_left">
            <h3>Design &amp; Content <i class="fa fa-caret-right"></i>  <i style="font-size:17px">Predefined Banners Upload </i></h3>

        </div>
    </div>

    @*<div class="title_content_top">
        <p> Here you can configure online checkout options to your store after tie-up with respective payment gateway.</p>
    </div>*@
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="mmctrl_box mrgin_gap0">
                <div class="mmcaption">Upload Banners</div>
                <p class="mrgin_gap20">Upload and use your own background image </p>
                @if (TempData["Message"] != null)
                {
                    <p style="color: green">@TempData["Message"].ToString()</p>
                }
@using (Html.BeginForm("AddBanner", "Home", FormMethod.Post, new {enctype = "multipart/form-data", onSubmit = "return validateForm();"}))
{
                @*<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">*@
    <br>
    <div class="form-group">
        <label class="control-label col-md-3" for="">Predefined Banners</label>
        <div class="col-md-5">
            <span class="prettyFile">
                <input name="Image" id="Image" multiple type="file">
                                <div class="input-append">
                                    <input class="input-large_brwse" type="text">
                                    <a href="#" class="btn_brwse">Browse</a>
                                </div>
                            </span>
        </div>

        @*<div class="col-md-1">
            <button type="button" class="btn btn-default">Upload</button>
        </div>*@
    </div>

    <div class="form-group">
        <input type="hidden" id="BANNER_ID" name="BANNER_ID" value="0" />
        <label class="control-label col-md-3">Name Of the Day <span class="red">*</span></label>
        <input type="hidden" value="Predefined Banner" name="BANNER_NAME"/>
        <div class="col-md-6">
            <input id="BANNER_DEC" name="BANNER_DEC" placeholder="" required="" class="form-control" type="text">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-3">Set From Date <span class="red">*</span></label>
        <div class="col-md-2">
            <input id="txtFromDate" name="CAREATED_ON" placeholder="" required="" class="form-control" type="text">
        </div>

        <label class="control-label col-md-1">To Date <span class="red">*</span></label>
        <div class="col-md-2">
            <input id="txtToDate" name="BANNER_EXPIRY_DATE" placeholder="" required="" class="form-control" type="text">
        </div>
    </div>
    <hr>
    <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
        <div class="pull-right">
            <a href="#"><button type="submit" class="btn btn-dark">Save</button></a>
        </div>
    </div>
                @*</form>*@
}
                <br>
            </div>
            <br>

            <div class="mmctrl_box mrgin_gap0">
                <div class="mmcaption">View Upload Banners</div>
                <div class="checkoutholder">
                    <ul class="checkoutholder">
@if (Model != null)
{
    foreach (var iteam in Model.bannerList)
    {
        <li id="@iteam.BANNER_ID">
            <img src="@iteam.BannerImage" class="bnrholderimg" alt="">
            <div class="checkout-captionholder">
                <div class="caption_blur"></div>
                <div class="captiontext">
                    <h4><a href="javascript:;" onclick="GetBanner(@iteam.BANNER_ID);"><i class="fa fa-edit"></i> @iteam.BANNER_DEC</a></h4>
                    <div class="clearfix"></div>
                </div>

                <div class="captiontext_delete">
                    <a href="javascript:;" onclick="DeleteBanner(@iteam.BANNER_ID);"><i class="fa fa-trash"></i></a>
                </div>
            </div>
        </li>
    }
}


                        @*<li>
                            <img src="images/Home_Banners/Banner3.png" class="bnrholderimg" alt="">
                            <div class="checkout-captionholder">
                                <div class="caption_blur"></div>
                                <div class="captiontext">
                                    <h4><a href="Settings_Checkoutoptions_Gateway_edit.html"><i class="fa fa-edit"></i> Diwali Deal</a></h4>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="captiontext_delete">
                                    <a href="#"><i class="fa fa-trash"></i></a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <img src="images/Home_Banners/Banner1.png" class="bnrholderimg" alt="">
                            <div class="checkout-captionholder">
                                <div class="caption_blur"></div>
                                <div class="captiontext">
                                    <h4><a href="Settings_Checkoutoptions_Gateway_edit.html"><i class="fa fa-edit"></i>Republic Day</a></h4>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="captiontext_delete">
                                    <a href="#"><i class="fa fa-trash"></i></a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <img src="images/Home_Banners/Banner2.png" class="bnrholderimg" alt="">
                            <div class="checkout-captionholder">
                                <div class="caption_blur"></div>
                                <div class="captiontext">
                                    <h4><a href="Settings_Checkoutoptions_Gateway_edit.html"><i class="fa fa-edit"></i> Holi Deal</a></h4>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="captiontext_delete">
                                    <a href="#"><i class="fa fa-trash"></i></a>
                                </div>
                            </div>
                        </li>*@
                    </ul>
                </div>
            </div><br>
        </div>
    </div>
    <!-- /page content -->
    <br>
<div class='loader-container hide'>
    <div class='loader'>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--text'></div>
    </div>
</div>
<link href="~/Content/loader.css" rel="stylesheet" />

<!-- /page content -->
<script src="~/GizmobabaFiles/js/nprogress.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
    NProgress.done();
    $(document).ready(function () {
        $('#txtFromDate, #txtToDate').datepicker();
        $('button[type="submit"]').click(function () {
            var emptyVal = 0;
            $('[required]').each(function () {
                if ($(this).val() == "") {
                    emptyVal = 1;
                }
            });
            if (emptyVal != 1)
                $('.loader-container').removeClass('hide');
        });
    });
    function validateForm() {
        $('.loader-container').removeClass('hide');
        if ($('#ddlBannerType').val() == "Image" && $('#Image').val() == "") {
            $('#Image').parents('div.col-md-5').append('<label class="error">Please select Image.</label>');
            $('.loader-container').addClass('hide');
            return false;
        }
        if ($('#ddlBannerType').val() == "Code" && $('#Code').val() == "") {
            $('#Code').parents('div.col-md-5').append('<label class="error">Please select Image.</label>');
            $('.loader-container').addClass('hide');
            return false;
        }
    }
</script>