﻿@model Gizmobaba.Models.ProductViewModel

@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_LayoutGizmobaba.cshtml";
}
@section GizmobabaHeadFiles{
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
    <link href="~/GizmobabaFiles/css/jquery.wysiwyg.css" rel="stylesheet" />
    <script src="~/GizmobabaFiles/js/jquery.wysiwyg.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#details_PRODUCT_DESC").wysiwyg();
        });
    </script>
}
@*<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>*@

@*<script>
        tinymce.init({
            selector: '#details_PRODUCT_DESC',
            setup: function (editor) {
                editor.on('keyup', function(e) {
                    $('#details_PRODUCT_DESC').val(e.currentTarget.innerHTML);
                }).on('click', function (e) {
                    $('#details_PRODUCT_DESC').val(e.currentTarget.lastElementChild.innerHTML);
                });
            }
        });
    </script>*@
<script>
    var URL = '@System.Configuration.ConfigurationManager.AppSettings["baseUrl"]';


    var specialKeys = new Array();
    specialKeys.push(8); //Backspace
    specialKeys.push(9); //Tab
    specialKeys.push(46); //Delete
    specialKeys.push(36); //Home
    specialKeys.push(35); //End
    specialKeys.push(37); //Left
    specialKeys.push(39); //Right
    function IsAlphaNumeric(e) {
        var keyCode = e.keyCode === 0 ? e.charCode : e.keyCode;
        var ret = ((keyCode >= 48 && keyCode <= 57) || (keyCode >= 65 && keyCode <= 90) || (keyCode >= 97 && keyCode <= 122) || (specialKeys.indexOf(e.keyCode) !== -1 && e.charCode !== e.keyCode));
        // document.getElementById("error").style.display = ret ? "none" : "inline";
        return ret;
    }
    function ContactNumeric(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57) && (charCode !== 32) && (charCode !== 45))
            return false;
        return true;
    }
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
    function isAlpha(evt) {
        var keyCode = (evt.which) ? evt.which : evt.keyCode;
        if ((keyCode < 65 || keyCode > 90) && (keyCode < 97 || keyCode > 123) && keyCode !== 32 && keyCode !== 8 && keyCode !== 46)

            return false;
        return true;
    }
    function FillSubCategory() {
        var categoryid = $('#CATEGORY_ID').val();
        $.ajax({
            //url: '/Admin/Home/GetSubCategories',
            url: URL + '/Home/GetSubCategories',
            //url: '/Home/GetSubCategories',
            type: "Get",
            dataType: "json",
            data: { CategoryID: categoryid },
            success: function (subCategories) {
                $("#SUB_CAT_ID").html("<option value=''>Select Subcategory</option>"); // clear before appending new list
                if (subCategories.length === 0) {
                    $("#SUB_CAT_ID").html("<option value=''>No Subcategories</option>"); // clear before appending new list
                    $("#SUB_CAT_ID").attr('disabled', 'disabled');
                }
                else {
                    $("#SUB_CAT_ID").removeAttr('disabled');
                    $.each(subCategories, function (i, subCategory) {
                        $("#SUB_CAT_ID").append(
                            $('<option></option>').val(subCategory.SUB_CAT_ID).html(subCategory.SUB_CAT_DESC));
                    });
                }
            }
        });
    }
    function addImage() {
        var imgCount = parseInt($('#txtimageCount').val()) + 1;
        if (imgCount <= 5) {
            var data;
            data = '<div class="form-group">' +
                '<label class="control-label col-md-2" for="">image' + imgCount + '</label>' +
                '<div class="col-md-5">' +
                '<span class="prettyFile">' +
                '<div class="input-append">' +
                '<input type="file" class="input-large_brwse" name="image' + imgCount + '">' +
                //'<a class="btn_brwse" href="#">Browse</a>'+
                ' </div>' +
                //'<input name="image' + imgCount + '" multiple type="file">' +
                '</span></div>' +
                '<div class="addplusmore"><a href="javascript:;" onclick="deleteImg(' + imgCount + ');"><i class="fa fa-trash-o btn-primary"></i></a></div></div>';
            if (imgCount === 2) {
                $('#img2').append(data);
                $('#txtimageCount').val(imgCount);
            }
            if (imgCount === 3) {
                $('#img3').append(data);
                $('#txtimageCount').val(imgCount);
            }
            if (imgCount === 4) {
                $('#img4').append(data);
                $('#txtimageCount').val(imgCount);
            }
            if (imgCount === 5) {
                $('#img5').append(data);
                $('#txtimageCount').val(imgCount);
            }
        }
        else {
            alert('Maximum images 5 only');
        }
    }
    function deleteImg(i) {
        var imgCount = parseInt(i);
        if (imgCount === 2) {
            $('#img2').html('');
        }
        if (imgCount === 3) {
            $('#img3').html('');
        }
        if (imgCount === 4) {
            $('#img4').html('');
        }
        if (imgCount === 5) {
            $('#img5').html('');
        }
        var count = parseInt($('#txtimageCount').val()) - 1;
        $('#txtimageCount').val('' + count + '');

    }
    $(document).ready(function () {
        $('input,select,textarea').attr('disabled', 'true');
        $(".dtn-save").click(function() {
            $('#dvLoading').show();
        });
        $('#chkSKUCode').change(function () {
            if ($(this).is(":checked")) {
                $('#PRODUCT_SKU').val($('#txtSKUCode').val());
            } else {
                $('#PRODUCT_SKU').val('');
            }
        });
    });
</script>
<div id="dvLoading" style="display: none"></div>
<style>
    #dvLoading {
        background: #000 url(images/loader.gif) no-repeat center center;
        height: 100px;
        width: 100px;
        position: fixed;
        z-index: 1000;
        left: 50%;
        top: 50%;
        margin: -25px 0 0 -25px;
    }
</style>
@using (Html.BeginForm("AddProduct", "Home", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = "return validateForm();" }))
{
    <div class="row">
        <div class="col-md-10">
            <div class="page-title">
                <div class="title_left">
                    <h3>Add/Edit Physical Product</h3><br>
                </div>
            </div>

            <div class="title_content_top">
                <p>This interface facilitates you to add/edit ‘tangible products’, which can be physically shipped to customers upon valid Orders. You can also add this product directly to the connected ‘Marketplaces’ and specify the customized prices to those marketplaces. You can also view the price breakdown and know how much you are going to get by selling this product at respective market places.</p>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="mmctrl_box mrgin_gap0">
                        <div class="mmcaption">Product Details</div>
                        <br>
                        <div class="form-group">
                            <label class="control-label col-md-2">Category <span class="red">*</span></label>
                            <div class="col-md-3">
                                @Html.DropDownListFor(m => m.details.CATEGORY_ID, new SelectList(Model.categories, "CATEGORY_ID", "CATEGORY_DESC"), "Select Category", new { @class = "select2_single form-control", id = "CATEGORY_ID", tabindex = "-1", required = "required", onChange = "FillSubCategory()" })
                            </div>

                            <label class="control-label col-md-2" for="details_PRODUCT_ID">Brand <span class="red">*</span></label>
                            <div class="col-md-3">
                                @Html.HiddenFor(m => m.details.PRODUCT_ID)
                                @Html.TextBoxFor(m => m.details.BRAND, new { @class = "form-control", required = "required" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2" for="details_SUB_CAT_ID">Sub Category </label>
                            <div class="col-md-3">
                                @Html.DropDownListFor(m => m.details.SUB_CAT_ID,
new SelectList(Enumerable.Empty<SelectListItem>(), "SUB_CAT_ID", "SUB_CAT_DESC"),
"Select Sub Category", new { @class = "select2_single form-control", tabindex = "-1", id = "SUB_CAT_ID", disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2" for="details_PRODUCT_NAME">Product Title <span class="red">*</span></label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.details.PRODUCT_NAME, new { @class = "form-control", required = "required", maxlength = 100 })
                                <div class="vrysmall_txt_frms">Up to 100 Characters</div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="mmctrl_box mrgin_gap0">
                        <div class="mmcaption">Basic Information</div>
                        <br>
                        <div class="form-group">
                            <label class="control-label col-md-2">Product SKU <span class="red">*</span></label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.details.PRODUCT_SKU, new { @class = "form-control", required = "required", id = "PRODUCT_SKU" })
                                @*<div class="vrysmall_txt_frms">SKU-tripod9ooo </div>*@
                                @Html.HiddenFor(m => m.details.SKUCODE, new { id = "txtSKUCode" })
                                @Html.CheckBoxFor(m => m.PreOrder, new { Id = "chkSKUCode" })
                                Automatically set SKU code &nbsp; &nbsp;
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">MRP/RRP <span class="red">*</span></label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.details.MRP, new { @class = "form-control", required = "required", @onkeypress = "return isNumber(event)", @MaxLength = "8" })
                                <div class="vrysmall_txt_frms">(INR)</div>
                            </div>

                            <label class="control-label col-md-2">Web Price <span class="red">*</span></label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.details.GIZMOBABA_PRICE, new { @class = "form-control", required = "required", @onkeypress = "return isNumber(event)", @MaxLength = "8" })
                                <div class="vrysmall_txt_frms">(INR)</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Cost Price</label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.details.GROSS_PRICE, new { @class = "form-control", @onkeypress = "return isNumber(event)", @MaxLength = "8" })
                                <div class="vrysmall_txt_frms">(INR)</div>
                            </div>

                            <label class="control-label col-md-2">Token Price</label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.details.NET_PRICE, new { @class = "form-control", @onkeypress = "return isNumber(event)", @MaxLength = "8" })
                                <div class="vrysmall_txt_frms">(INR)</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Activation Date<span class="red">*</span></label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.details.ACTIVATION_DATE, new { @class = "form-control" })
                            </div>

                            <label class="control-label col-md-2">Deactivation Date<span class="red">*</span></label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.details.DEACTIVATION_DATE, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Delivery Time <span class="red">*</span></label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.details.DELIVERY_TIME, new { @class = "form-control", required = "required" })
                                <div class="vrysmall_txt_frms">Delivered in 2-4 business days</div>
                            </div>

                            <label class="control-label col-md-2">Weight <span class="red">*</span></label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.Weight, new { @class = "form-control", required = "required" })
                                <div class="vrysmall_txt_frms">Weight should be (Gms or KGs)</div>
                            </div>
                        </div>


                        <div class="form-group">
                            <p>
                                Set this flag true if product's sellable inventory should be taken from the selected location/store rather than aggregating across the location/store.The consumer has to select a location before adding product to the cart.
                            </p>
                        </div>

                        @*<div class="form-group">
                                <label class="control-label col-md-2">Location Based Inventory <span class="red">*</span></label>
                                <div class="col-md-3">
                                    @Html.CheckBoxFor(m=>m.LocationBasedInventory, new { required="required" } )
                                </div>
                            </div>*@
                    </div><br>


                    <div class="mmctrl_box mrgin_gap0">
                        <div class="mmcaption">Product Stock Information</div>
                        <br>
                        <div class="form-group">
                            <label class="control-label col-md-2">Inventory <span class="red">*</span></label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.details.INVENTORY, new { @class = "form-control", @onkeypress = "return isNumber(event)", required = "required" })
                            </div>

                            <label class="control-label col-md-2">Pkg Qty <span class="red">*</span></label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.details.PKG_QUANTITY, new { @class = "form-control", required = "required" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Reserve Quantity <span class="red">*</span></label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.details.RESERVE_QUANTITY, new { @class = "form-control", required = "required" })
                            </div>

                            <label class="control-label col-md-2">Reorder Stock Level <span class="red">*</span></label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.details.REORDER_STOCK_LEVEL, new { @class = "form-control", required = "required" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Stock Alert Quantity <span class="red">*</span></label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.details.STOCK_ALERT_QUANTITY, new { @class = "form-control", required = "required" })
                            </div>

                            <label class="control-label col-md-2">Minimum Order Quantity<span class="red">*</span></label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.details.MINIMUM_ORDER_QUANTITY, new { @class = "form-control", required = "required" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Enable <span class="red">*</span></label>
                            <div class="col-md-3">
                                @Html.CheckBoxFor(m => m.PreOrder, new { })
                                Preorder &nbsp; &nbsp;
                                @Html.CheckBoxFor(m => m.BackOrder, new { })
                                Backorder
                            </div>

                            <label class="control-label col-md-2">Maximum Order Quantity<span class="red">*</span></label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.details.MAXIMUM_ORDER_QUANTITY, new { @class = "form-control", required = "required" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="">Stock Available Mess <span class="red">*</span></label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.details.STOCK_AVAILABLE_MESS, new { @class = "form-control", required = "required" })
                                <div class="vrysmall_txt_frms">Stock will be available in next 15 working days.</div>
                            </div>
                        </div>
                    </div><br>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mmctrl_box mrgin_gap0">
                                <div class="mmcaption">Payment Information</div>
                                <p class="mrgin_gap20">'Selected Checkout Options' from the 'Select Checkout Options' page will appear here. Select the suitable checkout option(s) to apply for this product.</p>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Payment Types <span class="red">*</span></label>
                                    <div class="col-md-9">
                                        @Html.CheckBoxFor(m => m.CreditCard, new { }) Credit Card &nbsp; &nbsp; &nbsp;
                                        @Html.CheckBoxFor(m => m.Online, new { })Online Bank Transfer &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp;
                                        @Html.CheckBoxFor(m => m.Cheque, new { }) Cheque / DD &nbsp; &nbsp;
                                        @Html.CheckBoxFor(m => m.COD, new { }) COD (Cash on Delivery)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mmctrl_box mrgin_gap0">
                                <div class="mmcaption">Delivery Options</div>
                                <p class="mrgin_gap20">The delivery options enables delivery modes for the products in the checkout process. "Ship" enables home delivery and "Instore Pickup" enables pick up from the store. The special delivery options like "Online" enables downloadable type of products and "Offline" enables call for actions configured at store level.</p>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Delivery Option <span class="red">*</span></label>
                                    <div class="col-md-9">
                                        @Html.CheckBoxFor(m => m.Ship, new { }) Ship &nbsp;
                                        @Html.CheckBoxFor(m => m.Offline, new { }) Offline  &nbsp;
                                        @Html.CheckBoxFor(m => m.Deli_Online, new { }) Online &nbsp;
                                        @Html.CheckBoxFor(m => m.Instore_Pickup, new { }) Instore Pickup
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><br>


                    <div class="mmctrl_box mrgin_gap0">
                        <div class="mmcaption">Product Description </div>
                        <div class="mrgin_gap20">
                            <p>
                                Describe key information about your product briefly here. This is a Microsoft Word like WYSIWYG (What You See Is What You Get) editor and whatever the style you enter here,it will be displayed in the same style in Product Details page. 'Short Description' appears on the 'Product Details' Page beside product image, while 'Long Description' appears under 'Description' tab of 'Product Details' page.
                            </p>
                            <br>
                            <div class="form-group">
                                <label class="control-label col-md-2" style="text-align:left;">Short Description</label>
                                <div class="col-md-9">
                                    @Html.TextAreaFor(m => m.details.PRODUCT_CAPTION, new { @class = "resizable_textarea form-control" })
                                </div>

                                <div class="col-md-1">
                                    <button type="button" class="btn btn-dark pull-left">Edit</button>
                                </div>
                            </div>

                            <hr>

                            <div class="form-group">
                                <label class="control-label col-md-2" style="text-align:left;">Long Description</label>
                                <div class="col-md-9">
                                    @Html.TextAreaFor(m => m.details.PRODUCT_DESC, new { @class = "form-control", id = "details_PRODUCT_DESC" })
                                </div>

                                <div class="col-md-1">
                                    <button type="button" class="btn btn-dark pull-left">Edit</button>
                                </div>
                            </div>
                        </div>
                    </div><br>

                    <div class="mmctrl_box mrgin_gap0">
                        <div class="mmcaption">Product Images and Videos </div>
                        <div class="mrgin_gap20">
                            <p>
                                Upload the ‘Source Image’, which will be dynamically resized to the defined sizes of ‘Small Image’ or ‘Custom Image’, ‘Large Image’, ‘Thumbnail Image’, and ‘Zoom Upload the ‘Source Image’, which will be dynamically resized to the defined sizes of ‘Small Image’ or ‘Custom Image’, ‘Large Image’, ‘Thumbnail Image’, and ‘Zoom Image’. This image ('Large Image') is displayed on the 'Product Details' page after clicking the 'Small Inage.'
                            </p>
                            @if (Model.productImages != null && Model.productImages.Count() != 0)
                            {
                                <a href="@Url.Action("ProductImages",new { id= Model.details.PRODUCT_ID})">Add/Edit Product Image</a>
                            }
                            <br>
                            <div class="form-group">
                                <label class="control-label col-md-2" for="">Source Image</label>

                                @if (Model.productImages != null && Model.productImages.Count() != 0 && Model.productImages.Any(x => x.DISPLAY_IMAGE==1))
                                {
                                    <div class="col-md-5">
                                    </div>
                                    <div class="col-md-5">
                                        <img src="@Model.productImages.FirstOrDefault(a => a.DISPLAY_IMAGE == 1).Image" style="width: 30%; float: right" />
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-5">
                                        <span class="prettyFile">
                                            <input name="sourceImage" type="file" id="sourceImage" />
                                            <div class="input-append">
                                                <input class="input-large_brwse" type="text">
                                                <a href="#" class="btn_brwse">Upload</a>
                                            </div>
                                        </span>
                                    </div>
                                }
                            </div>
                            <hr>
                            <div class="form-group">
                                <label class="control-label col-md-2" for="">Gif Image</label>

                                @if (Model.productImages != null && Model.productImages.Count() != 0 && Model.productImages.Any(a => a.DISPLAY_IMAGE == 2))
                                {
                                    <div class="col-md-5">
                                    </div>
                                    <div class="col-md-5">
                                        <img src="@Model.productImages.FirstOrDefault(a => a.DISPLAY_IMAGE == 2).Image" style="width: 30%; float: right" />
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-5">
                                        <span class="prettyFile">
                                            <input name="gifImage" multiple type="file">
                                            <div class="input-append">
                                                <input class="input-large_brwse" type="text">
                                                <a href="#" class="btn_brwse">Upload</a>
                                            </div>
                                        </span>
                                    </div>
                                }
                            </div>

                            <hr>
                            @*<div class="form-group">
                                <label class="control-label col-md-2" for="">Image 1</label>
                                <div class="col-md-5">
                                    <span class="prettyFile">
                                        <input name="image1" multiple type="file">
                                        <div class="input-append">
                                            <input class="input-large_brwse" type="text">
                                            <a href="#" class="btn_brwse">Upload</a>
                                        </div>
                                    </span>
                                </div>*@
                            @if (Model.productImages != null && Model.productImages.Count(a => a.DISPLAY_IMAGE == 0) != 0 && Model.productImages.Any(a => a.DISPLAY_IMAGE == 0))
                            {
                                int i = 1;
                                foreach (var data in Model.productImages.Where(a => a.DISPLAY_IMAGE == 0))
                                {
                                    string imgs = "image";
                                    imgs = imgs + i;
                                    <div class="form-group">
                                        <label class="control-label col-md-2" for="">@imgs</label>
                                        <div class="col-md-5">
                                            @*<span class="prettyFile">
                                                    <input name="@imgs" multiple type="file">
                                                    <div class="input-append">
                                                        <input class="input-large_brwse" type="text">
                                                        <a href="#" class="btn_brwse">Upload</a>
                                                    </div>
                                                </span>*@
                                        </div>

                                        <div class="col-md-5">
                                            <img src="@data.Image" style="width:30%;float:right" />
                                        </div>
                                    </div>
                                    i++;
                                }
                            }
                            else
                            {
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="">Image 1</label>
                                    <div class="col-md-5">
                                        <span class="prettyFile">
                                            <input name="image1" multiple type="file">
                                            <div class="input-append">
                                                <input class="input-large_brwse" type="text">
                                                <a href="#" class="btn_brwse">Upload</a>
                                            </div>
                                        </span>
                                    </div>
                                    <input type="hidden" id="txtimageCount" value="1" />
                                    <div class="addplusmore"><a href="javascript:;" onclick="addImage();"><i class="fa fa-plus btn-primary"></i></a></div>
                                </div>
                                <div id="img2">
                                </div>
                                <div id="img3">
                                </div>
                                <div id="img4">
                                </div>
                                <div id="img5">
                                </div>
                            }
                            <hr>

                            <div class="form-group">
                                <label class="control-label col-md-2" for="">Video Url <span class="red">*</span></label>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.details.VIDEO_URL, new { @class = "form-control", required = "required" })
                                </div>
                            </div>
                        </div>
                    </div><br>

                    <div class="mmctrl_box mrgin_gap0">
                        <div class="mmcaption">Shipping Information</div>
                        <div class="mrgin_gap20">
                            <p>'Available Shipping Codes' from the 'Shipping Setup Overview' page will appear here. Select suitable shipping code(s) to apply for this product.</p>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="slectonetoone_ctrl">
                                        <h1>Available Codes</h1>
                                        @Html.DropDownListFor(m => m.AvailableShippingCodes, new SelectList(Model.shippingCodes, "SHIPPING_ID", "SHIPPING_CODE"), null, new { multiple = "MULTIPLE", @class = "slectonetoone", @id = "sbOne" })
                                    </div>
                                </div>
                                @if (Model.SelectedShippingCodes != null)
                                {
                                    foreach (var code in Model.SelectedShippingCodes)
                                    {
                                        <script>
                                            $(document).ready(function () {
                                                $('#sbOne option[value=@code]').attr('selected', true);
                                            });
                                        </script>
                                    }
                                }
                                <div class="col-md-1 row slectbtngpctrl">
                                    <input id="left" value="&lt;" type="button">
                                    <input id="right" value="&gt;" type="button">
                                </div>
                                <script>
                                    $(document).ready(function () {
                                        $('#right').click(function () {
                                            $('#sbTwo').append($('#sbOne option:selected'));
                                        });
                                        $('#left').click(function () {
                                            $('#sbOne').append($('#sbTwo option:selected').removeAttr('selected'));
                                        });
                                        $('#right').click();
                                    });
                                </script>

                                <div class="col-md-5">
                                    <div class="slectonetoone_ctrl">
                                        <h1>Selected Codes</h1>
                                        <select multiple="MULTIPLE" class="slectonetoone" id="sbTwo" name="SelectedShippingCodes"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><br>


                    @*<div class="col-md-12">
                        <div class="pull-right">
                            <button type="submit" class="btn btn-default dtn-save" name="Command" value="Save&List">Save and Return to Product List</button>
                            <button type="submit" class="btn btn-default dtn-save" name="Command" value="Save&New">Save and Add New</button>
                            <button type="submit" class="btn btn-default dtn-save" name="Command" value="Save">Save</button>
                            <button type="submit" class="btn btn-dark dtn-save" name="Command" value="Save&Next">Save and Next</button>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="right_menu">
                <h1>Add New Product</h1>
                <ul>
                    <li class="active"><a href="@Url.Action("AddProduct","Home", new { id = @Model.details.PRODUCT_ID })">Basic Information</a></li>
                    <li><a href="@Url.Action("ProductAdditionalinfo", "Home", new { id = @Model.details.PRODUCT_ID })">Additional Information</a></li>
                    <li><a href="Products_Physicalproduct_add_Attributeset.html">Attributes</a></li>
                    <li><a href="@Url.Action("ProductImages","Home", new { id = @Model.details.PRODUCT_ID})">Images</a></li>
                    <!--<li><a href="#">Locations</a></li>-->
                </ul>
            </div>
        </div>
    </div>
}
<br>


@section Gizmobabascripts
{

    <script src="~/GizmobabaFiles/js/nicescroll/jquery.nicescroll.min.js"></script>
    <!-- icheck -->
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
        NProgress.done();
        $(document).ready(function () {
            $('#details_ACTIVATION_DATE, #details_DEACTIVATION_DATE').datepicker();
        });
        function validateForm() {
            if ($('#PreOrder').is(':checked') == false && $('#BackOrder').is(':checked') == false) {
                $('#PreOrder').parent('div').append('<label class="error">Please select atleast one.</label>');
                $('html,body').animate({
                    scrollTop: $("#PreOrder").offset().top - 100
                }, 'slow');
                return false;
            }
            if ($('#Ship').is(':checked') == false && $('#Offline').is(':checked') == false && $('#Deli_Online').is(':checked') == false && $('#Instore_Pickup').is(':checked') == false) {
                $('#Ship').parent('div').append('<label class="error">Please select atleast one.</label>');
                $('html,body').animate({
                    scrollTop: $("#Ship").offset().top - 100
                }, 'slow');
                return false;
            }
            if ($('#CreditCard').is(':checked') == false && $('#Online').is(':checked') == false && $('#Cheque').is(':checked') == false && $('#COD').is(':checked') == false) {
                $('#CreditCard').parent('div').append('<label class="error">Please select atleast one.</label>');
                $('html,body').animate({
                    scrollTop: $("#Ship").offset().top - 100
                }, 'slow');
                return false;
            }
        }
    </script>
}

