﻿@model IEnumerable<Gizmobaba.Models.Images>

@{
    ViewBag.Title = "ProductImages";
    Layout = "~/Views/Shared/_LayoutGizmobaba.cshtml";
}
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<div class="row">
    <div class="col-md-10">
        <div class="page-title">
            <div class="title_left">
                <h3>Enter Product Exchange Attributes</h3><br>
            </div>
        </div>

        <div class="title_content_top">
            <p>Attributes are the specifications of a product such as Pixels of Camera, Stand-By time of Battery, Touch screen feature of phone, etc… 'Attributes' are added to 'categories', and 'Attribute values' for those attributes are given for each applicable product. Here you can select predefined attribute values or enter attribute values for the selected product.</p>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="mmctrl_box mrgin_gap0">
                    <div class="mmcaption">Product Image Sets</div>
                    <div class="col-md-12">
                        @{
                            if (Model != null)
                            {
                                foreach (var image in Model)
                                {
                                    <div class="col-md-4" id="@image.PRODUCT_IMAGE_ID">
                                        <div class="issproductview_imgsetholder">
                                            <div class="issproductview_imgsetholder_hdrs">
                                                <h1>@image.ALTERNATE_NAME</h1>
                                                <h2>@Ajax.ActionLink("X", "DeleteProductImage", new { id = image.PRODUCT_IMAGE_ID }, new AjaxOptions() { OnSuccess = "DeleteImageCallBack(" + image.PRODUCT_IMAGE_ID + ")" })</h2>
                                            </div>
                                            <div class="issproductview_imgsetbox">
                                                <div class="issproductview_imgset"><img style="height:150px" src="@image.Image" alt="" /></div>
                                            </div>

                                            <div class="issproductview_imgsetBottomctrl">
                                                <h1>@image.IMAGE_URL</h1>
                                                <div class="issproductview_imgset_buttns text-center">
                                                    @using (Html.BeginForm("UpdateProductImage", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                                    {
                                                        <input type="hidden" name="PRODUCT_ID" value="@image.PRODUCT_ID" />
                                                        <input type="hidden" name="PRODUCT_IMAGE_ID" value="@image.PRODUCT_IMAGE_ID" />
                                                        <input type="hidden" value="@image.ALTERNATE_NAME" name="ALTERNATE_NAME" />
                                                        <label for="browseFile" class="btn btn-default">Browse</label>
                                                        <input type="file" name="imFileBase" id="browseFile" class="hide" value="Browse" />
                                                        <button type="submit" class="btn btn-default"><i class="fa fa-upload"></i> Save</button>
                                                    }
                                                </div>
                                                <div class="issproductview_imgset_upatext">
                                                    <a>@image.ALTERNATE_NAME</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                            }
                        }
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="mmcaption">Product Images and Videos </div>
                @if (Model.Count() != 0 && Model.Count() < 5)
                {
                    int imgCount = (Model.Count() - 1);
                    for (int x = imgCount; x <= 3; x++)
                    {
                        using (Html.BeginForm("AddProductImage", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="form-group">
                                <label class="control-label col-md-2" for="">image @x</label>
                                <div class="col-md-5">
                                    <input type="hidden" name="PRODUCT_ID" value="@Model.FirstOrDefault().PRODUCT_ID" />
                                    <input type="hidden" name="ALTERNATE_NAME" value="Image_@x" />
                                    <span class="prettyFile">
                                        <input name="imFileBase" multiple type="file">
                                        <div class="input-append">
                                            <input class="input-large_brwse" type="text">
                                            <a href="#" class="btn_brwse">Choose</a>
                                        </div>
                                    </span>
                                </div>
                                <input type="submit" value="Upload" />
                            </div>
                            <hr />
                        }
                    }
                }
                else
                {
                    <p>@ViewBag.Error</p>
                }
            </div>
        </div>
        <div class="col-md-12">
            <div class="pull-right">
                <a class="btn btn-default dtn-save" href="@Url.Action("InventorySnapshot", "Home")">Save Return to Product List</a>
                <a class="btn btn-default dtn-save" href="@Url.Action("AddProduct", "Home")">Add New Product</a>
                </div>
            </div>

            </div>

            <div class="col-md-2">
                <div class="right_menu">
                    <h1>Add New Product</h1>
                    <ul>
                        <li><a href="@Url.Action("AddProduct", "Home", new { id = @ViewBag.Id })">Basic Information</a></li>
                        <li><a href="@Url.Action("ProductAdditionalinfo", "Home", new { id = @ViewBag.Id })">Additional Information</a></li>
                        @*<li><a href="Products_Physicalproduct_add_Attributeset.html">Attributes</a></li>*@
                        <li class="active"><a href="@Url.Action("ProductImages", "Home", new { id = @ViewBag.Id })">Images</a></li>
                        <!--<li><a href="#">Locations</a></li>-->
                    </ul>
                </div>
            </div>
        </div>
        <br>



        <script>
            function DeleteImageCallBack(id) {
                alert('Deleted successfully');
                $('[id=' + id + ']').remove();
            }
        </script>
