﻿@model Gizmobaba.Models.ProductTagsList

@{
    ViewBag.Title = "ProductTags";
    Layout = "~/Views/Shared/_LayoutGizmobaba.cshtml";
}

    <div class="page-title">
        <div class="title_left">
            <h3> Masters <i class="fa fa-tree"></i> <span class="small"> Manage Product Tags</span></h3><br>
        </div>
    </div>

    <div class="title_content_top">
        <p>Tags are the ‘Keywords’ or ‘Labels’, which can be associated to products and are used for classification &amp; filtration of the products. You can run different promotions based on product tags and showcase those products easily in storefront through the tags. You can also map product tags to specific location based products and showcase required products with the help of relevant tags against a location. You can navigate to associated location(s) (if any) of a tag through ‘View’ link. You can use and edit default tags, and also create &amp; manage your ‘Custom Product Tags’.</p>
    </div>
    <div class="clearfix"></div>


    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="mmctrl_box mrgin_gap0" >
                @*<div class="mmcaption" id="divStatus">Search option</div>*@
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#Tab1" aria-controls="home" role="tab" data-toggle="tab">Manage Product Tags</a></li>
                    @*<li role="presentation"><a href="#Tab2" aria-controls="profile" role="tab" data-toggle="tab">Manage Product Brands</a></li>*@
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    @if (TempData["SuccessMessage"] != null && TempData["SuccessMessage"] != "")
                    {
                    <div class="alert alertnew alert-success fade in">
                        <a href="#" class="close" data-dismiss="alert">×</a>
                        <strong>Success!</strong> @TempData["SuccessMessage"]
                    </div>
                    }
                    @if (TempData["ErrorMessage"] != null && TempData["ErrorMessage"] != "")
                    {
                    <div class="alert alertnew alert-danger fade in">
                        <a href="#" class="close" data-dismiss="alert">×</a>
                        <strong>Error!</strong> @TempData["ErrorMessage"]
                    </div>
                    }
                    <div role="tabpanel" class="tab-pane active" id="Tab1">
                        <div class="mmctrl_box mrgin_gap20 mmctrl_tble">
                            <div class="mmcaption">Product Tags List</div>
                            <div class="col-md-12 graycolorbg0">
                                <div class="pull-right">
                                    <div class="col-md-12 col-sm-12 col-xs-12"><a data-toggle="modal" href="#normaladd" class="btn btn-dark btn-sm"> <i class="fa fa-plus"></i> Add new Tag</a></div>
                                </div>
                            </div>
                            <table class="table table-striped mrgin_gap0">
                                <thead>
                                    <tr>
                                        <th>Tag</th>
                                        <th>Tag Description</th>
                                        <th>Product Count</th>
                                        @*<th width="180">Associated Locations</th>*@
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @*<tr>
                                    <td>Best-Pick</td>
                                    <td>Best-Pick</td>
                                    <td>0</td>
                                    <td>&nbsp;</td>
                                    <td>
                                        <div class="prdcts-action">
                                            <a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a>
                                            <a href="#" title="Delete"><i class="fa fa-trash-o"></i></a>
                                        </div>
                                    </td>
                                </tr>*@
                                    @foreach (var item in Model.productTagsList)
{
                                    <tr id="@item.TAG_ID">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TAG_DESC)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TAG_DESC)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProductCount)
                                        </td>
                                        @*<td>
                                        @Html.DisplayFor(modelItem => item.STATUS)
                                    </td>*@
                                        <td>
                                            @*@Html.ActionLink("Edit", "Edit", new {/* id=item.PrimaryKey */}) |
                                        @Html.ActionLink("Details", "Details", new {/* id=item.PrimaryKey */}) |
                                        @Html.ActionLink("Delete", "Delete", new {/* id=item.PrimaryKey */})*@
                                            @*<a href="javascript:;" title="Edit"><i class="fa fa-pencil-square-o"></i></a>*@
                                            <a href="javascript:;" onclick="$(this).next().click();"><i class='fa fa-pencil-square-o'></i></a>
                                            @Ajax.ActionLink("Home", "EditProductTags", new { id = item.TAG_ID }, new AjaxOptions() { OnSuccess = "EditTagCallBack", UpdateTargetId = "AddEditPartialViewLoad" }, new { @class = "hide" })
                                            @*<a href="javascript:;" title="Delete"><i class="fa fa-trash-o"></i></a>*@
                                            <a data-toggle="modal" href="#normaldelete" title="Delete"><i class="fa fa-trash-o"></i></a>

                                        </td>
                                    </tr>
}
                                </tbody>
                            </table>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="Tab2">
                        <div class="mmctrl_box mrgin_gap20 mmctrl_tble">
                            <div class="mmcaption">Manage Custom/Repository Brands</div>

                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#Tab3" aria-controls="home" role="tab" data-toggle="tab">Custom Brands</a></li>
                                <li role="presentation"><a href="#Tab4" aria-controls="profile" role="tab" data-toggle="tab">Repository Brands</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="Tab3">
                                    <div class="mrgin_gap0 mmctrl_tble">
                                        <div class="col-md-12 graycolorbg0">
                                            <div class="pull-right">
                                                <button type="button" class="btn btn-dark btn-sm"> <i class="fa fa-plus"></i> Add new Brand</button>
                                            </div>
                                        </div>

                                        <table class="table table-striped mrgin_gap0">
                                            <thead>
                                                <tr>
                                                    <th>Rank</th>
                                                    <th>Brand ID</th>
                                                    <th>Brand Name</th>
                                                    <th>Mapped Repository Brand</th>
                                                    <th>AdditionalInfo</th>
                                                    <th>Image Name</th>
                                                    <th>Content</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>49</td>
                                                    <td>2646</td>
                                                    <td>Motocycles</td>
                                                    <td>NA</td>
                                                    <td>&nbsp;</td>
                                                    <td>Not Available.</td>
                                                    <td>Not Available. <a href="#">Click here to add</a> </td>
                                                    <td>
                                                        <div class="prdcts-action">
                                                            <a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a>
                                                            <a href="#" title="Delete"><i class="fa fa-trash-o"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>60</td>
                                                    <td>4163</td>
                                                    <td>Ritzy Bags</td>
                                                    <td>NA</td>
                                                    <td>&nbsp;</td>
                                                    <td>Not Available.</td>
                                                    <td>Not Available. <a href="#">Click here to add</a> </td>
                                                    <td>
                                                        <div class="prdcts-action">
                                                            <a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a>
                                                            <a href="#" title="Delete"><i class="fa fa-trash-o"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>45</td>
                                                    <td>4176</td>
                                                    <td>Men back bags</td>
                                                    <td>NA</td>
                                                    <td>&nbsp;</td>
                                                    <td>Not Available.</td>
                                                    <td>Not Available. <a href="#">Click here to add</a> </td>
                                                    <td>
                                                        <div class="prdcts-action">
                                                            <a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a>
                                                            <a href="#" title="Delete"><i class="fa fa-trash-o"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>27</td>
                                                    <td>4205</td>
                                                    <td>Home Appliances</td>
                                                    <td>NA</td>
                                                    <td>&nbsp;</td>
                                                    <td>Not Available.</td>
                                                    <td>Not Available. <a href="#">Click here to add</a> </td>
                                                    <td>
                                                        <div class="prdcts-action">
                                                            <a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a>
                                                            <a href="#" title="Delete"><i class="fa fa-trash-o"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>84</td>
                                                    <td>1244</td>
                                                    <td>SAMSUNGG</td>
                                                    <td>NA</td>
                                                    <td>&nbsp;</td>
                                                    <td>Not Available.</td>
                                                    <td>Not Available. <a href="#">Click here to add</a> </td>
                                                    <td>
                                                        <div class="prdcts-action">
                                                            <a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a>
                                                            <a href="#" title="Delete"><i class="fa fa-trash-o"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>13</td>
                                                    <td>1846</td>
                                                    <td>Airconditioner</td>
                                                    <td>NA</td>
                                                    <td>&nbsp;</td>
                                                    <td>Not Available.</td>
                                                    <td>Not Available. <a href="#">Click here to add</a> </td>
                                                    <td>
                                                        <div class="prdcts-action">
                                                            <a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a>
                                                            <a href="#" title="Delete"><i class="fa fa-trash-o"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>18</td>
                                                    <td>8116</td>
                                                    <td>Washing Machinee</td>
                                                    <td>NA</td>
                                                    <td>&nbsp;</td>
                                                    <td>Not Available.</td>
                                                    <td>Not Available. <a href="#">Click here to add</a> </td>
                                                    <td>
                                                        <div class="prdcts-action">
                                                            <a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a>
                                                            <a href="#" title="Delete"><i class="fa fa-trash-o"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>16</td>
                                                    <td>6118</td>
                                                    <td>Shoes</td>
                                                    <td>NA</td>
                                                    <td>&nbsp;</td>
                                                    <td>Not Available.</td>
                                                    <td>Not Available. <a href="#">Click here to add</a> </td>
                                                    <td>
                                                        <div class="prdcts-action">
                                                            <a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a>
                                                            <a href="#" title="Delete"><i class="fa fa-trash-o"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <div role="tabpanel" class="tab-pane" id="Tab4">
                                    <div class="mrgin_gap0 mmctrl_tble">
                                        <div class="col-md-12 graycolorbg0">
                                            <div class="pull-right">
                                                <button type="button" class="btn btn-dark btn-sm"> <i class="fa fa-plus"></i> Add new Brand</button>
                                            </div>
                                        </div>

                                        <table class="table table-striped mrgin_gap0">
                                            <thead>
                                                <tr>
                                                    <th>Rank</th>
                                                    <th>Brand ID</th>
                                                    <th>Brand Name</th>
                                                    <th>Image Name</th>
                                                    <th>Content</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>49</td>
                                                    <td>2646</td>
                                                    <td>Motocycles</td>
                                                    <td>Not Available.</td>
                                                    <td>Not Available. <a href="#">Click here to add</a> </td>
                                                    <td>
                                                        <div class="prdcts-action">
                                                            <a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a>
                                                            <a href="#" title="Delete"><i class="fa fa-trash-o"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>60</td>
                                                    <td>4163</td>
                                                    <td>Ritzy Bags</td>
                                                    <td>Not Available.</td>
                                                    <td>Not Available. <a href="#">Click here to add</a> </td>
                                                    <td>
                                                        <div class="prdcts-action">
                                                            <a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a>
                                                            <a href="#" title="Delete"><i class="fa fa-trash-o"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>45</td>
                                                    <td>4176</td>
                                                    <td>Men back bags</td>
                                                    <td>Not Available.</td>
                                                    <td>Not Available. <a href="#">Click here to add</a> </td>
                                                    <td>
                                                        <div class="prdcts-action">
                                                            <a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a>
                                                            <a href="#" title="Delete"><i class="fa fa-trash-o"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>27</td>
                                                    <td>4205</td>
                                                    <td>Home Appliances</td>
                                                    <td>Not Available.</td>
                                                    <td>Not Available. <a href="#">Click here to add</a> </td>
                                                    <td>
                                                        <div class="prdcts-action">
                                                            <a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a>
                                                            <a href="#" title="Delete"><i class="fa fa-trash-o"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>84</td>
                                                    <td>1244</td>
                                                    <td>SAMSUNGG</td>
                                                    <td>Not Available.</td>
                                                    <td>Not Available. <a href="#">Click here to add</a> </td>
                                                    <td>
                                                        <div class="prdcts-action">
                                                            <a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a>
                                                            <a href="#" title="Delete"><i class="fa fa-trash-o"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>13</td>
                                                    <td>1846</td>
                                                    <td>Airconditioner</td>
                                                    <td>Not Available.</td>
                                                    <td>Not Available. <a href="#">Click here to add</a> </td>
                                                    <td>
                                                        <div class="prdcts-action">
                                                            <a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a>
                                                            <a href="#" title="Delete"><i class="fa fa-trash-o"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>18</td>
                                                    <td>8116</td>
                                                    <td>Washing Machinee</td>
                                                    <td>Not Available.</td>
                                                    <td>Not Available. <a href="#">Click here to add</a> </td>
                                                    <td>
                                                        <div class="prdcts-action">
                                                            <a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a>
                                                            <a href="#" title="Delete"><i class="fa fa-trash-o"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>16</td>
                                                    <td>6118</td>
                                                    <td>Shoes</td>
                                                    <td>Not Available.</td>
                                                    <td>Not Available. <a href="#">Click here to add</a> </td>
                                                    <td>
                                                        <div class="prdcts-action">
                                                            <a href="#" title="Edit"><i class="fa fa-pencil-square-o"></i></a>
                                                            <a href="#" title="Delete"><i class="fa fa-trash-o"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>




                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div><br>




    </div>
    <!-- /page content -->
    <br>

<div id="AddEditPartialViewLoad">
    @{
        Html.RenderPartial("~/Views/Shared/_masterProductTags.cshtml", Model.productTagsViewModel);
    }
</div>

<div id="normaldelete" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body dfltpad">
                <p style="padding:20px;">By deleting a product Tag, it's associated product(s) also will be deleted. Do you want to delete it ?</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default categoryDeleteLink" onclick="CategoryDeleteMethod('categoryId')" id="categoryId">Ok</a>
                <button type="button" class="btn btn-default dismissModal" data-dismiss="modal" aria-hidden="true">Cancel</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
    var URL = '@System.Configuration.ConfigurationManager.AppSettings["baseUrl"]';
    $(document).ready(function () {
        $('[href="#normaldelete"]').click(function () {
            $('.categoryDeleteLink').attr('onclick', "CategoryDeleteMethod(" + $(this).parents('tr').attr('id') + ")");
        });
        $('button[type="submit"]').click(function () {
            var emptyVal = 0;
            $('[required]').each(function () {
                if ($(this).val() == "") {
                    emptyVal = 1;
                }
            });
            if (emptyVal != 1)
                $('.loader-container').removeClass('hide');
        });
    });
    function EditTagCallBack() {
        $('[href="#normaladd"]').click();
    }
    function CategoryDeleteCallback(id) {
        $('tr[id=' + id + ']').remove();
        $('.dismissModal').click();
    }
    function CategoryDeleteMethod(id) {
        $('.loader-container').removeClass('hide');
        $.ajax({
            url: URL + '/Home/DeleteProductTag/' + id,
            //url: '/Home/DeleteProductTag/' + id,
            type: "Post",
            contentType: 'application/json; charset=utf-8',
            async: false,
            dataType: "json",
            success: function (data) {
                CategoryDeleteCallback(id);
                var response = '<div class="alert alertnew alert-success fade in">' +
                         '<a href="#" class="close" data-dismiss="alert">×</a>' +
                         '<strong>Success!</strong> Tags successfully Deleted.</div>';
                $('#divStatus').append(response);
                $('.loader-container').addClass('hide');
            },
            error: function (xhr) {
                //alert(xhr);
                var response = '<div class="alert alertnew alert-danger fade in">' +
                                     '<a href="#" class="close" data-dismiss="alert">×</a>' +
                                      '<strong>Error!</strong> Please try again</div>';
                $('#divStatus').append(response);
                $('.loader-container').addClass('hide');
            }
        });
        $('.alert').fadeOut(10000);
    }
</script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>



