﻿@model Gizmobaba.Models.ProductInfomationModel

@{
    ViewBag.Title = "ProductAdditionalinfo";
    Layout = "~/Views/Shared/_LayoutGizmobaba.cshtml";
}
<div class="row">
    <div class="col-md-10">
        <div class="page-title">
            <div class="title_left">
                <h3>Add/Edit Physical Product</h3><br>
            </div>
        </div>

        <div class="title_content_top">
            <p>This interface facilitates you to add/edit ‘tangible products’, which can be physically shipped to customers upon valid Orders. You can also add this product directly to the connected ‘Marketplaces’ and specify the customized prices to those marketplaces. You can also view the price breakdown and know how much you are going to get by selling this product at respective market places.</p>
        </div>
        <div class="clearfix"></div>
        @using (Html.BeginForm("ProductAdditionalinfo", "Home", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = "return validateForm();" }))
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    @*<div class="mmctrl_box mrgin_gap0">
        <div class="mmcaption">Offer Description</div>
        <p class="mrgin_gap20">If you want to run some offer on the product, put description of the offer here. You can also upload some offer image here. Both 'Offer Description' and 'Offer Image' will appear under the 'Offers' tab of 'Product Details' page.</p><br>

        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label col-md-2" style="text-align:left;">Offer Description</label>
                <div class="col-md-9">
                    @Html.HiddenFor(m=>m.PRODUCT_ID)
                    @Html.TextAreaFor(m => m.PRO_OFFER_DESC, new {@class = "resizable_textarea form-control"})
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-dark pull-left">Edit</button>
                </div>
            </div>
            <hr>

            <div class="form-group">
                <label class="control-label col-md-2" style="text-align:left;">Offer Image</label>
                <div class="col-md-3">
                    <input id="" name="" placeholder="" required="" class="form-control" type="text">
                    <div class="vrysmall_txt_frms">300px X 300</div>
                </div>
            </div>
        </div>
    </div>
    <br>*@

                    <div class="mmctrl_box mrgin_gap0">
                        <div class="mmcaption">Other Product Information</div>
                        @*<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">*@
                            <br>
                            <div class="form-group">
                                <label class="control-label col-md-2">Bar Code</label>
                                <div class="col-md-4">
                                    @Html.HiddenFor(m => m.PRODUCT_ID)
                                    @Html.TextBoxFor(m => m.BARCODE, new { @class = "form-control" })
                                </div>

                                <label class="control-label col-md-2">Model Number</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(m => m.MODELNUMBER, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">Catalog Code</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(m => m.CATALOG_CODE, new { @class = "form-control" })
                                </div>

                                <label class="control-label col-md-2">Vendor</label>
                                <div class="col-md-4">
                                    @Html.DropDownList("VEN_ID", (SelectList)ViewBag.Vendors, "Select Vendor", new { @class = "select2_single form-control", id = "VEN_ID", tabindex = "-1" })
                                    @*<select class="select2_single form-control" tabindex="-1">
                                            <option selected="selected" value=""> -- No Suppliers -- </option>
                                        </select>*@
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">Vendor SKU</label>
                                <div class="col-md-4">
                                    <input id="" name="" placeholder="" class="form-control" type="text">
                                </div>

                                <label class="control-label col-md-2">Standard Product Type</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(m => m.STANDARD_PRODUCT_TYPE, new { @class = "form-control" })
                                    @*<select class="select2_single form-control" tabindex="-1">
                                            <option selected="selected" value=""> -- Select -- </option>
                                        </select>*@
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">MPN(Manufacture's Product Number)</label>
                                <div class="col-md-4">
                                    <input id="" name="" placeholder="" class="form-control" type="text">
                                </div>

                                <label class="control-label col-md-2">Standard Product Code</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(m => m.STANDARD_PRODUCT_CODE, new { @class = "form-control" })
                                </div>
                            </div>
                        @*</form>*@
                    </div><br>

                    <div class="mmctrl_box mrgin_gap0">
                        <div class="mmcaption">Search Engine Optimization</div>
                        <p class="mrgin_gap20">If you want to increase rank of your product in search engine, please enter following fields.</p>
                        @*<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">*@
                            <div class="form-group">
                                <label class="control-label col-md-2">Page Title</label>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.PAGE_TITLE, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">Keyword</label>
                                <div class="col-md-9">
                                    @Html.TextAreaFor(m => m.KEYWORD, new { @class = "resizable_textarea form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">Description</label>
                                <div class="col-md-9">
                                    @Html.TextAreaFor(m => m.SEO_DESC, new { @class = "resizable_textarea form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">URL Key Rewriter</label>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.URL_KEY_REWRITER, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">SmallImage Alt Text</label>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.SMALL_IMAGEALT, new { @class = "form-control"})
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">LargeImage Alt Text</label>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.LARGE_IMAGEALT, new { @class = "form-control" })
                                </div>
                            </div>
                        @*</form>*@
                    </div><br>

                    @*<div class="mmctrl_box mrgin_gap0">
                        <div class="mmcaption">Hide Price</div>
                        <p class="mrgin_gap20">To hide the price of this product on storefront, please select this checkbox. Price can be revealed to the requested end-users.</p>
                        @*<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">
                            <div class="form-group">
                                <label class="control-label col-md-2">Select Option</label>
                                <div class="col-md-9">
                                    <input type="checkbox"> Hide Price Rate
                                </div>
                            </div>
                        @*</form>
                    </div><br>*@

                    <div class="mmctrl_box mrgin_gap0">
                        <div class="mmcaption">Tax Information</div>
                        <div class="mrgin_gap20">
                            <p>Available Tax Codes' from the 'Tax Setup Overview' page will appear here. Select suitable Tax code(s) to apply for this product.</p>
                            @*<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">*@
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="slectonetoone_ctrl">
                                            <h1>Available Codes</h1>
                                            <select multiple="MULTIPLE" class="slectonetoone" id="sbOne">
                                                <option value="2">Beta</option>
                                                <option value="3">Gamma</option>
                                                <option value="4">Delta</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-1 row slectbtngpctrl">
                                        <input id="left" value="<" type="button">
                                        <input id="right" value=">" type="button">
                                    </div>

                                    <div class="col-md-5">
                                        <div class="slectonetoone_ctrl">
                                            <h1>Selected Codes</h1>
                                            <select multiple="MULTIPLE" class="slectonetoone" id="sbTwo"></select>
                                        </div>
                                    </div>
                                </div>
                            @*</form>*@
                        </div>
                    </div><br>

                    @*<div class="mmctrl_box mrgin_gap0">
                        <div class="mmcaption">Product Condition / Warranty</div>
                        @*<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">
                            <br>
                            <div class="form-group">
                                <label class="control-label col-md-2">Condition</label>
                                <div class="col-md-4">
                                    @Html.DropDownList("CONDITION_ID", (SelectList)ViewBag.Condition, "Select Condition", new { @class = "select2_single form-control", id = "CONDITION_ID", tabindex = "-1" })
                                    @*<select class="select2_single form-control" tabindex="-1">
                                            <option selected="selected" value=""> -- Select -- </option>
                                            <option value=""> New </option>
                                            <option value=""> Used </option>
                                        </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">Warranty by</label>
                                <div class="col-md-4">
                                    @Html.DropDownList("WARRANTY_ID", (SelectList)ViewBag.Warranty, "Select Warranty", new { @class = "select2_single form-control", id = "WARRANTY_ID", tabindex = "-1" })
                                    @*<select class="select2_single form-control" tabindex="-1">
                                            <option selected="selected" value=""> -- Select -- </option>
                                            <option value="">No Warranty</option>
                                            <option value="">Manufacturer</option>
                                            <option value="">Dealer</option>
                                        </select>
                                </div>

                                <label class="control-label col-md-2">Warranty</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(m => m.WARRANTY_DESC, new { @class = "form-control", required = "required" })
                                    <div class="vrysmall_txt_frms">(In Months)</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">MPN(Manufacture's Product Number)</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(m => m.MPN, new { @class = "form-control" })
                                </div>

                                <label class="control-label col-md-2">Standard Product Code</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(m => m.STANDARD_PRODUCT_CODE, new { @class = "form-control" })
                                </div>
                            </div>
                        @*</form>
                    </div><br>*@


                    @*<div class="mmctrl_box mrgin_gap0">
                        <div class="mmcaption">Template</div>
                        <div class="mrgin_gap20">
                            <p>You can choose suitable 'Ad-hoc Form' for displaying customer enquiry web forms with number of custom fields of your choice on 'Product Details' page. Section pages are 'Mandatory' to display 'Deals and Deal Details.'</p>

                            @*<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">
                                <div class="form-group">
                                    <label class="control-label col-md-2">Custom Fields</label>
                                    <div class="col-md-4">
                                        @Html.DropDownList("CUSTOM_FIELDS_ID", (SelectList)ViewBag.CustomFields, "Select Custom Fields", new { @class = "select2_single form-control", id = "CUSTOM_FIELDS_ID", tabindex = "-1" })
                                        @*<select class="select2_single form-control" tabindex="-1">
                                                <option value="0">---Select Fields---</option>
                                                <option value="362">Contact</option>
                                                <option value="5248">Custom</option>
                                                <option value="4870">FEED</option>
                                                <option value="311">Request</option>
                                                <option value="5276">Survey</option>
                                                <option value="3757">test</option>
                                                <option value="4248">Tripod</option>
                                                <option value="283">User</option>
                                            </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2">Section</label>
                                    <div class="col-md-4">
                                        @Html.DropDownList("SECTION_ID", (SelectList)ViewBag.Section, "Select Section", new { @class = "select2_single form-control", id = "SECTION_ID", tabindex = "-1" })
                                        @*<select class="select2_single form-control" tabindex="-1">
                                                <option selected="selected" value="0">---Select Section---</option>
                                                <option value="1122">ABC</option>
                                                <option value="1262">Flash Sale Events</option>
                                                <option value="8163">test post </option>
                                                <option value="7849">Waves</option>
                                            </select>
                                    </div>
                                </div>
                            @*</form>
                        </div>
                    </div><br>*@

                    @*<div class="mmctrl_box mrgin_gap0">
                        <div class="mmcaption">Product Note</div>
                        <div class="mrgin_gap20">
                            <p>You can enter additional information about the product (if any) here. This is for internal reference only and not displayed on any page.</p>

                            @*<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">
                                <div class="col-md-12">
                                    @Html.TextAreaFor(m => m.PRODUCT_NOTE, new { @class = "resizable_textarea form-control" })
                                </div>
                            @*</form>
                        </div>
                    </div><br>*@
                    <div class="clearfix"></div>
                    <hr>

                    <div class="col-md-12">
                        <div class="pull-right">
                            <button type="submit" class="btn btn-default dtn-save" name="Command" value="Save&List">Save and Return to Product List</button>
                            @*<button type="submit" class="btn btn-default dtn-save" name="Command" value="Save">Save</button>*@
                            <button type="submit" class="btn btn-dark dtn-save" name="Command" value="Save&Next">Save and Next</button>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>

    <div class="col-md-2">
        <div class="right_menu">
            <h1>Add New Product</h1>
            <ul>
                <li ><a href="@Url.Action("AddProduct", "Home", new { id = @Model.PRODUCT_ID })">Basic Information</a></li>
                <li class="active"><a href="@Url.Action("ProductAdditionalinfo", "Home", new { id = @Model.PRODUCT_ID })">Additional Information</a></li>
                @*<li><a href="Products_Physicalproduct_add_Attributeset.html">Attributes</a></li>*@
                <li><a href="@Url.Action("ProductImages","Home", new { id = @Model.PRODUCT_ID})">Images</a></li>
                <!--<li><a href="#">Locations</a></li>-->
            </ul>
        </div>
    </div>
</div>
<br>
