﻿@model IEnumerable<Gizmobaba.Models.ReviewsModel>

@{
    ViewBag.Title = "Reviews";
    Layout = "~/Views/Shared/_LayoutGizmobaba.cshtml";
}


    <div class="page-title">
        <div class="title_left">
            <h3>Product Review List</h3>

        </div>
    </div>

    <div class="title_content_top">
        <p> Here you can configure online checkout options to your store after tie-up with respective payment gateway.</p>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="mmctrl_box mrgin_gap0 mmctrl_tble">
                <div class="mmcaption">Review List</div>
                <table class="table table-striped mrgin_gap0">
                    <thead>
                        <tr>
                            <th>User Name</th>
                            <th>Description</th>
                            <th>Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model)
                        {
                            <tr>
                            <td>@item.UserName</td>
                                <td> @item.REVIEW_DESC <span class="tbl_review"><a href="#">More </a></span></td>
                            @*<td>something code something code something code something code..........<span class="tbl_review"><a href="#">More </a></span></td>*@
                            <td>@item.CREATED_ON
</td>
                            <td>
                                <div class="footer-action">
                                    <a class="closefaadd" href="#" title="Close"><i class="fa fa-trash"></i></a>
                                    @if (item.STATUS == 0) { 
                                    <a class="applyfaadd" href="#" title="Apply"><i class="fa fa-check"></i></a>
                                    }
                                </div>
                            </td>
                        </tr>
                        }

                        <tr>
                            <td>Diwali Sale</td>
                            <td>something code something code something code something code..........<span class="tbl_review"><a href="#">More </a></span></td>
                            <td>12-04-2016</td>
                            <td>
                                <div class="footer-action">
                                    <a class="editfaadd" href="#" title="Close"><i class="fa fa-edit"></i></a>
                                    <a class="closefaadd" href="#" title="Close"><i class="fa fa-trash"></i></a>
                                    <a class="applyfaadd" href="#" title="Apply"><i class="fa fa-check"></i></a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div><br>
        </div>
    </div>
    <!-- /page content -->
    <br>















<h2>Reviews</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.USER_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRODUCT_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REVIEW)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REVIEW_DESC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CREATED_ON)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UPDATED_ON)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STATUS)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.USER_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRODUCT_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REVIEW)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REVIEW_DESC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CREATED_ON)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UPDATED_ON)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STATUS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
