﻿@model Gizmobaba.Models.EmailMessages

@{
    Layout = "~/Views/Shared/_LayoutGizmobaba.cshtml";
}

<!DOCTYPE html>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $('#btnBack').click(function () {
        history.back();
    });
</script>
<div class="page-title">
    <div class="title_left">
        <h3>@Model.subject</h3><br>
    </div>
</div>

<div class="title_content_top">
   <label>Body :</label>
    <br /> <p>
    @Html.Raw(Model.Body)
    </p></div>

@*<div class="col-md-12 col-sm-12 col-xs-12"><button id="btnBack" class="btn btn-default btn-sm pull-right">  Back</button></div>*@

