﻿@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test</h2>
<input type="button" value="Send to API Request" onclick="GetInformation();" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>
    var serviceUrl = 'http://sandbox-godam.delhivery.com/oms/api/list/?client_store=Gizmobaba&fc=FCDEL1&version=2013.07&status=pending';
    $(document).ready(function () {
       // GetInformation();
    });
    function GetInformation() {
        var apiServicePath = serviceUrl;
        $.ajax({
            url: apiServicePath,
            type: "GET",
            crossDomain: true,
            dataType: "json",
            contentType: "application/json; charset=utf-8",

            //headers: {
            // 'Authorization': "Token ebc38695929c8f93266fab78671673004b07d432",
            //'Access-Control- Allow-Origin': '*',&amp;
            // //'Access-Control- Request-Headers': 'x-requested- with',
            // //'Access-Control- Allow-Headers': '*'
            //},
            //data: { a: a },
            success: function (response) {
                alert(response);
            },
            beforeSend: function (xhr) {
                xhr.withCredentials = true;
                xhr.setRequestHeader("Authorization", "Token ebc38695929c8f93266fab78671673004b07d432");
                // xhr.setRequestHeader("Access-Control- Allow-Origin", "http://localhost:58461");
                xhr.setRequestHeader("Access-Control-Allow-Origin:", "*"),
                xhr.setRequestHeader("Access-Control-Allow-Methods", "GET,POST,PUT,DELETE,OPTIONS"),
                xhr.setRequestHeader("Access-Control-Allow-Headers", "X-ACCESS_TOKEN, Access-Control- Allow-Origin, Authorization, Origin, x-requested- with,Content-Type, Content-Range, Content-Disposition,Content-Description"),
                xhr.setRequestHeader("Access-Control-Allow-Credentials", "true")
            } , error: function (response) {

                alert(response);

            }

        });
    }
</script>


