﻿@model Gizmobaba.Models.WalletViewModel

@{
    ViewBag.Title = "AddWallet";
    Layout = "~/Views/Shared/_LayoutGizmobaba.cshtml";
}

    <div class="page-title">
        <div class="title_left">
            @*<h3>Loyalty Programs</h3>*@<br>
            <h3>Wallet Options</h3>
        </div>
    </div>

    <div class="title_content_top">
        <p>Recharge Wallet</p>
        @*<p>Reviews and Ratings allow your end-users to rate a product and share their reviews to others, which help them for taking quick purchase decisions.</p>*@
    </div>
    <div class="clearfix"></div>


    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="mmctrl_box mrgin_gap0">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    @*<li role="presentation" class="active"><a href="#Customers" aria-controls="home" role="tab" data-toggle="tab">Customers</a></li>*@
                    @*<li role="presentation"><a href="#Dealers" aria-controls="profile" role="tab" data-toggle="tab">Dealers</a></li>*@
                    <li role="presentation"><a href="#Dealer_wallet" aria-controls="profile" role="tab" data-toggle="tab">Dealer Wallet</a></li>
                    <li role="presentation"><a href="#Master_Franchise_wallet" aria-controls="profile" role="tab" data-toggle="tab">Master Franchise Wallet</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" id="Customers">
                        <div class="mrgin_gap20">
                            @using (Html.BeginForm("AddWallet", "Settings", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-4 col-xs-12" for="">Sign Up </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <input type="hidden" id="ROLE_ID" name="ROLE_ID" value="6" />
                                        <input type="hidden" id="STATUS" name="STATUS" value="1" />
                                               @Html.TextBoxFor(a => a.SIGNUP, new { @class = "form-control", id = "SIGNUP", required = "" })
                                               @*<input id="SIGNUP" name="SIGNUP" placeholder="" required="" class="form-control" type="text">*@</div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-4 col-xs-12" for="">Linking Posts</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        @Html.TextBoxFor(a => a.LINKINGPOSTS, new { @class = "form-control", id = "LINKINGPOSTS", required = "" })
                                        @*<input id="LINKINGPOSTS" name="LINKINGPOSTS" placeholder="" required="" class="form-control" type="text">*@
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-4 col-xs-12" for="">Sharing Posts</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        @Html.TextBoxFor(a => a.SHARINGPOSTS, new { @class = "form-control", id = "SHARINGPOSTS", required = "" })
                                        @*<input id="SHARINGPOSTS" name="SHARINGPOSTS" placeholder="" required="" class="form-control" type="text">*@
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-4 col-xs-12" for="">Referring Friends</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        @Html.TextBoxFor(a => a.REFERRING_FRIENDS, new { @class = "form-control", id = "REFERRING_FRIENDS", required = "" })
                                        @*<input id="REFERRING_FRIENDS" name="REFERRING_FRIENDS" placeholder="" required="" class="form-control" type="text">*@
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-4 col-xs-12" for="">Getting a Customer on reffered friends purchases</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        @Html.TextBoxFor(a => a.REFFERED_FRIENDS_PURCHASES, new { @class = "form-control", id = "REFFERED_FRIENDS_PURCHASES", required = "" })
                                        @*<input id="REFFERED_FRIENDS_PURCHASES" name="REFFERED_FRIENDS_PURCHASES" placeholder="" required="" class="form-control" type="text">*@
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-4 col-xs-12" for="">Cash Back on Own Purchase</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        @Html.TextBoxFor(a => a.OWN_PURCHASE, new { @class = "form-control", id = "OWN_PURCHASE", required = "" })
                                        @*<input id="OWN_PURCHASE" name="OWN_PURCHASE" placeholder="" required="" class="form-control" type="text">*@
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-4 col-xs-12" for="">Purchase above 500 in certain time </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        @Html.TextBoxFor(a => a.PURCHASE_CERTAIN_TIME, new { @class = "form-control", id = "PURCHASE_CERTAIN_TIME", required = "" })
                                        @*<input id="PURCHASE_CERTAIN_TIME" name="PURCHASE_CERTAIN_TIME" placeholder="" required="" class="form-control" type="text">*@
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-4 col-xs-12" for="">Maxmimum % of points user can use for purchase</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        @Html.TextBoxFor(a => a.MAX_USER_PURCHASE, new { @class = "form-control", id = "MAX_USER_PURCHASE", required = "" })
                                        @*<input id="MAX_USER_PURCHASE" name="MAX_USER_PURCHASE" placeholder="" required="" class="form-control" type="text">*@
                                    </div>
                                </div>

    <div class="clearfix"></div>
                                <br />
    <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
        <div class="pull-right">
            <a href="#"><button type="submit" class="btn btn-dark">Update</button></a>
        </div>
    </div>
                            }
                        </div>

                     <br><br>

                        <div class="mmctrl_box mrgin_gap20 mmctrl_tble">
                            <div class="mmcaption">Customers View</div>
                            <table class="table table-striped mrgin_gap0">
                                <thead>
                                    <tr>
                                        <th>S.No </th>
                                        <th>Decription</th>
                                        <th>Percentage</th>
                                    </tr>
                                </thead>
                                <tbody>
                                @if (Model != null)
                                {
                                    <tr>
                                        <td>1</td>
                                        <td>Sign Up</td>
                                        <td>@Model.SIGNUP %</td>
                                    </tr>

                                    <tr>
                                        <td>2</td>
                                        <td>Linking Posts</td>
                                        <td>@Model.LINKINGPOSTS %</td>
                                    </tr>

                                    <tr>
                                        <td>3</td>
                                        <td>Sharing Posts</td>
                                        <td>@Model.SHARINGPOSTS %</td>
                                    </tr>

                                    <tr>
                                        <td>4</td>
                                        <td>Referring Friends</td>
                                        <td>@Model.REFERRING_FRIENDS %</td>
                                    </tr>

                                    <tr>
                                        <td>5</td>
                                        <td>Getting a Customer on reffered friends purchases</td>
                                        <td>@Model.REFFERED_FRIENDS_PURCHASES %</td>
                                    </tr>

                                    <tr>
                                        <td>6</td>
                                        <td>Cash Back on Own Purchase</td>
                                        <td>5%</td>
                                    </tr>

                                    <tr>
                                        <td>7</td>
                                        <td>Purchase above 500 in certain time</td>
                                        <td>@Model.PURCHASE_CERTAIN_TIME %</td>
                                    </tr>

                                    <tr>
                                        <td>8</td>
                                        <td>Maxmimum % of points user can use for purchase</td>
                                        <td>@Model.MAX_USER_PURCHASE %</td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="Dealers">
                        <div class="mrgin_gap20">
                            @*<form id="demo-form1" data-parsley-validate="" class="form-horizontal form-label-left">*@
                            @using (Html.BeginForm("AddDealerWallet", "Settings", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-4 col-xs-12" for="">Dealer sign up</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <input id="SIGNUP" name="SIGNUP" placeholder="" required="" class="form-control" type="text">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-4 col-xs-12" for="">Dealer convenience Fee</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <input id="Dealer_Convenience_Fee" name="Dealer_Convenience_Fee" placeholder="" required="" class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
                                    <div class="pull-right">
                                        <a href="#"><button type="submit" class="btn btn-dark">Update</button></a>
                                    </div>
                                </div>
                                @*</form>*@
                            }
                        </div>

                        <br /><br />

                        <div class="mmctrl_box mrgin_gap20 mmctrl_tble">
                            <div class="mmcaption">Dealers View</div>
                            <table class="table table-striped mrgin_gap0">
                                <thead>
                                    <tr>
                                        <th>S.No </th>
                                        <th>Decription</th>
                                        <th>Percentage</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>2</td>
                                        <td>Dealres Signup</td>
                                        <td>@Model.SIGNUP %</td>
                                    </tr>

                                    <tr>
                                        <td>1</td>
                                        <td>Dealres convenience fee</td>
                                        <td>@Model.Dealer_Convenience_Fee %</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane active" id="Dealer_wallet">
                        <div class="mrgin_gap20">
                            @*<form id="demo-form1" data-parsley-validate="" class="form-horizontal form-label-left">*@
                            @using (Html.BeginForm("AddDealerWallet", "Settings", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-4 col-xs-12" for="">Dealer sign up</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <input id="SIGNUP" name="SIGNUP" placeholder="" required="" class="form-control" type="text">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-4 col-xs-12" for="">Dealer convenience Fee</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <input id="Dealer_Convenience_Fee" name="Dealer_Convenience_Fee" placeholder="" required="" class="form-control" type="text">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-4 col-xs-12" for="">Wallet Recharge</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <input id="WALLET_RECHARGE" name="WALLET_RECHARGE" placeholder="" required="" class="form-control" type="text">
                                    </div>
                                    <div class="clearfix"></div>
                                    <label class="control-label col-md-3 col-sm-4 col-xs-12" for="">&nbsp;</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <input type="radio"> By EBS/Pay U
                                        &nbsp; &nbsp; &nbsp;
                                        <input type="radio"> Bank Cheque/DD
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-4 col-xs-12" for="">Dealers Earnings</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <input id="DEALERS_EARNINGS" name="DEALERS_EARNINGS" placeholder="" required="" class="form-control" type="text">
                                    </div>
                                </div>
                                @*</form>*@
                                <div class="clearfix"></div>
                                <br />
                                <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
                                    <div class="pull-right">
                                        <a href="#"><button type="submit" class="btn btn-dark">Update</button></a>
                                    </div>
                                </div>
                            }
                        </div>

                        <br><br>

                        <div class="mmctrl_box mrgin_gap20 mmctrl_tble">
                            <div class="mmcaption">Dealers View</div>
                            <table class="table table-striped mrgin_gap0">
                                <thead>
                                    <tr>
                                        <td>S.N0</td>
                                        <td>Wallet Recharge - Amount</td>
                                        <td>Wallet Recharge - Option</td>
                                        <td>Dealers Earnings</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>5000</td>
                                        <td>By EBS</td>
                                        <td>120</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="Master_Franchise_wallet">
                        <div class="mrgin_gap20">
    @using (Html.BeginForm("AddMasterFranchiseWallet", "Settings", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    @*<form id="demo-form1" data-parsley-validate="" class="form-horizontal form-label-left">*@
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-4 col-xs-12" for="">Wallet Recharge</label>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <input id="WALLET_RECHARGE" name="WALLET_RECHARGE" placeholder="" required="" class="form-control" type="text">
            </div>
            <div class="clearfix"></div>
            <label class="control-label col-md-3 col-sm-4 col-xs-12" for="">&nbsp;</label>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <input type="radio" name="b"> By EBS/Pay U
                &nbsp; &nbsp; &nbsp;
                <input type="radio" name="b"> Bank Cheque/DD
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-4 col-xs-12" for="">Master Franchise Earnings</label>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <input id="DEALERS_EARNINGS" name="DEALERS_EARNINGS" placeholder="" required="" class="form-control" type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-4 col-xs-12" for="">Dealers referal</label>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <input id="DEALERS_REFERAL" name="DEALERS_REFERAL" placeholder="" required="" class="form-control" type="text">
            </div>
        </div>
        <br />
                            @*</form>*@
    <div class="clearfix"></div>
    <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
        <div class="pull-right">
            <a href="#"><button type="submit" class="btn btn-dark">Update</button></a>
        </div>
    </div>
    }
                        </div>

                      <br><br>

                        <div class="mmctrl_box mrgin_gap20 mmctrl_tble">
                            <div class="mmcaption">Dealers View</div>
                            <table class="table table-striped mrgin_gap0">
                                <thead>
                                    <tr>
                                        <td>S.N0</td>
                                        <td>Wallet Recharge - Amount</td>
                                        <td>Wallet Recharge - Option</td>
                                        <td>Master Franchise Earnings</td>
                                        <td>Dealers referal</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>5000</td>
                                        <td>By EBS</td>
                                        <td>1600</td>
                                        <td>120</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="clearfix"></div><br>

        <!--<div class="col-md-12 col-sm-12 col-xs-12">
            <div class="mmctrl_box mrgin_gap0 mmctrl_tble">
                <div class="mmcaption">View Feedbacks</div>
                <table class="table table-striped mrgin_gap0">
                    <thead>
                        <tr>
                            <th>Module </th>
                            <th>User Name</th>
                            <th>Decription</th>
                            <th>Edit</th>
                            <th>Approve</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>G 120</td>
                            <td>naveenbandari@gmail.com</td>
                            <td>Reviews and Ratings allow your end-users to rate a product and share their reviews to others, which help them for taking quick purchase decisions. A comment/review can be ‘accepted & go live in storefront’ or ‘rejected & deleted’ or ‘deactivated & go offline’ or ‘rejected the ‘abused’ status & removed the ‘abused tag’ from the storefront’.</td>
                            <td class="text-center"><a href="#"><i class="fa fa-edit"></i></a></td>
                            <td class="text-center"><a href="#"><i class="fa fa-thumbs-up"></i></a></td>
                            <td class="text-center"><a href="#"><i class="fa fa-trash"></i></a></td>
                        </tr>

                        <tr>
                            <td>G 352</td>
                            <td>Rafi@gmail.com</td>
                            <td>A comment/review can be ‘accepted & go live in storefront’ or ‘rejected & deleted’ or ‘deactivated & go offline’ or ‘rejected the ‘abused’.</td>
                            <td class="text-center"><a href="#"><i class="fa fa-edit"></i></a></td>
                            <td class="text-center"><a href="#"><i class="fa fa-thumbs-up"></i></a></td>
                            <td class="text-center"><a href="#"><i class="fa fa-trash"></i></a></td>
                        </tr>

                        <tr>
                            <td>G 650</td>
                            <td>muzeer@gmail.com</td>
                            <td>which help them for taking quick purchase decisions. A comment/review can be ‘accepted & go live in storefront’ or ‘rejected & deleted’ or ‘deactivated the storefront’.</td>
                            <td class="text-center"><a href="#"><i class="fa fa-edit"></i></a></td>
                            <td class="text-center"><a href="#"><i class="fa fa-thumbs-up"></i></a></td>
                            <td class="text-center"><a href="#"><i class="fa fa-trash"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>-->

    </div>
    <!-- /page content -->
    <br>

