﻿@model IEnumerable<Gizmobaba.Models.PaymentModel>
@{
    ViewBag.Title = "CheckoutOptions";
    Layout = "~/Views/Shared/_LayoutGizmobaba.cshtml";
}


    <div class="page-title">
        <div class="title_left">
            <h3>Checkout Options <i class="fa fa-caret-right"></i> Online Checkout Options</h3><br>
        </div>
    </div>

    <div class="title_content_top">
        <p>Checkout is the final action i.e. payout by the customer for the purchases done at a Webstore. A payment gateway is a software program integrated to your website to transmit transaction data to the Credit Card/Net Banking/Cash Card/Mobile Payment acquirer for authorization and settlement. Here you can configure online checkout options to your store after tie-up with respective payment gateway.</p>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="mmctrl_box mrgin_gap0">
                <div class="mmcaption">Selected Checkout Options</div>
                <p class="mrgin_gap20">These Checkout options are currently configured to your store. To modify the configuration, click 'Edit.' </p>
                <div class="checkoutholder">

                    <table class="table table-striped responsive-utilities jambo_table bulk_action" id="tblUsers">
                        <thead>
                            <tr class="">
                                @*<th>
                                    <div class="squaredThree">
                                        <input type="checkbox" value="None" id="check-all" name="check" />
                                        <label for="check-all"></label>
                                    </div>
                                </th>*@
                                <th class="column-title" style="display: table-cell;">Id </th>
                                <th class="column-title" style="display: table-cell;">Payment Gatway</th>
                                <th class="column-title" style="display: table-cell;">Merchant Key</th>
                                <th class="column-title" style="display: table-cell;">Currencie</th>
                                <th class="column-title" style="display: table-cell;">Created On</th>
                                <th class="column-title" style="display: table-cell;">Edit</th>
                            </tr>
                        </thead>


                        @if (Model.Count() != 0)
                        {
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="" id="@item.Payment_GateWay_ID">
                                        <td>@item.Payment_GateWay_ID</td>
                                        <td>@item.Payment_Gateway</td>
                                        <td>@item.Merchant_Key</td>
                                        <td>@item.Currency_Type</td>
                                        <td>@item.Created_On</td>
                                        <td>
                                        <a href="@Url.Action("Payment", "Settings", new { id = item.Payment_GateWay_ID })" title=" view">Edit</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        }
                        else
                        {
                            <div class="alert alertnew alert-info fade in">
                                <a href="#" class="close" data-dismiss="alert">×</a>
                                <strong>Warning!</strong> Payment Gateway List Not Found
                            </div>
                        }
                    </table>



                    @*<ul class="checkoutholder">
                        <li>
                            <img src="images/Payment/Hsbc.png" alt="">
                            <div class="checkout-captionholder">
                                <div class="caption_blur"></div>
                                <div class="captiontext">
                                    <h2><a href="Settings_Checkoutoptions_Gateway_edit.html">Edit</a></h2>
                                    <h3><a href="Settings_Checkoutoptions_Gateway_edit.html">Remove</a></h3>
                                    <div class="clearfix"></div>
                                    <p>Whatever It Is - Always Awesome</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <img src="images/Payment/Paypal.png" alt="">
                            <div class="checkout-captionholder">
                                <div class="caption_blur"></div>
                                <div class="captiontext">
                                    <h2><a href="Settings_Checkoutoptions_Gateway_edit.html">Edit</a></h2>
                                    <h3><a href="Settings_Checkoutoptions_Gateway_edit.html">Remove</a></h3>
                                    <div class="clearfix"></div>
                                    <p>Whatever It Is - Always Awesome</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <img src="images/Payment/Yesbank.png" alt="">
                            <div class="checkout-captionholder">
                                <div class="caption_blur"></div>
                                <div class="captiontext">
                                    <h2><a href="Settings_Checkoutoptions_Gateway_edit.html">Edit</a></h2>
                                    <h3><a href="Settings_Checkoutoptions_Gateway_edit.html">Remove</a></h3>
                                    <div class="clearfix"></div>
                                    <p>Whatever It Is - Always Awesome</p>
                                </div>
                            </div>
                        </li>
                    </ul>*@
                </div>
            </div>
            <br>

            @*<div class="mmctrl_box mrgin_gap0">
                <div class="mmcaption">Available Checkout options</div>
                <p class="mrgin_gap20">To add the checkout options to your store, after a tie-up with the respective Payment Gateway (PG) Service provider, click on the relevant checkout option and enter the necessary details as informed by the PG Service Provider. </p>

                <div class="checkoutholder">
                    <ul class="checkoutholder">
                        <li>
                            <img src="images/Payment/Sbi.png" class="img-responsive" alt="">
                            <div class="checkout-captionholder">
                                <div class="caption_blur"></div>
                                <div class="captiontext">
                                    <h1><a href="Settings_Checkoutoptions_GatewayConfiguration.html">ADD</a></h1>
                                    <p>Whatever It Is - Always Awesome</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <img src="images/Payment/Axis.png" alt="">
                            <div class="checkout-captionholder">
                                <div class="caption_blur"></div>
                                <div class="captiontext">
                                    <h1><a href="Settings_Checkoutoptions_GatewayConfiguration.html">ADD</a></h1>
                                    <p>Whatever It Is - Always Awesome</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <img src="images/Payment/Bankofamerica.png" alt="">
                            <div class="checkout-captionholder">
                                <div class="caption_blur"></div>
                                <div class="captiontext">
                                    <h1><a href="Settings_Checkoutoptions_GatewayConfiguration.html">ADD</a></h1>
                                    <p>Whatever It Is - Always Awesome</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <img src="images/Payment/Citibank.png" alt="">
                            <div class="checkout-captionholder">
                                <div class="caption_blur"></div>
                                <div class="captiontext">
                                    <h1><a href="Settings_Checkoutoptions_GatewayConfiguration.html">ADD</a></h1>
                                    <p>Whatever It Is - Always Awesome</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <img src="images/Payment/Icici.png" alt="">
                            <div class="checkout-captionholder">
                                <div class="caption_blur"></div>
                                <div class="captiontext">
                                    <h1><a href="Settings_Checkoutoptions_GatewayConfiguration.html">ADD</a></h1>
                                    <p>Whatever It Is - Always Awesome</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <img src="images/Payment/Mastercard.png" alt="">
                            <div class="checkout-captionholder">
                                <div class="caption_blur"></div>
                                <div class="captiontext">
                                    <h1><a href="Settings_Checkoutoptions_GatewayConfiguration.html">ADD</a></h1>
                                    <p>Whatever It Is - Always Awesome</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <img src="images/Payment/Paytm.png" alt="">
                            <div class="checkout-captionholder">
                                <div class="caption_blur"></div>
                                <div class="captiontext">
                                    <h1><a href="Settings_Checkoutoptions_GatewayConfiguration.html">ADD</a></h1>
                                    <p>Whatever It Is - Always Awesome</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>*@
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
            <div class="pull-right">
                <a href="@Url.Action("Payment", "Settings")" title="Add"> <button type="submit" class="btn btn-default dtn-save" name="Command" value="Save&amp;List">Add New Payment Gateway</button></a>
            </div>
        </div>
    </div>
    <!-- /page content -->
    <br>

