﻿@model Gizmobaba.Models.BonusTypesViewModel

@{
    ViewBag.Title = "LoyaltyPrograms";
    Layout = "~/Views/Shared/_LayoutGizmobaba.cshtml";
}

<div class="page-title">
    <div class="title_left">
        <h3>Loyalty Programs</h3><br>
        @*<h3>Wallet Options</h3>*@
    </div>
</div>

<div class="title_content_top" style="margin:10px 0px 0px 0px">
    @* <p>Reviews and Ratings allow your end-users to rate a product and share their reviews to others, which help them for taking quick purchase decisions.</p>*@
</div>
<div class="clearfix"></div>


<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="mmctrl_box mrgin_gap0">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">

                <li role="presentation" class="active">
                    <a href="#Customers" aria-controls="home" role="tab" data-toggle="tab" id="customer">Customers</a>
                    <div class="col-md-13">

                            <label>
                                @using (Ajax.BeginForm("LoyaltyProgramsRole", "Settings", new { roleID = Model.BonusView.FirstOrDefault().ROLE_ID },
            new AjaxOptions
            {
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "partialView"
            }, new { id = "getUserDate" }))
                                {
                                    <select id="ddlRole" onchange="FillUser();" name="ROLE_ID" class="form-control" tabindex="-1">
                                        <option value="6" selected="selected">All</option>
                                        <option value="10">Gold</option>
                                        <option value="11">Silver</option>
                                        <option value="12">Platinum</option>
                                    </select>

                                    <script>
                                        function FillUser() {
                                            $('#getUserDate').submit();
                                        }

                                    </script>
                                }
                            </label>











                        @*<select id="ddlRole" onchange="roleChange();" class="form-control" tabindex="-1">
                            @*<option selected="selected" value="0"> --Select-- </option>
                            <option value="6" selected="selected">All</option>
                            <option value="10">Gold</option>
                            <option value="11">Silver</option>
                            <option value="12">Platinum</option>
                        </select>*@
                    </div>
                </li>
                @*<li role="presentation"><a href="#Dealers" aria-controls="profile" role="tab" data-toggle="tab">Dealers</a></li>*@
                <li role="presentation"><a id="DealarWallet" href="#Dealer_wallet" aria-controls="profile" role="tab" data-toggle="tab">Dealer Wallet</a></li>
                <li role="presentation"><a id="FranchaiseWallet" href="#Master_Franchise_wallet" aria-controls="profile" role="tab" data-toggle="tab">Master Franchise Wallet</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="Customers">
                    <div class="mrgin_gap20">

                        <div id="partialView">
                            @{
                                Html.RenderPartial("~/Views/Shared/_loyaltyProgramsPartial.cshtml", Model);
                            }
                        </div>

                    </div>

                </div>

                <div role="tabpanel" class="tab-pane" id="Dealers">
                    <div class="mrgin_gap20">
                        @*<form id="demo-form1" data-parsley-validate="" class="form-horizontal form-label-left">*@
                        @using (Html.BeginForm("AddDealerWallet", "Settings", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-4 col-xs-12" for="">Dealer sign up</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <input id="SIGNUP" name="SIGNUP" placeholder="" required="" class="form-control" type="text">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-4 col-xs-12" for="">Dealer convenience Fee</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <input id="Dealer_Convenience_Fee" name="Dealer_Convenience_Fee" placeholder="" required="" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
                                <div class="pull-right">
                                    <a href="#"><button type="submit" class="btn btn-dark">Update</button></a>
                                </div>
                            </div>
                            @*</form>*@
                        }
                    </div>

                    <br /><br />

                    <div class="mmctrl_box mrgin_gap20 mmctrl_tble">
                        <div class="mmcaption">Dealers View</div>
                        <table class="table table-striped mrgin_gap0">
                            <thead>
                                <tr>
                                    <th>S.No </th>
                                    <th>Decription</th>
                                    <th>Percentage</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>2</td>
                                    <td>Dealres Signup</td>
                                    <td>10 %</td>
                                </tr>

                                <tr>
                                    <td>1</td>
                                    <td>Dealres convenience fee</td>
                                    <td>20 %</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="Dealer_wallet">
                    <div class="mrgin_gap20">
                        @*<form id="demo-form1" data-parsley-validate="" class="form-horizontal form-label-left">*@
                        @using (Html.BeginForm("AddDealerWallet", "Settings", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-4 col-xs-12" for="">Dealer sign up</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <input id="SIGNUP" name="SIGNUP" placeholder="" required="" class="form-control" type="text">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-4 col-xs-12" for="">Dealer convenience Fee</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <input id="Dealer_Convenience_Fee" name="Dealer_Convenience_Fee" placeholder="" required="" class="form-control" type="text">
                                </div>
                            </div>

                            @*<div class="form-group">
                                    <label class="control-label col-md-3 col-sm-4 col-xs-12" for="">Wallet Recharge</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <input id="WALLET_RECHARGE" name="WALLET_RECHARGE" placeholder="" required="" class="form-control" type="text">
                                    </div>
                                    <div class="clearfix"></div>
                                    <label class="control-label col-md-3 col-sm-4 col-xs-12" for="">&nbsp;</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <input type="radio"> By EBS/Pay U
                                        &nbsp; &nbsp; &nbsp;
                                        <input type="radio"> Bank Cheque/DD
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-4 col-xs-12" for="">Dealers Earnings</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <input id="DEALERS_EARNINGS" name="DEALERS_EARNINGS" placeholder="" required="" class="form-control" type="text">
                                    </div>
                                </div>*@
                            @*</form>*@
                            <div class="clearfix"></div>
                            <br />
                            <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
                                <div class="pull-right">
                                    <a href="#"><button type="submit" class="btn btn-dark">Update</button></a>
                                </div>
                            </div>
                        }
                    </div>

                    <br><br>

                    <div class="mmctrl_box mrgin_gap20 mmctrl_tble">
                        <div class="mmcaption">Dealers View</div>
                        <table class="table table-striped mrgin_gap0">
                            <thead>
                                <tr>
                                    <td>S.N0</td>
                                    <td>Wallet Recharge - Amount</td>
                                    <td>Wallet Recharge - Option</td>
                                    <td>Dealers Earnings</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>5000</td>
                                    <td>By EBS</td>
                                    <td>120</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="Master_Franchise_wallet">
                    <div class="mrgin_gap20">
                        @using (Html.BeginForm("AddMasterFranchiseWallet", "Settings", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @*<form id="demo-form1" data-parsley-validate="" class="form-horizontal form-label-left">*@
                            @*<div class="form-group">
                                    <label class="control-label col-md-3 col-sm-4 col-xs-12" for="">Wallet Recharge</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <input id="WALLET_RECHARGE" name="WALLET_RECHARGE" placeholder="" required="" class="form-control" type="text">
                                    </div>
                                    <div class="clearfix"></div>
                                    <label class="control-label col-md-3 col-sm-4 col-xs-12" for="">&nbsp;</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <input type="radio" name="b"> By EBS/Pay U
                                        &nbsp; &nbsp; &nbsp;
                                        <input type="radio" name="b"> Bank Cheque/DD
                                    </div>
                                </div>*@

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-4 col-xs-12" for="">Master Franchise Earnings</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <input id="DEALERS_EARNINGS" name="DEALERS_EARNINGS" placeholder="" required="" class="form-control" type="text">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-4 col-xs-12" for="">Dealers referal</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <input id="DEALERS_REFERAL" name="DEALERS_REFERAL" placeholder="" required="" class="form-control" type="text">
                                </div>
                            </div>
                            <br />
                            @*</form>*@
                            <div class="clearfix"></div>
                            <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
                                <div class="pull-right">
                                    <a href="#"><button type="submit" class="btn btn-dark">Update</button></a>
                                </div>
                            </div>
                        }
                    </div>

                    <br><br>

                    <div class="mmctrl_box mrgin_gap20 mmctrl_tble">
                        <div class="mmcaption">Dealers View</div>
                        <table class="table table-striped mrgin_gap0">
                            <thead>
                                <tr>
                                    <td>S.N0</td>
                                    <td>Wallet Recharge - Amount</td>
                                    <td>Wallet Recharge - Option</td>
                                    <td>Master Franchise Earnings</td>
                                    <td>Dealers referal</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>5000</td>
                                    <td>By EBS</td>
                                    <td>1600</td>
                                    <td>120</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="clearfix"></div><br>

    <!--<div class="col-md-12 col-sm-12 col-xs-12">
        <div class="mmctrl_box mrgin_gap0 mmctrl_tble">
            <div class="mmcaption">View Feedbacks</div>
            <table class="table table-striped mrgin_gap0">
                <thead>
                    <tr>
                        <th>Module </th>
                        <th>User Name</th>
                        <th>Decription</th>
                        <th>Edit</th>
                        <th>Approve</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>G 120</td>
                        <td>naveenbandari@gmail.com</td>
                        <td>Reviews and Ratings allow your end-users to rate a product and share their reviews to others, which help them for taking quick purchase decisions. A comment/review can be ‘accepted & go live in storefront’ or ‘rejected & deleted’ or ‘deactivated & go offline’ or ‘rejected the ‘abused’ status & removed the ‘abused tag’ from the storefront’.</td>
                        <td class="text-center"><a href="#"><i class="fa fa-edit"></i></a></td>
                        <td class="text-center"><a href="#"><i class="fa fa-thumbs-up"></i></a></td>
                        <td class="text-center"><a href="#"><i class="fa fa-trash"></i></a></td>
                    </tr>

                    <tr>
                        <td>G 352</td>
                        <td>Rafi@gmail.com</td>
                        <td>A comment/review can be ‘accepted & go live in storefront’ or ‘rejected & deleted’ or ‘deactivated & go offline’ or ‘rejected the ‘abused’.</td>
                        <td class="text-center"><a href="#"><i class="fa fa-edit"></i></a></td>
                        <td class="text-center"><a href="#"><i class="fa fa-thumbs-up"></i></a></td>
                        <td class="text-center"><a href="#"><i class="fa fa-trash"></i></a></td>
                    </tr>

                    <tr>
                        <td>G 650</td>
                        <td>muzeer@gmail.com</td>
                        <td>which help them for taking quick purchase decisions. A comment/review can be ‘accepted & go live in storefront’ or ‘rejected & deleted’ or ‘deactivated the storefront’.</td>
                        <td class="text-center"><a href="#"><i class="fa fa-edit"></i></a></td>
                        <td class="text-center"><a href="#"><i class="fa fa-thumbs-up"></i></a></td>
                        <td class="text-center"><a href="#"><i class="fa fa-trash"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>-->

</div>
<!-- /page content -->
<br>


<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $('#DealarWallet').click(function () {
            $('#ddlRole').prop('disabled', true);
        });

        $('#FranchaiseWallet').click(function () {
            $('#ddlRole').prop('disabled', true);
        });
        $('#customer').click(function () {
            $('#ddlRole').prop('disabled', false);
        });
    });

    function roleChange(parameters) {
        $('.roleId').val($('#ddlRole').val());
    }
</script>