﻿@model IEnumerable<Gizmobaba.Models.RolesModel>

@{
    ViewBag.Title = "Roles";
    Layout = "~/Views/Shared/_LayoutGizmobaba.cshtml";
}
<script>
    var URL = '@System.Configuration.ConfigurationManager.AppSettings["baseUrl"]';
    function DeleteRole(id) {
        var result = confirm("Want to delete?");
        if (result) {
            $.ajax({
                //url: '/Settings/DeleteRole/' + id,
                //url: '/Admin/Home/GetProductSearch/',
                url: URL + '/Settings/DeleteRole/' + id,
                type: "Post",
                contentType: 'application/json; charset=utf-8',
                async: false,
                dataType: "json",
                success: function (data) {
                    $('tr[id=' + id + ']').remove();
                },
                error: function (xhr) {
                    alert(xhr);
                }
            });
        }
    }
</script>
 <!-- page content -->
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3> List of Roles </h3><br>
            </div>
        </div>

        <div class="title_content_top">
            <p>
                This interface enables you to view the available predefined or custom roles, which are used for creating role-based users (i.e. store operators). Role-based users are authorized users of your control panel and can access only those functionalities, which are assigned to their mapped roles. You can also create or modify or delete custom roles. You can view and copy the mapped functionalities of any role, and use the copied functionalities while creating a new role.
            </p>
        </div>
        <div class="clearfix"></div>
        @if (TempData["SuccessMessage"] != null && TempData["SuccessMessage"] != "")
        {
            <div class="alert alertnew alert-success fade in">
                <a href="#" class="close" data-dismiss="alert">×</a>
                <strong>Success!</strong> @TempData["SuccessMessage"]
            </div>
        }
        @if (TempData["ErrorMessage"] != null && TempData["ErrorMessage"] != "")
        {
            <div class="alert alertnew alert-danger fade in">
                <a href="#" class="close" data-dismiss="alert">×</a>
                <strong>Error!</strong> @TempData["ErrorMessage"]
            </div>
        }
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="mmctrl_box mrgin_gap0 mmctrl_tble_line">
                    <div class="mmcaption">List of Roles</div>
                    <table class="table table-hover mrgin_gap0">
                        <thead>
                            <tr>
                                <th>Role Name <span class="pull-right"><a href="#"><i class="fa fa-filter"></i></a></span></th>
                                <th>Role Description <span class="pull-right"><a href="#"><i class="fa fa-filter"></i></a></span></th>
                                <th>Permissions <span class="pull-right"><a href="#"><i class="fa fa-filter"></i></a></span></th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @*<tr>
                                <td>Design Manager</td>
                                <td>Customized</td>
                                <td>41</td>
                                <td>
                                    <span class="data_actions iconsweet">
                                        <a href="Permissions_Userroles_add.html" title="Edit"> <i class="fa fa-edit"></i></a> &nbsp;
                                        <a href="#" title="Delete"><i class="fa fa-trash"></i></a>
                                    </span>
                                </td>
                            </tr>*@
@foreach (var item in Model)
{
    <tr id="@item.ROLE_ID">
        <td>
            @Html.DisplayFor(modelItem => item.ROLE_DESC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPTION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PERMISSIONSCOUNT)
        </td>
        <td>
            <span class="data_actions iconsweet">
                <a href="@Url.Action("AddRole", "Settings", new {id =item.ROLE_ID})" title="Edit"> <i class="fa fa-edit"></i></a> &nbsp;
                <a href="javascript:;" onclick="DeleteRole(@item.ROLE_ID);" title="Delete"><i class="fa fa-trash"></i></a>
            </span>
        </td>
    </tr>
}
                        </tbody>
                    </table>
                    <br>

                    <div class="dataTables_length" id="example_length">
                        <label>
                            &nbsp; Records per page
                            <select aria-controls="example" size="1" style="width: 56px;padding: 6px;" name="example_length">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </label>

                        @*<label> Go to <input kl_virtual_keyboard_secure_input="on" class="gototxt_no" maxlength="4" aria-controls="example" type="text"></label>*@
                    </div>

                    @*<div id="example_paginate" class="dataTables_paginate paging_full_numbers">
                        <a id="example_first" tabindex="0" class="first paginate_button paginate_button_disabled">First</a>
                        <a id="example_previous" tabindex="0" class="previous paginate_button paginate_button_disabled">Previous</a>
                        <span>
                            <a tabindex="0" class="paginate_active">1</a>
                            <a tabindex="0" class="paginate_button">2</a>
                            <a tabindex="0" class="paginate_button">3</a>
                            <a tabindex="0" class="paginate_button">4</a>
                        </span>
                        <a id="example_next" tabindex="0" class="next paginate_button">Next</a>
                        <a id="example_last" tabindex="0" class="last paginate_button">Last</a>
                    </div>*@
                    <div class="clearfix"></div>

                    <div class="col-md-12 graycolorbg0">
                        <div class="pull-right">
                            <a href="@Url.Action("AddRole", "Settings")"><button type="button" class="btn btn-dark">Create New Role</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
    <br>


<!-- /page content -->
<script src="~/Scripts/common.js"></script>

