﻿@model IEnumerable<Gizmobaba.Models.CartViewModel>

@{
    ViewBag.Title = "AbandonedCart";
    Layout = "~/Views/Shared/_LayoutGizmobaba.cshtml";
}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script src="http://www.jqueryscript.net/demo/Export-Html-Table-To-Excel-Spreadsheet-using-jQuery-table2excel/src/jquery.table2excel.js"></script>
<script src="~/Scripts/paging.js"></script>
    <div class="page-title">
        <div class="title_left">
            <h3>Abandoned Cart</h3><br>
        </div>
    </div>
    <div class="title_content_top">
        <p>Abandoned Cart List’ is the list of people, who have not completed the checkout process due to any reason. You can generate and view this list for a specific date range. This list also gives you the customer details with relevant cart details and provides opportunity to your sales team to contact the user and close the sales.</p>
    </div>
    <div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="mmctrl_box mrgin_gap0">
            <div class="mmcaption">Search Criteria</div><br>
@using (Ajax.BeginForm("AbandonedCartSearch", "Order", new { },
        new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "partialView"
        }, new { id = "getOrderDate" }))
                                    {
            @*@using (Html.BeginForm("AbandonedCartSearch", "Order", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = "return validateForm();" }))
            {*@
                @*<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">*@
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-3 col-xs-12">From Date </label>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <input name="fromDate" class="form-control" id="txtFrmDate" type="text">
                    </div>

                    <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">To Date</label>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <input id="txtToDate" name="toDate" class="form-control" type="text">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">Select users</label>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <input id="" name="searchKey" placeholder="" class="form-control" type="text">
                        <div class="vrysmall_txt_frms">
                            @*<a href="#">Get-Users</a>*@
                        </div>
                    </div>
                </div>

                <br>

                <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
                    <button type="button" class="btn btn-default pull-right">Cancel</button>
                   <button type="submit" class="btn btn-dark pull-right">Search</button>
                </div>
            }
            @*</form>*@

        </div>
        </div>
    <br/>
    <div id="partialView">
        @{
            Html.RenderPartial("~/Views/Shared/AbandonedCartPartial.cshtml", Model);
        }
    </div>
    

    <div class="clearfix"></div>

    <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
        <button id="btnCartExport" type="button" class="btn btn-dark pull-right">Export to Excel</button>
    </div>

    </div>
@section Gizmobabascripts
{
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/GizmobabaFiles/js/nicescroll/jquery.nicescroll.min.js"></script>
    <!-- icheck -->
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
        NProgress.done();
        $(document).ready(function () {
            //$('#txtFrmDate, #txtToDate').datepicker();
            $('#txtFrmDate').datepicker({
                onClose: function (selectedDate) {
                    $("#txtToDate").datepicker("option", "minDate", selectedDate);
                }
            });
            $('#txtToDate').datepicker({
                onClose: function (selectedDate) {
                    $("#txtFrmDate").datepicker("option", "maxDate", selectedDate);
                }
            });
            $('#tblPro').paging({ limit: 10 });
            $('.paging_full_numbers').find("[data-page='0']").attr('class', "selected-page");
            $('#btnCartExport').click(function () {
                var tbl = $('#tblPro').clone();
                tbl.find('tr td:last-child, tr th:last-child').remove();
                $(tbl).table2excel({
                    exclude: ".noExl",
                    name: "Excel Document Name"
                });
            });
        });
        function validateForm() {
        }
    </script>
}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="~/Scripts/paging.js"></script>
<link href="~/Content/paging.css" rel="stylesheet" />