﻿@model Gizmobaba.Models.NewOrderViewModel

@{
    ViewBag.Title = "AuthorizeCOD";
    Layout = "~/Views/Shared/_LayoutGizmobaba.cshtml";
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="~/Scripts/paging.js"></script>
<script src="~/Scripts/orders.js"></script>
<script src="http://www.jqueryscript.net/demo/Export-Html-Table-To-Excel-Spreadsheet-using-jQuery-table2excel/src/jquery.table2excel.js"></script>
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Authorize COD Orders</h3><br>
        </div>
    </div>

    <div class="title_content_top">
        <p>Authorize COD Orders are the orders for which the payment has been received. The orders placed through 'Cheque/DD/ Bank transfer/ some cases of unsuccessful Credit Card or Debit Card or Net Banking transactions' are automatically listed here and need to be authorized after payment confirmation from bank. You can sort out these orders through multiple search criteria that are provided here. The orders placed against your products at connected marketplaces can be found through ‘Marketplace Orders’ tab.</p>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel_nogap">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#MyOrders" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">My Orders</a></li>
                    <li role="presentation"><a href="#MarketplaceOrders" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">Marketplace Orders</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="MyOrders">
                        <div class="mrgin_gap20">
                            <div class="searchhs_holder_all">
                                <div style="display: none;" id="searchslidehs-panel">
                                    @using (Ajax.BeginForm("SearchAuthorizeCODOrder", "Order", new { },
                                        new AjaxOptions
                                        {
                                            HttpMethod = "POST",
                                            InsertionMode = InsertionMode.Replace,
                                            UpdateTargetId = "partialView"
                                        }, new { id = "getOrderDate" }))
                                    {
                                        <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">
                                            <br>
                                            @*<div class="form-group">
                                                    <label class="control-label col-md-2 col-sm-3 col-xs-12">Period</label>
                                                    <div class="col-md-3">
                                                        <select class="select2_single form-control" tabindex="-1" id="ddlPaging">
                                                            <option selected="selected" value="custom">Custom</option>
                                                            <option value="thisweek">This week</option>
                                                            <option value="lastweek">Last Week</option>
                                                            <option value="thismonth">This Month</option>
                                                            <option value="lastmonth">Last Month</option>
                                                        </select>
                                                    </div>
                                                </div>*@

                                            <div class="form-group">
                                                @*<input type="hidden" value="2" name="OrderType" />*@
                                                <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">From Date</label>
                                                <div class="col-md-3 col-sm-3 col-xs-12">
                                                    <input id="txtFromDate" name="From_Date" placeholder="" required="" class="form-control" type="text">
                                                </div>

                                                <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">To Date</label>
                                                <div class="col-md-3 col-sm-3 col-xs-12">
                                                    <input id="txtToDate" name="To_Date" placeholder="" required="" class="form-control" type="text">
                                                </div>
                                            </div>

                                            @*<div class="form-group">
                                                    <label class="control-label col-md-2" for="">Category</label>
                                                    <div class="col-md-3">
                                                        <span class="prettyFile">
                                                            @Html.DropDownList("CATEGORY_ID", (SelectList)ViewBag.Category, new { @class = "select2_single form-control", id = "CATEGORY_ID", tabindex = "-1", onChange = "FillSubCategory()" })
                                                        </span>
                                                        <span class="prettyFile">
                                                            @Html.DropDownList("SUB_CAT_ID",
                                                            new SelectList(Enumerable.Empty<SelectListItem>(), "SUB_CAT_ID", "SUB_CAT_DESC"),
                                                            "Select Sub Category", new { @class = "select2_single form-control", tabindex = "-1", id = "SUB_CAT_ID", disabled = "disabled" })
                                                        </span>
                                                        <div class="col-md-3">

                                                        </div>
                                                    </div>
                                                </div>*@


                                            <div class="form-group">
                                                <label class="control-label col-md-2">Category</label>
                                                <div class="col-md-3">
                                                    @Html.DropDownList("CATEGORY_ID", (SelectList)ViewBag.Category, "Select Category", new { @class = "select2_single form-control", id = "CATEGORY_ID", tabindex = "-1", onChange = "FillSubCategory()" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-2">Sub Category</label>
                                                <div class="col-md-3">
                                                    @Html.DropDownList("SUB_CAT_ID",
                                                    new SelectList(Enumerable.Empty<SelectListItem>(), "SUB_CAT_ID", "SUB_CAT_DESC"),
                                                    "Select Sub Category", new { @class = "select2_single form-control", tabindex = "-1", id = "SUB_CAT_ID", disabled = "disabled" })
                                                </div>
                                            </div>




                                            @*<div class="form-group">
                                                    <label class="control-label col-md-2">Location</label>
                                                    <div class="col-md-3">
                                                        <select class="select2_single form-control" tabindex="-1">
                                                            <option selected="selected" value="custom">Custom</option>
                                                            <option value="thisweek"></option>
                                                        </select>
                                                    </div>
                                                </div>*@


                                            <div class="form-group" id="search-plus-btnsmhs">
                                                <label class="control-label col-md-2">Search by</label>
                                                <div class="col-md-3">
                                                    <select id="ddlSerch" class="select2_single form-control" tabindex="-1" onchange="serchBy();">
                                                        <option selected="selected" value="custom">Custom</option>
                                                        <option value="Order_No">Order No</option>
                                                        <option selected="selected" value="SKU">SKU</option>
                                                        @*<option value="Awb_No">Awb No</option>*@
                                                        <option value="Email_Id">Email Id</option>
                                                        <option value="Phone_No">Phone No</option>
                                                        @*<option value="Coupon_Code">Coupon Code</option>*@
                                                        <option value="Checkout_Type">Checkout Type</option>
                                                        <option value="Shipment_ID">Shipment ID</option>
                                                        @*<option value="Issue_Type">Issue Type</option>*@
                                                        <option value="Order_By">Order By</option>
                                                    </select>
                                                </div>
                                                @*<div class="col-md-6" id="searchBy">*@
                                                @*<input id="" name="" placeholder="" required="" class="form-control" type="text">*@
                                                <div class="col-md-3">
                                                    <input id="txtSearch" name="" placeholder="" required="" class="form-control" type="text">
                                                    <select id="ddlSentTo" name="Created_By" class="form-control" tabindex="-1">
                                                        <option selected="selected" value="0"> -- Select -- </option>
                                                        <option value="6">Customer</option>
                                                        <option value="4">Dealer</option>

                                                    </select>
                                                </div>
                                                @*<div class="plusiconforadd"><a href=""><i class="fa fa-plus"></i></a></div>*@
                                            </div>
                                            <script>
                                                function SearchOrder() {
                                                    $('#getOrderDate').submit();
                                                }

                                            </script>
                                        </form>

                                        <div class="clearfix"></div><br><br>

                                        <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
                                            <button type="button" class="btn btn-default pull-right" onclick="SearchOrder();">Go</button>
                                        </div>
                                    }
                                </div>

                                <div class="sreachbtnhs-slide">
                                    <a href="#" class="sreachbtnhs_btn-slide">Search Here</a>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div><br>

                        @*<div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
                                <div class="pull-right">
                                    <a href="#"><button type="button" class="btn btn-default">Pickup</button></a>
                                </div>
                            </div>*@
                    </div>

                    <div role="tabpanel" class="tab-pane" id="MarketplaceOrders">
                        <div class="mrgin_gap20">
                            <div class="searchhs_holder_all">
                                <div id="searchslidehs-panel2">
                                    @using (Ajax.BeginForm("SearchOrder", "Order", new { },
        new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "partialView"
        }, new { id = "getOrderDate" }))
                                    {
                                        @*<form id="demo-form2" class="form-horizontal form-label-left">*@
                                        <br>
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-3 col-xs-12">Period</label>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <select class="select2_single form-control" tabindex="-1" id="ddlMarketPeriod">
                                                    <option selected="selected" value="custom">Custom</option>
                                                    <option value="thisweek">This week</option>
                                                    <option value="lastweek">Last Week</option>
                                                    <option value="thismonth">This Month</option>
                                                    <option value="lastmonth">Last Month</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">From Date</label>
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                <input id="marketfromDate" name="" placeholder="" required="" class="form-control" type="text">
                                            </div>

                                            <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">To Date</label>
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                <input id="markettoDate" name="" placeholder="" required="" class="form-control" type="text">
                                            </div>
                                        </div>

                                        @*<div class="form-group">
                                                <label class="control-label col-md-2" for="">Courier</label>
                                                <div class="col-md-3">
                                                    <select class="select2_single form-control" tabindex="-1">
                                                        <option selected="selected" value="custom">Select</option>
                                                    </select>
                                                </div>

                                                <label class="control-label col-md-2" for="">Category</label>
                                                <div class="col-md-5">
                                                    <span class="prettyFile">
                                                        <input name="form[files][]" multiple type="file">
                                                        <div class="input-append">
                                                            <input class="input-large_brwse" type="text">
                                                            <a href="#" class="btn_brwse">Choose</a>
                                                        </div>
                                                    </span>
                                                </div>
                                            </div>*@

                                        <div class="form-group">
                                            <label class="control-label col-md-2">Location</label>
                                            <div class="col-md-3">
                                                <select class="select2_single form-control" tabindex="-1">
                                                    <option selected="selected" value="custom">Custom</option>
                                                    <option value="thisweek"></option>
                                                </select>
                                                @*<input type="checkbox"> Mart Jack Support*@

                                            </div>
                                        </div>

                                        @*<div class="form-group">
                                                <label class="control-label col-md-2">Search by</label>
                                                <div class="col-md-3">
                                                    <select class="select2_single form-control" tabindex="-1">
                                                        <option selected="selected" value="custom">Custom</option>
                                                        <option value="Order No">Order No</option>
                                                        <option selected="selected" value="SKU">SKU</option>
                                                        <option value="Awb No">Awb No</option>
                                                        <option value="Email Id">Email Id</option>
                                                        <option value="Phone No">Phone No</option>
                                                        <option value="Coupon Code">Coupon Code</option>
                                                        <option value="Checkout Type">Checkout Type</option>
                                                        <option value="Shipment ID">Shipment ID</option>
                                                        <option value="Issue Type">Issue Type</option>
                                                        <option value="Order Source">Order Source</option>
                                                    </select>
                                                </div>
                                                <div class="plusiconforadd"><a class="search-plus-btnsm"><i class="fa fa-plus"></i></a></div>
                                            </div>*@

                                        <div class="form-group" id="search-plus-btnsmhs">
                                            <label class="control-label col-md-2">Search by</label>
                                            <div class="col-md-3">
                                                <select id="moddlSerch" class="select2_single form-control" tabindex="-1" onchange="serchBy();">
                                                    <option selected="selected" value="custom">Custom</option>
                                                    <option value="Order_No">Order No</option>
                                                    <option selected="selected" value="SKU">SKU</option>
                                                    @*<option value="Awb_No">Awb No</option>*@
                                                    <option value="Email_Id">Email Id</option>
                                                    <option value="Phone_No">Phone No</option>
                                                    @*<option value="Coupon_Code">Coupon Code</option>*@
                                                    <option value="Checkout_Type">Checkout Type</option>
                                                    <option value="Shipment_ID">Shipment ID</option>
                                                    @*<option value="Issue_Type">Issue Type</option>*@
                                                    <option value="Order_By">Order By</option>
                                                </select>
                                            </div>
                                            @*<div class="col-md-6">
                                                    <input id="" name="" placeholder="" required="" class="form-control" type="text">
                                                </div>*@
                                            @*<div class="plusiconforadd"><a href=""><i class="fa fa-plus"></i></a></div>*@
                                            <div class="col-md-2">
                                                <select id="moddlSentTo" class="form-control" tabindex="-1">
                                                    <option selected="selected" value="0"> -- Select -- </option>
                                                    <option value="Customer">Customer</option>
                                                    <option value="Dealer">Dealer</option>

                                                </select>
                                            </div>
                                        </div>
                                        @*</form>*@

                                        <div class="clearfix"></div><br><br>

                                        <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
                                            <button type="submit" class="btn btn-default pull-right" onclick="SearchOrder()">Go</button>
                                        </div>
                                        <script>
                                            function SearchOrder() {

                                                //$('.loader-container').removeClass('hide');

                                                $('#getOrderDate').submit();
                                            }

                                        </script>
                                    }
                                </div>

                                <div class="sreachbtnhs-slide">
                                    <a href="#" class="sreachbtnhs_btn-slide">Search Here</a>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div><br>

                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
            <br>
            <div class="tab-content orderlist">


            </div>

        </div>
    </div>



    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel_nogap">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#MyOrders" aria-controls="home" role="tab" data-toggle="tab">My Orders</a></li>
                    <li role="presentation"><a href="#MarketplaceOrders" aria-controls="profile" role="tab" data-toggle="tab">Marketplace Orders</a></li>
                </ul>

                <div id="partialView">

                    @{
                        Html.RenderPartial("~/Views/Shared/authorizeOrderPartial.cshtml", Model.newOrderModel);
                    }
                </div>
                <!-- Tab panes -->

            </div>
        </div>
    </div>

</div>
<!-- /page content -->
<br>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="~/Scripts/paging.js"></script>
<link href="~/Content/paging.css" rel="stylesheet" />

<script>
    var URL = '@System.Configuration.ConfigurationManager.AppSettings["baseUrl"]';
    NProgress.done();
    $(document).ready(function () {
        $('#tblPro').paging({ limit: 10 });
        $('.paging_full_numbers').find("[data-page='0']").attr('class', "selected-page");

        var addressIds = $.map($('#tblPro').find('[class*=addr_]'), function (obj) {
            return $(obj).attr('class');
        });
        var uniqueIds = $.makeArray($(addressIds).filter(function (i, itm) {
            // note: 'index', not 'indexOf'
            return i == $(addressIds).index(itm);
        }));
        $.each(uniqueIds, function (index, id) {

            $('.' + id).css('background', '#d3d3d3');

        });

        $('#txtFromDate').datepicker({
            onClose: function (selectedDate) {
                $("#txtToDate").datepicker("option", "minDate", selectedDate);
            }
        });
        $('#txtToDate').datepicker({
            onClose: function (selectedDate) {
                $("#txtFromDate").datepicker("option", "maxDate", selectedDate);
            }
        });

        $("#ddlSentTo").hide();
        $("#txtSearch").show();
        $("#txtSearch").attr("name", $("#ddlSerch option:selected").val());
        $("#txtSearch").attr("placeholder", $("#ddlSerch option:selected").val());
        $("#moddlSentTo").prop("disabled", true);
        $('#ddlSerch').change(function () {
            var SelectedDD = $("#ddlSerch option:selected").val();
            if (SelectedDD == 'Order_By') {
                $("#ddlSentTo").show();
                $("#txtSearch").hide();
            }
            else {
                $("#ddlSentTo").hide();
                $("#txtSearch").show();
                $("#txtSearch").attr("name", SelectedDD);
                $("#txtSearch").attr("placeholder", SelectedDD);
            }
            $('#txtSearch').val();
        });
        $('#moddlSerch').change(function () {
            var SelectedDD = $("#ddlSerch option:selected").val();
            if (SelectedDD == 'Order_By') {
                $("#moddlSentTo").prop("disabled", false);
            }
            else {
                $("#moddlSentTo").prop("disabled", true);
            }
        });


        $('#btnApprove').click(function () {
            var orderIdList = $.map($('#tblPro').find('.input-check-box:checked'), function (obj) {
                return $(obj).parents('tr').attr('id');
            });
            var data = { orderIdList: orderIdList, status: 6 }

            if (orderIdList.length != 0) {
                $('.loader-container').removeClass('hide');
                $.ajax({
                    url: URL + '/Order/UpdateOrderList/',
                    //url: '/Order/UpdateOrderList/',
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    async: false,
                    data: JSON.stringify(data),
                    dataType: "json",
                    success: function (data) {
                        // alert(data);
                        $.each(orderIdList, function (index, id) {
                            $('tr[id=' + id + ']').remove();
                        });
                        $('.loader-container').addClass('hide');

                        var message = '  <div class="alert alertnew alert-success fade in">' +
            '<a href="#" class="close" data-dismiss="alert">×</a><strong>Success!</strong> Selected Orders move to Waiting for pickup orders</div>';
                        $('.orderlist').append(message);
                    },
                    error: function (xhr) {
                        alert(xhr);
                        var message = '<div class="alert alertnew alert-danger fade in"><a href="#" class="close" data-dismiss="alert">×</a>' +
           '<strong>Error!</strong>' + xhr + '</div>';
                        $('.orderlist').append(message);

                        $('.loader-container').addClass('hide');
                    }
                });
            } else {
                var message = '<div class="alert alertnew alert-danger fade in"><a href="#" class="close" data-dismiss="alert">×</a>' +
           '<strong>Error!</strong>Please Select Orders</div>';
                $('.orderlist').append(message);
            }
            $('.alert').fadeOut(10000);

        });

        $('#btnMerge').click(function () {
            var error = '';
            $('.loader-container').removeClass('hide');
            var orderIdList = $.map($('#tblPro').find('.input-check-box:checked'), function (obj) {
                return $(obj).parents('tr').attr('id');
            });
            var address = false;
            var id = '';
            if (orderIdList.length >= 2) {

                $.each(orderIdList,
                    function (index, value) {
                        if (id == '') {
                            id = $('tr[id=' + value + ']').find('.useraddress').val();
                        }
                        if (id != '' && id == $('tr[id=' + value + ']').find('.useraddress').val()) {
                            address = true;
                        } else {
                            address = false;
                        }
                    });
                if (address == true) {
                    var data = { orderIdList: orderIdList }
                    $.ajax({
                        url: URL + '/Order/MergeOrder/',
                        //url: '/Order/MergeOrder/',
                        type: "POST",
                        contentType: 'application/json; charset=utf-8',
                        async: false,
                        data: JSON.stringify(data),
                        dataType: "json",
                        success: function (data) {
                            $('.loader-container').addClass('hide');
                            error = '<div class="alert alertnew alert-success fade in">' +
                                '<a href="#" class="close" data-dismiss="alert">×</a>' +
                                '<strong>Success!</strong> ' +
                                data +
                                ' </div>';
                            setTimeout(reload(), 10000);
                        },
                        error: function (xhr) {
                            // alert(xhr);
                            error =
                               '<div class="alert alertnew alert-danger fade in"><a href="#" class="close" data-dismiss="alert">×</a>' +
                                   '<strong>Error!</strong> Select orders </div>';
                            $('.loader-container').addClass('hide');
                        }
                    });
                } else {
                    error = '<div class="alert alertnew alert-danger fade in"><a href="#" class="close" data-dismiss="alert">×</a>' +
   '<strong>Error!</strong>  Worng Merging Order(Sorry!!You cannot merge this order) </div>';
                }
            } else {
                if (orderIdList.length == 0) {
                    var error = '<div class="alert alertnew alert-danger fade in"><a href="#" class="close" data-dismiss="alert">×</a>' +
      '<strong>Error!</strong> Select orders </div>';
                } else {
                    error = '<div class="alert alertnew alert-danger fade in"><a href="#" class="close" data-dismiss="alert">×</a>' +
             '<strong>Error!</strong> You cannot Split order </div>';
                }
            }
            $('#MyOrders').append(error);
            $('.alert').fadeOut(10000);
            $('.loader-container').addClass('hide');
            $('#tblPro').find('.input-check-box:checked').attr('checked', false);

        });

        $('#btnSplit').click(function () {
            $('.loader-container').removeClass('hide');
            var orderIdList = $.map($('#tblPro').find('.input-check-box:checked'), function (obj) {
                return $(obj).parents('tr').attr('id');
            });
            var error = '';
            if (orderIdList.length == 1) {
                var orderId = $('#tblPro').find('.input-check-box:checked').parents('tr').attr('id');
                $.ajax({
                    url: URL + '/Order/SplitOrder/',
                    //url: '/Order/SplitOrder/',
                    type: "POST",
                    async: false,
                    data: { orderId: orderId, ordersCount: 2 },
                    dataType: "json",
                    success: function (data) {
                        $('.loader-container').addClass('hide');
                        if (data != 'You cannot split order') {
                            alert('Order Split Successfully!');
                            $('.loader-container').addClass('hide');
                            error = '<div class="alert alertnew alert-success fade in">' +
                                '<a href="#" class="close" data-dismiss="alert">×</a>' +
                                '<strong>Success!</strong>Order Split Successfully!</div>';
                            setTimeout(reload(), 10000);
                        } else {

                            error =
                          '<div class="alert alertnew alert-danger fade in"><a href="#" class="close" data-dismiss="alert">×</a>' +
                              '<strong>Error!</strong> ' + data + ' </div>';
                        }
                        //$.each(orderIdList, function (index, id) {
                        //    $('tr[id=' + id + ']').remove();
                        //});
                    },
                    error: function (xhr) {
                        // alert(xhr);
                        error =
                              '<div class="alert alertnew alert-danger fade in"><a href="#" class="close" data-dismiss="alert">×</a>' +
                                  '<strong>Error!</strong> Select orders </div>';
                        $('.loader-container').addClass('hide');
                    }
                });
            } else
                if (orderIdList.length == 0) {
                    var error = '<div class="alert alertnew alert-danger fade in"><a href="#" class="close" data-dismiss="alert">×</a>' +
      '<strong>Error!</strong> Select orders </div>';
                } else {
                    error = '<div class="alert alertnew alert-danger fade in"><a href="#" class="close" data-dismiss="alert">×</a>' +
         '<strong>Error!</strong> You cannot Merge single order </div>';
                }
            $('#MyOrders').append(error);
            $('.alert').fadeOut(10000);
            $('.loader-container').addClass('hide');
            $('#tblPro').find('.input-check-box:checked').attr('checked', false);
        });

        $('#check-all').click(function () {
            if ($(this).is(':checked')) {
                $('#tblPro tbody').find('input[type=checkbox]').prop('checked', true);
            } else {
                $('#tblPro tbody').find('input[type=checkbox]').prop('checked', false);
            }
        });
        $('#btnAuthorizeExport').click(function () {
            if ($('#tblPro').length != 0) {
                var tbl = $('#tblPro').clone();
                tbl.find('tr td:last-child, tr th:last-child').remove();
                $(tbl).table2excel({
                    exclude: ".noExl",
                    name: "Excel Document Name"
                });
            } else {
                var data = '<div class="alert alertnew alert-danger fade in">' +
                   '<a href="#" class="close" data-dismiss="alert">×</a>' +
                   '<strong>Error!</strong> No rec found ' +
               '</div>';
                $('#btnCancelExport').parent('div.col-md-12').append(data);
                $('.alert').fadeOut(10000);
            }
        });
    });
    function OrderPickUp(id) {
        $('.loader-container').removeClass('hide');
        var status = 6;
        $.ajax({
            url: URL + '/Order/UpdateOrderStatus/',
            //url: '/Order/UpdateOrderStatus/',
            type: "Post",
            async: false,
            dataType: "json",
            data: { id: id, status: status },
            success: function (data) {
                //  alert('Order ready to Waiting for pickup');

                var message = '  <div class="alert alertnew alert-success fade in">' +
           '<a href="#" class="close" data-dismiss="alert">×</a><strong>Success!</strong> Selected Orders move to Waiting for pickup orders</div>';
                $('.orderlist').append(message);
                $('.alert').fadeOut(10000);


                $('#' + id).remove();
                $('.loader-container').addClass('hide');
            },
            error: function (xhr) {
                alert(xhr);
                $('.loader-container').addClass('hide');
            }
        });
    }
    function reload() {
        history.go(0);
    }
</script>

@*<script src="~/Scripts/common.js"></script>
    <div class='loader-container hide'>
        <div class='loader'>
            <div class='loader--dot'></div>
            <div class='loader--dot'></div>
            <div class='loader--dot'></div>
            <div class='loader--dot'></div>
            <div class='loader--dot'></div>
            <div class='loader--dot'></div>
            <div class='loader--text'></div>
        </div>
    </div>
    <link href="~/Content/loader.css" rel="stylesheet"/>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>*@