﻿@model IEnumerable<Gizmobaba.Models.OrderViewModel>

@{
    ViewBag.Title = "AuthorizePrepaid";
    Layout = "~/Views/Shared/_LayoutGizmobaba.cshtml";
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="~/Scripts/paging.js"></script>
<script src="~/Scripts/orders.js"></script>
<script src="http://www.jqueryscript.net/demo/Export-Html-Table-To-Excel-Spreadsheet-using-jQuery-table2excel/src/jquery.table2excel.js"></script>

 <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Authorize Prepaid Orders</h3><br>
            </div>
        </div>

        <div class="title_content_top">
            <p>Authorize Prepaid Orders are the orders for which the payment has been received. The orders placed through 'Cheque/DD/ Bank transfer/ some cases of unsuccessful Credit Card or Debit Card or Net Banking transactions' are automatically listed here and need to be authorized after payment confirmation from bank. You can sort out these orders through multiple search criteria that are provided here. The orders placed against your products at connected marketplaces can be found through ‘Marketplace Orders’ tab.</p>
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel_nogap">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#MyOrders" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">My Orders</a></li>
                        <li role="presentation"><a href="#MarketplaceOrders" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">Marketplace Orders</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="MyOrders">
                            <div class="mrgin_gap20">
                                <div class="searchhs_holder_all">
                                    <div style="display: none;" id="searchslidehs-panel">
                                        @using (Ajax.BeginForm("SearchOrder", "Order", new { },
        new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "partialView"
        }, new { id = "getOrderDate" }))
                                        {
                                            @*<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">*@
                                            <br>
                                            <div class="form-group">
                                                <label class="control-label col-md-2 col-sm-3 col-xs-12">Period</label>
                                                <div class="col-md-3">
                                                    <select class="select2_single form-control" tabindex="-1" id="ddlPaging">
                                                        <option selected="selected" value="custom">Custom</option>
                                                        <option value="thisweek">This week</option>
                                                        <option value="lastweek">Last Week</option>
                                                        <option value="thismonth">This Month</option>
                                                        <option value="lastmonth">Last Month</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <input type="hidden" value="2" name="OrderType" />
                                                <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">From Date</label>
                                                <div class="col-md-3 col-sm-3 col-xs-12">
                                                    <input id="fromDate" name="From_Date" placeholder="" required="" class="form-control" type="text">
                                                </div>

                                                <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">To Date</label>
                                                <div class="col-md-3 col-sm-3 col-xs-12">
                                                    <input id="toDate" name="To_Date" placeholder="" required="" class="form-control" type="text">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-2" for="">Category</label>
                                                <div class="col-md-3">
                                                    <span class="prettyFile">
                                                        @Html.DropDownList("CATEGORY_ID", (SelectList)ViewBag.Category, new { @class = "select2_single form-control", id = "CATEGORY_ID", tabindex = "-1", onChange = "FillSubCategory()" })
                                                    </span>
                                                    <span class="prettyFile">
                                                        @Html.DropDownList("SUB_CAT_ID",
                                                    new SelectList(Enumerable.Empty<SelectListItem>(), "SUB_CAT_ID", "SUB_CAT_DESC"),
                                                    "Select Sub Category", new { @class = "select2_single form-control", tabindex = "-1", id = "SUB_CAT_ID", disabled = "disabled" })
                                                    </span>
                                                    <div class="col-md-3">

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-2">Location</label>
                                                <div class="col-md-3">
                                                    <select class="select2_single form-control" tabindex="-1">
                                                        <option selected="selected" value="custom">Custom</option>
                                                        <option value="thisweek"></option>
                                                    </select><input type="checkbox"> Mart Jack Support

                                                </div>
                                            </div>


                                            <div class="form-group" id="search-plus-btnsmhs">
                                                <label class="control-label col-md-2">Search by</label>
                                                <div class="col-md-3">
                                                    <select id="ddlSerch" class="select2_single form-control" tabindex="-1" onchange="serchBy();">
                                                        <option selected="selected" value="custom">Custom</option>
                                                        <option value="Order_No">Order No</option>
                                                        <option selected="selected" value="SKU">SKU</option>
                                                        <option value="Awb_No">Awb No</option>
                                                        <option value="Email_Id">Email Id</option>
                                                        <option value="Phone_No">Phone No</option>
                                                        <option value="Coupon_Code">Coupon Code</option>
                                                        <option value="Checkout_Type">Checkout Type</option>
                                                        <option value="Shipment_ID">Shipment ID</option>
                                                        <option value="Issue_Type">Issue Type</option>
                                                        <option value="Order_Source">Order Source</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-6" id="searchBy">
                                                    <input id="" name="" placeholder="" required="" class="form-control" type="text">
                                                </div>
                                                @*<div class="plusiconforadd"><a href=""><i class="fa fa-plus"></i></a></div>*@
                                            </div>
                                            @*<script>
                                                function SearchOrder() {
                                                    // $('#getOrderDate').submit();
                                                }

                                            </script>*@
                                            @*</form>*@

                                            <div class="clearfix"></div><br><br>

                                            <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
                                                <a href="#"><button type="button" class="btn btn-default pull-right" onclick="SearchOrder();">Go</button></a>
                                            </div>
                                        }
                                    </div>

                                    <div class="sreachbtnhs-slide">
                                        <a href="#" class="sreachbtnhs_btn-slide">Search Here</a>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div><br>

                            @*<div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
                                <div class="pull-right">
                                    <a href="#"><button type="button" class="btn btn-default">Pickup</button></a>
                                </div>
                            </div>*@
                        </div>

                        <div role="tabpanel" class="tab-pane" id="MarketplaceOrders">
                            <div class="mrgin_gap20">
                                <div class="searchhs_holder_all">
                                    <div id="searchslidehs-panel2">
                                        @using (Ajax.BeginForm("SearchOrder", "Order", new { },
        new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "partialView"
        }, new { id = "getOrderDate" }))
                                        {
                                            @*<form id="demo-form2" class="form-horizontal form-label-left">*@
                                            <br>
                                            <div class="form-group">
                                                <label class="control-label col-md-2 col-sm-3 col-xs-12">Period</label>
                                                <div class="col-md-3 col-sm-6 col-xs-12">
                                                    <select class="select2_single form-control" tabindex="-1" id="ddlMarketPeriod">
                                                        <option selected="selected" value="custom">Custom</option>
                                                        <option value="thisweek">This week</option>
                                                        <option value="lastweek">Last Week</option>
                                                        <option value="thismonth">This Month</option>
                                                        <option value="lastmonth">Last Month</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">From Date</label>
                                                <div class="col-md-3 col-sm-3 col-xs-12">
                                                    <input id="marketfromDate" name="" placeholder="" required="" class="form-control" type="text">
                                                </div>

                                                <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">To Date</label>
                                                <div class="col-md-3 col-sm-3 col-xs-12">
                                                    <input id="markettoDate" name="" placeholder="" required="" class="form-control" type="text">
                                                </div>
                                            </div>

                                            @*<div class="form-group">
                                                <label class="control-label col-md-2" for="">Courier</label>
                                                <div class="col-md-3">
                                                    <select class="select2_single form-control" tabindex="-1">
                                                        <option selected="selected" value="custom">Select</option>
                                                    </select>
                                                </div>

                                                <label class="control-label col-md-2" for="">Category</label>
                                                <div class="col-md-5">
                                                    <span class="prettyFile">
                                                        <input name="form[files][]" multiple="" type="file">
                                                        <div class="input-append">
                                                            <input class="input-large_brwse" type="text">
                                                            <a href="#" class="btn_brwse">Choose</a>
                                                        </div>
                                                    </span>
                                                </div>
                                            </div>*@

                                            <div class="form-group">
                                                <label class="control-label col-md-2">Location</label>
                                                <div class="col-md-3">
                                                    <select class="select2_single form-control" tabindex="-1">
                                                        <option selected="selected" value="custom">Custom</option>
                                                        <option value="thisweek"></option>
                                                    </select>
                                                    @*<input type="checkbox"> Mart Jack Support*@

                                                </div>
                                            </div>

                                            @*<div class="form-group">
                                                <label class="control-label col-md-2">Search by</label>
                                                <div class="col-md-3">
                                                    <select class="select2_single form-control" tabindex="-1">
                                                        <option selected="selected" value="custom">Custom</option>
                                                        <option value="Order No">Order No</option>
                                                        <option selected="selected" value="SKU">SKU</option>
                                                        <option value="Awb No">Awb No</option>
                                                        <option value="Email Id">Email Id</option>
                                                        <option value="Phone No">Phone No</option>
                                                        <option value="Coupon Code">Coupon Code</option>
                                                        <option value="Checkout Type">Checkout Type</option>
                                                        <option value="Shipment ID">Shipment ID</option>
                                                        <option value="Issue Type">Issue Type</option>
                                                        <option value="Order Source">Order Source</option>
                                                    </select>
                                                </div>
                                                <div class="plusiconforadd"><a class="search-plus-btnsm"><i class="fa fa-plus"></i></a></div>
                                            </div>*@

                                            <div class="form-group" id="search-plus-btnsmhs">
                                                <label class="control-label col-md-2">Search by</label>
                                                <div class="col-md-3">
                                                    <select class="select2_single form-control" tabindex="-1">
                                                        <option selected="selected" value="custom">Custom</option>
                                                        <option value="Order No">Order No</option>
                                                        <option selected="selected" value="SKU">SKU</option>
                                                        <option value="Awb No">Awb No</option>
                                                        <option value="Email Id">Email Id</option>
                                                        <option value="Phone No">Phone No</option>
                                                        <option value="Coupon Code">Coupon Code</option>
                                                        <option value="Checkout Type">Checkout Type</option>
                                                        <option value="Shipment ID">Shipment ID</option>
                                                        <option value="Issue Type">Issue Type</option>
                                                        <option value="Order Source">Order Source</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-6">
                                                    <input id="" name="" placeholder="" required="" class="form-control" type="text">
                                                </div>
                                                @*<div class="plusiconforadd"><a href=""><i class="fa fa-plus"></i></a></div>*@
                                            </div>
                                            @*</form>*@

                                            <div class="clearfix"></div><br><br>

                                            <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
                                                <a href="#"><button type="submit" class="btn btn-default pull-right" onclick="SearchOrder()">Go</button></a>
                                            </div>
                                            <script>
                                                function SearchOrder() {
                                                    $('#getOrderDate').submit();
                                                }

                                            </script>
                                        }
                                    </div>

                                    <div class="sreachbtnhs-slide">
                                        <a href="#" class="sreachbtnhs_btn-slide">Search Here</a>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div><br>

                            <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
                                <div class="pull-right">
                                    <a href="#"><button type="button" class="btn btn-default">Pickup</button></a>
                                    <a href="#"><button type="button" class="btn btn-default">Export to Excel</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
                <br>
                <div class="tab-content">
                    <div id="divdata"></div>

                </div>

            </div>
        </div>


        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel_nogap">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#MyOrders" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">My Orders</a></li>
                        <li role="presentation" class=""><a href="#MarketplaceOrders" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">Marketplace Orders</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="MyOrders">
                            <div class="mmctrl_box">
                                <div class="mmcaption">Available Orders  <div class="bulaprove_btn"><a href="javascript:;" id="btnApprove">Bulk Approve</a></div></div>
                                <table id="tblPro" class="table table-striped" style="margin-bottom:6px; border-bottom:1px solid #DDD;">
                                    <thead>
                                        <tr>
                                            @*<th><input type="checkbox"></th>*@
                                            <th>
                                                <div class="squaredThree">
                                                    <input type="checkbox" value="None" id="check-all" name="check" />
                                                    <label for="check-all"></label>
                                                </div>
                                            </th>
                                            <th>Age</th>
                                            <th>Order ID</th>
                                            <th>Order Date</th>
                                            <th>Order By</th>
                                            <th>Qty</th>
                                            <th>Order Vaule</th>
                                            <th>Customer Name</th>
                                            <th>Authorize</th>
                                            @*<th>Cancel Orders</th>*@
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr id="@item.ORDER_ID">
                                                <td>
                                                    <div class="squaredThree">
                                                        <input type="checkbox" value="None" id="ABC_@item.ORDER_ID" name="check" class="input-check-box" />
                                                        <label for="ABC_@item.ORDER_ID"></label>
                                                    </div>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Age)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ORDER_ID)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CREATED_AT)
                                                </td>
                                                <td>
                                                    @if (item.CREATED_BY == "4")
                                                    {
                                                        <div>Dealer</div>
                                                    }
                                                    else
                                                    {
                                                        <div>Customer</div>
                                                    }
                                                    @*@Html.DisplayFor(modelItem => item.PAYMENT_TYPE)*@
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Qty)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.UNIT_PRICE)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.UserName)
                                                </td>
                                                <td>
                                                    @Html.ActionLink("Authorize", "OrderDetails", new { id = item.ORDER_ID })
                                                </td>
                                                <td>
                                                    <a href="javascript:;" onclick="OrderPickUp(@item.ORDER_ID);">Approve</a>
                                                    @Html.ActionLink("Cancel", "OrderDetails", new { id = item.ORDER_ID })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                @if (Model != null && Model.Count() == 0)
                                {
                                    <div class="alert alertnew alert-info fade in">
                                        <a href="#" class="close" data-dismiss="alert">×</a>
                                        <strong>Warning!</strong> Authorize Prepaid Orders Not Found
                                    </div>
                                }

    <br>

    @*<div class="dataTables_length" id="example_length">
        <label>
            &nbsp; Records per page
            <select aria-controls="example" size="1" style="width: 56px;padding: 6px;" name="example_length">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </label>

        <label> Go to <input type="text" class="gototxt_no" maxlength="4" aria-controls="example"></label>
    </div>*@

    @*<div id="example_paginate" class="dataTables_paginate paging_full_numbers">
        <a id="example_first" tabindex="0" class="first paginate_button paginate_button_disabled">First</a>
        <a id="example_previous" tabindex="0" class="previous paginate_button paginate_button_disabled">Previous</a>
        <span>
            <a tabindex="0" class="paginate_active">1</a>
            <a tabindex="0" class="paginate_button">2</a>
            <a tabindex="0" class="paginate_button">3</a>
            <a tabindex="0" class="paginate_button">4</a>
        </span>
        <a id="example_next" tabindex="0" class="next paginate_button">Next</a>
        <a id="example_last" tabindex="0" class="last paginate_button">Last</a>
    </div>*@
                                <div class="clearfix"></div>
                                <br>
                            </div>

                            <hr>
                            <div class="clearfix"></div>
                            <div class="col-md-12">
                                <button type="button" id="btnAuthorizeExport" class="btn btn-dark pull-right">Export to Excel</button>
                            </div><br><br><br>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="MarketplaceOrders">
                            <div class="mmctrl_box">
                                <div class="mmcaption">Available Shipping Codes Result</div><br>
                                <br>

                                <div class="alert alert-danger" role="alert">There are no 'Payment Pending Orders' found.</div><br>

                            </div>

                            <hr>
                            <div class="clearfix"></div>
                            <div class="col-md-12">
                                <a href="ShippingProfile_Add_Edit2.html">
                                    <button type="button" class="btn btn-dark pull-right">Add New Shipping Code for Marketplace</button>
                                </a>
                                <a href="ShippingProfile_Add_Edit.html">
                                    <button type="button" class="btn btn-default pull-right">Add New Shipping Code</button>
                                </a>
                            </div><br><br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /page content -->
    <br>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="~/Scripts/paging.js"></script>
<link href="~/Content/paging.css" rel="stylesheet" />
<script>
    NProgress.done();
    var URL = '@System.Configuration.ConfigurationManager.AppSettings["baseUrl"]';
    $(document).ready(function () {

    $('#tblPro').paging({ limit: 10 });
        $('.paging_full_numbers').find("[data-page='0']").attr('class', "selected-page");

        $('#btnApprove').click(function () {
            var orderIdList = $.map($('#tblPro').find('.input-check-box:checked'), function (obj) {
                return $(obj).parents('tr').attr('id');
            });
            var data = { orderIdList: orderIdList, status: 6 }
            var status = 6;
            $.ajax({
                url: URL + '/Order/UpdateOrderList/',
                //url: '/Order/UpdateOrderList/',
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                async: false,
                data: JSON.stringify(data),
                dataType: "json",
                success: function (data) {
                    alert(data);
                    $.each(orderIdList, function (index, id) {
                        $('tr[id=' + id + ']').remove();
                    });
                    // var recCount = $('#ddlPaging').val();
                },
                error: function (xhr) {
                    alert(xhr);
                }
            });

        });
        $('#check-all').click(function () {
            if ($(this).is(':checked')) {
                $('#tblPro tbody').find('input[type=checkbox]').prop('checked', true);
            } else {
                $('#tblPro tbody').find('input[type=checkbox]').prop('checked', false);
            }
        });
        $('#btnAuthorizeExport').click(function () {
            if ($('#tblPro').length != 0) {
                var tbl = $('#tblPro').clone();
                tbl.find('tr td:last-child, tr th:last-child').remove();
                $(tbl).table2excel({
                    exclude: ".noExl",
                    name: "Excel Document Name"
                });
            } else {
            var data ='<div class="alert alertnew alert-danger fade in">'+
               '<a href="#" class="close" data-dismiss="alert">×</a>'+
               '<strong>Error!</strong> No rec found '+
           '</div>';
            $('#btnCancelExport').parent('div.col-md-12').append(data);
            $('.alert').fadeOut(10000);
            }
        });
    });
    function OrderPickUp(id) {
        var status = 6;
        $.ajax({
            url: URL + '/Order/UpdateOrderStatus/',
            //url: '/Order/UpdateOrderStatus/',
            type: "Post",
            async: false,
            dataType: "json",
            data: { id: id, status: status },
            success: function (data) {
                alert('Order ready to Waiting for pickup');
                $('#' + id).remove();
            },
            error: function (xhr) {
                alert(xhr);
            }
        });
    }
</script>

<script src="~/Scripts/common.js"></script>