﻿@model Gizmobaba.Models.UserOrderModel
@using Newtonsoft.Json
@{
    ViewBag.Title = "CreateOrder";
    Layout = "~/Views/Shared/_LayoutGizmobaba.cshtml";
}
<script src="~/Scripts/orders.js"></script>
<link href="~/GizmobabaFiles/css/custom.css" rel="stylesheet" />


    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Create Order</h3><br>
            </div>
        </div>

        <div class="title_content_top">
            <p>Create Order facilitates you to create an order from your Control Panel on behalf of your customer. End-user may request you to create an order for saving time or due to not having enough knowledge to place order/upon facing any intermittent problem. You can raise an order for new customers as well as existing customers.</p>
        </div>
        <div class="clearfix"></div>
        @if (TempData["SuccessMessage"] != null && TempData["SuccessMessage"] != "")
        {
            <div class="alert alertnew alert-success fade in">
                <a href="#" class="close" data-dismiss="alert">×</a>
                <strong>Success!</strong> @TempData["SuccessMessage"]
            </div>
        }
        @if (TempData["ErrorMessage"] != null && TempData["ErrorMessage"] != "")
        {
            <div class="alert alertnew alert-danger fade in">
                <a href="#" class="close" data-dismiss="alert">×</a>
                <strong>Error!</strong> @TempData["ErrorMessage"]
            </div>
        }
        
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel_nogap">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#MyStore" aria-controls="home" role="tab" data-toggle="tab">Single Order</a></li>
                        <li role="presentation"><a href="#Marketplace" class="paymentlink" aria-controls="profile" role="tab" data-toggle="tab">Select Payment Method</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="MyStore">
                    @using (Html.BeginForm("CreateOrder", "Order", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="mmctrl_box">
                            <div class="mmcaption">Customer Details </div><br><br>

                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">Select Customer</label>
                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    @*<input type="text" id="txtUser" name="" placeholder="13245689" required="" class="form-control">*@
                                    @Html.TextBoxFor(model => model.UserModel.USER_ID, new { @class = "form-control", required = "", id = "txtUser" })
                                    @Html.HiddenFor(model => model.UserModel.USER_ID, new {  id = "UserId" })
                                    <div class="vrysmall_txt_frms"><input type="checkbox"> Continue as Guest
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    @*<button type="button" class="btn btn-default btn-sm pull-left"><i class="fa fa-search-plus" onclick="UserSearch();"></i> </button>*@
                                    <a data-toggle="modal" href="#normalSearchUser" class="btn btn-default btn-sm pull-left"> Select Customer &nbsp; <i class="fa fa-search-plus"></i></a>
                                    <a data-toggle="modal" href="#normalRegistration" class="btn btn-default btn-sm pull-left"> New Customer</a>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">Order No</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <input name="" type="text" disabled="" required="" class="form-control" id="" placeholder="Order no will be auto generated.">
                                </div>

                                <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">Order Date</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    @Html.TextBoxFor(m => m.OrderViewModel.CREATED_AT, new {@class = "form-control"})
                                    @*<input type="text" id="" name="" placeholder="Today Date" required="" class="form-control">*@
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">Delivery Mode</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <input name="deliveryType" type="radio"> Home Delivery &nbsp;&nbsp;
                                    <input name="deliveryType" type="radio"> Instore Pickup
                                </div>
                            </div>
                            <br>
                        </div>

                        
                        if (Model.userAddressList != null && Model.userAddressList.Count() != 0)
                        {
                            <div class="mmctrl_box mrgin_gap20 mmctrl_tble addressdiv">

                                <div class="mmcaption">
                                    Customer Address List
                                    <a class="addressclose" href="javascript:;" style="float: right;"> <img style="width:15px;height:15px" src="http://pakkadial.com/Admin/Images/close_button.png" /></a>
                                    
                                </div>

                                <table id="tblAddress" class="table table-striped mrgin_gap0">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Name</th>
                                            <th>Phone Number</th>
                                            <th>Address</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.userAddressList)
                                        {
                                            <tr id="@item.ADDRESS_ID">
                                                <td>
                                                    @item.ADDRESS_ID
                                                </td>
                                                <td >
                                                    @item.FIRSTNAME
                                                </td>
                                                <td>
                                                    @item.MOB_NO
                                                </td>
                                                <td>
                                                    @item.ADDRESS_1 , @item.ADDRESS_2
                                                    <br />@item.landmark <br />
                                                    @item.POSTCODE
                                                </td>
                                                <td>
                                                    <input type="button" title="Select Address" class="btn btn-default btn-sm pull-left" onclick="AddtoshippingAddress(@item.ADDRESS_ID);" value="Add To Shipping Address" />
                                                    <br /><br /> <input type="button" class="btn btn-default btn-sm pull-left" title="Select Address" onclick="AddtoBillingAddress(@item.ADDRESS_ID)" value="Add To Billing Address" />
                                                </td>
                                            </tr>
                                        }
                                        
                                    </tbody>
                                </table><br>
                            </div>
                        }




                        <div class="mmctrl_box">
                            <div class="mmcaption">Shipping Address </div><br><br>
                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">First Name</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    @Html.HiddenFor(m => m.ShippinghAddress.ADDRESS_ID, new { id = "ShippinghAddress_ADDRESS_ID" })
                                    @Html.TextBoxFor(m => m.ShippinghAddress.FIRSTNAME, new { @class = "form-control", id = "ShippinghAddress_FIRSTNAME" })
                                    @*<input type="text" id="" name="" placeholder="13245689" required="" class="form-control">*@
                                </div>

                                <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">Last Name </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    @Html.TextBoxFor(m => m.ShippinghAddress.LASTNAME, new { @class = "form-control", id = "ShippinghAddress_LASTNAME" })
                                    @*<input type="text" id="" name="" placeholder="12/02/2015" required="" class="form-control">*@
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">Address 1</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    @Html.TextBoxFor(m => m.ShippinghAddress.ADDRESS_1, new { @class = "form-control", id = "ShippinghAddress_ADDRESS_1" })
                                    @*<input type="text" id="" name="" placeholder="499" required="" class="form-control">*@
                                </div>

                                <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">Address 2</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    @Html.TextBoxFor(m => m.ShippinghAddress.ADDRESS_2, new { @class = "form-control", id = "ShippinghAddress_ADDRESS_2" })
                                    @*<input type="text" id="" name="" placeholder="naveen@gmail.com" required="" class="form-control">*@
                                </div>
                            </div>

                            @*<div class="form-group">
                                <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">Country </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    @Html.TextBoxFor(m => m.ShippinghAddress.COUNTRY, new { @class = "form-control", required = "", id = "ShippinghAddress_COUNTRY" })
                                </div>

                                <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">State</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    @Html.TextBoxFor(m => m.ShippinghAddress.STATE, new { @class = "form-control", required = "", id = "ShippinghAddress_STATE" })
                                </div>
                            </div>*@

                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">City Name</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    @Html.TextBoxFor(m => m.ShippinghAddress.CITY, new { @class = "form-control", id = "ShippinghAddress_CITY" })
                                    @*<input type="text" id="" name="" placeholder="499" required="" class="form-control">*@
                                </div>

                                <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">Post/Zip Code</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    @Html.TextBoxFor(m => m.ShippinghAddress.POSTCODE, new { @class = "form-control", id = "ShippinghAddress_POSTCODE" })
                                    @*<input type="text" id="" name="" placeholder="naveen@gmail.com" required="" class="form-control">*@
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">Telephone </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    @Html.TextBoxFor(m => m.ShippinghAddress.ALT_MOB, new { @class = "form-control", id = "ShippinghAddress_ALT_MOB" })
                                    @*<input type="text" id="" name="" placeholder="13245689" required="" class="form-control">*@
                                </div>

                                <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">Mobile</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    @Html.TextBoxFor(m => m.ShippinghAddress.MOB_NO, new { @class = "form-control", id = "ShippinghAddress_MOB_NO" })
                                    @*<input type="text" id="" name="" placeholder="12/02/2015" required="" class="form-control">*@
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">Landmark</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    @Html.TextBoxFor(m => m.ShippinghAddress.landmark, new { @class = "form-control", id = "ShippinghAddress_landmarkL" })
                                    @*<input type="text" id="" name="" placeholder="499" required="" class="form-control">*@
                                </div>
                            </div>

                            <div class="form-group_bttmfill">
                                <p><input id="chkSameAddress" type="checkbox"> My Shipping and Billing are same
                                </p>
                                <div class="clearfix text-center">( If u check this checkbox, below Billing address will be hidden )</div>
                            </div>
                        </div>

                        @*<div class="clearfix text-center"> Admin click on tick box this bill address ill open other wise hide this billing address </div>*@

                        <div class="mmctrl_box" id="divBillingAddress">
                            <div class="mmcaption">Billing Address</div><br><br>
                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">First Name</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    @Html.HiddenFor(m => m.BillingAddress.ADDRESS_ID, new { id = "BillingAddress_ADDRESS_ID" })
                                    @Html.TextBoxFor(m => m.BillingAddress.FIRSTNAME, new { @class = "form-control", id = "BillingAddress_FIRSTNAME" })
                                </div>

                                <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">Last Name </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    @Html.TextBoxFor(m => m.BillingAddress.LASTNAME, new { @class = "form-control", id = "BillingAddress_LASTNAME" })
                                    @*<input type="text" id="" name="" placeholder="12/02/2015" required="" class="form-control">*@
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">Address 1</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    @Html.TextBoxFor(m => m.BillingAddress.ADDRESS_1, new { @class = "form-control", id = "BillingAddress_ADDRESS_1" })
                                    @*<input type="text" id="" name="" placeholder="499" required="" class="form-control">*@
                                </div>

                                <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">Address 2</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    @Html.TextBoxFor(m => m.BillingAddress.ADDRESS_2, new { @class = "form-control", id = "BillingAddress_ADDRESS_2" })
                                    @*<input type="text" id="" name="" placeholder="naveen@gmail.com" required="" class="form-control">*@
                                </div>
                            </div>

                            @*<div class="form-group">
                                <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">Country </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    @Html.TextBoxFor(m => m.BillingAddress.COUNTRY, new { @class = "form-control" })
                                </div>

                                <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">State</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    @Html.TextBoxFor(m => m.BillingAddress.STATE, new { @class = "form-control" })
                                </div>
                            </div>*@

                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">City Name</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    @Html.TextBoxFor(m => m.BillingAddress.CITY, new { @class = "form-control", id = "BillingAddress_CITY" })
                                    @*<input type="text" id="" name="" placeholder="499" required="" class="form-control">*@
                                </div>

                                <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">Post/Zip Code</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    @Html.TextBoxFor(m => m.BillingAddress.POSTCODE, new { @class = "form-control", id = "BillingAddress_POSTCODE" })
                                    @*<input type="text" id="" name="" placeholder="naveen@gmail.com" required="" class="form-control">*@
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">Telephone </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    @Html.TextBoxFor(m => m.BillingAddress.ALT_MOB, new { @class = "form-control", id = "BillingAddress_ALT_MOB" })
                                    @*<input type="text" id="" name="" placeholder="13245689" required="" class="form-control">*@
                                </div>

                                <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">Mobile</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    @Html.TextBoxFor(m => m.BillingAddress.MOB_NO, new { @class = "form-control", id = "BillingAddress_MOB_NO" })
                                    @*<input type="text" id="" name="" placeholder="12/02/2015" required="" class="form-control">*@
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">Landmark</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    @Html.TextBoxFor(m => m.BillingAddress.landmark, new { @class = "form-control", id = "BillingAddress_landmark" })
                                    @*<input type="text" id="" name="" placeholder="499" required="" class="form-control">*@
                                </div>
                            </div>
                        </div>

                        <style>
                            #tblOrder input{
                                width:200px;
                            }
                            #tblOrder input.small{
                                width:80px;
                            }
                        </style>
                        <div class="mmctrl_box mrgin_gap20 mmctrl_tble" id="divProduct">
                            <div class="mmcaption">Product Information</div>
                            <table id="tblOrder" class="table table-striped mrgin_gap0">
                                <thead>
                                    <tr>
                                        <th>SKU/Product</th>
                                        <th>Title</th>
                                        <th>Qty</th>
                                        <th>Unit Price</th>
                                        @*<th>Promotion&nbsp;Discount</th>
                                        <th>Tax</th>*@
                                        <th>Shipping&nbsp;Amount</th>
                                        <th>Amount</th>
                                        @*<th>Action</th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="trOrder">
                                        @*<td style="width:250px;">
                                                @Html.TextBoxFor(m => m.OrderViewModel.ProSku, new { @class = "form-control" })
                                                <a><i class="glyphicon glyphicon-search"></i></a>
                                        </td>*@
                                        <td>
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            @Html.TextBoxFor(m => m.OrderViewModel.ProSku, new { @class = "form-control", id="txtSku" })
                                                        </td>
                                                        <td>
                                                           &nbsp; <a href="javascript:;" onclick="findProduct();" > <i class="glyphicon glyphicon-search"></i></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>

                                        <td>
                                            @*<input class="form-control" type="text">*@
                                            @Html.TextBoxFor(m => m.OrderViewModel.PRODUCT_NAME, new { @class = "form-control", id = "PRODUCT_NAME" })
                                        </td>
                                        <td>
                                            <input type="number" class="form-control small" name="orderviewmodel.num_of_pro" id="NUM_OF_PRO" value="1" />
                                                   @*@Html.TextBoxFor(m => m.OrderViewModel.NUM_OF_PRO, new { @class = "form-control small", id = "NUM_OF_PRO" })*@
                                                   @*<input class="form-control" type="text">*@</td>
                                        <td>
                                            @Html.TextBoxFor(m => m.OrderViewModel.UNIT_PRICE, new { @class = "form-control small", id = "UNIT_PRICE" })
                                            @*<input class="form-control" type="text">*@
                                        </td>
                                        @*<td>
                                            @Html.TextBoxFor(m => m.OrderViewModel.Qty, new { @class = "form-control small" })
                                             <input class="form-control" type="text">
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.OrderViewModel.TAX_RATE_ID, new { @class = "form-control small" })
                                            @*<input class="form-control" type="text">
                                        </td>*@
                                        <td>
                                            @Html.TextBoxFor(m => m.OrderViewModel.TAX_RATE_ID, new { @class = "form-control small", id = "TAX_RATE_ID" })
                                            @*<input class="form-control" type="text">*@
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.OrderViewModel.OrderAmount, new { @class = "form-control small", id = "OrderAmount" })
                                         @*<input class="form-control" type="text">*@
                                        </td>
                                        @*<td>
                                            <div class="prdcts-action">
                                                <a href="" title=""><i class="fa fa-close"></i></a>
                                            </div>
                                        </td>*@
                                    </tr>
                                </tbody>
                            </table><br>

                            @*<div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
                                <div class="pull-right">
                                    <button onclick="AddNewOrder()" type="button" class="btn btn-dark">Add New</button>
                                </div>
                            </div>*@
                        </div>

                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mmctrl_box">
                                        <div class="mmcaption">Apply Discount Voucher</div><br>
                                        <div class="form-group">
                                            <label class="control-label col-md-4 col-sm-4 col-xs-12" for="">Voucher Code</label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="txtVoucher" name="" placeholder="Enter Voucher Code" required="" class="form-control">
                                            </div>
                                            <div class="col-md-2 col-sm-2 col-xs-12">
                                                <button type="button" onclick="Voucher();" class="btn btn-default btn-sm pull-left">Apply</button>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                </div>

                                @*<div class="col-md-6">
                                    <div class="mmctrl_box">
                                        <div class="mmcaption">Shipping Information </div><br>
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-3 col-xs-12" for=""></label>
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                <input type="text" id="" name="" placeholder="13245689" required class="form-control">
                                            </div>
                                        </div> 
                                        <br>
                                    </div>
                                </div>*@
                            </div>
                        </div>



                        <div class="mmctrl_box">
                            <div class="mmcaption">Additional Information </div><br><br>
                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">Demanded Date of Delivery</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <input type="text" id="" name="" placeholder="" required="" class="form-control">
                                </div>

                                <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">Gift Custom Message</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <input type="text" id="" name="" placeholder="" required="" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">Order Amount</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <input type="text" id="" name="" placeholder="" required="" class="form-control">
                                </div>

                                <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">User Name</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <input type="text" id="" name="" placeholder="" required="" class="form-control">
                                </div>
                            </div>
                            <br>
                        </div>
                        <br/>
                        <div class="col-md-12">
                            <div class="pull-right">
                               <input type="button" id="btnsubmit" value="Submit" class="btn btn-default"/>
                            </div>
                        </div>
                    }


                    <br/>
                    </div>

                        <div role="tabpanel" class="tab-pane" id="Marketplace">
                            <br>
                            <br>

                            <div class="col-md-12">
                                <div class="msgboxppup">
                                    <div class="msgboxppupicon">
                                        <i class="fa fa-info-circle fa-3x"></i>
                                    </div>
                                    <div class="msgboxppupcontent">
                                        <p>NOTE : This payment link will be sent to registered email address present at Billing address.</p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <br>
                                    <div class="col-md-12 mrgin_gap">
                                        @Html.HiddenFor(a => a.OrderViewModel.ORDER_ID, new { id = "ORDER_ID" })
                                        <a href="javascript:;" id="aSendPaymentLink" onclick="SendPaymentLink();"><button type="button" class="btn btn-dark pull-left">Send Payment link to Customer</button></a>
                                        @*<a href="#"><button type="button" class="btn btn-dark pull-left">Change Payment Type</button></a>*@

                                    </div>
                                </div><br>
                            </div>

                            @*<div class="mmctrl_box">
                                <div class="mmcaption">Make Payment</div><br><br>
                                <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">
                                    <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">Order Amount</label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input type="checkbox"> Authorized Orders<br>
                                            <input type="radio" name="op" value="1"> Credit Card <br>
                                            <input type="radio" name="op" value="2"> Cash on delivery <br>                                                    <input type="radio" name="op" value="3"> Cheque /DD <br>
                                            <input type="radio" name="op" value="4"> Wallet
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <hr>
                            <div class="clearfix"></div>
                            <div class="col-md-12">
                                <a href="ShippingProfile_Add_Edit2.html">
                                    <button type="button" class="btn btn-dark pull-right">Add New Shipping Code for Marketplace</button>
                                </a>
                                <a href="ShippingProfile_Add_Edit.html">
                                    <button type="button" class="btn btn-default pull-right">Add New Shipping Code</button>
                                </a>*@
                            </div><br><br><br>

                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- /page content -->
    <br>



    <div id="normalRegistration" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content dfltpad minscroll">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="$(this).parents('form').find('input').val(''); $(this).parents('form').find('img').remove(); $('[href=#tab_default_1]').click();">×</button>
                <h4 class="modal-title">Create User</h4>
            </div>

           @using (Html.BeginForm("CreateUser", "Order", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = "return validateForm();" }))
            {
            @*<form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left reg">*@
                <div class="modal-body dfltpad">
                    <p>
                        <fieldset>
                            <legend>User Details</legend>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Email <span class="red">*</span></label>
                                <div class="col-md-8 col-sm-9 col-xs-12">
                                    <input name="EMAIL" type="text" required class="form-control" id="EMAIL" placeholder="">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Password </label>
                                <div class="col-md-8 col-sm-9 col-xs-12">
                                    <input name="PASSWORD" type="text" required class="form-control" id="PASSWORD" placeholder="">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Register mail </label>
                                <div class="col-md-8 col-sm-9 col-xs-12">
                                    <input type="checkbox"> Select to send the registration email to end-user
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <legend>Contact Information</legend>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">First Name <span class="red">*</span></label>
                                <div class="col-md-8 col-sm-9 col-xs-12">
                                    <input name="FIRST_NAME" type="text" required class="form-control" id="FIRST_NAME" placeholder="">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Last Name <span class="red">*</span></label>
                                <div class="col-md-8 col-sm-9 col-xs-12">
                                    <input name="LAST_NAME" type="text" required class="form-control" id="LAST_NAME" placeholder="">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Address 1 <span class="red">*</span></label>
                                <div class="col-md-8 col-sm-9 col-xs-12">
                                    <textarea name="ADD1" class="resizable_textarea form-control"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Address 2 <span class="red">*</span></label>
                                <div class="col-md-8 col-sm-9 col-xs-12">
                                    <textarea name="ADD2" class="resizable_textarea form-control"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Country <span class="red">*</span></label>
                                <div class="col-md-8 col-sm-9 col-xs-12">
                                    @*<select class="select2_single form-control" tabindex="-1">
                                        <option selected="selected" value=""> -- Select -- </option>
                                    </select>*@
                                    <input name="COUNTRY" type="text" required class="form-control" id="COUNTRY" placeholder="">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">State <span class="red">*</span></label>
                                <div class="col-md-8 col-sm-9 col-xs-12">
                                    <input name="STATE" type="text" required class="form-control" id="STATE" placeholder="">
                                    @*<select class="select2_single form-control" tabindex="-1">
                                        <option selected="selected" value=""> -- Select -- </option>
                                    </select>*@
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">City <span class="red">*</span></label>
                                <div class="col-md-8 col-sm-9 col-xs-12">
                                    <input name="CITY" type="text" required class="form-control" id="CITY" placeholder="">
                                    @*<select class="select2_single form-control" tabindex="-1">
                                        <option selected="selected" value=""> -- Select -- </option>
                                    </select>*@
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Pin/Zip Code <span class="red">*</span></label>
                                <div class="col-md-8 col-sm-9 col-xs-12">
                                    <input name="PIN" type="text" required class="form-control" id="PIN" placeholder="">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Alternet Email Id</label>
                                <div class="col-md-8 col-sm-9 col-xs-12">
                                    <input name="ALT_EMAIL" type="text" required class="form-control" id="ALT_EMAIL" placeholder="">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Telephone</label>
                                <div class="col-md-8 col-sm-9 col-xs-12">
                                    <input name="ALT_MOB" type="text" required class="form-control" id="ALT_MOB" placeholder="">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Mobile <span class="red">*</span></label>
                                <div class="col-md-8 col-sm-9 col-xs-12">
                                    <input name="MOB_NO" type="text" required class="form-control" id="MOB_NO" placeholder="">
                                </div>
                            </div>
                        </fieldset>
                    </p>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            @*</form>*@
           }
        </div>
    </div>

</div>

<div class='loader-container hide'>
    <div class='loader'>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--text'></div>
    </div>
</div>
<link href="~/Content/loader.css" rel="stylesheet" />
<script src="~/Scripts/common.js"></script>

<style>
    .minscroll { max-height:420px; min-height:450px; overflow: scroll; overflow-x: hidden;}
</style>



<div id="normalSearchUser"  class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content" style="width:800px">
            <div class="mmcaption">
                        <button type="button" class="close" data-dismiss="modal" style="color:#fff" aria-hidden="true">×</button>
                        <h4 class="modal-title"> <i class="glyphicon glyphicon-search"></i> &nbsp; Customers Search    </h4>
            </div>

            <div class="modal-body dfltpad">
                <p>
                    @*@using (Ajax.BeginForm("GetUsersData", "User", new { roleID = 1 },
            new AjaxOptions
            {
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "partialView"
            }, new { id = "searchUsers" }))
                                {*@
                    <form id="searchUsers" data-parsley-validate class="form-horizontal form-label-left reg">
                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-3 col-xs-12">Date</label>
                            <div class="col-md-5 col-sm-3 col-xs-12">
                                <input id="txtFromDate" name="" placeholder="From Date" required="" class="form-control" type="text">
                            </div>

                            <div class="col-md-5 col-sm-3 col-xs-12">
                                <input id="txtToDate" name="" placeholder="To Date" required="" class="form-control" type="text">
                            </div>
                        </div>

                        @*<div class="form-group">
                            <label class="control-label col-md-2 col-sm-3 col-xs-12">Group</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="select2_single form-control" tabindex="-1">
                                    <option selected="selected" value="0">--Select User Group--</option>
                                    <option value="10">Gold</option>
                                    <option value="11">Silver</option>
                                    <option value="12">Platinum</option>
                                </select>
                            </div>
                        </div>*@

                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-3 col-xs-12">Search by</label>
                            <div class="col-md-5 col-sm-6 col-xs-12">
                                <select class="select2_single form-control" id="ddlSearch" tabindex="-1">
                                    <option selected="selected" value="">--Select Search--</option>
                                    <option value="FIRST_NAME">First Name</option>
                                    <option value="LAST_NAME">Last Name</option>
                                    <option value="EMAIL">Email</option>
                                    <option value="MOB_NO">Phone Number</option>
                                    <option value="deactivated">DeActivated Users</option>
                                </select>
                            </div>

                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <input id="" name="" placeholder="" required="" class="form-control search_init" type="text">
                            </div>
                        </div>

                    </form>
                    @*}*@
                </p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" onclick="UserSearch();" class="btn btn-default">Search</button>
            </div>

            @*Start*@
            <div class="mmctrl_box">
                @*<div class="mmcaption">
                    <i class="fa fa-user"></i> &nbsp; User Profile
                </div>*@

                <div id="partialView">

                    <div id="tblPro">
                        <table class="table table-striped responsive-utilities jambo_table bulk_action" id="tblUsers">
                            <thead>
                                <tr class="">
                                    <th class="column-title" style="display: table-cell;">Email </th>
                                    <th class="column-title" style="display: table-cell;">Group </th>
                                    <th class="column-title" style="display: table-cell;">Name</th>
                                    <th class="column-title" style="display: table-cell;">Mobile No</th>
                                    @*<th class="column-title" style="display: table-cell;">Creation Date</th>*@
                                    <th class="column-title no-link last"><span class="nobr">Actions</span></th>
                                    <th class="bulk-actions" colspan="8" style="display: none;"><a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt">1 Records Selected</span> ) <i class="fa fa-chevron-down"></i></a></th>
                                </tr>
                            </thead>

                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>

                    
                </div>
                

                


            </div>
            @*End*@




            <div id="divdata"></div>
        </div>
    </div>
    </div>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script>
        @if (Model.userAddressList != null && Model.userAddressList.Count() != 0)
        {
            var AddressList = @Html.Raw(JsonConvert.SerializeObject(Model.userAddressList));            
        }
    $(document).ready(function () {

        $('.addressclose').click(function(){
            $('.addressdiv').hide();
        });

        $('#txtFromDate').datepicker({
            onClose: function (selectedDate) {
                $("#txtToDate").datepicker("option", "minDate", selectedDate);
            }
        });
        $('#txtToDate').datepicker({
            onClose: function (selectedDate) {
                $("#txtFromDate").datepicker("option", "maxDate", selectedDate);
            }
        });
        $('#btnsubmit').click(function () {
            $('.loader-container').removeClass('hide');
            $('.loader-container').fadeOut(10000);
            var data = '<div class="alert alertnew alert-success fade in">'+
                '<a href="#" class="close" data-dismiss="alert">×</a>'+
                '<strong>Success!</strong>Order placed successfully.</div>';
            $('.title_content_top').append(data);
            $('.paymentlink').click();
            $('.alert').fadeOut(15000);
        });
        $('#OrderViewModel_CREATED_AT').datepicker();
        $('#ddlSearch').change(function () {
            $('.search_init').val('');
            $('.search_init').attr("id", $(this).val());
            $('.alert').fadeOut(10000);
        });

        $("#NUM_OF_PRO").bind('keyup mouseup', function () {
            if ($(this).val() != 0) {
                var proAmount = parseInt($('#UNIT_PRICE').val()) * parseInt($(this).val());
                $('#OrderAmount').val(proAmount)
            } else {
                $(this).val('1');
            }
        });

    });
    function UserSearch() {
        $('.loader-container').removeClass('hide');
        var FromDate = $('#searchUsers').find('#txtFromDate').val();
        var ToDate = $('#searchUsers').find('#txtToDate').val();
        var FIRST_NAME = $('#searchUsers').find('#FIRST_NAME').val();
        var LAST_NAME = $('#searchUsers').find('#LAST_NAME').val();
        var EMAIL = $('#searchUsers').find('#EMAIL').val();
        var MOB_NO = $('#searchUsers').find('#MOB_NO').val();
        var USER_TYPE = $('#searchUsers').find('#MOB_NO').val();
        var data = { FromDate: FromDate, ToDate: ToDate, FIRST_NAME: FIRST_NAME, LAST_NAME: LAST_NAME, EMAIL: EMAIL, MOB_NO: MOB_NO, USER_TYPE: USER_TYPE }
        $.ajax({
            url: URL + '/User/UserSearch',
            //url: '/User/UserSearch',
            type: "Get",
            dataType: "json",
            data: { FromDate: FromDate, ToDate: ToDate, FIRST_NAME: FIRST_NAME, LAST_NAME: LAST_NAME, EMAIL: EMAIL, MOB_NO: MOB_NO, USER_TYPE: USER_TYPE },
            success: function (data) {
                if (data.length == 0) {
                    //$('#divdata').html('<h3>No Users</h3>');
                    var message ='<div class="alert alertnew alert-info fade in">'+
           '<a href="#" class="close" data-dismiss="alert">×</a>'+
          ' <strong>Warning!</strong>  Customers Not Found</div>';
                    $('#divdata').append(message);
                    $('.alert').fadeOut(10000);


                } else {
                    BindDate(data);
                }
                $('.loader-container').addClass('hide');
            },
            error: function (xhr) {
                alert(xhr);
                $('.loader-container').addClass('hide');
            }
        });
    }
    function BindDate(dataObj)
    {
        var body = '';
        $.each(dataObj, function (key, item) {

            body += '<tr class="" id=' + item.USER_ID + '>'+
                                    '<td><a href="../Order/CreateOrder/' + item.USER_ID + '" >' + item.EMAIL + '</a></td>' +
                                    '<td>'+item.UserGroup+'</td>'+
                                    '<td>'+item.USER_NAME+'</td>'+
                                    '<td>'+item.MOB_NO+'</td>'+
                                    //'<td>'+item.CREATED_ON+'</td>'+
                                    '<td><div class="prdcts-action">'+
            '<a href="../Order/CreateOrder/'+ item.USER_ID +'" title=" view">Create Order <i class="glyphicon glyphicon-ok"></i></a>' +
        '</div></td>' +
'</tr>';
        });
        $('#tblUsers tbody').html(body);



    }

    function AddtoshippingAddress(id) {

           var  add = @Html.Raw(JsonConvert.SerializeObject(Model.userAddressList));
        var address = $.grep(add, function(v) {
            return v.ADDRESS_ID === id
        });
        $('#ShippinghAddress_ADDRESS_ID').val(address[0].ADDRESS_ID);
        $('#ShippinghAddress_FIRSTNAME').val(address[0].FIRSTNAME);
        $('#ShippinghAddress_LASTNAME').val(address[0].LAST_NAME);
        $('#ShippinghAddress_ADDRESS_1').val(address[0].ADDRESS_1);
        $('#ShippinghAddress_ADDRESS_2').val(address[0].ADDRESS_2);
        $('#ShippinghAddress_CITY').val(address[0].CITY);
        $('#ShippinghAddress_POSTCODE').val(address[0].POSTCODE);
        $('#ShippinghAddress_ALT_MOB').val(address[0].ALT_MOB);
        $('#ShippinghAddress_MOB_NO').val(address[0].MOB_NO);
        $('#ShippinghAddress_landmark').val(address[0].landmark);
    }

    function AddtoBillingAddress(id) {
        var  add = @Html.Raw(JsonConvert.SerializeObject(Model.userAddressList));

        var address = $.grep(add, function(v) {
            return v.ADDRESS_ID === id
        });
        $('#BillingAddress_ADDRESS_ID').val(address[0].ADDRESS_ID);
        $('#BillingAddress_FIRSTNAME').val(address[0].FIRSTNAME);
        $('#BillingAddress_LASTNAME').val(address[0].LAST_NAME);
        $('#BillingAddress_ADDRESS_1').val(address[0].ADDRESS_1);
        $('#BillingAddress_ADDRESS_2').val(address[0].ADDRESS_2);
        $('#BillingAddress_CITY').val(address[0].CITY);
        $('#BillingAddress_POSTCODE').val(address[0].POSTCODE);
        $('#BillingAddress_ALT_MOB').val(address[0].ALT_MOB);
        $('#BillingAddress_MOB_NO').val(address[0].MOB_NO);
        $('#BillingAddress_landmark').val(address[0].landmark);
    }
    function findProduct(){
        var sku = $('#txtSku').val();
        $.ajax({
            url: URL + '/Home/FindProduct',
            //url: '/Home/FindProduct',
            type: "Get",
            dataType: "json",
            data: {  sku: sku },
            success: function (data) {
                if (data.length == 0 || data == "Product does not exist in this sku" || data == "Please enter product sku" || data == "Out of stock") {
                    //$('#divdata').html('<h3>No Users</h3>');
                    var message ='<div class="alert alertnew alert-danger fade in">'+
           '<a href="#" class="close" data-dismiss="alert">×</a>'+
          ' <strong>Warning!</strong>  '+data+' </div>';
                    $('#divProduct').append(message);
                    $('.alert').fadeOut(10000);

                } else {
                    BindProductDate(data);
                }
                $('.loader-container').addClass('hide');
            },
            error: function (xhr) {
                alert(xhr);
                $('.loader-container').addClass('hide');
            }
        });

    }

    function SendPaymentLink() {
        $('.loader-container').removeClass('hide');
        var OrderId = 0;
        var UserId = $('#UserId').val();
        OrderId = parseInt($('#ORDER_ID').val());
        if ($('#ORDER_ID').val() == '') {
            OrderId = 130;
        }
        var orderDetails = { id: UserId, OrderId: OrderId };
        $.ajax({
            url: URL + '/Order/SendPaymentLink',
            //url: '/Order/SendPaymentLink',
            type: "Post",
            dataType: "json",
            data: { id: UserId, OrderId: OrderId },
            success: function (data) {
                var Message = '<div class="alert alertnew alert-success fade in"><a href="#" class="close" data-dismiss="alert">×</a>' +
            '<strong>Success!</strong>Payment link sent to user</div>';
                $('#aSendPaymentLink').parent('div').append(Message);
                $('.loader-container').addClass('hide');
            },
            error: function (xhr) {
                var Message = '<div class="alert alertnew alert-danger fade in"><a href="#" class="close" data-dismiss="alert">×</a>' +
     '<strong>! </strong>' + xhr + '</div>';
                $('#aSendPaymentLink').parent('div').append(Message);
                alert(xhr);
                $('.loader-container').addClass('hide');
            }
        });
        $('.alert').fadeOut(10000);
    }
    function BindProductDate(data){
        $('#PRODUCT_NAME').val(data.PRODUCT_CAPTION);
        $('#NUM_OF_PRO').val('1');
        $('#UNIT_PRICE').val(data.GIZMOBABA_PRICE);
        $('#TAX_RATE_ID').val('0');
        $('#OrderAmount').val(data.GIZMOBABA_PRICE);
    }


</script>