﻿@model IEnumerable<Gizmobaba.Models.OrderViewModel>

@{
    ViewBag.Title = "Delivered";
    Layout = "~/Views/Shared/_LayoutGizmobaba.cshtml";
}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="~/Scripts/orders.js"></script>
    <!-- page content -->
        <div class="page-title">
            <div class="title_left">
                <h3>Delivered Orders</h3><br>
            </div>
        </div>

        <div class="title_content_top">
            <p>Orders which are deliered to customers are listed here. This list is formed by manually moving the orders form ‘Dispatched’ to ‘Delivered’ after receiving delivery report from Shipping Service Provider. In case of ‘integrated logistic services,’ orders from ‘Dispatched’ list will be automatically moved here as and when its status is updated by respective logistics. The orders placed against your products at connected marketplaces can be found through ‘Marketplace Orders’ tab.</p>
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel_nogap">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#MyOrders" aria-controls="home" role="tab" data-toggle="tab">My Orders</a></li>
                        <li role="presentation"><a href="#MarketplaceOrders" aria-controls="profile" role="tab" data-toggle="tab">Marketplace Orders</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="MyOrders">
                            <div class="mrgin_gap20">
                                <div class="searchhs_holder_all">
                                    <div style="display:none;" id="searchslidehs-panel">
                                        <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">
                                            <br>
                                            <div class="form-group">
                                                <label class="control-label col-md-2 col-sm-3 col-xs-12">Period</label>
                                                <div class="col-md-3">
                                                    <select class="select2_single form-control" tabindex="-1">
                                                        <option selected="selected" value="custom">Custom</option>
                                                        <option value="thisweek">This week</option>
                                                        <option value="lastweek">Last Week</option>
                                                        <option value="thismonth">This Month</option>
                                                        <option value="lastmonth">Last Month</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">From Date</label>
                                                <div class="col-md-3 col-sm-3 col-xs-12">
                                                    <input id="" name="" placeholder="" required="" class="form-control" type="text">
                                                </div>

                                                <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">To Date</label>
                                                <div class="col-md-3 col-sm-3 col-xs-12">
                                                    <input id="" name="" placeholder="" required="" class="form-control" type="text">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-2" for="">Category</label>
                                                <div class="col-md-5">
                                                    <span class="prettyFile">
                                                        <input name="form[files][]" multiple="" type="file">
                                                        <div class="input-append">
                                                            <input class="input-large_brwse" type="text">
                                                            <a href="#" class="btn_brwse">Choose</a>
                                                        </div>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-2">Location</label>
                                                <div class="col-md-3">
                                                    <select class="select2_single form-control" tabindex="-1">
                                                        <option selected="selected" value="custom">Custom</option>
                                                        <option value="thisweek"></option>
                                                    </select><input type="checkbox"> Mart Jack Support

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-2">Courier</label>
                                                <div class="col-md-3">
                                                    <select class="select2_single form-control" tabindex="-1">
                                                        <option selected="selected" value="custom">All</option>
                                                        <option value="thisweek"></option>
                                                    </select>

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-2">Search by</label>
                                                <div class="col-md-3">
                                                    <select class="select2_single form-control" tabindex="-1">
                                                        <option selected="selected" value="custom">Custom</option>
                                                        <option value="Order No">Order No</option>
                                                        <option selected="selected" value="SKU">SKU</option>
                                                        <option value="Awb No">Awb No</option>
                                                        <option value="Email Id">Email Id</option>
                                                        <option value="Phone No">Phone No</option>
                                                        <option value="Coupon Code">Coupon Code</option>
                                                        <option value="Checkout Type">Checkout Type</option>
                                                        <option value="Shipment ID">Shipment ID</option>
                                                        <option value="Issue Type">Issue Type</option>
                                                        <option value="Order Source">Order Source</option>
                                                    </select>
                                                </div>
                                                <div class="plusiconforadd"><a class="search-plus-btnsm"><i class="fa fa-plus"></i></a></div>
                                            </div>

                                            <div class="form-group" style="display:none" id="search-plus-btnsmhs">
                                                <label class="control-label col-md-2">Search by</label>
                                                <div class="col-md-3">
                                                    <select class="select2_single form-control" tabindex="-1">
                                                        <option selected="selected" value="custom">Custom</option>
                                                        <option value="Order No">Order No</option>
                                                        <option selected="selected" value="SKU">SKU</option>
                                                        <option value="Awb No">Awb No</option>
                                                        <option value="Email Id">Email Id</option>
                                                        <option value="Phone No">Phone No</option>
                                                        <option value="Coupon Code">Coupon Code</option>
                                                        <option value="Checkout Type">Checkout Type</option>
                                                        <option value="Shipment ID">Shipment ID</option>
                                                        <option value="Issue Type">Issue Type</option>
                                                        <option value="Order Source">Order Source</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-6">
                                                    <input id="" name="" placeholder="" required="" class="form-control" type="text">
                                                </div>
                                                <div class="plusiconforadd"><a href=""><i class="fa fa-plus"></i></a></div>
                                            </div>
                                        </form>

                                        <div class="clearfix"></div><br><br>

                                        <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
                                            <a href="#"><button type="button" class="btn btn-default pull-right">Go</button></a>
                                        </div>
                                    </div>

                                    <div class="sreachbtnhs-slide">
                                        <a href="#" class="sreachbtnhs_btn-slide">Search Here</a>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="MarketplaceOrders">
                            <div class="mrgin_gap20">
                                <div class="searchhs_holder_all">
                                    <div style="display:none;" id="searchslidehs-panel2">
                                        <form id="demo-form2" class="form-horizontal form-label-left">
                                            <br>
                                            <div class="form-group">
                                                <label class="control-label col-md-2" for="">Marketplace</label>
                                                <div class="col-md-3">
                                                    <select class="select2_single form-control" tabindex="-1">
                                                        <option selected="selected" value="">Select Store</option>
                                                        <option selected="selected" value="">LeavelUp 5</option>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label col-md-2" for="">Category</label>
                                                    <div class="col-md-3">
                                                        <span class="prettyFile">
                                                            @Html.DropDownList("CATEGORY_ID", (SelectList)ViewBag.Category, new { @class = "select2_single form-control", id = "CATEGORY_ID", tabindex = "-1", onChange = "FillSubCategory()" })
                                                        </span>
                                                        <span class="prettyFile">
                                                            @Html.DropDownList("SUB_CAT_ID",
                                                    new SelectList(Enumerable.Empty<SelectListItem>(), "SUB_CAT_ID", "SUB_CAT_DESC"),
                                                    "Select Sub Category", new { @class = "select2_single form-control", tabindex = "-1", id = "SUB_CAT_ID", disabled = "disabled" })
                                                        </span>
                                                        <div class="col-md-3">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-2 col-sm-3 col-xs-12">Period</label>
                                                <div class="col-md-3 col-sm-6 col-xs-12">
                                                    <select class="select2_single form-control" tabindex="-1">
                                                        <option selected="selected" value="custom">Custom</option>
                                                        <option value="thisweek">This week</option>
                                                        <option value="lastweek">Last Week</option>
                                                        <option value="thismonth">This Month</option>
                                                        <option value="lastmonth">Last Month</option>
                                                    </select>
                                                </div>

                                                <label class="control-label col-md-1" for="">From</label>
                                                <div class="col-md-2">
                                                    <input id="" name="" placeholder="19-Oct-2015" required="" class="form-control" type="text">
                                                </div>

                                                <label class="control-label col-md-1" for="">To</label>
                                                <div class="col-md-2">
                                                    <input id="" name="" placeholder="19-Jan-2016" required="" class="form-control" type="text">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-2">Location</label>
                                                <div class="col-md-2">
                                                    <select class="select2_single form-control" tabindex="-1">
                                                        <option selected="selected" value="custom">Custom</option>
                                                        <option value="thisweek"></option>
                                                    </select><input type="checkbox"> Mart Jack Support

                                                </div>
                                            </div>

                                            @*<div class="form-group">
                                                <label class="control-label col-md-2">Search by</label>
                                                <div class="col-md-3">
                                                    <select class="select2_single form-control" tabindex="-1">
                                                        <option selected="selected" value="custom">Custom</option>
                                                        <option value="Order No">Order No</option>
                                                        <option selected="selected" value="SKU">SKU</option>
                                                        <option value="Awb No">Awb No</option>
                                                        <option value="Email Id">Email Id</option>
                                                        <option value="Phone No">Phone No</option>
                                                        <option value="Coupon Code">Coupon Code</option>
                                                        <option value="Checkout Type">Checkout Type</option>
                                                        <option value="Shipment ID">Shipment ID</option>
                                                        <option value="Issue Type">Issue Type</option>
                                                        <option value="Order Source">Order Source</option>
                                                    </select>
                                                </div>
                                                <div class="plusiconforadd"><a class="search-plus-btnsm"><i class="fa fa-plus"></i></a></div>
                                            </div>*@
                                            <div class="form-group" id="search-plus-btnsmhs">
                                                <label class="control-label col-md-2">Search by</label>
                                                <div class="col-md-3">
                                                    <select id="ddlSerch" class="select2_single form-control" tabindex="-1" onchange="serchBy();">
                                                        <option selected="selected" value="custom">Custom</option>
                                                        <option value="Order_No">Order No</option>
                                                        <option selected="selected" value="SKU">SKU</option>
                                                        <option value="Awb_No">Awb No</option>
                                                        <option value="Email_Id">Email Id</option>
                                                        <option value="Phone_No">Phone No</option>
                                                        <option value="Coupon_Code">Coupon Code</option>
                                                        <option value="Checkout_Type">Checkout Type</option>
                                                        <option value="Shipment_ID">Shipment ID</option>
                                                        <option value="Issue_Type">Issue Type</option>
                                                        <option value="Order_Source">Order Source</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-6" id="searchBy">
                                                    <input id="" name="" placeholder="" required="" class="form-control" type="text">
                                                </div>
                                                @*<div class="plusiconforadd"><a href=""><i class="fa fa-plus"></i></a></div>*@
                                            </div>
                                        </form>

                                        <div class="clearfix"></div><br><br>

                                        <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
                                            <a href="#"><button type="button" class="btn btn-default pull-right">Go</button></a>
                                        </div>
                                    </div>

                                    <div class="sreachbtnhs-slide">
                                        <a href="#" class="sreachbtnhs_btn-slide">Search Here</a>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
                <br>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="MyOrders">
                        <div class="mmctrl_box">
                            @*<div class="mmcaption">Available Orders 

                             <div class="bulaprove_btn"><a href="#">Bulk Approve</a></div></div>*@
                            <div class="mmcaption_new">
                                <h1>Available Orders</h1>
                                <h2>
                                    <div class="col-md-12">
                                        <select id="ddlSentTo" class="form-control" tabindex="-1">
                                            <option selected="selected" value="0"> -- Select -- </option>
                                            <option value="Sent to FC">Waiting for Pickup</option>
                                            <option value="Sent to Inhouse">In Transit</option>
                                            <option value="Sent to Inhouse">Delivered</option>
                                            <option value="Sent to Inhouse">RTO/Returns</option>
                                            <option value="Sent to Inhouse">All</option>
                                           
                                        </select>
                                    </div>
                                </h2>
                                <div class="bulaprove_btn"><a href="javascript:;" id="btnApprove">Bulk Approve</a></div>
                            </div>
                            <table id="tblPro" class="table table-striped" style="margin-bottom:6px; border-bottom:1px solid #DDD;">
                                <thead>
                                    <tr>
                                        @*<th><input type="checkbox"></th>*@
                                        <th>Age</th>
                                        <th>Order ID</th>
                                        <th>Order Date</th>
                                        <th>Order By</th>
                                        <th>Qty</th>
                                        <th>Order Vaule</th>
                                        <th>Customer Name</th>
                                        <th>Authorize</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @*<tr>
                                <td><input type="checkbox"> </td>
                                <td>0 days</td>
                                <td><a href="OL_Exc_Paymentpending_orderdetails.html">3345698</a></td>
                                <td>05-Jan-2016<br>08:02:22 PM</td>
                                <td>Online Payment</td>
                                <td>2</td>
                                <td>168</td>
                                <td><a href="OL_Exc_Paymentpending_orderdetails.html">Saurbha joshi</a></td>
                                <td><a href="OL_Exc_Paymentpending_orderdetails.html">Authorize</a></td>
                                <td><a href="OL_Exc_Paymentpending_orderdetails.html">Cancel</a></td>
                            </tr>*@

                                    @foreach (var item in Model)
                                    {
                                        <tr id="@item.ORDER_ID">
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Age)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ORDER_ID)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CREATED_AT)
                                            </td>
                                            <td>
                                                @if (item.CREATED_BY == "4")
                                                {
                                                    <div>Dealer</div>
                                                }
                                                else
                                                {
                                                    <div>Customer</div>
                                                }
                                                @*@Html.DisplayFor(modelItem => item.PAYMENT_TYPE)*@
                                            </td>

                                           
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Qty)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.UNIT_PRICE)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.UserName)
                                            </td>
                                            @*<td><a href="OL_Exc_Paymentpending_orderdetails.html">Saurbha joshi</a></td>*@
                                            <td>@Html.ActionLink("Authorize", "OrderDetails", new { id = item.ORDER_ID })</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                            @if (Model != null && Model.Count() == 0)
                            {
                                <div class="alert alertnew alert-info fade in">
                                    <a href="#" class="close" data-dismiss="alert">×</a>
                                    <strong>Warning!</strong> Authorize COD Orders Not Found
                                </div>
                            }
                            <br>

                            @*<div class="dataTables_length" id="example_length">
                        <label>
                            &nbsp; Records per page
                            <select aria-controls="example" size="1" style="width: 56px;padding: 6px;" name="example_length">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </label>

                        <label> Go to <input type="text" class="gototxt_no" maxlength="4" aria-controls="example"></label>
                    </div>*@

                            @*<div id="example_paginate" class="dataTables_paginate paging_full_numbers">
                        <a id="example_first" tabindex="0" class="first paginate_button paginate_button_disabled">First</a>
                        <a id="example_previous" tabindex="0" class="previous paginate_button paginate_button_disabled">Previous</a>
                        <span>
                            <a tabindex="0" class="paginate_active">1</a>
                            <a tabindex="0" class="paginate_button">2</a>
                            <a tabindex="0" class="paginate_button">3</a>
                            <a tabindex="0" class="paginate_button">4</a>
                        </span>
                        <a id="example_next" tabindex="0" class="next paginate_button">Next</a>
                        <a id="example_last" tabindex="0" class="last paginate_button">Last</a>
                    </div>*@
                            <div class="clearfix"></div>
                            <br>
                        </div>

                        <hr>
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <button type="button" id="btnAuthorizeExport" class="btn btn-dark pull-right">Export to Excel</button>
                        </div><br><br><br>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="MarketplaceOrders">
                        <div class="mmctrl_box">
                            <div class="mmcaption">Available Shipping Codes Result</div><br>
                            <br>

                            <div class="alert alert-danger" role="alert">There are no 'Payment Pending Orders' found.</div><br>

                        </div>

                        <hr>
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <a href="ShippingProfile_Add_Edit2.html">
                                <button type="button" class="btn btn-dark pull-right">Add New Shipping Code for Marketplace</button>
                            </a>
                            <a href="ShippingProfile_Add_Edit.html">
                                <button type="button" class="btn btn-default pull-right">Add New Shipping Code</button>
                            </a>
                        </div><br><br><br>
                    </div>
                </div>



                <div class="mmctrl_box mrgin_gap0">
                    <div class="mmcaption">Bulk upload to Deliver Orders</div><br><br>
                    <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">
                        <div class="form-group">
                            <label class="control-label col-md-2" for="">Select File</label>
                            <div class="col-md-5">
                                <span class="prettyFile">
                                    <input name="form[files][]" multiple="" type="file">
                                    <div class="input-append">
                                        <input class="input-large_brwse" type="text">
                                        <a href="#" class="btn_brwse">Choose</a>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </form>
                    <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg0">
                        <div class="pull-right">
                            <a href="#"><button type="button" class="btn btn-dark">Upload</button></a>
                            <a href="#"><button type="button" class="btn btn-default">Download Format</button></a>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <!-- /page content -->
        <br>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="~/Scripts/paging.js"></script>
<link href="~/Content/paging.css" rel="stylesheet" />
@section Gizmobabascripts
{

    <script src="~/GizmobabaFiles/js/nicescroll/jquery.nicescroll.min.js"></script>
    <!-- icheck -->
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
        NProgress.done();
        $(document).ready(function () {
            $('#tblPro').paging({ limit: 10 });
            $('.paging_full_numbers').find("[data-page='0']").attr('class', "selected-page");
            $('#fromDate, #toDate').datepicker();
        });
    </script>
}

