﻿@model IEnumerable<Gizmobaba.Models.OrderViewModel>
@using Newtonsoft.Json
@{
    ViewBag.Title = "GetPaymentPendingOrders";
    Layout = "~/Views/Shared/_LayoutGizmobaba.cshtml";
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="~/Scripts/paging.js"></script>
<script src="~/Scripts/orders.js"></script>
<script src="http://www.jqueryscript.net/demo/Export-Html-Table-To-Excel-Spreadsheet-using-jQuery-table2excel/src/jquery.table2excel.js"></script>

<script type="text/javascript">
    var model = @Html.Raw(JsonConvert.SerializeObject(Model.OrderByDescending(a => a.ORDER_ID)));
    //var URL = '@System.Configuration.ConfigurationManager.AppSettings["baseUrl"]';
    $(document).ready(function() {
        $('#tblPro').paging({ limit: 20 });
        $('.paging_full_numbers').find("[data-page='0']").attr('class', "selected-page");
        $("#ddlPaging").change(function() {
            var recCount = parseInt($('#ddlPaging').val());

            var prods = model.sort(
                function(a, b) {
                    return parseInt(a.ORDER_ID) < parseInt(b.ORDER_ID);
                }
            );
            Bindpaging(prods, recCount);
        });
        $("#pagingVal").keyup(function() {
            var pagingVal = parseInt($("#pagingVal").val());
            if (pagingVal > 0) {
                Bindpaging(data, pagingVal);
            }
        });
        $('#btnExportPending').click(function () {
            var tbl = $('#tblPro').clone();
            tbl.find('tr td:last-child, tr th:last-child').remove();
            tbl.find('tr td:last-child, tr th:last-child').remove();
            $(tbl).table2excel({
                exclude: ".noExl",
                name: "Excel Document Name"
            });
        });
    });

    // Bind data by Paging Count
    function Bindpaging(data, i) {
        var body = '';
        var x = 0;
        var item = data;
        for (var z = 1; z <= item.length; z++) {
            if (x >= i) {

            } else {
                body += "<tr id='" + item[x].ORDER_ID + "' style='display: ;'>";
                body += "<td>" + item[x].Age + "</td>";
                body += "<td><a>" + item[x].ORDER_ID + "</a></td>";
                body += "<td>" + item[x].CREATED_AT + "</td>";
                body += "<td>" + item[x].UNIT_PRICE + "</td>";
                body += "<td>" + item[x].Qty + "</td>";
                body += "<td>" + item[x].ORDER_ID + "</td>";
                body += "<td><a>" + item[x].UserName + "</a></td>";
                body += "<td><a href='javascript:;' >Authorize</a></td>";
                body += "<td><a href='javascript:;' onclick='cancelOrder(" + item[x].ORDER_ID + ");'>Cancel</a></td>";
                body += "</tr>";
            }
            x++;
        }
        var tbl = body;
        $('#tblPro tbody').html(tbl);
        $('#paging').val(i);
        $('#tblPro').paging({ limit: i });
    }

    function cancelOrder(id) {
        var status = confirm("Are you sure you want to cancel?");   
        if(status)
        {
        $.ajax({
            url: URL + '/Order/CancelOrder/' + id,
            //url: 'Admin/Home/DeactivateProductList/',
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            async: false,
            dataType: "json",
            success: function(data) {
                model = model.filter(function(obj) {
                    return obj.ORDER_ID != id;
                });
                var recCount = $('#ddlPaging').val();
                Bindpaging(model, recCount);
            },
            error: function(xhr) {
                alert(xhr);
            }
        });
}
    }
</script>



<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Payment Pending Orders</h3><br>
        </div>
    </div>

    <div class="title_content_top">
        <p>Payment Pending Orders are the orders for which the payment has not been received. The orders placed through 'Cheque/DD/ Bank transfer/ some cases of unsuccessful Credit Card or Debit Card or Net Banking transactions' are automatically listed here and need to be authorized after payment confirmation from bank. You can sort out these orders through multiple search criteria that are provided here. The orders placed against your products at connected marketplaces can be found through ‘Marketplace Orders’ tab.</p>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel_nogap">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#MyOrders" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">My Orders</a></li>
                    <li role="presentation"><a href="#MarketplaceOrders" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">Marketplace Orders</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="MyOrders">
                        <div class="mrgin_gap20">
                            <div class="searchhs_holder_all">
                                <div style="display: none;" id="searchslidehs-panel">
                                    @using (Ajax.BeginForm("SearchPaymentPendingOrder", "Order", new { },
                                        new AjaxOptions
                                        {
                                            HttpMethod = "POST",
                                            InsertionMode = InsertionMode.Replace,
                                            UpdateTargetId = "partialView"
                                        }, new { id = "getOrderDate" }))
                                    {
                                        @*<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">*@
                                            <br>
                                            @*<div class="form-group">
                                        <label class="control-label col-md-2 col-sm-3 col-xs-12">Period</label>
                                        <div class="col-md-3">
                                            <select class="select2_single form-control" tabindex="-1" id="ddlPaging">
                                                <option selected="selected" value="custom">Custom</option>
                                                <option value="thisweek">This week</option>
                                                <option value="lastweek">Last Week</option>
                                                <option value="thismonth">This Month</option>
                                                <option value="lastmonth">Last Month</option>
                                            </select>
                                        </div>
                                    </div>*@

                                            <div class="form-group">
                                                @*<input type="hidden" value="2" name="OrderType" />*@
                                                <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">From Date</label>
                                                <div class="col-md-3 col-sm-3 col-xs-12">
                                                    <input id="txtFromDate" name="From_Date" placeholder="" required="" class="form-control" type="text">
                                                </div>

                                                <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">To Date</label>
                                                <div class="col-md-3 col-sm-3 col-xs-12">
                                                    <input id="txtToDate" name="To_Date" placeholder="" required="" class="form-control" type="text">
                                                </div>
                                            </div>

                                            @*<div class="form-group">
                                        <label class="control-label col-md-2" for="">Category</label>
                                        <div class="col-md-3">
                                            <span class="prettyFile">
                                                @Html.DropDownList("CATEGORY_ID", (SelectList)ViewBag.Category, new { @class = "select2_single form-control", id = "CATEGORY_ID", tabindex = "-1", onChange = "FillSubCategory()" })
                                            </span>
                                            <span class="prettyFile">
                                                @Html.DropDownList("SUB_CAT_ID",
                                                new SelectList(Enumerable.Empty<SelectListItem>(), "SUB_CAT_ID", "SUB_CAT_DESC"),
                                                "Select Sub Category", new { @class = "select2_single form-control", tabindex = "-1", id = "SUB_CAT_ID", disabled = "disabled" })
                                            </span>
                                            <div class="col-md-3">

                                            </div>
                                        </div>
                                    </div>*@


                                            <div class="form-group">
                                                <label class="control-label col-md-2">Category</label>
                                                <div class="col-md-3">
                                                    @Html.DropDownList("CATEGORY_ID", (SelectList)ViewBag.Category, "Select Category", new { @class = "select2_single form-control", id = "CATEGORY_ID", tabindex = "-1", onChange = "FillSubCategory()" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-2">Sub Category</label>
                                                <div class="col-md-3">
                                                    @Html.DropDownList("SUB_CAT_ID",
                                                    new SelectList(Enumerable.Empty<SelectListItem>(), "SUB_CAT_ID", "SUB_CAT_DESC"),
                                                    "Select Sub Category", new { @class = "select2_single form-control", tabindex = "-1", id = "SUB_CAT_ID", disabled = "disabled" })
                                                </div>
                                            </div>




                                            @*<div class="form-group">
                                        <label class="control-label col-md-2">Location</label>
                                        <div class="col-md-3">
                                            <select class="select2_single form-control" tabindex="-1">
                                                <option selected="selected" value="custom">Custom</option>
                                                <option value="thisweek"></option>
                                            </select>
                                        </div>
                                    </div>*@


                                            <div class="form-group" id="search-plus-btnsmhs">
                                                <label class="control-label col-md-2">Search by</label>
                                                <div class="col-md-3">
                                                    <select id="ddlSerch" class="select2_single form-control" tabindex="-1" onchange="serchBy();">
                                                        <option selected="selected" value="custom">Custom</option>
                                                        <option value="Order_No">Order No</option>
                                                        <option selected="selected" value="SKU">SKU</option>
                                                        @*<option value="Awb_No">Awb No</option>*@
                                                        <option value="Email_Id">Email Id</option>
                                                        <option value="Phone_No">Phone No</option>
                                                        @*<option value="Coupon_Code">Coupon Code</option>*@
                                                        <option value="Checkout_Type">Checkout Type</option>
                                                        <option value="Shipment_ID">Shipment ID</option>
                                                        @*<option value="Issue_Type">Issue Type</option>*@
                                                        <option value="Order_By">Order By</option>
                                                    </select>
                                                </div>
                                                @*<div class="col-md-6" id="searchBy">*@
                                                @*<input id="" name="" placeholder="" required="" class="form-control" type="text">*@
                                                <div class="col-md-3">
                                                    <input id="txtSearch" name="" placeholder="" required="" class="form-control" type="text">
                                                    <select id="ddlSentTo" name="Created_By" class="form-control" tabindex="-1">
                                                        <option selected="selected" value="0"> -- Select -- </option>
                                                        <option value="6">Customer</option>
                                                        <option value="4">Dealer</option>

                                                    </select>
                                                </div>
                                                @*<div class="plusiconforadd"><a href=""><i class="fa fa-plus"></i></a></div>*@
                                            </div>
                                            <script>
                                                function SearchOrder() {
                                                    $('#getOrderDate').submit();
                                                }

                                            </script>
                                        @*</form>*@

                                        <div class="clearfix"></div><br><br>

                                        <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
                                            <<button type="button" class="btn btn-default pull-right" onclick="SearchOrder();">Go</button>
                                        </div>
                                    }
                                </div>

                                <div class="sreachbtnhs-slide">
                                    <a href="#" class="sreachbtnhs_btn-slide">Search Here</a>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div><br>

                        @*<div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
                    <div class="pull-right">
                        <a href="#"><button type="button" class="btn btn-default">Pickup</button></a>
                    </div>
                </div>*@
                    </div>

                    <div role="tabpanel" class="tab-pane" id="MarketplaceOrders">
                        <div class="mrgin_gap20">
                            <div class="searchhs_holder_all">
                                <div id="searchslidehs-panel2">
                                    @using (Ajax.BeginForm("SearchOrder", "Order", new { },
        new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "partialView"
        }, new { id = "getOrderDate" }))
                                    {
                                        @*<form id="demo-form2" class="form-horizontal form-label-left">*@
                                        <br>
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-3 col-xs-12">Period</label>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <select class="select2_single form-control" tabindex="-1" id="ddlMarketPeriod">
                                                    <option selected="selected" value="custom">Custom</option>
                                                    <option value="thisweek">This week</option>
                                                    <option value="lastweek">Last Week</option>
                                                    <option value="thismonth">This Month</option>
                                                    <option value="lastmonth">Last Month</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">From Date</label>
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                <input id="marketfromDate" name="" placeholder="" required="" class="form-control" type="text">
                                            </div>

                                            <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">To Date</label>
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                <input id="markettoDate" name="" placeholder="" required="" class="form-control" type="text">
                                            </div>
                                        </div>

                                        @*<div class="form-group">
                                    <label class="control-label col-md-2" for="">Courier</label>
                                    <div class="col-md-3">
                                        <select class="select2_single form-control" tabindex="-1">
                                            <option selected="selected" value="custom">Select</option>
                                        </select>
                                    </div>

                                    <label class="control-label col-md-2" for="">Category</label>
                                    <div class="col-md-5">
                                        <span class="prettyFile">
                                            <input name="form[files][]" multiple type="file">
                                            <div class="input-append">
                                                <input class="input-large_brwse" type="text">
                                                <a href="#" class="btn_brwse">Choose</a>
                                            </div>
                                        </span>
                                    </div>
                                </div>*@

                                        <div class="form-group">
                                            <label class="control-label col-md-2">Location</label>
                                            <div class="col-md-3">
                                                <select class="select2_single form-control" tabindex="-1">
                                                    <option selected="selected" value="custom">Custom</option>
                                                    <option value="thisweek"></option>
                                                </select>
                                                @*<input type="checkbox"> Mart Jack Support*@

                                            </div>
                                        </div>

                                        @*<div class="form-group">
                                    <label class="control-label col-md-2">Search by</label>
                                    <div class="col-md-3">
                                        <select class="select2_single form-control" tabindex="-1">
                                            <option selected="selected" value="custom">Custom</option>
                                            <option value="Order No">Order No</option>
                                            <option selected="selected" value="SKU">SKU</option>
                                            <option value="Awb No">Awb No</option>
                                            <option value="Email Id">Email Id</option>
                                            <option value="Phone No">Phone No</option>
                                            <option value="Coupon Code">Coupon Code</option>
                                            <option value="Checkout Type">Checkout Type</option>
                                            <option value="Shipment ID">Shipment ID</option>
                                            <option value="Issue Type">Issue Type</option>
                                            <option value="Order Source">Order Source</option>
                                        </select>
                                    </div>
                                    <div class="plusiconforadd"><a class="search-plus-btnsm"><i class="fa fa-plus"></i></a></div>
                                </div>*@

                                        <div class="form-group" id="search-plus-btnsmhs">
                                            <label class="control-label col-md-2">Search by</label>
                                            <div class="col-md-3">
                                                <select id="moddlSerch" class="select2_single form-control" tabindex="-1" onchange="serchBy();">
                                                    <option selected="selected" value="custom">Custom</option>
                                                    <option value="Order_No">Order No</option>
                                                    <option selected="selected" value="SKU">SKU</option>
                                                    @*<option value="Awb_No">Awb No</option>*@
                                                    <option value="Email_Id">Email Id</option>
                                                    <option value="Phone_No">Phone No</option>
                                                    @*<option value="Coupon_Code">Coupon Code</option>*@
                                                    <option value="Checkout_Type">Checkout Type</option>
                                                    <option value="Shipment_ID">Shipment ID</option>
                                                    @*<option value="Issue_Type">Issue Type</option>*@
                                                    <option value="Order_By">Order By</option>
                                                </select>
                                            </div>
                                            @*<div class="col-md-6">
                                        <input id="" name="" placeholder="" required="" class="form-control" type="text">
                                    </div>*@
                                            @*<div class="plusiconforadd"><a href=""><i class="fa fa-plus"></i></a></div>*@
                                            <div class="col-md-2">
                                                <select id="moddlSentTo" class="form-control" tabindex="-1">
                                                    <option selected="selected" value="0"> -- Select -- </option>
                                                    <option value="Customer">Customer</option>
                                                    <option value="Dealer">Dealer</option>

                                                </select>
                                            </div>
                                        </div>
                                        @*</form>*@

                                        <div class="clearfix"></div><br><br>
                                        <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
                                           <button type="submit" class="btn btn-default pull-right" onclick="SearchOrder()">Go</button>
                                        </div>
                                        <script>
                                            function SearchOrder() {
                                                $('#getOrderDate').submit();
                                            }

                                        </script>
                                    }
                                </div>

                                <div class="sreachbtnhs-slide">
                                    <a href="#" class="sreachbtnhs_btn-slide">Search Here</a>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div><br>

                    </div>
                </div>



            </div>

            <div class="clearfix"></div>
            <br>
            <div class="tab-content">
                <div id="divdata"></div>

            </div>

        </div>
    </div>




    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel_nogap">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#MyOrders" aria-controls="home" role="tab" data-toggle="tab">My Orders</a></li>
                    @*<li role="presentation"><a href="#MarketplaceOrders" aria-controls="profile" role="tab" data-toggle="tab">Marketplace Orders</a></li>*@
                </ul>

                <!-- Tab panes -->

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="MyOrders">
                        <div class="mmctrl_box">
                            <div class="mmcaption">Available Orders</div>
                            <div id="partialView">
                                @{
                                    Html.RenderPartial("~/Views/Shared/orderPaymentPendingPartial.cshtml", Model);
                                }
                            <br />
                            <br />
                            </div><br>

                            @*<div class="dataTables_length" id="example_length">
                                <label>
                                    &nbsp; Records per page
                                    @using (Ajax.BeginForm("GetOrders", "Order", new { orderStatus = 2 },
            new AjaxOptions
            {
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "partialView"
            }, new { id = "getUserDate" }))
                                    {
       whatever <select aria-controls="example" size="1" style="width: 56px;padding: 6px;" onchange="FillUser();" name="count">
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>

                                        @*<script>
                                            function FillUser()
                                            {
                                                $('#getUserDate').submit();
                                            }
                                            function SearchUser() {
                                                $('#searchUsers').submit();
                                            }

                                        </script>
                                    }


                                </label>

                                <label> Go to <input type="text" class="gototxt_no" maxlength="4" id="pagingVal" aria-controls="example"></label>
                            </div>*@
                            <div class="clearfix"></div>
                            <br>
                        </div>

                        <hr>
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <button type="button" id="btnExportPending" class="btn btn-dark pull-right">Export to Excel</button>
                        </div><br><br><br>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="MarketplaceOrders">
                        <div class="mmctrl_box">
                            <div class="mmcaption">Available Shipping Codes Result</div><br>
                            <br>
                            <div class="alert alert-danger" role="alert">There are no 'Payment Pending Orders' found.</div><br>

                        </div>

                        <hr>
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <a href="ShippingProfile_Add_Edit2.html">
                                <button type="button" class="btn btn-dark pull-right">Add New Shipping Code for Marketplace</button>
                            </a>
                            <a href="ShippingProfile_Add_Edit.html">
                                <button type="button" class="btn btn-default pull-right">Add New Shipping Code</button>
                            </a>
                        </div><br><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <br />
    @*<div class="mmctrl_box mrgin_gap0">
        <div class="mmcaption">Bulk upload to Dispatch Orders</div><br><br>
        <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">
            <div class="form-group">
                <label class="control-label col-md-2" for="">Select File</label>
                <div class="col-md-5">
                    <span class="prettyFile">
                        <input name="form[files][]" multiple="" type="file">
                        <div class="input-append">
                            <input class="input-large_brwse" type="text">
                            <a href="#" class="btn_brwse">Choose</a>
                        </div>
                    </span>
                </div>
            </div>
        </form>
        <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg0">
            <div class="pull-right">
                <button type="button" class="btn btn-dark">Upload</button>
                <button type="button" class="btn btn-default">Download Format</button>
            </div>
        </div>
        <br>
    </div>*@

</div>

<link href="~/Content/paging.css" rel="stylesheet" />
<script src="~/Scripts/common.js"></script>
<div class='loader-container hide'>
    <div class='loader'>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--text'></div>
    </div>
</div>
<link href="~/Content/loader.css" rel="stylesheet" />

@section Gizmobabascripts
{
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/GizmobabaFiles/js/nicescroll/jquery.nicescroll.min.js"></script>
    <!-- icheck -->
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
        NProgress.done();
        $(document).ready(function () {
            $('#txtFromDate').datepicker({
                onClose: function (selectedDate) {
                    $("#txtToDate").datepicker("option", "minDate", selectedDate);
                }
            });
            $('#txtToDate').datepicker({
                onClose: function (selectedDate) {
                    $("#txtFromDate").datepicker("option", "maxDate", selectedDate);
                }
            });


            $("#ddlSentTo").hide();
            $("#txtSearch").show();
            $("#txtSearch").attr("name", $("#ddlSerch option:selected").val());
            $("#txtSearch").attr("placeholder", $("#ddlSerch option:selected").val());
            $("#moddlSentTo").prop("disabled", true);
            $('#ddlSerch').change(function () {
                var SelectedDD = $("#ddlSerch option:selected").val();
                if (SelectedDD == 'Order_By') {
                    $("#ddlSentTo").show();
                    $("#txtSearch").hide();
                }
                else {
                    $("#ddlSentTo").hide();
                    $("#txtSearch").show();
                    $("#txtSearch").attr("name", SelectedDD);
                    $("#txtSearch").attr("placeholder", SelectedDD);
                }
                $('#txtSearch').val();
            });
            $('#moddlSerch').change(function () {
                var SelectedDD = $("#ddlSerch option:selected").val();
                if (SelectedDD == 'Order_By') {
                    $("#moddlSentTo").prop("disabled", false);
                }
                else {
                    $("#moddlSentTo").prop("disabled", true);
                }
            });
        });
    </script>
}
