﻿
@model IEnumerable<Gizmobaba.Models.OrderViewModel>
@{
    ViewBag.Title = "Issues";
    Layout = "~/Views/Shared/_LayoutGizmobaba.cshtml";
}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="~/Scripts/orders.js"></script>
    <div class="page-title">
        <div class="title_left">
            <h3>Orders with Issues</h3><br>
        </div>
    </div>

    <div class="title_content_top">
        <p>This is the list of orders that are having some issues such as the customer is not present at specified address, the item(s) lost in transit, and so on. This list is formed by manually moving the orders from ‘Dispatched’ or ‘Delivered’ list after receiving delivery report from Shipping Service Provider. You can sort out these orders through multiple search criteria that are provided here. The orders placed against your products at connected marketplaces can be found through ‘Marketplace Orders’ tab.</p>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel_nogap">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#MyOrders" aria-controls="home" role="tab" data-toggle="tab">My Orders</a></li>
                    <li role="presentation"><a href="#MarketplaceOrders" aria-controls="profile" role="tab" data-toggle="tab">Marketplace Orders</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="MyOrders">
                        <div class="mrgin_gap20">
                            <div class="searchhs_holder_all">
                                <div style="display: none;" id="searchslidehs-panel">
                                    @using (Ajax.BeginForm("SearchAuthorizeCODOrder", "Order", new { },
                                        new AjaxOptions
                                        {
                                            HttpMethod = "POST",
                                            InsertionMode = InsertionMode.Replace,
                                            UpdateTargetId = "partialView"
                                        }, new { id = "getOrderDate" }))
                                    {
                                        <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">
                                            <br>
                                            @*<div class="form-group">
                                        <label class="control-label col-md-2 col-sm-3 col-xs-12">Period</label>
                                        <div class="col-md-3">
                                            <select class="select2_single form-control" tabindex="-1" id="ddlPaging">
                                                <option selected="selected" value="custom">Custom</option>
                                                <option value="thisweek">This week</option>
                                                <option value="lastweek">Last Week</option>
                                                <option value="thismonth">This Month</option>
                                                <option value="lastmonth">Last Month</option>
                                            </select>
                                        </div>
                                    </div>*@

                                            <div class="form-group">
                                                @*<input type="hidden" value="2" name="OrderType" />*@
                                                <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">From Date</label>
                                                <div class="col-md-3 col-sm-3 col-xs-12">
                                                    <input id="txtFromDate" name="From_Date" placeholder="" required="" class="form-control" type="text">
                                                </div>

                                                <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">To Date</label>
                                                <div class="col-md-3 col-sm-3 col-xs-12">
                                                    <input id="txtToDate" name="To_Date" placeholder="" required="" class="form-control" type="text">
                                                </div>
                                            </div>

                                            @*<div class="form-group">
                                        <label class="control-label col-md-2" for="">Category</label>
                                        <div class="col-md-3">
                                            <span class="prettyFile">
                                                @Html.DropDownList("CATEGORY_ID", (SelectList)ViewBag.Category, new { @class = "select2_single form-control", id = "CATEGORY_ID", tabindex = "-1", onChange = "FillSubCategory()" })
                                            </span>
                                            <span class="prettyFile">
                                                @Html.DropDownList("SUB_CAT_ID",
                                                new SelectList(Enumerable.Empty<SelectListItem>(), "SUB_CAT_ID", "SUB_CAT_DESC"),
                                                "Select Sub Category", new { @class = "select2_single form-control", tabindex = "-1", id = "SUB_CAT_ID", disabled = "disabled" })
                                            </span>
                                            <div class="col-md-3">

                                            </div>
                                        </div>
                                    </div>*@


                                            <div class="form-group">
                                                <label class="control-label col-md-2">Category</label>
                                                <div class="col-md-3">
                                                    @Html.DropDownList("CATEGORY_ID", (SelectList)ViewBag.Category, "Select Category", new { @class = "select2_single form-control", id = "CATEGORY_ID", tabindex = "-1", onChange = "FillSubCategory()" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-2">Sub Category</label>
                                                <div class="col-md-3">
                                                    @Html.DropDownList("SUB_CAT_ID",
                                                    new SelectList(Enumerable.Empty<SelectListItem>(), "SUB_CAT_ID", "SUB_CAT_DESC"),
                                                    "Select Sub Category", new { @class = "select2_single form-control", tabindex = "-1", id = "SUB_CAT_ID", disabled = "disabled" })
                                                </div>
                                            </div>




                                            @*<div class="form-group">
                                        <label class="control-label col-md-2">Location</label>
                                        <div class="col-md-3">
                                            <select class="select2_single form-control" tabindex="-1">
                                                <option selected="selected" value="custom">Custom</option>
                                                <option value="thisweek"></option>
                                            </select>
                                        </div>
                                    </div>*@


                                            <div class="form-group" id="search-plus-btnsmhs">
                                                <label class="control-label col-md-2">Search by</label>
                                                <div class="col-md-3">
                                                    <select id="ddlSerch" class="select2_single form-control" tabindex="-1" onchange="serchBy();">
                                                        <option selected="selected" value="custom">Custom</option>
                                                        <option value="Order_No">Order No</option>
                                                        <option selected="selected" value="SKU">SKU</option>
                                                        @*<option value="Awb_No">Awb No</option>*@
                                                        <option value="Email_Id">Email Id</option>
                                                        <option value="Phone_No">Phone No</option>
                                                        @*<option value="Coupon_Code">Coupon Code</option>*@
                                                        <option value="Checkout_Type">Checkout Type</option>
                                                        <option value="Shipment_ID">Shipment ID</option>
                                                        @*<option value="Issue_Type">Issue Type</option>*@
                                                        <option value="Order_By">Order By</option>
                                                    </select>
                                                </div>
                                                @*<div class="col-md-6" id="searchBy">*@
                                                @*<input id="" name="" placeholder="" required="" class="form-control" type="text">*@
                                                <div class="col-md-3">
                                                    <input id="txtSearch" name="" placeholder="" required="" class="form-control" type="text">
                                                    <select id="ddlSentTo" name="Created_By" class="form-control" tabindex="-1">
                                                        <option selected="selected" value="0"> -- Select -- </option>
                                                        <option value="6">Customer</option>
                                                        <option value="4">Dealer</option>

                                                    </select>
                                                </div>
                                                @*<div class="plusiconforadd"><a href=""><i class="fa fa-plus"></i></a></div>*@
                                            </div>
                                            <script>
                                                function SearchOrder() {
                                                    $('#getOrderDate').submit();
                                                }

                                            </script>
                                        </form>

                                        <div class="clearfix"></div><br><br>

                                        <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
                                            <a href="#"><button type="button" class="btn btn-default pull-right" onclick="SearchOrder();">Go</button></a>
                                        </div>
                                    }
                                </div>

                                <div class="sreachbtnhs-slide">
                                    <a href="#" class="sreachbtnhs_btn-slide">Search Here</a>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div><br>

                        @*<div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
                    <div class="pull-right">
                        <a href="#"><button type="button" class="btn btn-default">Pickup</button></a>
                    </div>
                </div>*@
                    </div>

                    <div role="tabpanel" class="tab-pane" id="MarketplaceOrders">
                        <div class="mrgin_gap20">
                            <div class="searchhs_holder_all">
                                <div id="searchslidehs-panel2">
                                    @using (Ajax.BeginForm("SearchOrder", "Order", new { },
        new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "partialView"
        }, new { id = "getOrderDate" }))
                                    {
                                        @*<form id="demo-form2" class="form-horizontal form-label-left">*@
                                        <br>
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-3 col-xs-12">Period</label>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <select class="select2_single form-control" tabindex="-1" id="ddlMarketPeriod">
                                                    <option selected="selected" value="custom">Custom</option>
                                                    <option value="thisweek">This week</option>
                                                    <option value="lastweek">Last Week</option>
                                                    <option value="thismonth">This Month</option>
                                                    <option value="lastmonth">Last Month</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">From Date</label>
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                <input id="marketfromDate" name="" placeholder="" required="" class="form-control" type="text">
                                            </div>

                                            <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">To Date</label>
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                <input id="markettoDate" name="" placeholder="" required="" class="form-control" type="text">
                                            </div>
                                        </div>

                                        @*<div class="form-group">
                                    <label class="control-label col-md-2" for="">Courier</label>
                                    <div class="col-md-3">
                                        <select class="select2_single form-control" tabindex="-1">
                                            <option selected="selected" value="custom">Select</option>
                                        </select>
                                    </div>

                                    <label class="control-label col-md-2" for="">Category</label>
                                    <div class="col-md-5">
                                        <span class="prettyFile">
                                            <input name="form[files][]" multiple type="file">
                                            <div class="input-append">
                                                <input class="input-large_brwse" type="text">
                                                <a href="#" class="btn_brwse">Choose</a>
                                            </div>
                                        </span>
                                    </div>
                                </div>*@

                                        <div class="form-group">
                                            <label class="control-label col-md-2">Location</label>
                                            <div class="col-md-3">
                                                <select class="select2_single form-control" tabindex="-1">
                                                    <option selected="selected" value="custom">Custom</option>
                                                    <option value="thisweek"></option>
                                                </select>
                                                @*<input type="checkbox"> Mart Jack Support*@

                                            </div>
                                        </div>

                                        @*<div class="form-group">
                                    <label class="control-label col-md-2">Search by</label>
                                    <div class="col-md-3">
                                        <select class="select2_single form-control" tabindex="-1">
                                            <option selected="selected" value="custom">Custom</option>
                                            <option value="Order No">Order No</option>
                                            <option selected="selected" value="SKU">SKU</option>
                                            <option value="Awb No">Awb No</option>
                                            <option value="Email Id">Email Id</option>
                                            <option value="Phone No">Phone No</option>
                                            <option value="Coupon Code">Coupon Code</option>
                                            <option value="Checkout Type">Checkout Type</option>
                                            <option value="Shipment ID">Shipment ID</option>
                                            <option value="Issue Type">Issue Type</option>
                                            <option value="Order Source">Order Source</option>
                                        </select>
                                    </div>
                                    <div class="plusiconforadd"><a class="search-plus-btnsm"><i class="fa fa-plus"></i></a></div>
                                </div>*@

                                        <div class="form-group" id="search-plus-btnsmhs">
                                            <label class="control-label col-md-2">Search by</label>
                                            <div class="col-md-3">
                                                <select id="moddlSerch" class="select2_single form-control" tabindex="-1" onchange="serchBy();">
                                                    <option selected="selected" value="custom">Custom</option>
                                                    <option value="Order_No">Order No</option>
                                                    <option selected="selected" value="SKU">SKU</option>
                                                    @*<option value="Awb_No">Awb No</option>*@
                                                    <option value="Email_Id">Email Id</option>
                                                    <option value="Phone_No">Phone No</option>
                                                    @*<option value="Coupon_Code">Coupon Code</option>*@
                                                    <option value="Checkout_Type">Checkout Type</option>
                                                    <option value="Shipment_ID">Shipment ID</option>
                                                    @*<option value="Issue_Type">Issue Type</option>*@
                                                    <option value="Order_By">Order By</option>
                                                </select>
                                            </div>
                                            @*<div class="col-md-6">
                                        <input id="" name="" placeholder="" required="" class="form-control" type="text">
                                    </div>*@
                                            @*<div class="plusiconforadd"><a href=""><i class="fa fa-plus"></i></a></div>*@
                                            <div class="col-md-2">
                                                <select id="moddlSentTo" class="form-control" tabindex="-1">
                                                    <option selected="selected" value="0"> -- Select -- </option>
                                                    <option value="Customer">Customer</option>
                                                    <option value="Dealer">Dealer</option>

                                                </select>
                                            </div>
                                        </div>
                                        @*</form>*@

                                        <div class="clearfix"></div><br><br>

                                        <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
                                            <a href="#"><button type="submit" class="btn btn-default pull-right" onclick="SearchOrder()">Go</button></a>
                                        </div>
                                        <script>
                                            function SearchOrder() {
                                                $('#getOrderDate').submit();
                                            }

                                        </script>
                                    }
                                </div>

                                <div class="sreachbtnhs-slide">
                                    <a href="#" class="sreachbtnhs_btn-slide">Search Here</a>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div><br>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- /page content -->
    <br>
@section Gizmobabascripts
{

    <script src="~/GizmobabaFiles/js/nicescroll/jquery.nicescroll.min.js"></script>
    <!-- icheck -->
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
        NProgress.done();
        $(document).ready(function () {
            $('#txtFromDate').datepicker({
                onClose: function (selectedDate) {
                    $("#txtToDate").datepicker("option", "minDate", selectedDate);
                }
            });
            $('#txtToDate').datepicker({
                onClose: function (selectedDate) {
                    $("#txtFromDate").datepicker("option", "maxDate", selectedDate);
                }
            });

            $("#ddlSentTo").hide();
            $("#txtSearch").show();
            $("#txtSearch").attr("name", $("#ddlSerch option:selected").val());
            $("#txtSearch").attr("placeholder", $("#ddlSerch option:selected").val());
            $("#moddlSentTo").prop("disabled", true);
            $('#ddlSerch').change(function () {
                var SelectedDD = $("#ddlSerch option:selected").val();
                if (SelectedDD == 'Order_By') {
                    $("#ddlSentTo").show();
                    $("#txtSearch").hide();
                }
                else {
                    $("#ddlSentTo").hide();
                    $("#txtSearch").show();
                    $("#txtSearch").attr("name", SelectedDD);
                    $("#txtSearch").attr("placeholder", SelectedDD);
                }
                $('#txtSearch').val();
            });
            $('#moddlSerch').change(function () {
                var SelectedDD = $("#ddlSerch option:selected").val();
                if (SelectedDD == 'Order_By') {
                    $("#moddlSentTo").prop("disabled", false);
                }
                else {
                    $("#moddlSentTo").prop("disabled", true);
                }
            });
        });
    </script>
}

<script src="~/Scripts/common.js"></script>
<div class='loader-container hide'>
    <div class='loader'>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--text'></div>
    </div>
</div>
<link href="~/Content/loader.css" rel="stylesheet" />

