﻿@using Gizmobaba.Models
@model  Gizmobaba.Models.OrderDetailsModelView

@{
    ViewBag.Title = "OrderDetails";
    Layout = "~/Views/Shared/_LayoutGizmobaba.cshtml";
}
<script src="~/Scripts/orders.js"></script>
<link href="~/GizmobabaFiles/css/custom.css" rel="stylesheet" />
<div class="page-title">
    <div class="title_left">
        <h3>Order Details</h3><br>
    </div>
</div>

<div class="title_content_top">
    <p>Orders are the orders for which the payment has not been received. The orders placed through 'Cheque/DD/ Bank transfer/ some cases of unsuccessful Credit Card or Debit Card or Net Banking transactions' are automatically listed here and need to be authorized after payment confirmation from bank. You can sort out these orders through multiple search criteria that are provided here.</p>
</div>

<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel_nogap">
            <div class="epp_orderdetailsholder">
                <div class="col-md-9">
                    <div class="row">
                        <div class="epp_orderdetails_left">
                            <div class="epp_orderdetails_leftdetails">
                                <h1>Order ID</h1>
                                @Html.HiddenFor(model => model.orderlist.FirstOrDefault().ORDER_ID)
                                <h2>@Model.orderlist.FirstOrDefault().ORDER_ID <i class="fa fa-print"></i></h2>
                                <h3><i class="fa fa-clock-o"></i>
                                    @{
                                        OrderViewModel first = null;
                                        foreach (var model in Model.orderlist)
                                        {
                                            first = model;
                                            break;
                                        }
                                    }
                                    @first.OrderStatus
                                </h3>
                                @*<h4>[Free Shipping]</h4>*@
                            </div>

                            <div class="epp_orderdetails_leftdatetime">
                                <h1>@Model.orderlist.FirstOrDefault().CREATED_AT</h1>
                                @*<h2>[Mobile]</h2>*@
                            </div>

                            @*<div class="epp_orderdetails_leftrefno">
                                <h1>Reference number</h1>
                                <h2></h2>
                            </div>*@
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="row">
                        <div class="epp_orderdetails_right">
                            <div class="epp_orderdetails_rightdetails">
                                <h1>@Model.userData.USER_NAME</h1>
                                @if (Model != null && Model.userData != null)
                                {
                                    <h2>@Model.userData.EMAIL</h2>
                                    <h3>@Model.userData.MOB_NO</h3>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            @{
                decimal total = 0;

                foreach (var item in Model.orderlist)
                {
                    if (item.DISCOUNT_AMOUNT != null && item.DISCOUNT_VOUCHER != null)
                    {
                        total += (item.UNIT_PRICE ?? 0) - (item.DISCOUNT_AMOUNT ?? 0);
                    }
                    else
                    {
                        total += item.UNIT_PRICE ?? 0;
                    }

                }



            }


            <div class="epp_orderdetailsholder">
                <form>
                    <table id="tblPro" class="table table-striped responsive-utilities jambo_table bulk_action" style="margin-bottom:6px; border-bottom:1px solid #DDD;">
                        <thead>
                            <tr>
                                <th>
                                    <div class="squaredThree">
                                        <input type="checkbox" value="None" id="check-all" name="check" />
                                        <label for="check-all"></label>
                                    </div>
                                </th>
                                <th>Product Descripition</th>
                                <th>Quantity</th>
                                <th></th>
                                <th>Price</th>
                                <th>Total Amount</th>
                                <th></th>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.orderlist)
                        {
                                <tr id="@item.ORDER_DETAIL_ID">
                                    <td>
                                        <div class="squaredThree">
                                            <input type="checkbox" value="None" id="ABC_@item.PRODUCT_ID" name="check" class="input-check-box" />
                                            <label for="ABC_@item.PRODUCT_ID"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="epp_orderdetails_tble">
                                            <div class="epp_orderdetails_tble_content">
                                                <div class="col-md-3">
                                                    <a href="http://pakkadial.com/GBA/ProductGiz/ProductDetail?Pid=@item.PRODUCT_ID&Cid=@item.CATEGORY_ID" target="_blank">  <img src="@item.Image" class="img-responsive" alt=""></a>
                                                </div>

                                                <div class="col-md-9">
                                                    @*<img src="@item.Image" width="50%" height="50%" />*@
                                                    <p>@item.PRODUCT_NAME <a href="@item.VideoURL">SEE VIDEO!</a></p>
                                                    <h1>SKU:</h1>
                                                    <h2><a href="#">@item.ProSku</a></h2>
                                                    <input type="hidden" value="@item.ORDER_ID" class="productId" />
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        @{
                            int Qty = item.Qty;
                            decimal amount = item.UNIT_PRICE ?? 0;
                            decimal singleProAmount = amount / Qty;
                                        }
                                        <div class="row">
                                            <div class="epp_orderdetails_tble">
                                                <div class="epp_orderdetails_tble_qunty">
                                                    <p><input disabled="disabled" min="0" max="" step="" value="@item.Qty" type="number" class="txtminwdth"></p>

                                                    @* <p>@item.Qty</p>*@
                                                    @*<select name="quantity" id="ddlQuantity" class="ddlQuantity">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                            </select>*@
                                                    <p class="proAmount" style="display: none;">@singleProAmount</p>
                                                    @*<br>
                                            Shipped <span>0</span>*@
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="row">
                                            <div class="epp_orderdetails_tble">
                                                <div class="epp_orderdetails_tble_qunty">
                                                 
                                                    @*<p class="col-md-5"><input id="" name="" placeholder="" required="" class="form-control col-md-2" type="text"></p>*@
                                                </div>
                                            </div>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="row">
                                            <div class="epp_orderdetails_tble">
                                                <div class="epp_orderdetails_tble_qunty">
                                                    @if (item.DISCOUNT_VOUCHER != null && item.DISCOUNT_AMOUNT != null)
                                                    {
                                                        <p>@item.UNIT_PRICE - @item.DISCOUNT_AMOUNT</p>
                                                    }
                                                    else
                                                    {
                                                        <p>@item.UNIT_PRICE</p>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="row">
                                            <div class="epp_orderdetails_tble">
                                                <div class="epp_orderdetails_tble_qunty">
                                                    @if (item.DISCOUNT_VOUCHER != null && item.DISCOUNT_AMOUNT != null)
                                                    {
                                                        decimal disAmount = (item.UNIT_PRICE ?? 0) - (item.DISCOUNT_AMOUNT ?? 0);
                                                        <p>@disAmount</p>
                                                    }
                                                    else
                                                    {
                                                        <p class="price">@item.UNIT_PRICE</p>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td >
                                        <div class="row" >
                                            <div class="epp_orderdetails_tble">
                                                <div class="epp_orderdetails_tble_qunty">
                                                    <p > <button disabled="disabled" id="btnProUpdate" type="button" class="btn btn-dark btnProUpdate">Update</button></p>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                        }

                        </tbody>
                    </table>
                    <div class="col-md-12" id="divDis" style="display: none;">
                        <div class="mmctrl_box">
                            <div class="mmcaption">Apply Discount Voucher</div><br>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="">Voucher Code</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="txtVoucher" name="" placeholder="Enter Voucher Code" required="" class="form-control">
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-6">
                                    <button type="button" onclick="AppVoucher();" class="btn btn-default btn-sm pull-left">Apply</button>
                                    <button type="button" onclick="DisCancel();" class="btn btn-default btn-sm pull-left">Cancel</button>

                                </div>
                            </div>
                            <br>
                        </div>
                        @*<div class="col-md-2 col-sm-2 col-xs-6 pull-right" id="sub">
                    <button type="button" onclick="AppVoucher()" class="btn btn-default btn-sm pull-left">Update</button>
                </div>*@
                    </div>



                    <div class="clearfix"></div>

                    <div class="col-md-12">
                        <div class="epp_orderdetails_totalamount">
                            <div class="epp_orderdetails_totalamount_insde">
                                <h2 id="lblTotalShippingAmount">@total</h2>
                                <h1>Total Shipping Amount</h1>
                                <div class="clearfix"></div>
                                <hr class="mrgin_gap0">
                                <h4 id="labTotal">@total</h4>
                                <h3>Total </h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg0">
                        <div class="pull-right">
                            @if (Model.orderlist.FirstOrDefault().STATUS == 1 && Model.Order.PAYMENT_TYPE == 4)
                                {
                                <button id="btnUpdate" style="display:none" type="button" onclick="AppVoucher()" class="btn btn-dark">Update</button>
                             <button type="button" onclick="Edit();" id="btnedit" class="btn btn-default">Edit</button>
                                }
                            @if (Model.orderlist.FirstOrDefault().STATUS == 1)
                                {
                                <a href="javascript:;" onclick="OrderPickUp(@Model.orderlist.FirstOrDefault().ORDER_ID);"><button type="button" class="btn btn-default">Approve</button></a>
                                }
                            @if (Model.orderlist.FirstOrDefault().STATUS != 3)
                            {
                                <a data-toggle="modal" href="#normaldelete" class="btn btn-default">Cancel</a>
                            }
                                @*@if (TempData["Order"] == "GetPaymentPendingOrders")
                        {
                            <a data-toggle="modal" href="#normaldelete"><button type="button" class="btn btn-default">Cancel</button></a>
                        }*@
                                @*<a data-toggle="modal" href="#normaldelete"><button type="button" class="btn btn-default">Cancel</button></a>*@
                                @*<a href="#"><button type="button" class="btn btn-default">Log a Conversation </button></a>*@
                                @*<a href="#"><button type="button" class="btn btn-default">Print Invoice</button></a>*@
                                @*<a href="#"><button type="button" class="btn btn-default">Send Mail</button></a>*@
                                @*<button id="btnBack" type="button" class="btn btn-default">Back</button>*@
                            @Html.ActionLink("Back", "OrderBack", new { id = Model.Order.ORDER_ID, status = Model.Order.STATUS, paymetType = Model.Order.PAYMENT_TYPE }, new { @class = "btn btn-default", id = "btnBack" })
                            </div>
                        </div>
                    </form>
                        </div>
                    </div>
                </div>
    </div>
    <br>
    <br>

    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="mmctrl_box mrgin_gap0 tablenolines">
                <div class="mmcaption">Billing Address</div>
                @if (Model.orderlist.FirstOrDefault().UserModel != null)
                {
                    <table class="table table-hover">
                        <tbody>
                            <tr><td colspan="2">@Model.userAddress.FirstOrDefault().FIRSTNAME</td></tr>
                            <tr><td colspan="2">@Model.userAddress.FirstOrDefault().ADDRESS_1</td></tr>
                            <tr><td colspan="2">@Model.userAddress.FirstOrDefault().ADDRESS_2</td></tr>
                            <tr><td colspan="2">@Model.userAddress.FirstOrDefault().CITY</td></tr>
                            <tr><td colspan="2">@Model.userAddress.FirstOrDefault().landmark</td></tr>
                            <tr><td colspan="2">@Model.userAddress.FirstOrDefault().POSTCODE</td></tr>
                            <tr><td>Bill Phone</td><td>@Model.userAddress.FirstOrDefault().mob_no</td></tr>
                        </tbody>
                    </table>
                }
            </div>
        </div>

        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="mmctrl_box mrgin_gap0 tablenolines">
                <div class="mmcaption">Shiping Address</div>
                @if (Model != null && Model.userAddress.Count() != 0)
                {
                    if (Model.Order.Address_Id != 0) { 
                    <table class="table table-hover">
                        <tbody>
                            <tr><td colspan="2">@Model.userAddress.FirstOrDefault(a => a.ADDRESS_ID == Model.Order.Address_Id).FIRSTNAME</td></tr>
                            <tr><td colspan="2">@Model.userAddress.FirstOrDefault(a => a.ADDRESS_ID == Model.Order.Address_Id).ADDRESS_1</td></tr>
                            <tr><td colspan="2">@Model.userAddress.FirstOrDefault(a => a.ADDRESS_ID == Model.Order.Address_Id).ADDRESS_2</td></tr>
                            <tr><td colspan="2">@Model.userAddress.FirstOrDefault(a => a.ADDRESS_ID == Model.Order.Address_Id).CITY</td></tr>
                            <tr><td colspan="2">@Model.userAddress.FirstOrDefault(a => a.ADDRESS_ID == Model.Order.Address_Id).landmark</td></tr>
                            <tr><td colspan="2">@Model.userAddress.FirstOrDefault(a => a.ADDRESS_ID == Model.Order.Address_Id).POSTCODE</td></tr>
                            <tr><td>Bill Phone</td><td>@Model.userAddress.FirstOrDefault(a => a.ADDRESS_ID == Model.Order.Address_Id).mob_no</td></tr>
                        </tbody>
                    </table>
                }
                }
            </div>
        </div>
        <div class="clearfix"></div>
        <br>
        @if (Model.orderlist.FirstOrDefault().STATUS == 1 && Model.Order.PAYMENT_TYPE != 4)
        {
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="mmctrl_box mrgin_gap0 mmctrl_tble">
                    <div class="mmcaption">Payment Details</div>
                    <table class="table table-hover" style="margin-bottom:0px;">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Payment Type</th>
                                <th>Details</th>
                                <th>Amount Paid</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Payment Details details not found</td>
                                @*<td>05-Jan-2016 04:05:44 PM</td>
                                    <td>EBS</td>
                                    <td> </td>
                                    <td>148</td>
                                    <td><a href="" original-title="Action"><i class="fa fa-arrow-circle-o-up"></i></a></td>*@
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>

    <!-- /page content -->
<br>

@if (Model.Order != null && Model.Order.LOGISTIC_TOKEN != null && Model.Order.LOGISTIC_AWB != null)
{
    <div class="gmail_quote">
        <iframe src="@Model.Order.Awb_pdf" style="height: 100%; width: 100%"></iframe>
    </div>

    @*Invoce*@
    <div class="gmail_quote">
    <table border="0" cellpadding="0" cellspacing="0" style="border: 1px solid rgb(0, 0, 0); width: 100%; font-family: Arial; color: black" summary="">
    <tbody>
    <tr style="color: rgb(255, 255, 255); font-weight: normal; background-color: rgb(0, 0, 0)">
        <td style="padding: 5px 10px"><font face="arial" size="4">Order Invoice</font></td>
    </tr>

    <tr style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 255)">
        <td>
            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%" summary="">
                <tbody>
                <tr>
                    <td style="padding: 5px 10px" align="left">
                        <font face="arial" size="2">
                            Dear <b></b>@Model.userData.USER_NAME,<br>
                            <br>
                            Thank you for your Order.<br>
                            <br>
                            It was great having you shop at <a href="http://www.gizmobaba.com" style="text-decoration: none" target="_blank">http://www.gizmobaba.com</a><br>
                            <br>
                            Your order will be processed after completing necessary formalities<br>
                            <br>
                            The details of your order are given below:
                        </font>
                    </td>
                    <td align="right">
                        <a href="/Admin/Home/Index"> <img src="http://pakkadial.com/GBA/data/logo-big.png" width="15%"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>


    </tr>
    <tr>
        <td style="padding: 5px 10px">
            <table border="0" cellpadding="2" cellspacing="0" style="border: 1px solid rgb(204, 204, 204); width: 100%; background-color: rgb(236, 236, 236)" summary="">
                <tbody>
                <tr>
                    <td>
                        <table border="0" cellpadding="2" cellspacing="0">
                            <tbody>
                            <tr>
                                <td><b><font face="arial" size="2">Order Number</font></b></td>
                                <td><b>:</b></td>
                                <td><font face="arial" size="2">@Model.Order.ORDER_ID</font></td>
                            </tr>
                            <tr>
                                <td><b><font face="arial" size="2">Order Date</font></b></td>
                                <td><b>:</b></td>
                                <td><font face="arial" size="2">@Model.Order.CREATED_AT.ToShortDateString()</font></td>
                            </tr>
                            <tr>
                                <td><b><font face="arial" size="2">Payment Method</font></b></td>
                                <td><b>:</b></td>
                                <td><font face="arial" size="2">COD</font></td>
                            </tr>
                            <tr>
                                <td><b><font face="arial" size="2">Shipping Mode</font></b></td>
                                <td><b>:</b></td>
                                <td><font face="arial" size="2">null</font></td>
                            </tr>
                            <tr>
                                <td><b><font face="arial" size="2">Discount Voucher</font></b></td>
                                <td><b>:</b></td>
                                <td><font face="arial" size="2">null</font></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding: 5px 10px">
            <font face="arial" size="2">
                <table cellspacing="1" cellpadding="3" border="0" summary="" style="width: 100%; font-family: Arial; background-color: rgb(153, 153, 153)">
                    <tbody>
                    <tr style="color: rgb(0, 0, 0); font-size: 75%; font-weight: bold; background-color: rgb(204, 204, 204)">
                        <td style="font-family: Arial">Sr No</td>
                        <td style="font-family: Arial">Product Name</td>
                        <td style="font-family: Arial">SKU </td>
                        <td style="font-family: Arial">Variant-SKU </td>
                        <td style="font-family: Arial">Unit price</td>
                        <td style="font-family: Arial">Quantity</td>
                        <td style="font-family: Arial">Total Cost</td>
                    </tr>
                    @{
                        int count = 1;
                    }
                    @foreach (var item in Model.orderlist)
                    {
                        <tr style="color: rgb(0, 0, 0); font-size: 75%; font-weight: normal; background-color: rgb(236, 236, 236)">
                            <td style="font-family: Arial">count</td>
                            <td style="font-family: Arial">@item.PRODUCT_NAME</td>
                            <td style="font-family: Arial">@item.ProSku</td>
                            <td style="font-family: Arial">null</td>
                            <td style="font-family: Arial"><span>INR </span><span></span>@item.UNIT_PRICE</td>
                            <td style="font-family: Arial">@item.Qty</td>
                            <td style="font-family: Arial"><span>INR </span><span></span>@item.UNIT_PRICE</td>
                        </tr>
                        count++;
                    }
                    </tbody>
                </table>
            </font>
        </td>
    </tr>
    <tr>
        <td style="padding: 5px 10px">
            <table border="0" cellpadding="2" cellspacing="0" style="border: 1px solid rgb(204, 204, 204); width: 100%; background-color: rgb(236, 236, 236)" summary="">
                <tbody>
                <tr>
                    <td>
                        <table border="0" cellpadding="2" cellspacing="0">
                            <tbody>
                            <tr>
                                <td><b><font face="arial" size="2">Total Tax</font></b></td>
                                <td><b>:</b></td>
                                <td><font face="arial" size="2"><span>INR </span><span></span>null</font></td>
                            </tr>
                            <tr>
                                <td><b><font face="arial" size="2">Shipping Cost</font></b></td>
                                <td><b>:</b></td>
                                <td><font face="arial" size="2"><span>INR </span><span></span>@Model.orderlist.Sum(a => a.UNIT_PRICE)</font></td>
                            </tr>
                            <tr>
                                <td><b><font face="arial" size="2">Total Amount</font></b></td>
                                <td><b>:</b></td>
                                <td><font face="arial" size="2"><span>INR </span><span></span>@Model.orderlist.Sum(a => a.UNIT_PRICE)</font></td>
                            </tr>
                            <tr>
                                <td><b><font face="arial" size="2">Amount Paid</font></b></td>
                                <td><b>:</b></td>
                                <td><font face="arial" size="2"><span>INR </span><span></span>@Model.orderlist.Sum(a => a.UNIT_PRICE)</font></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding: 5px 10px">
            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%" summary="">
                <tbody>
                <tr>
                    <td align="left" style="height: 21px"><b><font face="arial" size="2">Shipping Address</font></b></td>
                    <td>&nbsp;</td>
                    <td style="height: 21px"><b><font face="arial" size="2">Billing Address</font></b></td>
                </tr>
                <tr>
                    <td>
                        <font face="arial" size="2">
                            @Model.userAddress.FirstOrDefault().FIRSTNAME<br/>
                            @Model.userAddress.FirstOrDefault().ADDRESS_1 <br/>
                            @Model.userAddress.FirstOrDefault().ADDRESS_2 <br/>
                            @Model.userAddress.FirstOrDefault().CITY <br/>
                            @Model.userAddress.FirstOrDefault().landmark <br/>
                            @Model.userAddress.FirstOrDefault().POSTCODE <br/>
                            Bill Phone:@Model.userAddress.FirstOrDefault().mob_no
                            <br/>
                            email <a href="#" target="_blank">@Model.userAddress.FirstOrDefault().EMAIL</a><br>
                        </font>
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <font face="arial" size="2">
                            @Model.userAddress.FirstOrDefault(a => a.ADDRESS_ID == Model.Order.Address_Id).FIRSTNAME <br/>
                            @Model.userAddress.FirstOrDefault(a => a.ADDRESS_ID == Model.Order.Address_Id).ADDRESS_1 <br/>
                            @Model.userAddress.FirstOrDefault(a => a.ADDRESS_ID == Model.Order.Address_Id).ADDRESS_2 <br/>
                            @Model.userAddress.FirstOrDefault(a => a.ADDRESS_ID == Model.Order.Address_Id).CITY <br/>
                            @Model.userAddress.FirstOrDefault(a => a.ADDRESS_ID == Model.Order.Address_Id).landmark
                            <br/>
                            @Model.userAddress.FirstOrDefault(a => a.ADDRESS_ID == Model.Order.Address_Id).POSTCODE
                            <br/>
                            Bill Phone:@Model.userAddress.FirstOrDefault(a => a.ADDRESS_ID == Model.Order.Address_Id).mob_no
                            <br/>
                            <br>
                            Email: <a href="mailto:samirmadan5@hotmail.com" target="_blank">@Model.userAddress.FirstOrDefault(a => a.ADDRESS_ID == Model.Order.Address_Id).EMAIL</a>
                        </font>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding: 5px 10px">
            <font face="arial" size="2">
                We request you to make note of this information for future reference.<br>
                <br>
                We are excited about your purchase at <a href="http://www.gizmobaba.com" style="text-decoration: none" target="_blank">http://www.gizmobaba.com</a> and look forward to your continued patronage.<br>
                See you again at <a href="http://www.gizmobaba.com" style="text-decoration: none" target="_blank">http://www.gizmobaba.com</a>.<br>
                <br>
                For any order related queries, please call <b>91-2267421235</b> or email us at <b><a href="mailto:help@gizmobaba.com" target="_blank">help@gizmobaba.com</a></b><br>
                <br>
                We assure you of best services at all times.<br>
                <br>
                Warm Regards,<br>
                <b><a href="http://www.gizmobaba.com" style="text-decoration: none" target="_blank">http://www.gizmobaba.com</a> Team</b><br>
                <br>
                <b>Note:</b> You can track the status of your order in <b>My Account</b> section on <a href="http://www.gizmobaba.com" style="text-decoration: none" target="_blank">http://www.gizmobaba.com</a>
            </font>
        </td>
    </tr>
    <tr>
        <td>
            <hr size="1">&nbsp; <font face="arial" size="2">This is an auto-generated email. Please do not reply to the same.</font>
        </td>
    </tr>
    </tbody>
    </table>
    </div>
    @*End*@
}


    <!--Add Logs-->
    <div id="normaledit" class="modal fade">
        <div class="modal-dialog" id="normalAddLogs">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Add Log</h4>
                </div>

                <div class="modal-body dfltpad">
                    <p>
                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Date</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input name="" type="text" disabled required class="form-control" id="" placeholder="todatedate pick default">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Summery</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <textarea class="resizable_textarea form-control"></textarea>
                                    <div class="vrysmall_txt_frms">Message length (Max 500 Characters)</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Show the comments to end user</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="checkbox">
                                </div>
                            </div>
                        </form>
                    </p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>


    <!--Cancel Order-->
    <div id="normaldelete" class="modal fade">
        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="$(this).parents('form').find('input').val(''); $(this).parents('form').find('img').remove(); $('[href=#tab_default_1]').click();">×</button>
                        <h4 class="modal-title">Cancel Order</h4>
                    </div>
                    @*@using (Html.BeginForm("AddProduct", "Home", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = "return validateForm();" }))
                        {*@
                    <div class="modal-body dfltpad">
                        <p>


                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Cancel Comments</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <textarea name="COMMENTS" id="COMMENTS" class="resizable_textarea form-control"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Reson</label>
                                <div class="col-md-6 col-sm-9 col-xs-12">
                                    <select class="select2_single form-control" tabindex="-1" id="RESON" name="RESON">
                                        <option selected="selected" value=""> -- Select -- </option>
                                        <option selected="selected" value="Order not in Delivery Area">Order not in Delivery Area</option>
                                        <option selected="selected" value="Incorrect Contact information">Incorrect Contact information</option>
                                        <option selected="selected" value=">Order less then order minimum value">Order less then order minimum value</option>
                                        <option selected="selected" value="SLA expired for Aknowledgement">SLA expired for Aknowledgement</option>
                                        <option selected="selected" value="SLA expire New Order">SLA expire New Order</option>
                                        <option selected="selected" value="Order expire due to Quanity Mismatch from Aggregator">Order expire due to Quanity Mismatch from Aggregator</option>
                                        <option selected="selected" value="Retailer did not allocated items to Aggregator">Retailer did not allocated items to Aggregator</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Show the comments to end user</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="checkbox" id="USERSHOWTHECOMMENTS" name="USERSHOWTHECOMMENTS">
                                </div>
                            </div>
                        </p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="$(this).parents('form').find('input').val('');">close</button>
                        <button type="button" onclick="deleteOrder();" class="btn btn-default" data-dismiss="modal">Cancel order</button>
                    </div>
                </div>
            </div>
        </form>

    </div>

    <!--Popups End-->
    <script>
        $(document).ready(function () {
            $('.btnProUpdate').hide();
            $('#check-all').click(function () {
                if ($(this).is(':checked')) {
                    $('#tblPro tbody').find('input[type=checkbox]').prop('checked', true);
                } else {
                    $('#tblPro tbody').find('input[type=checkbox]').prop('checked', false);
                }
            });
            $(".txtminwdth").bind('keyup mouseup', function () {
                if ($(this).val() != 0) {
                    var amount = parseInt($(this).parents('td').next().next().text().trim());
                    var singleProAmount = parseInt($(this).parents('td').find('p.proAmount').html());
                    var count = parseInt($(this).val());
                    var proAmount = singleProAmount * count;
                    var currentAmount = parseInt($(this).parents('td').next().next().next().find('p').text());
                    $(this).parents('td').next().next().next().find('p').html(proAmount);
                    var totalAmount = parseInt($('#labTotal').html());
                    totalAmount = totalAmount - currentAmount;
                    totalAmount += proAmount;
                    $('#labTotal').html(totalAmount);
                    $('#lblTotalShippingAmount').html(totalAmount);
                    $(this).parents('tr').find('td').last().find('p').find('button').removeAttr('disabled');
                } else {
                    $(this).val('1');
                }
            });
            $('.btnProUpdate').click(function () {
                var productId = $(this).parents('tr').find('input.productId').val();
                var qty = $(this).parents('tr').find('input.txtminwdth').val();
                var amount = $(this).parents('tr').find('p.price').text();
                $('.loader-container').removeClass('hide');

                $.ajax({
                    url: URL + 'Order/AddProQty',
                    //url: '/Order/AddProQty/',
                    type: "Post",
                    async: false,
                    dataType: "json",
                    data: { orderId: productId, quantity: qty, price: amount },
                    success: function (data) {
                        alert(data);
                        $('.loader-container').addClass('hide');
                    },
                    error: function (xhr) {
                        alert(xhr);
                        $('.loader-container').addClass('hide');
                    }
                });

            });
            //$('#btnEdit').click(function () {
            //    $('#sub').show();
            //});
            $('#btnBack').click(function () {
                $('.loader-container').removeClass('hide');
                @*if(@Model.Order.STATUS == "1")
                {
                    alert(@Model.Order.STATUS);
                    window.location.replace("Order/AuthorizeCOD");
                }else{
                      history.back();
                }*@
            });
            $('.ddlQuantity')
                .change(function() {
                    var status = confirm("Are you sure you want to change Quantity?");
                    if (status) {
                        var amount = parseInt($(this).parents('td').next().next().text().trim());
                        var singleProAmount = $(this).parents('td').find('p').html();
                        var count = parseInt($(this).val());
                        var proAmount = singleProAmount * count;
                        $(this).parents('td').next().next().next().find('p').html(proAmount);
                        var totalAmount = parseInt($('#labTotal').html());
                        totalAmount += proAmount;
                        $('#labTotal').html(totalAmount);
                        $('#lblTotalShippingAmount').html(totalAmount);

                    }
                });
        });
        function Edit() {
            $('#divDis').show();
            $('.btnProUpdate').show();
            //$('#btnUpdate').show();
            $('#tblPro').find('input').removeAttr('disabled');
        }
        function AppVoucher() {
            if ($('#txtVoucher').val() != '') {
                $('.loader-container').removeClass('hide');

                var value = $('#txtVoucher').val();
                var orderIdList = $.map($('#tblPro').find('.input-check-box:checked'), function (obj) {
                    return $(obj).parents('tr').attr('id');
                });
                var data = { orderIdList: orderIdList, voucher: value }
                $.ajax({
                    url: URL + 'Order/VoucherSearch',
                    //url: '/Order/VoucherSearch/',
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    async: false,
                    data: JSON.stringify(data),
                    dataType: "json",
                    success: function (data) {
                        if (data == "Invalid Voucher Code" || data == "Voucher code expiry date completed" || data == "Invalid Voucher Code") {
                            var Message = '<div class="alert alertnew alert-danger fade in"><a href="#" class="close" data-dismiss="alert">×</a>' +
               '<strong>! </strong>' + data + '</div>';
                            $('#txtVoucher').parent('div').append(Message);
                            $('.loader-container').addClass('hide');
                        } 
                        else if (data == 'Success') {
                            alert('Voucher code applied successfully');
                          //  $('.loader-container').addClass('hide');
                            location.reload();
                        }
                    },
                    error: function (xhr) {
                        alert(xhr);
                        $('.loader-container').addClass('hide');
                    }
                });
            } else {
                alert('Enter Voucher Code');
                $('.loader-container').addClass('hide');
            }
            $('.alert').fadeOut(10000);

        }
        function OrderPickUp(id) {
            var status = 6;
            $('.loader-container').removeClass('hide');

            $.ajax({
                url: URL + '/Order/UpdateOrderStatus/',
                //url: '/Order/UpdateOrderStatus/',
                type: "Post",
                async: false,
                dataType: "json",
                data: { id: id, status: status },
                success: function (data) {
                    alert('Order ready to Waiting for pickup');
                    $('#' + id).remove();
                    $('.loader-container').addClass('hide');
                },
                error: function (xhr) {
                $('.loader-container').addClass('hide');
                alert(xhr);
                $('.loader-container').addClass('hide');
                }
            });
        }
        function DisCancel() {
            $('#divDis').hide();
            $('#btnUpdate').hide();
        }
        //function DisCancel() {
        //    $('#sub').hide();
        //}
    </script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/common.js"></script>
<div class='loader-container hide'>
    <div class='loader'>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--text'></div>
    </div>
</div>
<link href="~/Content/loader.css" rel="stylesheet" />


