﻿
@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_LayoutGizmobaba.cshtml";
}
    <div class="page-title">
        <div class="title_left">
            <h3>Reports</h3><br>
        </div>
    </div>

    <div class="title_content_top">
        <p>
            You can generate the ‘list of Products’ of your entire Catalog and download the same in a wide variety of formats such as ‘PDF, HTML, XLS, RTF, CSV’, and so on. These reports give the comprehensive information of your Products and are very much useful while doing further analysis as per your business requirement.
        </p>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="mmctrl_box mrgin_gap002">
                <div class="mmcaption">Download Product List</div><br>
                <div class="mrgin_gap0">
                    <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">File format</label>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <select class="select2_single form-control" tabindex="-1">
                                    <option value="0">-Select-</option>
                                    <option selected="selected" value="PDF">PDF</option>
                                    <option value="HTML">HTML</option>
                                    <option value="XLS">XLS</option>
                                    <option value="RTF">RTF</option>
                                    <option value="CSV">CSV</option>
                                </select>
                            </div>
                        </div>
                    </form><br>

                    <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
                        <a href="#"><button type="button" class="btn btn-default pull-right">Download</button></a>
                    </div>
                </div>
            </div>

            <div class="mmctrl_box mrgin_gap002">
                <div class="mmcaption">Lead List Reports</div><br>
                <div class="mrgin_gap0">
                    <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">
                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">From Date</label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <input id="" name="" placeholder="" required="" class="form-control" type="text">
                            </div>

                            <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">To Date</label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <input id="" name="" placeholder="" required="" class="form-control" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">File format</label>
                            <div class="col-md-3 col-sm-12 col-xs-12">
                                <select class="select2_single form-control" tabindex="-1">
                                    <option value="0">-Select-</option>
                                    <option selected="selected" value="PDF">PDF</option>
                                    <option value="HTML">HTML</option>
                                    <option value="XLS">XLS</option>
                                    <option value="RTF">RTF</option>
                                    <option value="CSV">CSV</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    <br>

                    <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
                        <a href="#"><button type="button" class="btn btn-default pull-right">Download</button></a>
                    </div>
                </div>
            </div>

            <div class="mmctrl_box mrgin_gap002">
                <div class="mmcaption">Shipping Manifest</div><br>
                <div class="mrgin_gap0">
                    <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">
                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">Logistic Providers</label>
                            <div class="col-md-3 col-sm-12 col-xs-12">
                                <select class="select2_single form-control" tabindex="-1">
                                    <option value="--Select--">--Select--</option>
                                    <option value="BlueDart">BlueDart</option>
                                    <option value="BlueDartAPI">BlueDartAPI</option>
                                    <option selected="selected" value="DTDC">DTDC</option>
                                    <option value="Quantium">Quantium</option>
                                    <option value="Delhivery">Delhivery</option>
                                    <option value="SkyNet">SkyNet</option>
                                </select>
                            </div>

                            <div class="col-md-3 col-sm-12 col-xs-12">
                                <div class="rprts_shpmnst_shwhide">
                                    Total Shippments in queue:0
                                </div>
                            </div>
                        </div>
                    </form>
                    <br>

                    <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
                        <a href="#"><button type="button" class="btn btn-default pull-right" disabled="">Finalize Shipping Queue</button></a>
                    </div>
                </div>
            </div>

            <div class="mmctrl_box mrgin_gap002">
                <div class="mmcaption">Order List Reports</div><br>
                <div class="mrgin_gap0">
                    <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">
                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">From Date</label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <input id="" name="" placeholder="" required="" class="form-control" type="text">
                            </div>

                            <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">To Date</label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <input id="" name="" placeholder="" required="" class="form-control" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">File format</label>
                            <div class="col-md-3 col-sm-12 col-xs-12">
                                <select class="select2_single form-control" tabindex="-1">
                                    <option value="0">-Select-</option>
                                    <option selected="selected" value="PDF">PDF</option>
                                    <option value="HTML">HTML</option>
                                    <option value="XLS">XLS</option>
                                    <option value="RTF">RTF</option>
                                    <option value="CSV">CSV</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    <br>

                    <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
                        <a href="#"><button type="button" class="btn btn-default pull-right">Download</button></a>
                    </div>
                </div>
            </div>

            <hr>
            <div class="clearfix"></div>
            <div class="col-md-12">
                <button type="button" class="btn btn-default pull-right">Cancel</button>
                <button type="button" class="btn btn-dark pull-right">Save</button>
                <button type="button" class="btn btn-dark pull-right">Save to Contiune</button>
            </div><br><br><br>
        </div>
    </div>
    <br>
