﻿@model Gizmobaba.Models.OrderReturnsViewModel

@{
    ViewBag.Title = "Returns";
    Layout = "~/Views/Shared/_LayoutGizmobaba.cshtml";
}
<script type="text/javascript">
    var URL = '@System.Configuration.ConfigurationManager.AppSettings["baseUrl"]';
    $(document).ready(function() {
        $("#btnSerch").click(function () {
            if ($('#txtOrderId').val() == '') {
                var data = '  <div class="alert alertnew alert-danger fade in">' +
        '<a href="#" class="close" data-dismiss="alert">×</a>' +
        '<strong>Error!</strong> Enter Order Id</div>';
                $('#order').append(data);
                $('.alert').fadeOut(10000);

                return false;
            }
            var orderId = parseInt($('#txtOrderId').val());
            var id = orderId;
            //var OrderId = {
            //    id: orderId
            //}
            $.ajax({
                url: URL + '/Order/OrderSearch/' + id,
                //url:  '/Order/OrderSearch/'+ id,
                type: "Get",
                //data: JSON.stringify(OrderId),
                //contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (data) {
                    if (data.length != 0) {
                        Bindpaging(data, data.length);
                    } else {
                        var head = '<table class="table table-striped" id="tblPro" style="margin-bottom:6px; border-bottom:1px solid #DDD;">' +
    '<thead><tr>' +
    '<th>Age</th>' +
    '<th>Order ID</th>' +
    '<th>Chekout Type</th>' +
    '<th>Qty</th>' +
    '<th>Order Vaule</th>' +
    '<th>Customer Name</th>' +
    '<th>Authorize</th>' +
    '</tr></thead>';
                        var body = '<tbody>';
                        body += '</tbody>';
                        var tbl = head + body + '</table>';
                        $('#order').html(tbl);
                        var msg='<div class="alert alertnew alert-info fade in">'+
                                        '<a href="#" class="close" data-dismiss="alert">×</a>'+
                                        '<strong>Warning!</strong> Orders Not Found</div>'
                        $('#order').append(msg);
                        $('.alert').fadeOut(10000);
                    }
                },
                error: function (xhr) {
                    alert(xhr);
                }
            });
        });
    });
    // Bind data by Paging Count
    function Bindpaging(data, i) {
        var head = '<table class="table table-striped" id="tblPro" style="margin-bottom:6px; border-bottom:1px solid #DDD;">' +
            '<thead><tr>' +
            '<th>Age</th>' +
            '<th>Order ID</th>' +
            '<th>Chekout Type</th>' +
            '<th>Qty</th>' +
            '<th>Order Vaule</th>' +
            '<th>Customer Name</th>' +
            '<th>Authorize</th>' +
            '</tr></thead>';
        var body = '<tbody>';
        var x = 0;
        var item = data;
        for (var z = 1; z <= item.length; z++) {
            if (x >= i) {

            } else {
                body += "<tr id='" + item[x].ORDER_ID + "' style='display: ;'>";
                body += "<td>" + item[x].Age + "</td>";
                body += "<td>" + item[x].ORDER_ID + "</td>";
                body += "<td>" + item[x].UNIT_PRICE + "</td>";
                body += "<td>" + item[x].Qty + "</td>";
                body += "<td>" + item[x].ORDER_ID + "</td>";
                body += "<td>" + item[x].UserName + "</td>";
                body += "<td><a href='../Order/OrderDetails/'" + item[x].ORDER_ID + "' '>Authorize</a></td>";
                body += "</tr>";
            }
            x++;
        }
        body += '</tbody>';
        var tbl = head + body + '</table>';
        $('#order').html(tbl);
    }
</script>
 <!-- page content -->
    <div class="page-title">
        <div class="title_left">
            <h3>Order Returns</h3><br>
        </div>
    </div>

    <div class="title_content_top">
        <p>All authorized orders for which payment has received i.e. Authorized Orders, Waiting for Pickup Orders, Stock Pending Orders, Dispatched Orders, and Delivered orders can be returned by the customer and processed for refund or exchange or replacement as per customer’s request. Those orders can be searched and processed for return from here.</p>
    </div>
    <div class="clearfix"></div>


    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="mmctrl_box mrgin_gap0">
                <div class="mmcaption">Search option</div><br>
                <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">Order Number</label>
                        <div class="col-md-6 col-sm-3 col-xs-10">
                            <input id="txtOrderId" name="" placeholder="" required="" class="form-control" type="text">
                        </div>
                    </div>
                </form>
                <br>

                <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
                    <a href="javascript:;"><button id="btnSerch" type="button" class="btn btn-dark pull-right">Search</button></a>
                </div>
            </div>

        </div>

        <div class="clearfix"></div><br>


        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="mmctrl_box mrgin_gap0 mmctrl_tble">
                <div class="mmcaption">Order Details</div>
                <div id="order"></div>
            </div>
        </div>

    </div>
    <!-- /page content -->
    <br>
