﻿
@{
    ViewBag.Title = "Shipped";
    Layout = "~/Views/Shared/_LayoutGizmobaba.cshtml";
}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="~/Scripts/orders.js"></script>
<!-- page content -->
<div class="page-title">
    <div class="title_left">
        <h3>Delivered Orders</h3><br>
    </div>
</div>

<div class="title_content_top">
    <p>Orders which are deliered to customers are listed here. This list is formed by manually moving the orders form ‘Dispatched’ to ‘Delivered’ after receiving delivery report from Shipping Service Provider. In case of ‘integrated logistic services,’ orders from ‘Dispatched’ list will be automatically moved here as and when its status is updated by respective logistics. The orders placed against your products at connected marketplaces can be found through ‘Marketplace Orders’ tab.</p>
</div>
<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel_nogap">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#MyOrders" aria-controls="home" role="tab" data-toggle="tab">My Orders</a></li>
                <li role="presentation"><a href="#MarketplaceOrders" aria-controls="profile" role="tab" data-toggle="tab">Marketplace Orders</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="MyOrders">
                    <div class="mrgin_gap20">
                        <div class="searchhs_holder_all">
                            <div style="display:none;" id="searchslidehs-panel">
                                @using (Ajax.BeginForm("SearchOrders", "Order", new { },
                                        new AjaxOptions
                                        {
                                            HttpMethod = "POST",
                                            InsertionMode = InsertionMode.Replace,
                                            UpdateTargetId = "partialView"
                                        }, new { id = "getOrderDate" }))
                                {
                                    <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">
                                        <br>
                                        @*<div class="form-group">
                    <label class="control-label col-md-2 col-sm-3 col-xs-12">Period</label>
                    <div class="col-md-3">
                        <select class="select2_single form-control" tabindex="-1" id="ddlPaging">
                            <option selected="selected" value="custom">Custom</option>
                            <option value="thisweek">This week</option>
                            <option value="lastweek">Last Week</option>
                            <option value="thismonth">This Month</option>
                            <option value="lastmonth">Last Month</option>
                        </select>
                    </div>
                </div>*@

                                        <div class="form-group">
                                            <input type="hidden" value="7" name="STATUS" />
                                            <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">From Date</label>
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                <input id="txtFromDate" name="From_Date" placeholder="" required="" class="form-control" type="text">
                                            </div>

                                            <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">To Date</label>
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                <input id="txtToDate" name="To_Date" placeholder="" required="" class="form-control" type="text">
                                            </div>
                                        </div>

                                        @*<div class="form-group">
                    <label class="control-label col-md-2" for="">Category</label>
                    <div class="col-md-3">
                        <span class="prettyFile">
                            @Html.DropDownList("CATEGORY_ID", (SelectList)ViewBag.Category, new { @class = "select2_single form-control", id = "CATEGORY_ID", tabindex = "-1", onChange = "FillSubCategory()" })
                        </span>
                        <span class="prettyFile">
                            @Html.DropDownList("SUB_CAT_ID",
                            new SelectList(Enumerable.Empty<SelectListItem>(), "SUB_CAT_ID", "SUB_CAT_DESC"),
                            "Select Sub Category", new { @class = "select2_single form-control", tabindex = "-1", id = "SUB_CAT_ID", disabled = "disabled" })
                        </span>
                        <div class="col-md-3">

                        </div>
                    </div>
                </div>*@


                                        <div class="form-group">
                                            <label class="control-label col-md-2">Category</label>
                                            <div class="col-md-3">
                                                @Html.DropDownList("CATEGORY_ID", (SelectList)ViewBag.Category, "Select Category", new { @class = "select2_single form-control", id = "CATEGORY_ID", tabindex = "-1", onChange = "FillSubCategory()" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-2">Category</label>
                                            <div class="col-md-3">
                                                @Html.DropDownList("SUB_CAT_ID",
                                                    new SelectList(Enumerable.Empty<SelectListItem>(), "SUB_CAT_ID", "SUB_CAT_DESC"),
                                                    "Select Sub Category", new { @class = "select2_single form-control", tabindex = "-1", id = "SUB_CAT_ID", disabled = "disabled" })
                                            </div>
                                        </div>




                                        @*<div class="form-group">
                    <label class="control-label col-md-2">Location</label>
                    <div class="col-md-3">
                        <select class="select2_single form-control" tabindex="-1">
                            <option selected="selected" value="custom">Custom</option>
                            <option value="thisweek"></option>
                        </select>
                    </div>
                </div>*@


                                        <div class="form-group" id="search-plus-btnsmhs">
                                            <label class="control-label col-md-2">Search by</label>
                                            <div class="col-md-3">
                                                <select id="ddlSerch" class="select2_single form-control" tabindex="-1" onchange="serchBy();">
                                                    <option selected="selected" value="custom">Custom</option>
                                                    <option value="Order_No">Order No</option>
                                                    <option selected="selected" value="SKU">SKU</option>
                                                    @*<option value="Awb_No">Awb No</option>*@
                                                    <option value="Email_Id">Email Id</option>
                                                    <option value="Phone_No">Phone No</option>
                                                    @*<option value="Coupon_Code">Coupon Code</option>*@
                                                    <option value="Checkout_Type">Checkout Type</option>
                                                    <option value="Shipment_ID">Shipment ID</option>
                                                    @*<option value="Issue_Type">Issue Type</option>*@
                                                    <option value="Order_By">Order By</option>
                                                </select>
                                            </div>
                                            @*<div class="col-md-6" id="searchBy">*@
                                            @*<input id="" name="" placeholder="" required="" class="form-control" type="text">*@
                                            <div class="col-md-3">
                                                <input id="txtSearch" name="" placeholder="" required="" class="form-control" type="text">
                                                <select id="ddlSentTo" name="Created_By" class="form-control" tabindex="-1">
                                                    <option selected="selected" value="0"> -- Select -- </option>
                                                    <option value="6">Customer</option>
                                                    <option value="4">Dealer</option>

                                                </select>
                                            </div>
                                            @*<div class="plusiconforadd"><a href=""><i class="fa fa-plus"></i></a></div>*@
                                        </div>
                                        <script>
                                            function SearchOrder() {
                                                $('#getOrderDate').submit();
                                            }

                                        </script>
                                    </form>

                                    <div class="clearfix"></div><br><br>

                                    <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
                                        <button type="button" class="btn btn-default pull-right" onclick="SearchOrder();">Go</button>
                                    </div>
                                }
                            </div>

                            <div class="sreachbtnhs-slide">
                                <a href="#" class="sreachbtnhs_btn-slide">Search Here</a>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>

                <div role="tabpanel" class="tab-pane" id="MarketplaceOrders">
                    <div class="mrgin_gap20">
                        <div class="searchhs_holder_all">
                            <div style="display:none;" id="searchslidehs-panel2">
                                <form id="demo-form2" class="form-horizontal form-label-left">
                                    <br>
                                    <div class="form-group">
                                        <label class="control-label col-md-2" for="">Marketplace</label>
                                        <div class="col-md-3">
                                            <select class="select2_single form-control" tabindex="-1">
                                                <option selected="selected" value="">Select Store</option>
                                                <option selected="selected" value="">LeavelUp 5</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-2" for="">Category</label>
                                            <div class="col-md-3">
                                                <span class="prettyFile">
                                                    @Html.DropDownList("CATEGORY_ID", (SelectList)ViewBag.Category, new { @class = "select2_single form-control", id = "CATEGORY_ID", tabindex = "-1", onChange = "FillSubCategory()" })
                                                </span>
                                                <span class="prettyFile">
                                                    @Html.DropDownList("SUB_CAT_ID",
                                                    new SelectList(Enumerable.Empty<SelectListItem>(), "SUB_CAT_ID", "SUB_CAT_DESC"),
                                                    "Select Sub Category", new { @class = "select2_single form-control", tabindex = "-1", id = "SUB_CAT_ID", disabled = "disabled" })
                                                </span>
                                                <div class="col-md-3">

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-3 col-xs-12">Period</label>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <select class="select2_single form-control" tabindex="-1">
                                                <option selected="selected" value="custom">Custom</option>
                                                <option value="thisweek">This week</option>
                                                <option value="lastweek">Last Week</option>
                                                <option value="thismonth">This Month</option>
                                                <option value="lastmonth">Last Month</option>
                                            </select>
                                        </div>

                                        <label class="control-label col-md-1" for="">From</label>
                                        <div class="col-md-2">
                                            <input id="" name="" placeholder="19-Oct-2015" required="" class="form-control" type="text">
                                        </div>

                                        <label class="control-label col-md-1" for="">To</label>
                                        <div class="col-md-2">
                                            <input id="" name="" placeholder="19-Jan-2016" required="" class="form-control" type="text">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-2">Location</label>
                                        <div class="col-md-2">
                                            <select class="select2_single form-control" tabindex="-1">
                                                <option selected="selected" value="custom">Custom</option>
                                                <option value="thisweek"></option>
                                            </select>

                                        </div>
                                    </div>

                                    @*<div class="form-group">
                                            <label class="control-label col-md-2">Search by</label>
                                            <div class="col-md-3">
                                                <select class="select2_single form-control" tabindex="-1">
                                                    <option selected="selected" value="custom">Custom</option>
                                                    <option value="Order No">Order No</option>
                                                    <option selected="selected" value="SKU">SKU</option>
                                                    <option value="Awb No">Awb No</option>
                                                    <option value="Email Id">Email Id</option>
                                                    <option value="Phone No">Phone No</option>
                                                    <option value="Coupon Code">Coupon Code</option>
                                                    <option value="Checkout Type">Checkout Type</option>
                                                    <option value="Shipment ID">Shipment ID</option>
                                                    <option value="Issue Type">Issue Type</option>
                                                    <option value="Order Source">Order Source</option>
                                                </select>
                                            </div>
                                            <div class="plusiconforadd"><a class="search-plus-btnsm"><i class="fa fa-plus"></i></a></div>
                                        </div>*@
                                    <div class="form-group" id="search-plus-btnsmhs">
                                        <label class="control-label col-md-2">Search by</label>
                                        <div class="col-md-3">
                                            <select id="ddlSerch" class="select2_single form-control" tabindex="-1" onchange="serchBy();">
                                                <option selected="selected" value="custom">Custom</option>
                                                <option value="Order_No">Order No</option>
                                                <option selected="selected" value="SKU">SKU</option>
                                                <option value="Awb_No">Awb No</option>
                                                <option value="Email_Id">Email Id</option>
                                                <option value="Phone_No">Phone No</option>
                                                <option value="Coupon_Code">Coupon Code</option>
                                                <option value="Checkout_Type">Checkout Type</option>
                                                <option value="Shipment_ID">Shipment ID</option>
                                                <option value="Issue_Type">Issue Type</option>
                                                <option value="Order_Source">Order Source</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6" id="searchBy">
                                            <input id="" name="" placeholder="" required="" class="form-control" type="text">
                                        </div>
                                        @*<div class="plusiconforadd"><a href=""><i class="fa fa-plus"></i></a></div>*@
                                    </div>
                                </form>

                                <div class="clearfix"></div><br><br>

                                <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
                                    <button type="button" class="btn btn-default pull-right">Go</button>
                                </div>
                            </div>

                            <div class="sreachbtnhs-slide">
                                <a href="#" class="sreachbtnhs_btn-slide">Search Here</a>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        <br>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="MyOrders">
                <div class="mmctrl_box">
                    @*<div class="mmcaption">Available Orders

                        <div class="bulaprove_btn"><a href="#">Bulk Approve</a></div></div>*@
                    <div class="mmcaption_new">
@using (Ajax.BeginForm("ShippedOrders", "Order", new { },
            new AjaxOptions
            {
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "partialView"
            }, new { id = "getUserDate" }))
                                {
                        <h1>Available Orders</h1>
                        <h2>
                            <div class="col-md-12">
                                <select id="ddlSentTo" onchange="FillShippingCodes()" name="id" class=" form-control" tabindex="-1">
                                    <option selected="selected" value="0"> -- Select -- </option>
                                    <option value="7">Waiting for Pickup</option>
                                    <option value="8">In Transit</option>
                                    <option value="5">Delivered</option>
                                    <option value="9">RTO/Returns</option>
                                    <option value="10">All</option>

                                </select>
                            </div>
                        </h2>
                        @*<div class="bulaprove_btn"><a href="javascript:;" id="btnApprove">Bulk Approve</a></div>*@
    <script>
    function FillShippingCodes() {
        $('#getUserDate').submit();
    }
    </script>
                                }
                    </div>
                    <div class="mmctrl_box" id="partialView">
                        @{
                            Html.RenderAction("ShippedOrders", "Order");
                        }
                        <br />
                        <br />
                        </div>
                        <div class="clearfix"></div>
                        <br>
                    </div>

                <hr>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <button type="button" id="btnAuthorizeExport" class="btn btn-dark pull-right">Export to Excel</button>
                </div><br><br><br>
            </div>

            <div role="tabpanel" class="tab-pane" id="MarketplaceOrders">
                <div class="mmctrl_box">
                    <div class="mmcaption">Available Shipping Codes Result</div><br>
                    <br>

                    <div class="alert alert-danger" role="alert">There are no 'Payment Pending Orders' found.</div><br>

                </div>

                <hr>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <a href="ShippingProfile_Add_Edit2.html">
                        <button type="button" class="btn btn-dark pull-right">Add New Shipping Code for Marketplace</button>
                    </a>
                    <a href="ShippingProfile_Add_Edit.html">
                        <button type="button" class="btn btn-default pull-right">Add New Shipping Code</button>
                    </a>
                </div><br><br><br>
            </div>
        </div>


        <div class="mmctrl_box mrgin_gap0">
            <div class="mmcaption">Bulk upload to Deliver Orders</div><br><br>
            <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">
                <div class="form-group">
                    <label class="control-label col-md-2" for="">Select File</label>
                    <div class="col-md-5">
                        <span class="prettyFile">
                            <input name="form[files][]" multiple="" type="file">
                            <div class="input-append">
                                <input class="input-large_brwse" type="text">
                                <a href="#" class="btn_brwse">Choose</a>
                            </div>
                        </span>
                    </div>
                </div>
            </form>
            <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg0">
                <div class="pull-right">
                    <button type="button" class="btn btn-dark">Upload</button>
                   <button type="button" class="btn btn-default">Download Format</button>
                </div>
            </div>
            <br>
        </div>
    </div>
            </div>
            <!-- /page content -->
            <br>
            <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
            <script src="~/Scripts/paging.js"></script>
            <link href="~/Content/paging.css" rel="stylesheet" />
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
            @section Gizmobabascripts
{

                <script src="~/GizmobabaFiles/js/nicescroll/jquery.nicescroll.min.js"></script>
                <!-- icheck -->
                <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
                <script>
                    NProgress.done();
                    $(document).ready(function () {
                        $('#tblPro').paging({ limit: 10 });
                        $('.paging_full_numbers').find("[data-page='0']").attr('class', "selected-page");
                        $('#fromDate, #toDate').datepicker();


                        $("#ddlSentTo").hide();
                        $("#txtSearch").show();
                        $("#txtSearch").attr("name", $("#ddlSerch option:selected").val());
                        $("#txtSearch").attr("placeholder", $("#ddlSerch option:selected").val());
                        $("#moddlSentTo").prop("disabled", true);
                        $('#ddlSerch').change(function () {
                            $("#txtSearch").val('');
                            var SelectedDD = $("#ddlSerch option:selected").val();
                            if (SelectedDD == 'Order_By') {
                                $("#ddlSentTo").show();
                                $("#txtSearch").hide();
                            }
                            else {
                                $("#ddlSentTo").hide();
                                $("#txtSearch").show();
                                $("#txtSearch").attr("name", SelectedDD);
                                $("#txtSearch").attr("placeholder", SelectedDD);
                            }
                            $('#txtSearch').val();
                        });
                        $('#moddlSerch').change(function () {
                            var SelectedDD = $("#ddlSerch option:selected").val();
                            if (SelectedDD == 'Order_By') {
                                $("#moddlSentTo").prop("disabled", false);
                            }
                            else {
                                $("#moddlSentTo").prop("disabled", true);
                            }
                        });

                    });
                </script>
            }

