﻿@model IEnumerable<Gizmobaba.Models.OrderViewModel>

@{
    ViewBag.Title = "WaitingPickup";
    Layout = "~/Views/Shared/_LayoutGizmobaba.cshtml";
}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="~/Scripts/orders.js"></script>
<script src="http://www.jqueryscript.net/demo/Export-Html-Table-To-Excel-Spreadsheet-using-jQuery-table2excel/src/jquery.table2excel.js"></script>
<div class="page-title">
    <div class="title_left">
        <h3>Waiting for Pickup Orders</h3><br>
    </div>
</div>

<div class="title_content_top">
    <p>These are the orders that are ready to pickup by Shipping Service provider. These orders can be manually moved to ‘Dispatched’ list after picked by logistics. In case of ‘integrated logistic services,’ these orders will be automatically moved to ‘Dispatched’ list as and when its status is updated by respective logistics. The orders placed against your products at connected marketplaces can be found through ‘Marketplace Orders’ tab.</p>
</div>
<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel_nogap">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#MyOrders" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">My Orders</a></li>
                <li role="presentation"><a href="#MarketplaceOrders" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">Marketplace Orders</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="MyOrders">
                    <div class="mrgin_gap20">
                        <div class="searchhs_holder_all">
                            <div style="display: none;" id="searchslidehs-panel">
                                @using (Ajax.BeginForm("SearchOrders", "Order", new { },
                                        new AjaxOptions
                                        {
                                            HttpMethod = "POST",
                                            InsertionMode = InsertionMode.Replace,
                                            UpdateTargetId = "partialView"
                                        }, new { id = "getOrderDate" }))
                                {
                                    <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">
                                        <br>
                                        @*<div class="form-group">
                                                <label class="control-label col-md-2 col-sm-3 col-xs-12">Period</label>
                                                <div class="col-md-3">
                                                    <select class="select2_single form-control" tabindex="-1" id="ddlPaging">
                                                        <option selected="selected" value="custom">Custom</option>
                                                        <option value="thisweek">This week</option>
                                                        <option value="lastweek">Last Week</option>
                                                        <option value="thismonth">This Month</option>
                                                        <option value="lastmonth">Last Month</option>
                                                    </select>
                                                </div>
                                            </div>*@

                                        <div class="form-group">
                                            <input type="hidden" value="6" name="STATUS" />
                                            <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">From Date</label>
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                <input id="txtFromDate" name="From_Date" placeholder="" required="" class="form-control" type="text">
                                            </div>

                                            <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">To Date</label>
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                <input id="txtToDate" name="To_Date" placeholder="" required="" class="form-control" type="text">
                                            </div>
                                        </div>

                                        @*<div class="form-group">
                                                <label class="control-label col-md-2" for="">Category</label>
                                                <div class="col-md-3">
                                                    <span class="prettyFile">
                                                        @Html.DropDownList("CATEGORY_ID", (SelectList)ViewBag.Category, new { @class = "select2_single form-control", id = "CATEGORY_ID", tabindex = "-1", onChange = "FillSubCategory()" })
                                                    </span>
                                                    <span class="prettyFile">
                                                        @Html.DropDownList("SUB_CAT_ID",
                                                        new SelectList(Enumerable.Empty<SelectListItem>(), "SUB_CAT_ID", "SUB_CAT_DESC"),
                                                        "Select Sub Category", new { @class = "select2_single form-control", tabindex = "-1", id = "SUB_CAT_ID", disabled = "disabled" })
                                                    </span>
                                                    <div class="col-md-3">

                                                    </div>
                                                </div>
                                            </div>*@


                                        <div class="form-group">
                                            <label class="control-label col-md-2">Category</label>
                                            <div class="col-md-3">
                                                @Html.DropDownList("CATEGORY_ID", (SelectList)ViewBag.Category, "Select Category", new { @class = "select2_single form-control", id = "CATEGORY_ID", tabindex = "-1", onChange = "FillSubCategory()" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-2">Category</label>
                                            <div class="col-md-3">
                                                @Html.DropDownList("SUB_CAT_ID",
                                                    new SelectList(Enumerable.Empty<SelectListItem>(), "SUB_CAT_ID", "SUB_CAT_DESC"),
                                                    "Select Sub Category", new { @class = "select2_single form-control", tabindex = "-1", id = "SUB_CAT_ID", disabled = "disabled" })
                                            </div>
                                        </div>




                                        @*<div class="form-group">
                                                <label class="control-label col-md-2">Location</label>
                                                <div class="col-md-3">
                                                    <select class="select2_single form-control" tabindex="-1">
                                                        <option selected="selected" value="custom">Custom</option>
                                                        <option value="thisweek"></option>
                                                    </select>
                                                </div>
                                            </div>*@


                                        <div class="form-group" id="search-plus-btnsmhs">
                                            <label class="control-label col-md-2">Search by</label>
                                            <div class="col-md-3">
                                                <select id="ddlSerch" class="select2_single form-control" tabindex="-1" onchange="serchBy();">
                                                    <option selected="selected" value="custom">Custom</option>
                                                    <option value="Order_No">Order No</option>
                                                    <option selected="selected" value="SKU">SKU</option>
                                                    @*<option value="Awb_No">Awb No</option>*@
                                                    <option value="Email_Id">Email Id</option>
                                                    <option value="Phone_No">Phone No</option>
                                                    @*<option value="Coupon_Code">Coupon Code</option>*@
                                                    <option value="Checkout_Type">Checkout Type</option>
                                                    <option value="Shipment_ID">Shipment ID</option>
                                                    @*<option value="Issue_Type">Issue Type</option>*@
                                                    <option value="Order_By">Order By</option>
                                                </select>
                                            </div>
                                            @*<div class="col-md-6" id="searchBy">*@
                                            @*<input id="" name="" placeholder="" required="" class="form-control" type="text">*@
                                            <div class="col-md-3">
                                                <input id="txtSearch" name="" placeholder="" required="" class="form-control" type="text">
                                                <select id="ddlSentBy" name="Created_By" class="form-control" tabindex="-1">
                                                    <option selected="selected" value="0"> -- Select -- </option>
                                                    <option value="6">Customer</option>
                                                    <option value="4">Dealer</option>

                                                </select>
                                            </div>
                                            @*<div class="plusiconforadd"><a href=""><i class="fa fa-plus"></i></a></div>*@
                                        </div>
                                        <script>
                                            function SearchOrder() {
                                                $('#getOrderDate').submit();
                                            }

                                        </script>
                                    </form>

                                    <div class="clearfix"></div><br><br>

                                    <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
                                        <button type="button" class="btn btn-default pull-right" onclick="SearchOrder();">Go</button>
                                    </div>
                                }
                            </div>

                            <div class="sreachbtnhs-slide">
                                <a href="#" class="sreachbtnhs_btn-slide">Search Here</a>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div><br>

                    @*<div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
                            <div class="pull-right">
                                <a href="#"><button type="button" class="btn btn-default">Pickup</button></a>
                            </div>
                        </div>*@
                </div>

                <div role="tabpanel" class="tab-pane" id="MarketplaceOrders">
                    <div class="mrgin_gap20">
                        <div class="searchhs_holder_all">
                            <div id="searchslidehs-panel2">
                                @using (Ajax.BeginForm("SearchOrders", "Order", new { },
        new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "partialView"
        }, new { id = "getOrderDate" }))
                                {
                                    @*<form id="demo-form2" class="form-horizontal form-label-left">*@
                                    <br>
                                    <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-3 col-xs-12">Period</label>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <select class="select2_single form-control" tabindex="-1" id="ddlMarketPeriod">
                                                <option selected="selected" value="custom">Custom</option>
                                                <option value="thisweek">This week</option>
                                                <option value="lastweek">Last Week</option>
                                                <option value="thismonth">This Month</option>
                                                <option value="lastmonth">Last Month</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">From Date</label>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <input id="marketfromDate" name="" placeholder="" required="" class="form-control" type="text">
                                        </div>

                                        <label class="control-label col-md-2 col-sm-3 col-xs-12" for="">To Date</label>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <input id="markettoDate" name="" placeholder="" required="" class="form-control" type="text">
                                        </div>
                                    </div>

                                    @*<div class="form-group">
                                            <label class="control-label col-md-2" for="">Courier</label>
                                            <div class="col-md-3">
                                                <select class="select2_single form-control" tabindex="-1">
                                                    <option selected="selected" value="custom">Select</option>
                                                </select>
                                            </div>

                                            <label class="control-label col-md-2" for="">Category</label>
                                            <div class="col-md-5">
                                                <span class="prettyFile">
                                                    <input name="form[files][]" multiple type="file">
                                                    <div class="input-append">
                                                        <input class="input-large_brwse" type="text">
                                                        <a href="#" class="btn_brwse">Choose</a>
                                                    </div>
                                                </span>
                                            </div>
                                        </div>*@

                                    <div class="form-group">
                                        <label class="control-label col-md-2">Location</label>
                                        <div class="col-md-3">
                                            <select class="select2_single form-control" tabindex="-1">
                                                <option selected="selected" value="custom">Custom</option>
                                                <option value="thisweek"></option>
                                            </select>
                                            @*<input type="checkbox"> Mart Jack Support*@

                                        </div>
                                    </div>

                                    @*<div class="form-group">
                                            <label class="control-label col-md-2">Search by</label>
                                            <div class="col-md-3">
                                                <select class="select2_single form-control" tabindex="-1">
                                                    <option selected="selected" value="custom">Custom</option>
                                                    <option value="Order No">Order No</option>
                                                    <option selected="selected" value="SKU">SKU</option>
                                                    <option value="Awb No">Awb No</option>
                                                    <option value="Email Id">Email Id</option>
                                                    <option value="Phone No">Phone No</option>
                                                    <option value="Coupon Code">Coupon Code</option>
                                                    <option value="Checkout Type">Checkout Type</option>
                                                    <option value="Shipment ID">Shipment ID</option>
                                                    <option value="Issue Type">Issue Type</option>
                                                    <option value="Order Source">Order Source</option>
                                                </select>
                                            </div>
                                            <div class="plusiconforadd"><a class="search-plus-btnsm"><i class="fa fa-plus"></i></a></div>
                                        </div>*@

                                    <div class="form-group" id="search-plus-btnsmhs">
                                        <label class="control-label col-md-2">Search by</label>
                                        <div class="col-md-3">
                                            <select id="moddlSerch" class="select2_single form-control" tabindex="-1" onchange="serchBy();">
                                                <option selected="selected" value="custom">Custom</option>
                                                <option value="Order_No">Order No</option>
                                                <option selected="selected" value="SKU">SKU</option>
                                                @*<option value="Awb_No">Awb No</option>*@
                                                <option value="Email_Id">Email Id</option>
                                                <option value="Phone_No">Phone No</option>
                                                @*<option value="Coupon_Code">Coupon Code</option>*@
                                                <option value="Checkout_Type">Checkout Type</option>
                                                <option value="Shipment_ID">Shipment ID</option>
                                                @*<option value="Issue_Type">Issue Type</option>*@
                                                <option value="Order_By">Order By</option>
                                            </select>
                                        </div>
                                        @*<div class="col-md-6">
                                                <input id="" name="" placeholder="" required="" class="form-control" type="text">
                                            </div>*@
                                        @*<div class="plusiconforadd"><a href=""><i class="fa fa-plus"></i></a></div>*@
                                        <div class="col-md-2">
                                            <select id="moddlSentTo" class="form-control" tabindex="-1">
                                                <option selected="selected" value="0"> -- Select -- </option>
                                                <option value="Customer">Customer</option>
                                                <option value="Dealer">Dealer</option>

                                            </select>
                                        </div>
                                    </div>
                                    @*</form>*@

                                    <div class="clearfix"></div><br><br>

                                    <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
                                        <button type="submit" class="btn btn-default pull-right" onclick="SearchOrder()">Go</button>
                                    </div>
                                    <script>
                                        function SearchOrder() {
                                            $('#getOrderDate').submit();
                                        }

                                    </script>
                                }
                            </div>

                            <div class="sreachbtnhs-slide">
                                <a href="#" class="sreachbtnhs_btn-slide">Search Here</a>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div><br>

                </div>
            </div>

        </div>

        <div class="clearfix"></div>
        <br>
        <div class="tab-content">
            <div id="divdata"></div>

        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel_nogap">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#MyOrders" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">My Orders</a></li>
                        <li role="presentation" class=""><a href="#MarketplaceOrders" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">Marketplace Orders</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="MyOrders">
                            <div class="mmctrl_box">
                                <div class="mmcaption_new">
                                    <h1>Available Orders</h1>
                                    <h2>
                                        <div class="col-md-12">
                                            <select id="ddlSentTo" class="form-control" tabindex="-1">
                                                <option selected="selected" value="0"> -- Select -- </option>
                                                <option value="Sent to FC">Sent to FC</option>
                                                <option value="Sent to Inhouse">Sent to Inhouse</option>
                                            </select>
                                        </div>
                                    </h2>

                                    <h2>
                                        <div class="col-md-12">
                                            <select id="ddlSentFC" class="form-control" tabindex="-1">
                                                <option selected="selected" value="0"> -- Select -- </option>
                                                <option value="Delhivery">Delhivery</option>
                                                <option value="BlueDart">Blue Dart </option>
                                                <option value="FedEx">FedEx</option>
                                                @*<option value="All">All</option>*@
                                            </select>
                                        </div>

                                    </h2>
                                    <div class="bulaprove_btn"><a href="javascript:;" id="btnApprove">Bulk Approve</a></div>
                                </div>
                                <div id="partialView">

                                    @{
                                        Html.RenderPartial("~/Views/Shared/orderList.cshtml", Model);
                                    }
                                </div>




                                <br>

                                @*<div class="dataTables_length" id="example_length">
                                        <label>
                                            &nbsp; Records per page
                                            <select aria-controls="example" size="1" style="width: 56px;padding: 6px;" name="example_length">
                                                <option value="10">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                        </label>

                                        <label> Go to <input type="text" class="gototxt_no" maxlength="4" aria-controls="example"></label>
                                    </div>*@

                                @*<div id="example_paginate" class="dataTables_paginate paging_full_numbers">
                                        <a id="example_first" tabindex="0" class="first paginate_button paginate_button_disabled">First</a>
                                        <a id="example_previous" tabindex="0" class="previous paginate_button paginate_button_disabled">Previous</a>
                                        <span>
                                            <a tabindex="0" class="paginate_active">1</a>
                                            <a tabindex="0" class="paginate_button">2</a>
                                            <a tabindex="0" class="paginate_button">3</a>
                                            <a tabindex="0" class="paginate_button">4</a>
                                        </span>
                                        <a id="example_next" tabindex="0" class="next paginate_button">Next</a>
                                        <a id="example_last" tabindex="0" class="last paginate_button">Last</a>
                                    </div>*@
                                <div class="clearfix"></div>
                                <br>
                            </div>

                            <hr>
                            <div class="clearfix"></div>
                            <div class="col-md-12">
                                <button type="button" id="btnWaitingExport" class="btn btn-dark pull-right">Export to Excel</button>
                            </div><br><br><br>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="MarketplaceOrders">
                            <div class="mmctrl_box">
                                <div class="mmcaption">Available Shipping Codes Result</div><br>
                                <br>

                                <div class="alert alert-danger" role="alert">There are no 'Payment Pending Orders' found.</div><br>

                            </div>

                            <hr>
                            @*<div class="clearfix"></div>
                                <div class="col-md-12">
                                        <button type="button" class="btn btn-dark pull-right">Add New Shipping Code for Marketplace</button>
                                        <button type="button" class="btn btn-default pull-right">Add New Shipping Code</button>
                                </div>*@
                            <br><br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        @*<div class="mmctrl_box mrgin_gap0">
                <div class="mmcaption">Bulk upload to Dispatch Orders</div><br><br>
                <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">
                    <div class="form-group">
                        <label class="control-label col-md-2" for="">Select File</label>
                        <div class="col-md-5">
                            <span class="prettyFile">
                                <input name="form[files][]" multiple="" type="file">
                                <div class="input-append">
                                    <input class="input-large_brwse" type="text">
                                    <a href="#" class="btn_brwse">Choose</a>
                                </div>
                            </span>
                        </div>
                    </div>
                </form>
                <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg0">
                    <div class="pull-right">
                        <button type="button" class="btn btn-dark">Upload</button>
                        <button type="button" class="btn btn-default">Download Format</button>
                    </div>
                </div>
                <br>
            </div>*@
    </div>
</div>
<!-- /page content -->
<br>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="~/Scripts/paging.js"></script>
<link href="~/Content/paging.css" rel="stylesheet" />
<div class='loader-container hide'>
    <div class='loader'>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--text'></div>
    </div>
</div>
<link href="~/Content/loader.css" rel="stylesheet" />
<script src="~/Scripts/common.js"></script>
@section Gizmobabascripts
{

    <script src="~/GizmobabaFiles/js/nicescroll/jquery.nicescroll.min.js"></script>
    <!-- icheck -->
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
        NProgress.done();
        $(document).ready(function () {
            $('#tblPro').paging({ limit: 10 });
            $('.paging_full_numbers').find("[data-page='0']").attr('class', "selected-page");

            $('#check-all').click(function () {
                if ($(this).is(':checked')) {
                    $('#tblPro tbody').find('input[type=checkbox]').prop('checked', true);
                } else {
                    $('#tblPro tbody').find('input[type=checkbox]').prop('checked', false);
                }
            });
            $('#ddlSentTo').change(function () {
                if ($(this).val() == "Sent to FC") {
                    $('#ddlSentFC').show();

                } else {
                    $('#ddlSentFC').val('0');
                    $('#ddlSentFC').hide();
                }
            });
            $('#btnApprove').click(function () {
                if (($('#ddlSentTo').val() == 0 || $('#ddlSentTo').val() == 'Sent to FC') && $('#ddlSentFC').val() == 0) {
                    var error = '<div class="alert alertnew alert-danger fade in"><a href="#" class="close" data-dismiss="alert">×</a>' +
        '<strong>Error!</strong> Select logistics type </div>';
                    $('#MyOrders').append(error);
                    $('.alert').fadeOut(10000);
                    return false;
                }


                if ($('#ddlSentFC').val() == "FedEx") {

                    var error = '<div class="alert alertnew alert-danger fade in"><a href="#" class="close" data-dismiss="alert">×</a>' +
       '<strong>Error!</strong> something problem from fedex side  </div>';
                    $('#MyOrders').append(error);
                    $('.alert').fadeOut(10000);
                    return false;
                }

                if ($('#ddlSentFC').val() == "Delhivery") {

                    var error = '<div class="alert alertnew alert-danger fade in"><a href="#" class="close" data-dismiss="alert">×</a>' +
       '<strong>Error!</strong> something problem from Delhivery side. </div>';
                    $('#MyOrders').append(error);
                    $('.alert').fadeOut(10000);
                    return false;
                }

                if ($('#ddlSentTo').val() == "Sent to Inhouse") {

                    var error = '<div class="alert alertnew alert-danger fade in"><a href="#" class="close" data-dismiss="alert">×</a>' +
       '<strong>Error!</strong> something problem from Godam side. </div>';
                    $('#MyOrders').append(error);
                    $('.alert').fadeOut(10000);
                    return false;
                }


                var orderIdList = $.map($('#tblPro').find('.input-check-box:checked'), function (obj) {
                    return $(obj).parents('tr').attr('id');
                });

                if (orderIdList.length == 0) {
                    var error = '<div class="alert alertnew alert-danger fade in"><a href="#" class="close" data-dismiss="alert">×</a>' +
      '<strong>Error!</strong> Select Order </div>';
                    $('#MyOrders').append(error);
                    $('.alert').fadeOut(10000);
                    return false;
                }

                $('.loader-container').removeClass('hide');
                var data = { orderIdList: orderIdList, status: 4 }
                if ($('#ddlSentTo').val() == 0) {
                    $.ajax({
                        url: URL + '/Order/UpdateOrderList/',
                        //url: '/Order/UpdateOrderList/',
                        type: "POST",
                        contentType: 'application/json; charset=utf-8',
                        async: false,
                        data: JSON.stringify(data),
                        dataType: "json",
                        success: function (data) {
                            var error = '<div class="alert alertnew alert-success fade in">' +
                                '<a href="#" class="close" data-dismiss="alert">×</a>' +
                                '<strong>Success!</strong> ' +
                                data +
                                ' </div>';

                            $('#MyOrders').append(error);
                            $('.alert').fadeOut(10000);

                            $.each(orderIdList, function (index, id) {
                                $('tr[id=' + id + ']').remove();
                            });
                            $('.loader-container').addClass('hide');

                        },
                        error: function (xhr) {
                            alert(xhr);
                            $('.loader-container').addClass('hide');
                        }
                    });
                }
                else if ($('#ddlSentTo').val() == 'Sent to FC') {
                    var LogisticType = $('#ddlSentTo').val();
                    if ($('#ddlSentFC').val() == "BlueDart") {
                        var LogisticType = $('#ddlSentTo').val();
                        data = { orderIdList: orderIdList, status: 4, LogisticType: LogisticType }
                        $.ajax({
                            url: URL + '/Order/SendToBlueDart/',
                            //url: '/Order/SendToBlueDart/',
                            type: "POST",
                            contentType: 'application/json; charset=utf-8',
                            async: false,
                            data: JSON.stringify(data),
                            dataType: "json",
                            success: function (data) {
                                var error = '<div class="alert alertnew alert-success fade in">' +
                              '<a href="#" class="close" data-dismiss="alert">×</a>' +
                              '<strong>Success!C</strong> Blue Dart token Created. Selected orders move to dispatched </div>';
                                $('#MyOrders').append(error);
                                $('.alert').fadeOut(10000);
                                $.each(orderIdList, function (index, id) {
                                    $('tr[id=' + id + ']').remove();
                                });
                                $('.loader-container').addClass('hide');
                            },
                            error: function (xhr) {
                                alert(xhr);
                                $('.loader-container').addClass('hide');
                            }
                        });

                    } else {
                        data = { orderIdList: orderIdList, status: 4, LogisticType: LogisticType }
                        $.ajax({
                            url: URL + '/Order/UpdateOrderList/',
                            //url: '/Order/UpdatePickupOrderList/',
                            type: "POST",
                            contentType: 'application/json; charset=utf-8',
                            async: false,
                            data: JSON.stringify(data),
                            dataType: "json",
                            success: function (data) {
                                alert(data);
                                $.each(orderIdList, function (index, id) {
                                    $('tr[id=' + id + ']').remove();
                                });
                                $('.loader-container').addClass('hide');
                            },
                            error: function (xhr) {
                                alert(xhr);
                                $('.loader-container').addClass('hide');
                            }
                        });
                    }
                }
                else if ($('#ddlSentTo').val() == 'Sent to Inhouse') {
                    data = { orderIdList: orderIdList, status: 4, LogisticType: LogisticType }
                    $.ajax({
                        url: URL + '/Order/UpdateOrderList/',
                        //url: '/Order/UpdatePickupOrderList/',
                        type: "POST",
                        contentType: 'application/json; charset=utf-8',
                        async: false,
                        data: JSON.stringify(data),
                        dataType: "json",
                        success: function (data) {
                            alert(data);
                            $.each(orderIdList, function (index, id) {
                                $('tr[id=' + id + ']').remove();
                            });
                            $('.loader-container').addClass('hide');
                        },
                        error: function (xhr) {
                            alert(xhr);
                            $('.loader-container').addClass('hide');
                        }
                    });
                }
            });
            $('#btnWaitingExport').click(function () {
                if ($('#tblPro').length != 0) {
                    var tbl = $('#tblPro').clone();
                    tbl.find('tr td:last-child, tr th:last-child').remove();
                    $(tbl).table2excel({
                        exclude: ".noExl",
                        name: "Excel Document Name"
                    });
                } else {
                    var data = '<div class="alert alertnew alert-danger fade in">' +
                       '<a href="#" class="close" data-dismiss="alert">×</a>' +
                       '<strong>Error!</strong> No rec found ' +
                   '</div>';
                    $('#btnCancelExport').parent('div.col-md-12').append(data);
                    $('.alert').fadeOut(10000);
                }
            });




            $('#txtFromDate').datepicker({
                onClose: function (selectedDate) {
                    $("#txtToDate").datepicker("option", "minDate", selectedDate);
                }
            });
            $('#txtToDate').datepicker({
                onClose: function (selectedDate) {
                    $("#txtFromDate").datepicker("option", "maxDate", selectedDate);
                }
            });


            $("#ddlSentBy").hide();
            $("#txtSearch").show();
            $("#txtSearch").attr("name", $("#ddlSerch option:selected").val());
            $("#txtSearch").attr("placeholder", $("#ddlSerch option:selected").val());
            // $("#ddlSentBy").prop("disabled", true);
            $('#ddlSerch').change(function () {
                $("#txtSearch").val('');
                var SelectedDD = $("#ddlSerch option:selected").val();
                if (SelectedDD == 'Order_By') {
                    $("#ddlSentBy").show();
                    $("#txtSearch").hide();
                }
                else {
                    $("#ddlSentBy").hide();
                    $("#txtSearch").show();
                    $("#txtSearch").attr("name", SelectedDD);
                    $("#txtSearch").attr("placeholder", SelectedDD);
                }
                $('#txtSearch').val();
            });
            $('#moddlSerch').change(function () {
                var SelectedDD = $("#ddlSerch option:selected").val();
                if (SelectedDD == 'Order_By') {
                    $("#moddlSentTo").prop("disabled", false);
                }
                else {
                    $("#moddlSentTo").prop("disabled", true);
                }
            });
        });
        function OrderPickUp(id) {
            var status = 4;
            $.ajax({
                url: URL + '/Order/UpdateOrderStatus/',
                //url: '/Order/UpdateOrderStatus/',
                type: "Post",
                async: false,
                dataType: "json",
                data: { id: id, status: status },
                success: function (data) {
                    alert('Order ready to Dispatched');
                    $('#' + id).remove();
                },
                error: function (xhr) {
                    alert(xhr);
                }
            });
        }
    </script>
}
