﻿@model IEnumerable<Gizmobaba.Models.DiscountModel>

@{
    ViewBag.Title = "DiscountVouchers";
    Layout = "~/Views/Shared/_LayoutGizmobaba.cshtml";
}
    <div class="page-title">
        <div class="title_left">
            <h3>Discount Voucher Campaigns </h3><br>
        </div>
    </div>

    <div class="title_content_top">
        <p>A 'Discount Voucher' is a coupon containing specific 'code', which can be exchanged for a financial discount during checkout. You need to run ‘Discount Voucher Campaigns’ for creating these ‘Discount Vouchers’. This interface allows you to create, edit or delete ‘Discount Voucher Campaigns’. You can also manage ‘Discount Vouchers’ of the required Campaign through the respective ‘Create’ link. Facility has been provided for sorting these campaigns through multiple options.</p>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="mmctrl_box mrgin_gap0 mmctrl_tble">
                <div class="mmcaption">Search</div>


                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#SearchbyCampaigns" id="btnSearchbyCampaigns" aria-controls="home" role="tab" data-toggle="tab">Search by Campaigns Title</a></li>
                    <li role="presentation"><a href="#SearchbyVoucher" aria-controls="profile" role="tab" data-toggle="tab">Search by Voucher Code</a></li>
                </ul>

                <!-- Tab panes -->
                <div style="display: none;" id="searchslidehs-panel">
                    <div class="tab-content">
@using (Ajax.BeginForm("DiscountVouchersSearch", "Market", new { },
                                        new AjaxOptions
                                        {
                                            HttpMethod = "POST",
                                            InsertionMode = InsertionMode.Replace,
                                            UpdateTargetId = "partialView"
                                        }, new { id = "getOrderDate" }))
                                                                        {
                        <div role="tabpanel" class="tab-pane active" id="SearchbyCampaigns">
                            <div class="mrgin_gap20">
                            
                                    <br>

                                    <div class="form-group">
                                        <div class="col-md-5">
                                            <label class="control-label col-md-5" for="">Campaign Title </label>
                                            <div class="col-md-7">
                                                <input id="" name="title" placeholder="" class="form-control" type="text">
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label class="control-label col-md-5">Discount Type</label>
                                                <div class="col-md-7">
                                                    <select class="select2_single form-control" tabindex="-1">
                                                        <option selected="selected" value=""> -- Select -- </option>
                                                        <option value="">Regular</option>
                                                        <option value="">EMI</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group">
                                        <div class="col-md-5">
                                            <label class="control-label col-md-5" for="">Discount From</label>
                                            <div class="col-md-7">
                                                <input id="disfromDate" name="fromDate" placeholder="" class="form-control" type="text">
                                                <small>from</small>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label class="control-label col-md-5">Discount To</label>
                                                <div class="col-md-7">
                                                    <input id="distoDate" name="toDate" placeholder="" class="form-control" type="text">
                                                    <small>to</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                @*</form>*@
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane active" id="SearchbyVoucher">
                            <div class="mrgin_gap20">
                                @*<form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">*@
                                    <br>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label class="control-label col-md-2" for="">Voucher Code </label>
                                            <div class="col-md-9">
                                                <input id="" name="voucher" placeholder="" class="form-control" type="text">
                                            </div>
                                        </div>
                                    </div>
                                <br />

                                @*</form>*@
                            </div>
                        </div>
    <div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
        <button type="submit" class="btn btn-dark pull-right">Search</button>
    </div>
                                                                        }
                    </div>
                   
                    </div>
                </div>

                <div class="sreachbtnhs-slide">
                    <a href="#" class="sreachbtnhs_btn-slide">Search Here</a>
                </div>
            </div>

        <div class="clearfix"></div>
        <br>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="mmctrl_box mrgin_gap0 mmctrl_tble">
                <div class="mmcaption">Available Voucher Campaigns</div>
                <div id="partialView">

                    @{
                        Html.RenderPartial("~/Views/Shared/DiscountVouchersPartial.cshtml", Model);
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
    <br>
<div class="col-md-12 col-sm-6 col-xs-12 graycolorbg">
    <a href="@Url.Action("create", "Market")"><button type="button" class="btn btn-dark pull-right">Create Discount Voucher</button></a>
</div>

<br />
<hr />
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script>
    var URL = "http://www.pakkadial.com/Admin/";
        NProgress.done();
        $(document).ready(function () {
            $('#disfromDate,#distoDate,#fromDate,#toDate').datepicker();

            $(".sreachbtnhs-slide").click(function () {
                $("#searchslidehs-panel").slideToggle("slow");
                $(this).toggleClass("active"); return false;
            });

            $(".sreachbtnhs-slide").click(function () {
                $("#searchslidehs-panel2").slideToggle("slow");
                $(this).toggleClass("active"); return false;
            });
        }); 
        function DeleteDis(id)
        {
            if(confirm("Are you sure you want to delete this?")){
                $.ajax({
                    url: URL + '/Market/Delete/'+id,
                    //url: '/Market/Delete/'+ id,
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    async: false,
                    dataType: "json",
                    success: function (data) {
                        alert('Discount voucher deleted');
                        $('#'+id).remove();
                    },
                    error: function (xhr) {
                        alert(xhr);
                    }
                });
            }
            else{
                return false;
            }
        }
</script>
