﻿
    .paging-nav {
  text-align: right;
  padding-top: 2px;
}

.paging-nav a {
  margin: auto 1px;
  text-decoration: none;
  display: inline-block;
  padding: 1px 7px;
  background: #ddd;
  color: #5a738e;
  border-radius: 3px;
}

.paging-nav .selected-page {
    background: #26b99a !important;
    background: rgba(38, 185, 154, 0.59) !important;
  font-weight: bold;
}